@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.prof_T{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.probody_T{
    height: 100%;
    width: 100%;
    position: absolute;

}
.probody_T,.profbj2_T{
    background: #000;
    opacity:0.46;
    filter:alpha(opacity=46);
}
.profd_T{
    top: 50%;
    left: 50%;
    position: relative;
    font-size: 14px;
}
.profbj_T,.profbj2_T,.profcen_T{
    position: absolute;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
.profbj_T{
    background: #fff;
    opacity:0.13;
    filter:alpha(opacity=13);
}
.profcen_T{
    background: #fff;
    overflow: hidden;
    position: relative;
}
.profbt_T{
    width: 100%;
    height: 1px;
    position: relative;
}
.profbt_T span{
    display: block;
    cursor: pointer;
    position: absolute;
    top:14px;
    left: 95%;
    width: 10px;
    height: 10px;
    float: right;
    background: url(../img/close.png) no-repeat;
    background-size: 100% auto;
}
.Add_Paper_T11-1{
    width: 498px;
    height: 331px;
}
.Add_Paper_T11-2{
    width: 492px;
    height: 325px;
}
.Add_Paper_T11-3{
    width: 490px;
    height: 323px;
}
.Add_Paper_T11-c{
    height: 223px;
    width: 100%;
    padding:118px 20px 0 50px;
    position: relative;
}
