@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}
@font-face { 
    font-family: Impact;
    src: url('../font/impact.ttf');
} 
a{
    text-decoration: none;
}
.clear {
    clear:both;
}
em,i{
    font-style: normal;
}
.animate{
    position: relative;
}
.none{
    display: none;
}
div{
    position: relative;
    z-index: 1;
}
/*----------------------------------------------------------------*/
.cen,.cen .cena{
    width: 100%;
    height: 100%;
}
.cen{
    position: relative;
    left:0;
    top:0;
}
.cena{
    overflow: hidden;
    position: relative;
    display: table;
}
.dia{
    width: 20px;
    height: 100%;
    position: fixed;
    z-index: 3;
    top:0;
    right:0;
}
.dia span{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    margin:5px 0;
    background: #000;
    opacity: 0.2;
    filter:alpha(opacity=20);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}
.dia span.active{
    opacity: 0.8;
    filter:alpha(opacity=80);
    background: #007aff;
    width: 12px;
    height: 12px;
    position: relative;
    left:-2px;
}
.dia span.active:hover{
    opacity: 0.8;
    filter:alpha(opacity=80);
    background: #007aff;
    width: 12px;
    height: 12px;
    position: relative;
    left:-2px;
}
.dia span:hover{
    width: 10px;
    height: 10px;
    position: relative;
    left:-1px;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background: #007aff;
}
.cen-cen{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.cen1 .cen-cen{
    display: block;
    background: #333;
}
.logo-nav{
    width: 1330px;
    height: auto;
    margin:0 auto;
}
.logo{
    display: block;
    width: auto;
    height: 60px;
    margin: 35px 0 0 40px;
}
.nav{
    width: 104px;
    height: auto;
    margin: 22px 0 0 40px;
}
.nav a{
    display: block;
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-bottom: 7px;
}
.nav a:hover{
    text-align: center;
    background: #94d60a;
}
.cen1-bj{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cen1-bj-img,.cen1-bj-img-img{
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    width: 100%;
    height: 100%;
}
.cen1-bj-img img{
    display: block;
    width: auto;
    height: 100%;
}
.cen2-cen{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.cen2-span{
    width: 33.3%;
    height: 100%;
    float: left;
    background:#333;
    overflow: hidden;
    display: table;
}
.cen2-cen .cen2-span:first-child+.cen2-span{
    width: 33.4%;
}
.cen2-span span a,.cen2-span.active:hover span a{
    width: 230px;
    height: 208px;
    background: url(../img/home/bt-1px.png);
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin: 0 auto;
}
.cen2-span:hover span a,.cen2-span.active span a{
    background: url(../img/home/bt-1px-hover.png);
    width: 100%;
    height: 100%;
}















body,html{
    width: 100%;
    min-width: 1330px;
}
/*---------------------------------------about*/
.table-a{
    display: table;
}
.table-cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.about-top{
    width: 100%;
    min-width: 1330px;
    height: 700px;
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
}
.about-top-bj-img{
    position: relative;
    top:-25%;
    left:0;
    height: 150%;
    background: url(../img/about/about-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.content-cen,.content-one{
    width: 1330px;
    margin:0 auto;
    height: auto;
    overflow: hidden;
}
.nav2{
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-top: 15px;
    padding:0 4px 0 17px;
    z-index: 10;
}
.nav2-logo{
    display: block;
    float: left;
    width: 104px;
    height: 100%;
}
.nav2-menu{
    display: inline-block;
    text-align: right;
    height: 100%;
    float: right;
}
.nav2-menu a{
    display:block;
    padding:0 6px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 17px;
    float: left;
}
.nav2-menu a:hover{
    background: #94d60a;
    font-size: 12px;
    letter-spacing: 2px;
}
.content-one-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    color: #fff;
    text-align: center;
}
.content-one-bt{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 38px;
}
.about-one-bt{
    margin-top: 100px;
}
.content-one-bt-en{
    width: 100%;
    height: 23px;
    font-size:23px;
    line-height: 23px;
    font-family: Impact;
    margin-top: 27px;
}
.content-one-b2{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.content-one-b2-text{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 14px;
    margin-top: 8px;
}
.about-text-nav{
    width: 100%;
    height: auto;
    margin-top: 70px;
    text-align: center;
}
.about-text-nav a{
    display: inline-block;
    position: relative;
    width: 110px;
    height: 120px;
    margin:0 10px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding-top: 100px;
}
.about-text-nav-jieshao{
    background: url(../img/about/about-nav1.png) no-repeat center top;
}
.about-text-nav-wenhou{
    background: url(../img/about/about-nav2.png) no-repeat center top;
}
.about-text-nav-youshi{
    background: url(../img/about/about-nav3.png) no-repeat center top;
}
.about-text-nav-yewu{
    background: url(../img/about/about-nav4.png) no-repeat center top;
}
.content-cen-block{
    width: 1330px;
    height: 700px;
    margin:0 auto;
    overflow: hidden;
}
.about-gongsijieshao-img{
    display: block;
    float: left;
    width: 620px;
    height: 100%;
    position: relative;
}
.about-gongsijieshao-text-bt{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    color: #878787;
    margin-top: 48px;
}
.about-gongsijieshao-text{
    float: right;
    width: 653px;
    height: 100%;
    overflow:hidden;
}
.about-chakangengduo{
    float: right;
    color: #000;
    text-decoration: underline;
}
.about-gongsijieshao-text-text{
    font-size: 12px;
    line-height: 18px;
    color: #8d8d8d;
    margin-top: 12px;
    width: 615px;
    text-align: justify;
}
.about-gongsijieshao-text-logo{
    display: block;
    margin-top: 32px;
    position: relative;
}
.about-gongsijieshao-text-bt2{
    width: 100%;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
    color: #000; 
}
.about-chanye{
    width: 100%;
    height: 100%;
    padding:70px 100px 0;
}
.about-chanye-bt{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #000;
    margin-top: 28px;
}
.about-chanye-text{
    width: 100%;
    height: auto;
    line-height: 18px;
    font-size:12px;
    color: #8d8d8d;
    margin-top: 8px;
}
.about-chanye-shuju{
    width: 100%;
    height: 153px;
    overflow: hidden;
    margin-top: 80px;
}
.about-chanye-shuju span{
    display: block;
    position: relative;
    float: left;
    width: auto;
    height: 100%;
    border-left:1px solid #e1e1e1;
    padding: 7px 0 0 68px;
}
.about-chanye-shuju span:first-child{
    border:none;
    padding-left: 0;
}
span.about-chanye-shuju1{
    width: 205px;
}
span.about-chanye-shuju2{
    width: 220px;
}
span.about-chanye-shuju3{
    width: 400px;
}
span.about-chanye-shuju4{
    width: 300px;
}
.about-chanye-shuju span i{
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    color: #8d8d8d;
}
.about-chanye-shuju span b{
    height: 90px;
    line-height: 90px;
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 75px;
    font-family: Impact;
    color: #94d60a;
}
.about-chanye-shuju span b.active:after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/about/jiahao.png) no-repeat center;
    position: absolute;
    top:3px;
    left:100%;
}
.about-chanye-bj{
    width: 100%;
    height: auto;
    background: #fbfbfb;
}
.about-ceowenhou-left{
    width: 925px;
    height: 100%;
    float: left;
    overflow: hidden;
    padding-left: 106px;
}
.about-ceowenhou-right{
    width: 404px;
    height: 100%;
    float: left;
    background: url(../img/about/about-man.png) no-repeat center bottom;
}
.about-ceowenhou-left-bt{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    color: #878787;
    margin-top: 48px;
}
.about-ceowenhou-left-text{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 12px;
    color: #8d8d8d;
    margin-top: 47px;
    text-align: justify;
}
.about-ceowenhou-left-text em{
    display: inline-block;
    width: 2em;
}
.about-ceowenhou-left-text i{
    float: right;
}
.about-youshi-bt{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 24px;
    padding-top: 37px;
    text-align: center;
}
.about-youshi-cen{
    margin-top: 38px;
    padding:0 100px;
    width: 100%;
    height: auto;
    text-align: center;
}
.about-youshi-cen span{
    display: inline-block;
    position: relative;
    width: 310px;
    height: 259px;
    overflow: hidden;
    margin:0 10px 20px;
}
.about-youshi-cen span b{
    display: block;
    width: 100%;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    margin-top: 157px;
    color: #8d8d8d;
    font-weight: 100;
}
.about-youshi-cen span em{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.about-youshi-cen span em p{
    padding:0 42px;
    color: #fff;
    text-align: justify;
    font-size:12px;
}
.about-youshi-cen span:hover em,.about-youshi-cen span.active em{
    display: table;
}
.about-youshi-cen span.active:hover em{
    display: none;
}
.about-youshi-cen1{
    background: url(../img/about/youshi1.png) no-repeat;
}
.about-youshi-cen1 em{
    background: url(../img/about/youshi1-hover.png) no-repeat;
}
.about-youshi-cen2{
    background: url(../img/about/youshi2.png) no-repeat;
}
.about-youshi-cen2 em{
    background: url(../img/about/youshi2-hover.png) no-repeat;
}
.about-youshi-cen3{
    background: url(../img/about/youshi3.png) no-repeat;
}
.about-youshi-cen3 em{
    background: url(../img/about/youshi3-hover.png) no-repeat;
}
.about-youshi-cen4{
    background: url(../img/about/youshi4.png) no-repeat;
}
.about-youshi-cen4 em{
    background: url(../img/about/youshi4-hover.png) no-repeat;
}
.about-youshi-cen5{
    background: url(../img/about/youshi5.png) no-repeat;
}
.about-youshi-cen5 em{
    background: url(../img/about/youshi5-hover.png) no-repeat;
}
.about-youshi-cen6{
    background: url(../img/about/youshi6.png) no-repeat;
}
.about-youshi-cen6 em{
    background: url(../img/about/youshi6-hover.png) no-repeat;
}
.about-yewu-text{
    width: 100%;
    height: auto;
    margin-top: 28px;
    line-height: 18px;
    font-size: 12px;
    color: #8d8d8d;
    padding:0 175px;
}
.about-yewu-cen{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding:0 0 0 175px;
    z-index: 5;
}
.about-yewu-cen span{
    width: 310px;
    height: 259px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 1px;
    z-index: 1;
    margin-right: 23px;
    margin-bottom: 24px;
}
.about-yewu-cen span em{
    position: absolute;
    width: 334px;
    background: #fff;
    height: 284px;
    top:-13px;
    left:-12px;
    box-shadow: 0 0 10px #666;
}
.about-yewu-cen span:hover{
    overflow: visible;
    z-index: 2;
}
.about-yewu-cen-img{
    width: 100%;
    height: 155px;
    overflow: hidden;
}
.about-yewu-cen-img img{
    width: 100%;
    height: 100%;
}
.about-yewu-cen-img-bt{
    width: 100%;
    text-align: left;
    position: absolute;
    bottom:22px;
    left: 0;
    padding-left: 22px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #fff;
}
.about-yewu-cen span p{
    display: inline-block;
    width: auto;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    color: #8d8d8d;
    position: relative;
    z-index: 2;
    float: left;
    margin-right: 15px;
}
.about-yewu-cen i{
    display: block;
    width: 100%;
    height: 104px;
    padding:25px 5px 0 22px;
    background: #f3f3f3;
    z-index: 3;
    position: relative;
}
.about-yewu-cen i b{
    position: absolute;
    display: block;
    width: 18px;
    height: 11px;
    background: url(../img/about/up.png) no-repeat center bottom;
    top:-11px;
    left:23px;
}
.foot{
    width: 100%;
    height: 329px;
    overflow: hidden;
    background: #fbfbfb;
    min-width: 1330px;
}
.foot-nav{
    width: 1330px;
    margin:0 auto;
    height: 217px;
    overflow: hidden;
    text-align: center;
    padding-left: 96px;
}
.foot-nav span{
    display: block;
    float: left;
    width: 154px;
    height: 100%;
    text-align: left;
    color: #484848;
    position: relative;
}
.foot-nav span b{
    display: block;
    margin-top: 65px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    margin-bottom: 24px;
}
.foot-nav span a{
    line-height: 18px;
    font-size: 12px;
    display: inline-block;
}
.foot-nav span a{
    color: #484848;
}
.foot-nav span a:hover{
    text-decoration: underline;
}
.foot-bottom{
    width: 100%;
    border-top:1px solid #e9e9e9;
}
.foot-text{
    width: 1330px;
    margin:0 auto;
    height: auto;
    padding: 18px 114px;
}
.foot-text p{
    width: 100%;
    height: 12px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    margin-bottom: 6px;
}
.foot-text p a{
    color: #484848;
}
.foot-text p a:hover{
    text-decoration: underline;
}
.foot-text p em{
    float: right;
}
.top-op,.left-op,.right-op,.bottom-op{
    opacity:0;
    filter:alpha(0);
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
}
.top-op{
    top:150px;
}
.left-op{
    left:150px;
}
.right-op{
    left:-150px;
}
.bottom-op{
    top:-150px;
}
.guohui{
    position: relative;
    top:5px;
    margin:0 10px;
}
.careers-top-bj-img{
    background: url(../img/careers/top-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.cooperation-top-bj-img{
    background: url(../img/cooperation/top-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.team-top-bj-img{
    background: url(../img/team/top-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.market-top-bj-img{
    background: url(../img/market/top-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.contact-top-bj-img{
    background: url(../img/contact/top-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.careers-one-b2{
    margin-top: 70px;
}
.careers-one-bt{
    margin-top: 80px;
}
.content-cen2-block{
    width: 1185px;
    height: auto;
    margin:0 auto;
}
.content-cen2-block-k{
    position: absolute;
    width: 1266px;
    height: 756px;
    top:-35px;
    left:-40px;
    background: url(../img/bjb.png) no-repeat;
}
.careers-block{
    height: auto;
    width: 100%;
    padding:65px 0 110px 73px;
}
.careers-block-bt{
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 26px;
    color: #000;
}
.careers-block-ps{
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    color: #000;
    margin-top: 20px;
    width: 100%;
}
.careers-block-ps b{
    color: #8d8d8d;
    font-weight: 100;
    margin-right: 25px;
}
.careers-block-text{
    margin-top: 30px;
    width: 100%;
    height: 63px;
    overflow: hidden;
}
.careers-block-text b{
    display: block;
    width: 72px;
    float: left;
    height: 100%;
    font-weight: 100;
    line-height: 21px;
}
.careers-block-text em{
    display: block;
    width: 969px;
    text-align: justify;
    height: auto;
    float: left;
    color: #8d8d8d;
    line-height: 22px;
    font-size: 14px;
    position: relative;
}
.careers-block-a{
    display: block;
    width: 143px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 18px;
    background: #95d60a;
    position: absolute;
    top:57px;
    right: 60px;
    z-index: 5;
}
.careers-block-a:hover{
    background: #81ba08;
}
.careers-block-move{
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    color: #000;
    right:90px;
    bottom:40px;
}
.careers-block-move i,.careers-block-move.active em{
    display: none;
}
.careers-block-move em,.careers-block-move.active i{
    display: block;
}
.careers-block-1px,.contact-block-1px{
    display: block;
    clear:both;
    margin:0 auto;
    width: 1065px;
    height: 1px;
    background: #dbdbdb;
}
.contact-block,.contact-block-cen{
    width: 1065px;
    margin:0 auto;
    height: auto;
    overflow: hidden;
}
.contact-block-cen{
    padding-bottom: 40px;
}
.contact-block-logo{
    margin:45px 0 10px;
}
.contact-block-span{
    width: 100%;
    height: auto;
    font-size: 14px;
}
.contact-block-span span{
    display: block;
    width: 50%;
    float: left;
    height: 88px;
    padding-top: 24px;
    overflow: hidden;
    padding-left: 6px;
}
.contact-block-span span b{
    font-weight: 100;
    display: block;
    width: 100%;
    height: 14px;
    line-height: 14px;
    color: #000;
    margin-bottom: 3px;
}
.contact-block-span span em{
    width: 100%;
    height: auto;
    color: #8d8d8d;
    line-height: 22px;
}
.cooperation-bt1{
    width: 100%;
    height: auto;
    line-height: 24px;
    font-size: 24px;
    padding-top: 33px;
    color: #878787;
    text-align: center;
}
.cooperation-cen1{
    width: 100%;
    padding-left: 68px;
    height: 165px;
    overflow: hidden;
    margin-top: 28px;
}
.cooperation-cen1 span{
    width: 326px;
    position: relative;
    height: 100%;
    display: block;
    border:1px solid #dcdcdc;
    padding:0 22px;
    color: #000;
    margin-right: 35px;
    float: left;
}
.cooperation-cen1 span b{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 22px;
    display: block;
}
.cooperation-cen1 span b em{
    font-size: 14px;
    position: relative;
}
.cooperation-cen1 span i{
    display: block;
    width: 100%;
    height: 6px;
    background: #e5e5e5;
    margin-top: 16px;
}
.cooperation-cen1 span p{
    display: block;
    width: 100%;
    margin-top: 16px;
    color: #8d8d8d;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}
.cooperation-cen1 span:hover{
    color: #fff;
    background: #95d60a;
    border-color: #95d60a;
}
.cooperation-cen1 span:hover i{
    background: #fff;
}
.cooperation-cen1 span:hover p{
    color: #fff;
}
.cooperation-img1{
    display: block;
    width: 1048px;
    height: auto;
    margin-left: 68px;
    margin-top: 15px;
    position: relative;
    z-index: 1;
}
.cooperation-cen2{
    height: 242px;
}
.cooperation-cen2 span{
    margin-right: 36px;
    width: 506px;
}
.cooperation-mubiao-bt{
    padding-top: 69px;
    width: 100%;
    text-align: center;
    height: auto;
    line-height: 24px;
    font-size: 24px;
    color: #878787;
}
.cooperation-mubiao-cen{
    width: 100%;
    height: 470px;
    overflow: hidden;
    margin-top: 68px;
    padding-left: 68px;
}
.cooperation-mubiao-cen span{
    float: left;
    margin-right: 24px;
    width: 244px;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;d
}
.cooperation-mubiao-cen span img{
    width: 100%;
    height: 421px;
    display: block;
}
.cooperation-mubiao-cen span p{
    display: block;
    font-size: 14px;
    color: #878787;
    line-height: 14px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.team-nav{
    width: 100%;
    height: 188px;
    background: #fbfbfb;
    overflow: hidden;
}
.team-nav-span{
    width: 160px;
    display: block;
    float: left;
    position: relative;
    background: #ccc;
    height: 100%;
}
.team-nav-span-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 100%;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    padding:0 19px;
    background: #fbfbfb;
}
.team-bt1{
    line-height: 18px;
    font-size: 18px;
    width: 100%;
    height: auto;
    color: #878787;
    padding:32px 44px 0;
    margin-bottom: 6px;
}
.team-cen1{
    width: 100%;
    padding:0 44px;
    height: 188px;
    margin-bottom: 40px;
}
.team-nav-span-text b{
    display: block;
    width: 100%;
    color: #000;
    text-align: left;
    font-weight: 100;
}
.team-nav-span-text em{
    color: #878787;
    text-align: justify;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.market-imgk{
    width: 100%;
    height: 835px;
}
.market-qcen{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    padding:100px 78px 0 0;
}
.market-qcen-cen1{
    width: 100%;
    height: 47px;
    overflow: hidden;
    margin-bottom: 10px;
}
.market-qcen-right{
    float: right;
    width: 106px;
    height: 100%;
}
.market-qcen-left{
    position: absolute;
    top:0;
    right: 97%;
    width: 900px;
    height: 100%;
    display: none;
}
.market-qcen-right:hover .market-qcen-left{
    display: inline-block;
}
.market-qcen-left b,.market-qcen-left i{
    display: block;
    width: 13px;
    height: 100%;
    float: right;
}
.market-qcen-left b{
    background: url(../img/market/l-right.png) no-repeat;
}
.market-qcen-left i{
    background: url(../img/market/l-left.png) no-repeat;
}
.market-qcen-left em{
    width: auto;
    background: #8fd400;
    color: #fff;
    display: table;
    height: 100%;
    float: right;
    padding-left: 10px;
}
.market-qcen-left.active b{
    background: url(../img/market/c-right.png) no-repeat;
}
.market-qcen-left.active i{
    background: url(../img/market/c-left.png) no-repeat;
}
.market-qcen-left.active em{
    background: #ff7000;
}
.hui-cen{
    padding: 40px 0 45px 65px; 
    width: 100%;
    height: auto;
}
.hui-cen span{
    width: 358px;
    height: 638px;
    overflow: hidden;
    float: left;
    position: relative;
}
.hui-cen span em{
    display: block;
    height: 250px;
    font-size: 12px;
    color: #8d8d8d;
    padding: 130px 22px 0;
    background: #f6f6f6;
    margin-top: 70px;
    z-index: 10;
    position: relative;
}
.hui-cen span b{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}
.hui-cen span p{
    display: block;
    width: 100%;
    text-align: justify;
    height: auto;
    margin-top: 17px;
}
.hui-cen span i{
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top:100%;
    left:0;
    background: url(../img/hui/down.png) no-repeat center top;
}
.hui-cen span img{
    display: block;
    width: 100%;
    height: 319px;
}
.hui-cen span.active em{
    margin-top: 0;
    padding-top: 56px;
}
.hui-cen span.active i{
    top:-20px;
    background: url(../img/hui/up.png) no-repeat center top;
}
.hui-cen span:hover em{
    background: #94d60a;
    color: #fff;
}
.hui-cen span:hover i{
    background: url(../img/hui/down-hover.png) no-repeat center top;
}
.hui-cen span.active:hover i{
    top:-20px;
    background: url(../img/hui/up-hover.png) no-repeat center top;
}
.cases-cen .nav2{
    width: 1340px;
    margin:15px auto 0;
}
.cases-cen{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cases-cen-nav{
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}
.cases-cen-nav.z9{
    z-index: 9;
    height: 100%;
}
.about-gongsijieshao-a{
    width: 1344px;
    left:-3px;
}
.cases-nav3{
    width: 1330px;
    height: auto;
    margin: 18px auto 0;
    padding-left: 13px;
}
.cases-nav3 b{
    display: block;
    width: 103px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #94d60a;
    margin-bottom: 4px;
    cursor: pointer;
}
.cases-nav3 b.active{
    background: #ff6b00;
}
.cases-nav3 b:hover{
    background: #ff6b00;
}
.cases-img{
    width: 100%;
    min-width: 1330px;
}
.cases-bt{
    width: 1340px;
    height: 100%;
    overflow: hidden;
    background: url(../img/cases/lal.png) no-repeat center left;
    background-size: auto 100%;
    margin:0 auto;
}
.cases-bt-a{
    width: 8.6rem;
    height: 100%;
    padding-left: 2.35rem;
}
.cases-bt-a span{
    width: 4.5rem;
}
.cases-bt-a em,.cases-bt-a span{
    display: block;
    height: 100%;
    overflow: hidden;
    color: #787878;
    float: left;
}
.cases-bt-a em div{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.cases-bt-a em{
    width: 52px;
    float: left;
}
.cases-bt-a em p{
    display: block;
    width: 100%;
    height: 80px;
}
.cases-bt-a em b,.cases-bt-a em i{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 36px;
    font-size: 35px;
    font-weight: bold;
}
.cases-bt-a em b{
    height: 44px;
    border-bottom: 6px solid #787878;
}
.cases-bt-a span p{
    padding-left: 10px;
    text-align: left;
    height: auto;
    width: 100%;
}
.cases-bt-a span p b{
    display: block;
    width: 100%;
    height: auto;
    line-height: 33px;
    font-size: 28px;
    margin-top: 4px;
}
.cases-bt-a span p i{
    display: block;
    width: 100%;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    margin-top: 6px;
}
.cases-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1330px;
    position: absolute;
    top:0;
    left: 0;
}
.cases-img-left{
    height: auto;
    width: 28%;
    float: left;
}
.cases-img-right{
    width: 70%;
    float: right;
    height: auto;
}
.cases-img-left-img,.cases-img-right-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.cases-img-left-img img{
    display: block;
    width: auto;
    height: 100%;
    float: right;
}
.cases-img-right-c{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.cases-img-right-img img{
    position: absolute;
    display: block;
    top: 0;
    left: 1.2rem;
    z-index: 0;
    width: auto;
    height: 100%;
}
.cases-icon{
    width: 470px;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    overflow: hidden;
}
.cases-icon-a{
    width: 1330px;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
}
.cases-icon-i{
    width: 35px;
    height: auto;
    float: right;
    margin-right: 24px;
    display: none;
}
.cases-icon-i.active{
    display: block;
}
.cases-left-bt{
    z-index: 2;
    display: inline-block;
    width: auto;
    height: auto;
}
.cases-icon-i i{
    display: block;
    width: 100%;
    height: 32px;
    margin:12px 0;
    position: relative;
}
.cases-icon-i i em{
    display: block;
    position: absolute;
    right: 120%;
    top:0;
    height: 100%;
    line-height: 32px;
    color: #fff;
    width: 400px;
    text-align: right;
    font-size: 14px;
}
.cases-icon-i i:hover em{
    font-weight: bold;
    font-size: 15px;
}
.faguang-logo{
    position: absolute;
    top:0;
    left: 0;
}
.faguang-logo1{
    top:440px;
    left:802px;
    width: 84px;
    height: 48px;
}
.faguang-logo2{
    top:254px;
    left: 672px;
    width: 104px;
    height: 61px;
}
.faguang-logo span,.faguang-logo span img{
    display: block;
    width: 100%;
    height: 100%;
}
.faguang-logo span .yinxian{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.cases-img-ani{
    width: 100%;
    height: auto;
}
.text-text-cen{
    width: 100%;
    height: auto;
    padding:40px;
    text-align: justify;
    line-height: 18px;
    font-size: 12px;
}
.text-text-cen p{
    display: block;
    width: 100%;
    height: auto;
    text-indent: 2em;
    color: #8d8d8d;
}
.text-text-cen b{
    display: block;
    color: #000;
    font-weight: 100;
    margin-top: 20px;
}
.team-cen1.team-cenimg{
    height: 474px;
}
.team-teamimg img{

}
.team-teamimg-left{
    width: 330px;
    height: 474px;
    float: left;
    overflow: hidden;
    position: relative;
}
.team-teamimg-left b{
    top:10px;
}
.team-teamimg-right{
    height: 474px;
    width: 767px;
    float: left;    
    overflow: hidden;
}
.team-teamimg-right em{
    display: block;
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}
.team-teamimg-right em b{
    bottom: 10px;
    text-align: right;
}
.team-teamimg-right em i,.team-teamimg-right em p{
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.team-teamimg-right em p b{
    text-align: left;
}
.team-teamimg-right em i{
    width: 436px;
}
.team-teamimg-right em p{
    width: 331px;
}
.team-teamimg a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: url(../img/home/bt-1px.png);
}
.team-teamimg a:hover{
    background: none;
}
.team-teamimg b{
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    position: absolute;
    text-align: right;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    left:0;
}