.reportQues-cnt{
	background: #FFFFFF;
	padding-bottom: 20px;
}
.reportQues-cnt-left{
	width: 480px;
	float: left;
	padding-left: 19px;
}
.reportQues-box{
	height: 46px;
	line-height: 46px;
	padding-left: 8px;
	font-size: 14px;
	position: relative;
}
.reportQues-box label{
	color: #ff8a00;
}
.reportQues-box span{
	color: #e0e0e0;
	margin: 0px 10px;
}
.reportQues-box2{
	border-radius: 5px;
	min-height: 230px;
	background: #eaedf2;
	padding: 20px;
	font-size: 14px;
}
.reportQues-cnt-right{
	float: right;
	width: 606px;
	padding-right: 9px;
}
.reportQues-cnt-right .reportQues-box label.reportQues-sty1{
	float: left;
	color: #999999;
}
.reportQues-cnt-right .reportQues-sty2{
	float: right;
	font-size: 16px;
}
.reportQues-cnt-right .reportQues-sty2 span{
	margin: 0px;
	height: 30px;
	display: inline-block;
	width: 64px;
	border: 1px  solid #e4e6e9;
	background: #f8f9fb;
	line-height: 30px;
	text-align: center;
	color: #333333;
	font-size: 14px;
}
.reportQues-cnt-right .reportQues-sty2 span b{
	font-size: 16px;
}
.reportQues-topic li{
	height: 48px;
	line-height: 48px;
	margin-bottom: 12px;
	padding-left: 20px;
	font-size: 14px;
	background: #f8f9fb;
	position: relative;
}
.reportQues-topic li:last-child{
	margin-bottom: 0px;
}
.reportQues-topic li span{
	font-size: 28px;
	font-weight: bold;
	color: #e1e1e1;
	float: left;
	margin-right: 10px;
}
.reportQues-topic li i{
	display: inline-block;
	width: 69px;
	height: 27px;
	background: url(../../images/report.png) 0px -123px no-repeat;
	position: absolute;
	right: 12px;
	top: 10px;
}
.reportQues-topic li.active{
	background: #29bdb9;
	color: #ffffff;
}
.reportQues-mar10{
	margin-top: 10px;
}
.reportQues-m310{
	min-height: 310px;
}
.reportQues-box .reportOJ-grade label{
	color: #FFFFFF;
}
.reportQues-box .reportOJ-grade span{
	color: #ff8a00;
	margin: 0px;
	margin-left: 5px;
}
.reportQues-box .reportOJ-grade{
	right: -9px;
}
.reportQues-answer{
	background: #f8f9fb;
	padding: 17px 15px 23px;
}
.reportQues-answer-title{
	font-size: 23px;
	color: #e0e1e3;
	font-weight: bold;
	padding-bottom: 10px;
}
.reportQues-answer-cnt{
	border: 1px solid #e0e2e6;
	background: #ffffff;
	font-size: 14px;
	padding: 13px;
	color: #333333;
}
.reportQues-answer-cnt code{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #6e6e6e;
}
