.wj-roleselect-pop .dropDown-self-set .select-list{width:215px \9; overflow-y:scroll \9;}
.lian-dong-contain-3 .lian-dong-select ul {width:247px \9; overflow-y:scroll \9;}
.self-set-page-container .page-show-num .dropDown-self-set .select-list{ width:65px \9; overflow-y:scroll \9;}
.top-toolbar-container .top-search-form .select-contain .dropDown-self-set .select-list{ width:270px;width:285px \9; overflow-y:scroll \9; }
.configure-form-1 .form-contain .input-list .dropDown-self-set .select-list{width:265px \9; overflow-y:scroll \9; }


