@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 0.14rem;
    color: #333;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
input{
    border: none;
    background: none;
    outline:medium;
}

input[placeholder],input[value]{
    font-family: "微软雅黑";
}
/*----------------------------------------------------------------*/
.gd-top{
    width: 100%;
    height: 0.96rem;
    overflow: hidden;
    background: #e6e6e8;
    position: relative;
}
.gd-top span{
    font-size: 0.36rem;
    line-height: 0.90rem;
    display: block;
    margin-left: 0.24rem;
}
.gd-top span a{
    color:#666;
}
.gd-top img{
    position: absolute;
    top:0.19rem;
    left: 5.37rem;
    width: 1.82rem;
    height: auto;
}
.gd-cen{
    width: 100%;
    height: 11.94rem;
    background: url(../img/guodu-bj.jpg) no-repeat;
    background-size: 100% auto;
    margin-top: 0.03rem;
}
.cen1{
    border-bottom: 1px solid #d6d7dc;
    width: 5.18rem;
    height: 2.25rem;
    margin-left: 1.23rem;
}
.cen1 span{
    display: block;
    float: left;
    width: 2.8rem;
    height: 1.55rem;
    color: #666;
    line-height: 0.32rem;
    font-size: 0.24rem;
    margin:0.5rem 0 0 0.2rem;
}
.cen1 span em{
    display: block;
    font-size: 0.3rem;
    color: #3d4760;
    margin-bottom: 0.13rem;
}
.cen1 img{
    width: 1.88rem;
    height: auto;
    float:left;
    position: relative;
    top:0.26rem;
    margin-left: 0.09rem;
}
.cen2{
    width: 3.92rem;
    height: 4.64rem;
    border-bottom: 1px solid #d6d7dc;
    overflow: hidden;
    margin-left: 1.84rem;
}
.cen2 img{
    width: 3.55rem;
    height:auto;
    margin:0.3rem auto 0;
    display: block;
}
.cen3{
    width: 5.18rem;
    margin-left: 1.23rem;
    font-size: 0.3rem;
    color: #333;
    padding: 0.28rem 0 0 0.22rem;
}
.cen3 p a{
    display: inline-block;
    font-size: 0.24rem;
    text-align: center;
    color: #fff;
    background: #353d52;
    width: 1.43rem;
    height: 0.44rem;
    line-height: 0.44rem;
    position: relative;
    top:-0.02rem;
}
.cen3 p a img{
    width: 0.14rem;
    height: auto;
    margin-left: 0.1rem;
    position: relative;
    top:0.03rem;
}
.cen3 .cen3l{
    color: #0000cc;
    text-decoration: underline;
    padding-top: 0.25rem;
    display: block;
}
/*----------------------------------------------------------no.2*/
.buyz{
    width: 100%;
    height: 12.94rem;
    background: url(../img/buyz-bj.jpg) no-repeat;
    background-size: 100% auto;
}
.buyz-logo{
    width: 100%;
    height: 2.63rem;
    border-bottom:1px solid #36332d;
    text-align: center;
    color: #eed197;
    font-size: 0.3rem;
    padding-top: 0.58rem;
    overflow: hidden;
}
.buyz-logo img{
    width: 1.24rem;
    height: auto;
    padding-bottom: 0.15rem;
}
.buyz-user{
    border-bottom:1px solid #36332d;
    width: 100%;
    height: 2.74rem;
    position: relative;
    overflow: hidden;
}
.buyz-user img{
    width: 0.6rem;
    height: auto;
    float: left;
}
.buyz-user input{
    color: #fff;
    opacity: 0.3rem;
    filter:alpha(opacity=30);
    font-size: 0.2rem;
    height: 0.64rem;
    padding-top: 0.01rem;
    margin-left: 0.29rem;
    width: 5rem;
}
.buyz-ph,.buyz-pw{
    width: 7.1rem;
    height: 0.74rem;
    border-bottom: 1px solid #818583;
    margin-left: 0.2rem;
    margin-top: 0.35rem;
}
.buyz-pw{
    width: 4.28rem;
    margin-top: 0.5rem;
}
.buyz-pw input{
    width: 3.21rem;
}
.buyz-user a{
    display: block;
    position: absolute;
    top:1.73rem;
    left: 4.93rem;
    width: 2.37rem;
    height: 0.6rem;
    padding-top: 0.17rem;
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-radius: 0.08rem;
    font-size: 0.2rem;
    color: #eed197;
}
.buyz-cbt{
    border-bottom:1px solid #36332d;
    width: 100%;
    height: 1.17rem;
    line-height: 1.17rem;
    color: #eed197;
    font-size: 0.245rem;
    padding-left: 0.21rem;
}
.buyz-yuan{
    width: 100%;
    height: 2.67rem;
    border-bottom:1px solid #36332d;
    background: rgba(234,140,88,0.1);
    overflow: hidden;
}
.buyz-yxuan,.buyz-fg{
    float: left;
    height: 100%;
    overflow: hidden;
}
.buyz-yxuan{
    width: 3.74rem;
}
.buyz-fg{
    width: 0.02rem;
}
.buyz-fg img{
    width: 100%;
    height: auto;
    padding-top: 0.3rem;
}
.buyz-yj1{
    width: 2.8rem;
    height: 0.7rem;
    position: relative;
    margin:0.4rem 0 0 0.66rem;
    color: #ea8c58;
}
.buyz-yj1 i,.buyz-yj1 span{
    display: block;
    float: left;
    height: 100%;
}
.buyz-yj1 span{
    font-size: 0.22rem;
    padding-top: 0.11rem;
}
.buyz-yxing{
    position: absolute;
    top:0.05rem;
    left: -0.23rem;
    width: 0.24rem;
    height: 0.24rem;
    line-height: 0.24rem;
    text-align: center;
    font-size: 0.20rem;
}
.buyz-yj1 i{
    font-size: 0.67rem;
    font-weight: bold;
    font-family: "Arial";
    display: block;
    float: left;
    width: 1.52rem;
    top: -0.055rem;
    position: relative;
    letter-spacing: -0.05rem;
}
.buyz-yj1 .buyz-select{
    font-size: 0.18rem;
    text-decoration:line-through;
    color: #ffffff;
    opacity: 0.5;
    filter:alpha(opacity=50);
    padding-left: 0.03rem;
}
.buyz-yj2{
    width: 2.70rem;
    height: 0.36rem;
    line-height: 0.36rem;
    color: #ffffff;
    opacity: 0.5;
    filter:alpha(opacity=50);
    font-size: 0.19rem;
    margin: 0.05rem 0 0.1rem 0.68rem;
}
.buyz-yxuan a{
    display: block;
    width: 2.14rem;
    height: 0.54rem;
    padding-top: 0.13rem;
    color: #000;
    text-align: center;
    font-size: 0.2rem;
    background: url(../img/buyz-x.png) no-repeat;
    margin:0.2rem 0 0 0.75rem;
    background-size: 100% auto;
}
.buyz-yxuan a.active{
    background: #333;
    border-radius: 0.1rem;
}
.buyz-shu{
    width: 100%;
    height: 1.53rem;
    overflow: hidden;
}
.buyz-ssm{
    width: 2.4rem;
    height: 100%;
    color: #999;
    font-size: 0.2rem;
    padding-top: 0.5rem;
    line-height: 0.3rem;
    padding-left: 0.2rem;
    float: left;
}
.buyz-ssm span{
    font-size: 0.28rem;
    color: #fff;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
.buyz-ssl{
    float: right;
    width: 3.07rem;
    height:0.48rem;
    margin: 0.57rem 0.2rem 0 0;
}
.buyz-ssl em,.buyz-ssl i{
    display: block;
    float: left;
    text-align: center;
    height: 100%;
    padding-top: 0.14rem;
    color:#fff;
    font-size: 0.18rem;
}
.buyz-ssl em{
    background: #ea8c58;
    width: 0.48rem;
}
.buyz-ssl i{
    width: 1.71rem;
    border:1px solid #fff;
    margin: 0 0.2rem;
    padding-top: 0.13rem;
}
.buyz-zf{
    width: 7.1rem;
    height: 0.78rem;
    margin:0 auto;
    line-height: 0.78rem;
    text-align: center;
    font-size: 0.28rem;
    color: #eed197;
    background: rgba(255,255,255,0.1);
    display: block;
    position: relative;
}
.buyz-zfinp{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.bottom-logo{
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
}
.bottom-logo img{
    width: 1.26rem;
    height: auto;
}
