ul,ol{list-style:none;}
a:hover{ text-decoration:none;}
.wj-addpop-info{ background:#fff; position:relative;}
.wj-addpop-info .wj-addpop-tit{ height:50px;}
.wj-addpop-tit .wj-addtit-txt{ font:bold 14px/50px "Microsoft YaHei"; color:#333; margin-left:15px;}
.wj-popclose-btn{ width:22px; height:22px; display:block; position:absolute; top:15px; right:15px; background:url('../img/attr_alter/close-btn-common.png') no-repeat center center;}
.wj-popinfo-tabel{ width:100%;}
.wj-popinfo-tabel thead tr{ background:#2c353c; height:50px;}
.wj-popinfo-tabel thead tr th{ text-align:center; font:bold 14px/22px "Microsoft Yahei"; color:#fff;}
.wj-popinfo-tabel tbody{ background:#fff;}
.wj-popinfo-tabel tbody tr{ border-bottom:2px solid #eaeaea;}
.wj-popinfo-tabel tbody tr:nth-child(2n){ background:#f2f3f5;}
.wj-popinfo-tabel tbody tr td{ font:12px/14px "Microsoft Yahei"; color:#333; text-align:center; height:49px;}
.wj-popinfo-tabel tbody tr td + td{ border-left:2px solid #e4e6e5;}

.wj-helpdoc-wrap{ padding-top:4px;}
.wj-helpdoc-wrap .wj-helpdoc-tit{ font:bold 16px/40px "Microsoft YaHei"; color:#333; text-align:center;}
.wj-helpdoc-wrap .wj-helpdoc-cont{ padding:0 15px 50px; font:12px/19px "Microsoft Yahei"; color:#666;}
.wj-helpdoc-wrap .wj-helpdoc-cont .wj-help-par{ margin-bottom:15px; overflow:hidden; line-height:19px;}


.wj-config-center ul{list-style:none;}
.wj-config-center{ width:100%; min-height:324px; background:#fff;}
.wj-config-btns{ height:60px; width:100%; background:#fff; margin-top:15px; text-align:center;}
.wj-config-btns .wj-cfgbtn{ display:inline-block; width:99px; height:30px; font:14px/30px "Microsoft YaHei"; text-align:center; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; margin:15px 7px 0;}
.wj-config-btns .wj-cfgbtn{ text-decoration:none;}
.wj-cfgbtn.wj-cfg-st1{ color:#2196f3; border:1px solid #2196f3;}
.wj-cfgbtn.wj-cfg-st2{ color:#fff; background:#999999;}
.wj-cfgbtn.wj-cfg-gray{ color:#999999 ; border:1px solid #999;}
.wj-cfgbtn.wj-cfg-st2.wj-cfg-cople{ background:#2196f3;}
.wj-progress-bar{ padding-top:14px; height:109px; position:relative; margin-top:12px; background:#fff;}
.wj-progress-bar .wj-pro-line{ line-height:0; height:6px; font-size:0; background:#edecec; width:589px; position:absolute; left:0; right:0; margin:0 auto; bottom:24px; z-index:100;}
.wj-progress-bar ul{ width:760px; margin:0 auto; padding:0; position:relative; z-index:101;}
.wj-progress-bar ul li{ float:left; width:152px; text-align:center; position:relative; z-index:102;}
.wj-progress-bar .wj-pro-txt{ font:14px/45px "Microsoft YaHei"; height:45px; color:#666; margin:0;}
.wj-progress-bar .wj-pro-order{ display:inline-block; width:50px; height:50px; border:5px solid #edecec; font:18px/40px "Microsoft YaHei"; color:#666; margin:0 auto; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background:#fff;}
.wj-progress-bar .wj-pro-stepped .wj-pro-txt{ color:#2196f3;}
.wj-progress-bar .wj-pro-stepped .wj-pro-order{ border-color:#2196f3; color:#2196f3; position:relative; z-index:106;}
.wj-progress-bar .wj-pro-stepped .wj-pro-curbar{ width:104px; height:6px; line-height:0; font-size:0; display:block; position:absolute; left:-52px; bottom:23px; z-index:105; background:#2196f3;}

.wj-topo-guider{ width:618px; margin:0 auto; padding-top:35px;}
.wj-topo-guider h3{ font:18px/67px "Microsoft YaHei"; color:#333; text-align:center; height:67px; margin:0;}
.wj-topo-guider h4{ font:14px/21px "Microsoft Yahei"; color:#333; height:21px; margin:0;}
.wj-topo-guider p{ margin:0; font:12px/23px "Microsoft YaHei"; color:#666;}

.wj-findway-sele{padding:20px 14px 0;}
.wj-findway-sele h3{ height:34px; margin:0; font:14px/34px "Microsoft YaHei"; color:#333;}
.wj-findway-sele .wj-findway-rad{ padding-left:26px; font:12px/21px "Microsoft Yahei"; color:#333; background:url('../img/icon/configuration-solution/ShiTu/radio-not-select.png') no-repeat left center; cursor:pointer;}
.wj-findway-sele .wj-findway-rad.checked{ background-image:url('../img/icon/configuration-solution/ShiTu/radio-has-selected.png');}
.wj-findway-sele .wj-findway-rad input{ display:none;}
.wj-findway-sele .wj-fiway-desc{ margin:0 0 2px 25px; font:12px/24px "Microsoft Yahei"; color:#666;}

 .wj-findway-sele .wj-cfsub-tit{ font:12px/21px "Microsoft Yahei"; color:#666; padding-bottom:10px; height:31px; border-bottom:1px solid #cfcfcf; margin:0;}
.wj-cof-form .wj-cfgform-li{ padding-bottom:15px;}
.textInput-self-set { background-color: #e7e7e7; border: 1px solid #d7d7d7; border-radius: 5px; display: block; font-size: 12px; height: 30px; line-height: 28px; padding: 0 10px;}
.btn-self-set{background-color: #2196f3; border-radius: 5px; color: #fff !important; display: inline-block; font-size: 14px; height: 30px; line-height: 30px; text-align: center; vertical-align: middle; width: 100px; border:none;}
.btn-self-set:hover { background-color: #086fc4; }
.w205{ width:205px;}
.w120{ width:120px;}
.m14{ margin-left:14px;}
.wj-cfgform-li .wj-cfgIpt-tit{ margin-right:15px; font:14px/30px "Microsoft Yahei"; color:#333;}
.wj-cfgform-li .wj-cfgIpt-tit2{ margin-left:9px;}
.wj-cfbTable{ width:100%; border:1px solid #cccccc;}
.wj-cfbTable thead tr{ background:#2d353c;}
.wj-cfbTable thead tr th{ text-align:center; font:bold 14px/24px "Microsoft YaHei"; color:#fff; height:50px;}
.wj-cfbTable tbody tr:nth-child(2n+1){ background:#f2f3f4; border-bottom:1px solid #d1d1d1;}
.wj-cfbTable tbody tr td{ height:49px; text-align:center; padding:0 9px;}
.wj-cfbTable tbody tr td + td{ border-left:1px solid #d1d1d1;}
.wj-cfbTable .wj-ip-input{ height:29px; background:#f2f3f4; width:100%; border:1px solid #d1d1d1; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font:12px/29px "Microsoft YaHei"; color:#333; text-align:center;}
.wj-popinfo-tabel .wj-ip-input{ height:29px; background:#f2f3f4; width:80%; border:1px solid #d1d1d1; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font:12px/29px "Microsoft YaHei"; color:#333; text-align:center;}
.wj-cfg-tbWrap .wj-ip-ope{ padding:0 15px 0 21px; font:14px/24px "Microsoft Yahei"; color:#2196f3;}
.wj-cfg-tbWrap .wj-ip-ope.wj-ip-alter{ background:url('../img/attr_alter/ip_alter_b.png') no-repeat left center;}
.wj-cfg-tbWrap .wj-ip-ope.wj-ip-alter:hover{ background-image:url('../img/attr_alter/ip_alter_a.png');}
.wj-cfg-tbWrap .wj-ip-ope.wj-ip-del{ background:url('../img/attr_alter/ip_del_b.png') no-repeat left center;}
.wj-cfg-tbWrap .wj-ip-ope.wj-ip-del:hover{ background-image:url('../img/attr_alter/ip_del_a.png');}
.wj-pop-checkbox{ display:block; margin:0; padding:10px 0 10px 26px; font:12px/18px "Microsoft Yahei"; height:38px; background:url('../img/attr_alter/pop_check_b.png') no-repeat left center; cursor:pointer;}
.wj-pop-checkbox.checked{ background-image:url('../img/attr_alter/pop_check_a.png');}
.wj-pop-checkbox input{ display:none;}

.wj-complete-alert{ padding:28px 14px 15px; width:410px; background:#fff; -webkit-box-shadow:0 0 10px 7px rgba(212,213,214,0.2); -moz-box-shadow:0 0 10px 7px rgba(212,213,214,0.2); box-shadow:0 0 10px 0px rgba(212,213,214,0.9); position:fixed; top:15%; left:0; right:0; margin:0 auto; z-index:500; display:none;}
.wj-complete-alert .wj-compcof-tick{ width:100%; height:53px; background:url('../img/attr_alter/tick_pic.png') no-repeat center top;}
.wj-complete-alert .wj-compcof-tick{text-align:center;}
.wj-complete-alert .wj-compcof-txt{ text-align:center; font:18px/30px "Microsoft Yahei"; color:#333; padding:7px 0 25px 0;}
.wj-compcof-btn a{ width:180px; height:30px; font:14px/28px "Microsoft Yahei"; color:#2196f3; border:1px solid #2196f3; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; text-align:center;}
.wj-compcof-btn a.wj-combtn-confirm{background:#2196f3; color:#fff;}

.wj-steppop-wrap{ position:relative;width: 930px;}
.wj-step-tit{ height:50px; background:#fff; font:bold 14px/50px "Microsoft Yahei"; color:#343434; text-indent:15px; position:relative;}
.wj-step-frame{ width:100%;height:399px; overflow:hidden;}
/*批注弹窗*/
.wj-notepop-forms{ width:100%; height:280px; overflow:hidden; background:#fff;}
.wj-nform-dl dt,.wj-nform-dl dd{ float:left;}
.wj-nform-dl dt{ width:180px; text-align:right;color: #333;font: 14px/30px "Microsoft Yahei"; margin-right:15px;}
.wj-nform-dl dd{ width:510px;}
.wj-nform-dl dd .wj-depend-select{ width:50%;}
.wj-depend-select .wj-depsel-list{ padding:0; margin:0;}
.wj-nform-dl .textArea-self-set{ background-color: #e7e7e7; border: 1px solid #ccc; border-radius: 5px; font-size: 12px; padding: 10px; width:430px; height:110px; resize:none;}

.wj-probar-upper { width:100%; height:100%; position:absolute; left:0; top:0; z-index:200; height:95px;}
.wj-probar-down { width:100%; height:100%; position:absolute; left:0; top:0; z-index:100; height:95px;}
.wj-probar-upper .wj-proUp-pos{ width:760px; margin:0 auto; position:relative;}
#proBarTxt,#proBarCir{ overflow:hidden;}