@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 0.14rem;
    color: #333;
    font-family: "微软雅黑";
    position: relative;
}
body,html{
    width: 100%;
    height: auto;
    overflow-x:hidden;
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{font-style: normal;}
b{font-weight: 100;}
input{border: none;background: none;outline:medium;}
input[placeholder],input[value]{font-family: "微软雅黑";}
html body .none{display: none;}
html body .OverFlowV{overflow: visible;}
/*----------------------------------------------------------------*/
.bangdingshouji-top{
    width: 100%;
    height: 3.05rem;
    background: url(../img/bangdingshouji.jpg) no-repeat;
    background-size: 100% auto;
}
.one-input{
    width: 100%;
    height: .69rem;
    overflow: hidden;
    margin-top: .35rem;
}
.one-input b{
    width: 1.25rem;
    display: block;
    float: left;
    height: .24rem;
    line-height: .24rem;
    font-size: .24rem;
    margin-top: .25rem;
    margin-left: .54rem;
    color: #b36279;
}
.one-input span{
    width: 4.03rem;
    height: 100%;
    border:1px solid #d3d9e5;
    border-radius: .2rem;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}
.one-input span input{
    display: block;
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    font-size: .24rem;
    margin-top: .19rem;
    padding-left: .33rem;
}
.one-input span input[placeholder]{
    line-height: .3rem;
}
.one-input span ::-webkit-input-placeholder{
    color: #a9b0bf;
}
.one-input-yz span input{
    width: 2.5rem;
}
.one-input-yz span a{
    width: 1.28rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    border: 1px solid #b36279;
    font-size: .2rem;
    color: #b36279;
    float: right;
    margin: .12rem .12rem 0 0;
    border-radius: .1rem;
}
.one-input-yz span a.active{
    background: #d3d6db;
    color: #fff;
    border:1px solid #d3d6db;
}
.zhuce{
    width: 3.17rem;
    height: .69rem;
    overflow: hidden;
    border-radius: .2rem;
    margin: .5rem auto .5rem;
}
.zhuce a{
    width: 100%;
    height: 100%;
    display: block;
    background: #b36279;
    color: #fff;
    font-size: .24rem;
    line-height: .71rem;
    text-align: center;
}
.huoquyanzhengma{
    width: 1.28rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    font-size: .2rem;
    color: #b36279;
    margin: .21rem 0 0 4.41rem;
    border-radius: .1rem;
    background: #d3d6db;
    color: #fff;
    border: 1px solid #d3d6db;
}
.baogaoye2-top{
    width: 100%;
    height: 2.93rem;
    overflow: hidden;
    background: url(../img/three-top.jpg) no-repeat;
    background-size: 100% auto;
}
.baogao-chuyuan{
    width: 5.70rem;
    height: auto;
    padding: .45rem 0;
    background: #fff;
    border-radius: .2rem;
    border: 1px solid #d3d9e5;
    margin: .48rem auto 0;
}
.baogao-chuyuan .one-input{
    margin:0;
}
.baogao-chuyuan .one-input b{
    margin-left:.27rem;
}
.baogao-dengji{
    margin-top: 1.15rem;
}
.baby-xuanze-top{
    width: 100%;
    height: 3.16rem;
    background: url(../img/one-top.jpg) no-repeat;
    background-size: 100% auto;
}
.baby-bt{
    width: 100%;
    height: .33rem;
    overflow: hidden;
    line-height: .35rem;
    font-size: .26rem;
    color: #a9b0bf;
    padding-left: .21rem;
    margin-top: .07rem;
}
.baby-bt img{
    display: block;
    float: left;
    width: .33rem;
    height: auto;
    margin-right: .09rem;
}
.baby-shuju{
    padding-left: .17rem; 
}
.baby-shuju img{
    width: .4rem;
}
.baby-xuanze{
    width: 5.7rem;
    height: auto;
    position: relative;
    margin-left: .36rem;
    border-left: 1px solid #d6dce7;
    margin-top: .07rem;
    padding: .25rem 0;
}
.baby-baby{
    width: 5.24rem;
    height: auto;
    padding:.08rem 0;
    background: #fff;
    border:1px solid #d6dce7;
    border-radius: .2rem;
    margin-left: .33rem;
}
.baby-baby span{
    display: block;
    width: 100%;
    height: .51rem;
    text-align: center;
}
.baby-baby span i{
    width: 1.5rem;
    height: 100%;
    display: inline-block;
    line-height: .53rem;
    text-align: center;
    color: #b36279;
    font-size: .23rem;
    margin:0 .11rem;
    border-radius: .25rem;
}
.baby-baby span i.active{
    background: #b36279;
    color: #fff;
    position: relative;
}
.baby-baby span i:nth-of-type(3).active:after{
    content: "";
    width: 0rem;
    height: 0rem;
    top:100%;
    left: .63rem;
    border-left: .125rem solid transparent;
    border-right: .125rem solid transparent;
    border-top: .1rem solid #b36279;
    position: absolute;
}
.baby-baby em{
    display: block;
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
    text-align: center;
    margin-top: .26rem;
}
.baby-baby em i{
    display: inline-block;
    margin:0 .3rem;
    width: 1.05rem;
    height: auto;
    position: relative;
}
.baby-baby em i img{
    display: block;
    width: 100%;
    height: auto;
}
.baby-baby em i b{
    width: 100%;
    display: block;
    text-align: center;
    height: .18rem;
    line-height: .18rem;
    font-size: .18rem;
    margin-top: .12rem;
}
.baby-baby em i.active:after{
    content: "";
    width: .42rem;
    height: .42rem;
    background: url(../img/yes.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top:.65rem;
    left: .69rem;
}
.baby-bsday{
    width: 5.24rem;
    height: auto;
    padding:.2rem 0 .2rem .35rem;
    background: #fff;
    border:1px solid #d6dce7;
    border-radius: .2rem;
    margin:.33rem 0 0 .7rem;
    position: relative;
}
.baby-bsday input{
    width: 100%;
    height: .35rem;
    line-height: .24rem;
    font-size: .24rem;
    color: #b36279;
    display: block;
}
.baby-bsday ::-webkit-input-placeholder{
    color: #b36279;
}
.riqi,.riqi-t{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top:0;
    left: 0;
    display: table;
}
.riqi span,.riqi-t span{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.riqi span em,.riqi-t span em{
    width: 4.96rem;
    height: auto;
    background: #f6f6f6;
    border-radius: .2rem;
    overflow: hidden;
    display: block;
    margin:0 auto;
    position: relative;
    padding-bottom: .96rem;
}
.riqi span em .queding-riqi a,.riqi-t span em .queding-riqi a{
    margin:0 .35rem;
}
.riqi-xuanze{
    width:100%;
    overflow: hidden;
    height: 130px;
    text-align: center;
    margin:20px 0;
    padding:40px .7rem 0;
}
.riqi-xuanze .riqi-span{
    display: block;
    width: 50%;
    height: 50px;
    float: left;
    position: relative;
    border-top:1px dashed #e1e1e1;
    border-bottom:1px dashed #e1e1e1;
}
.riqi-xuanze .riqi-span:nth-of-type(1){
    width: 0;
    opacity: 0;
}
.riqi-xuanze .riqi-span .ri-z{
    width: 100%;
    height: auto;
    /*transition:all .2s ease;*/
    /*transform: translate3d(0px, 0px, 0px);*/
}
.riqi-xuanze .riqi-span .ri-z .hi-z{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #a0a0a0;
}
.riqi-xuanze .riqi-span .ri-z .hi-z,.riqi-xuanze .riqi-span{
    height: 50px;
    line-height: 50px;
}
.riqi-xuanze .riqi-span .ri-z .hi-z.active{
    font-size:25px;
}
.riqi-xuanze .riqi-span .ri-z .act{
    color:#000;
}

.chusheng-riqi{
    width: 100%;
    height: .77rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    color: #b26279;
}
.chushengcen-riqi{
    width: 4.3rem;
    height: auto;
    font-size: .24rem;
    color: #666;
    line-height:.33rem;
    padding-top: .15rem;
    border-top:1px dashed #e1e1e1;
    margin:0 auto;
    margin-bottom: .2rem;
}
.queding-riqi{
    width: 100%;
    background: #fff;
    height: .96rem;
    position: absolute;
    left: 0;
    bottom:0;
    padding-top: .25rem;
    text-align: center;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.queding-riqi a{
    width: 1.57rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    font-size: .24rem;
    color: #b26279;
    border:1px solid #b26279;
    margin:0 .1rem;
    display: inline-block;
    border-radius: .1rem;
}
.queding-riqi a:nth-of-type(1){
    color: #fff;
    background: #b26279;
}
.riqi-bt{
    display: block;
    width: 1.6rem;
    height: .26rem;
    line-height: .26rem;
    font-size: .26rem;
    margin:.29rem auto 0;
    position: relative;
    text-align: center;
    color: #b26279;
    font-family: "微软雅黑";
}
.riqi-bt:before{
    content: "";
    width: .74rem;
    height: 1px;
    background: #b26279;
    position: absolute;
    top:.12rem;
    left:-.74rem;
}
.riqi-bt:after{
    content: "";
    width: .74rem;
    height: 1px;
    background: #b26279;
    position: absolute;
    top:.12rem;
    left:100%;
}
.yue-ri{
    width: 100%;
    height: .43rem;
    margin-top: .33rem;
    text-align: center;
}
.yue-ri i{
    display: inline-block;
    width: .43rem;
    height: .43rem;
    background: #b26279;
    color: #fff;
    text-align: center;
    line-height: .44rem;
    border-radius: 50%;
    margin:0 .7rem;
    font-size: .24rem;
}
.baogao-bt{
    width: 100%;
    height: .3rem;
    color: #b26279;
    font-size: .3rem;
    line-height: .3rem;
    text-align: center;
    margin-top: .32rem;
}
.baogao-zuzhi{
    width: 100%;
    height: .22rem;
    color: #666;
    font-size: .22rem;
    line-height: .22rem;
    text-align: center;
    margin-top: .16rem;
}
.baogao-banner{
    width: 100%;
    height: 2.21rem;
    background: url(../img/pingfen.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
    margin-top: .2rem;
}
.baogao-banner span{
    font-size: .25rem;
    color: #b26279;
    width: 100%;
    height: .25rem;
    line-height: .25rem;
    padding-left: .35rem;
    margin-top: .2rem;
    display: block;
}
.baogao-banner span em{
    font-size: .5rem;
    margin-right: .02rem;
}
.baogao-banner i{
    display: block;
    width: 5.7rem;
    margin:.84rem auto 0;
    height: .07rem;
    background: #b0c4d5;
    position: relative;
}
.baogao-banner i b{
    width: 60%;
    height: 100%;
    display: block;
    position: relative;
    background: #b36279;
}
.baogao-banner i .zuobiao{
    width: .30rem;
    height: .42rem;
    display: block;
    position: absolute;
    background: url(../img/zuobiao.png) no-repeat;
    background-size: 100% auto;
    top:.04rem;
    left:0;
    color: #b36279;
    font-size: .18rem;
    line-height: .2rem;
    padding-top: .18rem;
    text-align: center;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);

    -webkit-transition:left 3s linear;
    -moz-transition:left 3s linear;
    -ms-transition:left 3s linear;
    -o-transition:left 3s linear;
    transition:left 3s linear;

}
.fayu-fenwei{
    width: 100%;
    height: .28rem;
    line-height: .28rem;
    font-size: .28rem;
    margin-top: .25rem;
}
.ff-color{
    color: #b26279;
}
.fayu-fenwei span{
    display: block;
    float: left;
    height: 100%;
    width: 1.85rem;
    text-align: center;
}
.fayu-fenwei i{
    display: block;
    float: left;
    height: 100%;
    width: 2.2rem;
}
.fayu-shuoming{
    width: 5.74rem;
    border-top: 1px dashed #e0dee7;
    height: auto;
    padding: .2rem .1rem 0;
    line-height: .36rem;
    font-size: .22rem;
    color: #a9b0bf;
    margin: .27rem auto 0;
}
.zhuce-auto{
    width: 4rem;
    height: auto;
    overflow: hidden;
    border-radius: .2rem;
    margin: .5rem auto .5rem;
}
.zhuce-auto a{
    width: 100%;
    height: auto;
    display: block;
    background: #b36279;
    font-size: .24rem;
    padding: .08rem 0 .14rem;
}
.zhuce-auto a p{
    display: block;
    line-height: .24rem;
    width: 100%;
    height: .24rem;
    text-align: center;
    color: #fff;
    margin-top: .07rem;
}
.baogao-zban{
    width: 100%;
    height: 1.19rem;
    background: url(../img/two.jpg) no-repeat;
    background-size: 100% auto;
}
.chuyuan-baogao{
    margin-top: .6rem;
}
.achuyuan-baogao{
    margin-top: 1.07rem;
}
.zhucechenggong-top{
    width: 100%;
    height: 3.38rem;
    background: url(../img/chenggong.jpg) no-repeat;
    background-size: 100% auto;
}
.zhucechenggong-cen{
    width: 100%;
    height: auto;
    padding-top: .4rem;
    text-align: center;
    font-size: .24rem;
    line-height: .52rem;
    color: #a9b0bf;
}
.zhucechenggong-cen span{
    font-size: .3rem;
    color: #666666;
}
.zhucechenggong{
    margin-top: 0.8rem;
}
.baby-tizhong ::-webkit-input-placeholder{
    color: #b26279;
}
.baby-tizhong input{
    width: 60%;
    display: block;
}
.baby-tizhong .bc{
    width: 1rem;
    text-align: right;
    font-size: .24rem;
    height: .24rem;
    float: right;
    color: #a9b0bf;
    margin-right: .3rem;
}
.baby-xuanze .baby-tizhong{
    margin:0 0 0 .33rem;
}
.baby-chusheng-tishi{
    width: 5.1rem;
    height: auto;
    font-size: .22rem;
    color: #a9b0bf;
    line-height:.36rem;
    margin:.2rem 0 0 .8rem;
    letter-spacing: .02rem;
}
.baby-shuangtai-top{
    width: 100%;
    height: 3.16rem;
    background: url(../img/shuangtai.jpg) no-repeat;
    background-size: 100% auto;
}
.baby-shuangwa{
    width: 2.5rem;
    float: left;
}
.baby-shuangwa input{
    width: 1.25rem;
    float: left;
}
.baby-shuangwa .bc{
    width: .53rem;
    float: left;
    margin:0;
}
.baby-shuangwa{
    position: relative;
}
.baby-shuangwa i{
    display: block;
    position: absolute;
    height: .28rem;
    width: .59rem;
    border-radius: .12rem;
    text-align: center;
    line-height: .29rem;
    font-size: .18rem;
    color: #fff;
    top:-.14rem;
    right: .2rem;
    background: #b26279;
}
.zhongliang-shuangbao{
    width: 100%;
    height: auto;
    padding-left: .37rem;
}
.zhongliang-shuangbao .baby-shuangwa{
    margin-left:.33rem;
}
.ruyuandengji-top{
    width: 100%;
    height: 
}
.ruyuandengji-top{
    width: 100%;
    height: 2.93rem;
    background: url(../img/hushi.png) no-repeat;
    background-size: 100% auto;
}
.ruyuandengji-cen{
    width: 5.7rem;
    height: auto;
    background: #fff;
    border:1px solid #d3d9e5;
    border-radius: .2rem;
    overflow: hidden;
    margin:.36rem auto 0;
}
.fu-mu{
    width: 100%;
    height: .51rem;
    margin-top: .25rem;
}
.fu-mu i{
    display: block;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}
.fu-mu i span{
    display: inline-block;
    width: 2.12rem;
    height: 100%;
    border-radius: .25rem;
    text-align: center;
    line-height: .53rem;
    color: #b26279;
    font-size: .24rem;
}
.fu-mu i:nth-of-type(2){
    border-left: 1px solid #d3d9e5;
}
.fu-mu i span.active{
    background: #b26279;
    color: #fff;
    position: relative;
}
.fu-mu i span.active:after{
    content: "";
    width: 0rem;
    height: 0rem;
    top: 100%;
    left: .935rem;
    border-left: .125rem solid transparent;
    border-right: .125rem solid transparent;
    border-top: .1rem solid #b36279;
    position: absolute;
}
.ruyuandengji-cen .baby-bsday{
    margin:.43rem auto 0;
    width: 4.88rem;
}
.baby-dangan-t{
    width: 100%;
    height: .2rem;
    line-height: .2rem;
    font-size: .2rem;
    color: #999999;
    padding-left: .7rem;
    margin:.23rem 0 .5rem;
}
.xiayibu{
    margin-top: 1rem;
}
.ruyuandengji-cen .one-input b{
    margin-left: .3rem;
    width: 1.2rem;
}
.ruyuandengji-cen .one-input span{
    width: 3.8rem;
}
.ruyuandengji2-cen{
    padding-bottom: .35rem;
}
input[placeholder]{
    line-height: .33rem;
}
.top{
    width: 100%;
    height: 1.06rem;
    position: relative;
    background: #fdf5f0;
    border-bottom: 1px solid #f6e6da;
    overflow: hidden;
}
.top b{
    display: block;
    width: 100%;
    height: auto;
    line-height: .25rem;
    font-size: .25rem;
    margin-top: .455rem;
    text-align: center;
    color: #b36279;
}
.top-left{
    display: block;
    width: .18rem;
    height: .32rem;
    position: absolute;
    left: .2rem;
    top: .415rem;
    background: url(../img/top-left.png) no-repeat;
    background-size: 100% auto;
}
.ChuYuanMingXi-cen{
    width: 100%;
    height: auto;
}
.ChuYuanMingXi-cen span{
    display: block;
    width: 100%;
    height: 1.63rem;
    overflow: hidden;
    position: relative;
}
.ChuYuanMingXi-cen span:nth-child(2n){
    background: #f4f4f4;
}
.ChuYuanMingXi-cen span em{
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.ChuYuanMingXi-cen .c-name{
    width: 100%;
    height: .25rem;
    line-height: .25rem;
    font-size: .26rem;
    margin-top: .46rem;
}
.ChuYuanMingXi-cen .c-name b{
    display: block;
    width: 1.51rem;
    height: 100%;
    padding-left: .36rem;
    float: left;
}
.ChuYuanMingXi-cen .c-name i{
    display: inline-block;
    position: relative;
    width: auto;
    height: .33rem;
    padding: .08rem .13rem 0;
    line-height: .18rem;
    font-size: .22rem;
    color:#6bade5;
    border:1px solid #6bade5;
    border-radius: .1rem;
    box-shadow: 0 0 2px #6bade5;
    top: -.07rem;
}
.ChuYuanMingXi-cen .r-time{
    margin-top: .34rem;
    width: 100%;
    padding-left: .36rem;
    font-size: .22rem;
    line-height: .22rem;
    color: #666;
}
.ChuYuanMingXi-cen .s-time{
    width: 100%;
    height: .22rem;
    line-height: .22rem;
    font-size: .22rem;
    text-align: right;
    padding-right: .36rem;
    margin-top: .71rem;
    color: #999;
}
.ChuYuanMingXi-cen .s-time i{
    position: relative;
    display: inline-block;
    margin-left: 0.05rem;
    height: 100%;
}
.ChuYuanMingXi-cen .s-time .boy{
    width: .36rem;
}
.ChuYuanMingXi-cen .s-time .girl{
    width: .34rem;
}
.ChuYuanMingXi-cen .s-time i:after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
}
.ChuYuanMingXi-cen .s-time .boy:after{
    width: .36rem;
    height: .51rem;
    background: url(../img/baby-boy.png) no-repeat;
    background-size: 100% auto;
    top:-.14rem;
}
.ChuYuanMingXi-cen .s-time .girl:after{
    width: .34rem;
    height: .53rem;
    background: url(../img/baby-girl.png) no-repeat;
    background-size: 100% auto;
    top:-.16rem;
}
.foot-as{
    width: 100%;
    height: .85rem;
    position: relative;
}
.foot-as a{
    width: 100%;
    height: .85rem;
    text-align: center;
    line-height: .28rem;
    font-size: .28rem;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    background: #b36279;
    padding-top: .29rem;
}
.ruyuan-chuyuan{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.ruyuan-chuyuan span{
    width: 2.22rem;
    height: .79rem;
    position: relative;
    top: .27rem;
    margin:0 .41rem;
    text-align: center;
    display: inline-block;
    line-height: .25rem;
    font-size: .25rem;
    padding-top: .32rem;
    color: #b36279;
}
.ruyuan-chuyuan span.active{
    background: #fff;
    border: 1px solid #f6e6da;
    border-bottom: 1px solid #fff;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
.ruyuan-chuyuan span.active:after{
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top:100%;
}
.JinRiChuYuan .c-name{
    margin-top: .71rem;
}
.JinRiRuYuan .chanfu-jiashu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 1.05rem;
    padding-top: .62rem;
}
.JinRiRuYuan .chanfu-jiashu p{
    width: 100%;
    display: block;
    height: .19rem;
    font-size: .20rem;
    line-height: .19rem;
    margin-bottom: .27rem;
    color: #999;
}
.JinRiRuYuan .r-time i{
    display: inline-block;
    width: .22rem;
}
.JinRiRuYuan span.active:after{
    content: "";
    width: 1.18rem;
    height: .59rem;
    background: url(../img/out-y.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    right:1.26rem;
    top:.57rem;
    z-index: 10;
}
.ruyuan-chuyuan-weichuyuan{
    padding-left: .23rem;
}
.ruyuan-chuyuan-weichuyuan span{
    margin:0;
    width: 1.98rem;
    position: relative;
    display: block;
    float: left;
}
.ruyuan-chuyuan-weichuyuan span.active{
    overflow: hidden;
}
.ruyuan-chuyuan-weichuyuan span em{
    display: block;
    position: absolute;
    top:.25rem;
    right:-3px;
    height: .32rem;
    width: 2px;
    border-left:1px solid #e3c1c6;
    border-right:1px solid #b36279;
}
.TongJi-bt{
    width: 100%;
    height: .99rem;
    font-size: .26rem;
    line-height: .28rem;
    padding:.4rem .4rem 0;
    background: #fff;
}
.TongJi-bt span{
    display: block;
    float: right;
    width: 50%;
    height: auto;
    text-align: right;
}
.ChuYuanMingXi-cen .a-tab{
    width: 100%;
    height: auto;
    padding:0 .33rem;
}
.ChuYuanMingXi-cen .a-tab .a-tab-cell{
    vertical-align: middle;
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #e1e1e1;
    background: url(../img/cen-right.png) no-repeat;
    background-position: 5.23rem .4rem;
    background-size: .13rem auto;
    overflow: hidden;
    display: block;
}
.ChuYuanMingXi-cen .a-tab .a-tab-cell b{
    color: #999;
    margin-left: .25rem;
    float: left;
}
.ChuYuanMingXi-cen .a-tab .a-tab-cell em{
    float: right;
    color: #5b9ed8;
    margin-right: .77rem;
    text-align: right;
}
.ChuYuanMingXi-cen .a-tab .a-tab-cell em,
.ChuYuanMingXi-cen .a-tab .a-tab-cell b{
    width: 40%;
    height: .22rem;
    line-height: .22rem;
    font-size: .26rem;
    display: block;
    margin-top: .4rem;
}
.JinRiChuYuan .TongJi-bt,.JinRiRuYuan .TongJi-bt{
    font-size: .3rem;
}
.JinRiChuYuan .TongJi-bt span,.JinRiRuYuan .TongJi-bt span{
    font-size: .2rem;
    color: #666;
}
.JinRiChuYuan .TongJi-bt span i,.JinRiRuYuan .TongJi-bt span i{
    color: #b36279;
    font-size: .3rem;
    margin-right: .1rem;
}
.JinRiRuYuan .a-tab .a-tab-cell{
    height: 1.23rem;
    background-position: 5.53rem .55rem;
}
.JinRiRuYuan .a-tab .a-tab-cell b{
    width: 1rem;
    margin-left: .2rem;
    color: #666;
    margin-top: .55rem;
}
.JinRiRuYuan .a-tab .a-tab-cell i{
    display: block;
    float: left;
    width: 3.3rem;
    height: .44rem;
    margin-top: .44rem;
}
.JinRiRuYuan .a-tab .a-tab-cell i p{
    display: block;
    height: 100%;
    background: #dde5ed;
    border:1px solid #c7d4df;
}
.JinRiRuYuan .a-tab .a-tab-cell em{
    width: 1rem;
    color: #666;
    margin-top: .55rem;
    margin-right: 0;
    padding-right: .45rem;
}
.JinRiRuYuan .a-tab a.active b,.JinRiRuYuan .a-tab a.active em{
    color: #5b9ed8;
}
.JinRiRuYuan .a-tab div.a-tab-cell{
    background: none;
}
.JinRiRuYuan .a-tab div.a-tab-cell em{
    background: url(../img/y-nodown.png) no-repeat top right;
    background-size: auto 100%;
    height: .34rem;
    line-height: .36rem;
    margin-top: .49rem;
}
.JinRiRuYuan .a-tab div.a-tab-cell b{
    width: 2.24rem;
}
.JinRiRuYuan .a-tab div.a-tab-cell i{
    width: .34rem;
    height: .34rem;
    border:none;
    background: url(../img/y-yes.png) no-repeat;
    background-size: 100% auto;
    margin-top: .5rem;
}
.JinRiChuYuan .a-tab .a-tab-cell i{
    height: auto;
    margin-top: .23rem;
}
.JinRiChuYuan .a-tab .a-tab-cell i p{
    margin-bottom: .17rem;
    position: relative;
    height: .34rem;
}
.JinRiChuYuan .a-tab .a-tab-cell i p:nth-of-type(2){
    background: #d0eae1;
    border:1px solid #bad9ce;
}
.JinRiChuYuan .a-tab .a-tab-cell i p em{
    display: block;
    position: absolute;
    top:0;
    left:100%;
    margin:0;
    padding: 0;
    line-height: .34rem;
    text-align: left;
    padding-left: .1rem;
    color: #999;
    font-size: .18rem;
}
.riqi-k{
    width: 0;
    height: 0;
    opacity: 0;
}
.date{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
}
.JinRiRuYuan .a-tab div.ruyuanem em{
    width: 2.5rem;
    background: none;
    padding-right: .1rem;
}
.JinRiRuYuan .a-tab div.ruyuanem em i{
    width: auto;
    height: auto;
    border: none;
    background: none;
    margin: 0;
    display: inline;
    float: none;
    font-size: .2rem;
    margin-left: .05rem;
}
.JinRiRuYuan .a-tab div.ruyuanem em i:nth-of-type(1){
    margin-right: .3rem;
    color: #6daee5;
}
.JinRiRuYuan .a-tab div.ruyuanem em i:nth-of-type(2){
    color: #6dc6a7;
}
.baogao2-pingce{
    width: 1.64rem;
    height: .2rem;
    font-size: .2rem;
    line-height: .2rem;
    margin-top: .3rem;
    padding-right: .1rem;
    text-align: right;
    color: #999;
    position: relative;
}
.baogao2-pingce{
    width: 1.64rem;
    height: .2rem;
    font-size: .2rem;
    line-height: .2rem;
    margin-top: .2rem;
    padding-right: .1rem;
    text-align: right;
    color: #999;
    position: relative;
}










