/* 通用样式 */
html,body,div,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,hr,em{margin:0;padding:0;}
body{color:#a0a0a0;-webkit-text-size-adjust:none; font-family:"Microsoft YaHei";}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none; color:#646464; font-size:12px;}
ul,ol{list-style:none outside;}
table {border-collapse: collapse;vertical-align: middle;border-spacing: 0;empty-cells: show}
table th,table td{ vertical-align:middle; text-align:center;}
:focus,:active {outline: none}

.wP100{width:100%;}
.po{overflow:hidden;zoom:1;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.db{display:block;}
.dn{display:none;}
.clf:after{content:" ";display:block;height:0;visibility:hidden;clear:both;}
.clf{*zoom:1;}
.clear{clear:both;}
.pie{position:relative;z-index:100;}

.mt0{margin-top:0 !important;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}
.mt65{margin-top:65px;}
.mt200{margin-top:200px;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml55{margin-left:55px;}
.ml60{margin-left:60px;}

.sk-bgw{ background-color:#fff;}
.sk-red{ color:#df6463;}
.sk-bdb{ border:1px solid #5999e4;}
.sk-bgg{ background-color:#d6efff;}
.sk-bgg2{ background-color:#e7ffcd;}

.pc_sk_bgr{ background-color:#f2f2f2;}

.wj-prompt{ text-align:center; height:0; position:fixed;top:50%; left:0; width:100%; z-index:2000;}
.wj-prompt .inn-box{ margin:0 auto; display:inline-block;*display:inline;zoom:1; padding:5px 15px; font:16px/20px "Microsoft YaHei"; color:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:rgba(0,0,0,0.7);}
/*复制插件*/
#zclip-ZeroClipboardMovie_1{ cursor:pointer;}


