@charset "utf-8";
/* CSS Document */
@media screen and (min-width:770px){
.pc_w1010{ width:1010px; margin:0 auto;}
/*本科专业查询*/
.pro_inquiryw{position:relative;}
.pro_inquiry{ height:480px; background:url(../img/ht_bigbg.png) no-repeat center center; background-size:100%; margin:40px auto; }
.pro_inquiryw ul{position:absolute; left:100px; top:60px;}
.pro_inquiryw ul p.tit{ width:205px; font:bold 24px/25px 'Microsoft Yahei'; color:#fff; background:url(../img/ht_titbg.png) no-repeat center center; background-size:100%;text-align:center; margin-bottom:30px;}
.pro_inquiryw ul li{ width:173px; height:39px; background:url(../img/ht_listbg.png) no-repeat center center;background-size:100%; text-align:center; margin-bottom:20px; margin-left:17px;}
.pro_inquiryw ul li a{font:bold 15px/39px 'Microsoft Yahei'; color:#fff; display:block;}
.pro_inquiryw ul li:hover{background:url(../img/ht_listbg_hover.png) no-repeat center center;background-size:100%;}
.pro_inquiryw ul li:hover a{ color:#0099ff;}

/*学科体系查询*/
.pro_classification{ background:#f2f2f2;border-radius:15px; margin-top:40px; padding-bottom:10px; margin-bottom:70px;}
.pro_classification .maintit{ float:left; width:257px; height:58px; background:url(../img/ht_pro_classification.png) no-repeat center center; background-size:100%; padding-top:20px; margin-left:-11px; font:bold 21px/24px 'Microsoft Yahei'; color:#fff; text-align:center;}
.pro_classification .ht_prodbtn{ float:right; width:119px; height:24px; background:url(../img/ht_prodbtn.png) no-repeat center center; background-size:100%;font:bold 12px/24px 'Microsoft Yahei'; color:#fff; text-indent:45px; margin:16px 60px 0 0;}
.pro_classification .content{ width:890px; padding:40px 52px 40px 56px; margin:-25px auto 0; background:#fff;}
.pro_classification .content .top .tit{ width:265px; height:35px; background:#7fccff;font:bold 15px/35px 'Microsoft Yahei'; color:#fff; text-align:center;}
.pro_classification .content .top .mr{ margin-right:47px;}
.pro_classification .content .topl{ float:left;}
.pro_classification .content .topm{ float:left;}
.pro_classification .content .topr{ float:left;}
.pro_classification .content .top{ border-bottom:1px dashed #b2baba; margin-bottom:25px;}
.pro_classification .content .top ul{ width:240px; padding:33px 0 10px 25px;}
.pro_classification .content .top ul li{ float:left; width:120px; margin-bottom:15px;}
.pro_classification .content .top ul li img{width:28px; height:28px;vertical-align:middle;}
.pro_classification .content .top ul li a{display:inline-table;height:28px;font:normal 15px/28px 'Microsoft Yahei'; color:#98a3a3; margin-left:10px;vertical-align:middle;}
.pro_classification .content .top ul li:hover a{ color:#FFD477;}
.pro_classification .content .bottom{ width:100%; background:#f8f8f8;}
.pro_classification .content .bottom_tit{ width:100%; height:36px; background:#7cc8fc; }
.pro_classification .content .bottom_tit img{ vertical-align:middle; margin-left:25px; margin-right:10px; width:28px; height:28px;}
.pro_classification .content .bottom_tit span{font:bold 15px/36px 'Microsoft Yahei'; color:#fff; vertical-align:middle;}
.pro_classification .content .bottom_con p{font:normal 15px/60px 'Microsoft Yahei'; color:#0099ff; padding-left:40px; margin-top:7px;}
.pro_classification .content .bottom_con ul{ padding-bottom:11px; width:820px; margin:0 auto;}
.pro_classification .content .bottom_con ul.borderx{ border-bottom:1px dashed #c5cbcb;}
.pro_classification .content .bottom_con ul li{ float:left; width:148px; height:35px; border:2px solid #7cc8fc; text-align:center;border-radius:10px; margin-right:70px; background:#fff; margin-bottom:18px;}
.pro_classification .content .bottom_con ul li:nth-child(4n){margin-right:0;}
.pro_classification .content .bottom_con ul li a{font:normal 14px/35px 'Microsoft Yahei'; color:#98a3a3;}
.pro_classification .content .bottom_con ul li:hover{ background:#7cc8fc;}
.pro_classification .content .bottom_con ul li:hover a{ color:#ffffff;}
.pro_classification .content .bottom_con .line{ display:none;}

/*学科体系查询-详情*/
.content-details{width:890px; margin:-25px auto 0; padding:45px 55px; background:#fff;}
.content-details .details_top{height:126px; background:#ffe7b2; margin-bottom:45px;padding:32px 0 0 122px;}
.content-details .details_top table tr td p{ width:280px; height:30px; background:#fff; border:1px dashed #7fccff;border-radius:10px; font:bold 15px/30px 'Microsoft Yahei'; color:#98a3a3; text-align:center; margin-right:77px; margin-bottom:26px;}
.content-details .details_top table tr td p span{font:normal 15px/30px 'Microsoft Yahei'; color:#98a3a3;}
.content-details .details_con{border-bottom:1px dashed #ccd1d1; margin-bottom:25px;}
.content-details .details_con .details_con_tit{ width:100%; height:35px; background:#f2f2f2;}
.content-details .details_con .details_con_tit span{ font:bold 15px/35px 'Microsoft Yahei'; color:#ffffff; background:#0099ff; display:inline-block; position:relative; min-width:60px; padding:0 25px; text-align:center;}
.content-details .details_con .details_con_tit span img{ position:absolute;bottom:-8px; left:50%; margin-left:-9px;}
.content-details .details_con .details_con_main{ margin-top:20px; margin-bottom:10px;}
.content-details .details_con .details_con_main p{ font:normal 12px/28px 'Microsoft Yahei'; color:#7c7c7c;}
.content-details .details_con .details_con_main p span{font:bold 12px/28px 'Microsoft Yahei'; color:#7c7c7c;}
.content-details .details_con .details_con_main .mainobj img{ margin-right:10px; vertical-align:bottom; width:45px; height:45px;}
.content-details .details_con .details_con_main .mainobj span{font:bold 15px/25px 'Microsoft Yahei'; color:#FFD477;}
.content-details .details_con .details_con_main .myd{ margin-left:15px;}
.content-details .details_con .details_con_main .myd .percentBox{width:96px; height:96px; position:relative;}
.content-details .details_con .details_con_main .myd .percentBox .pertxt{width:96px;height:96px;line-height:96px;position:absolute;margin-top:-96px;text-align:center;color:#0099ff;font-size:14px;font-family:'Microsoft Yahei'; font-weight:bold;}

/*课程体系*/
.tutorials{width:890px; margin:-25px auto 0; padding:45px 52px; background:#fff;}
.tutorials .tutorials_top{ width:100%; height:80px; background:#fff7e5; padding-top:25px;}
.tutorials .tutorials_top img{ width:72px; height:50px; margin-left:40px; margin-right:25px;}
.tutorials .tutorials_top p{ font:normal 12px/25px 'Microsoft Yahei'; color:#7c7c7c;}
.tutorials .tutorials_con{ margin-top:50px;}
.tutorials .tutorials_con ul li{ float:left; width:410px; margin-right:65px; margin-bottom:25px;}
.tutorials .tutorials_con ul li:nth-child(2n){ margin-right:0;}
.tutorials .tutorials_con ul li .tutorials_con_tit{border-bottom:2px solid #f4f4f4;} 
.tutorials .tutorials_con ul li .tutorials_con_tit span.word{ font:normal 15px/25px 'Microsoft Yahei'; color:#0099ff; vertical-align:bottom; display:inline-block; margin-bottom:10px;}
.tutorials .tutorials_con ul li:hover .tutorials_con_tit span.linebottom{ border-bottom:2px solid #feb81f;}
.tutorials .tutorials_con ul li:hover .tutorials_con_tit span.word{ color:#feb81f;}
.tutorials .tutorials_con ul li .tutorials_con_tit img.title{ vertical-align:bottom; width:47px; height:47px; margin-right:10px; margin-bottom:10px;}
.tutorials .tutorials_con ul li .tutorials_con_tit img.suffixes{ vertical-align:bottom; width:15px; height:12px; margin-right:10px; margin-bottom:16px; margin-left:5px;}
.tutorials .tutorials_con ul li .tutorials_con_con p{ font:normal 12px/25px 'Microsoft Yahei'; color:#7c7c7c;}

/*课程体系-详情*/
.tutorials_details{width:890px; margin:-25px auto 0; padding:45px 33px; background:#fff;}
.tutorials_details p{ font:bold 15px/30px 'Microsoft Yahei'; color:#848484;margin-bottom:25px;}
.tutorials_details p img{ vertical-align:middle; margin-right:10px; width:28px; height:28px;}
.tutorials_details p span{font:bold 15px/30px 'Microsoft Yahei'; color:#848484;vertical-align:middle; }
.tutorials_details .formtable{ margin-bottom:35px;}
.tutorials_details table{ width:100%;}
.tutorials_details table tr td{ border:1px solid #9e9e9e;}
.tutorials_details table tr td{font:normal 14px/30px 'Microsoft Yahei'; color:#848484; text-align:center;}
.tutorials_details table tr td .wj-bl-link{ color:#0099FF;
}
.tutorials_details table thead tr{ background:#e5f5ff;}
.tutorials_details_hover:hover table thead tr{background:#FFF7E5;}
.tutorials_details_hover:hover p span{ color:#0099FF;}

/*关键字*/
.keyword{height:465px; background:url(../img/ht_keywordbg.png) no-repeat center center; background-size:100%; margin:45px auto 75px;}
.keyword .ht_prodbtn{ float:right; width:119px; height:24px; background:url(../img/ht_prodbtn.png) no-repeat center center; background-size:100%;font:bold 12px/24px 'Microsoft Yahei'; color:#fff; text-indent:45px; margin:15px 65px 0 0;}
.queriesbg{width:678px; height:220px; background:url(../img/ht_queriesbg.png) no-repeat center center; background-size:100%; position:absolute; bottom:-22px; left:50%; margin-left:-339px;}
.queriesbg p.tit{ width:165px;  font:bold 24px/25px 'Microsoft Yahei'; color:#fff; background:url(../img/ht_titbgkeyword.png) no-repeat center center; background-size:100%;text-align:center; margin:25px auto;}
.queriesbg .search_box{ width:491px; height:48px; background:url(../img/ht_searchboxbg.png) no-repeat center center; margin:0 auto;background-size:100%;}
.queriesbg .search_box .box{ width:407px; color:#b9b9b9;height:46px; border:none;vertical-align:middle; font:normal 18px/46px 'Microsoft Yahei';  text-indent:20px; background:none;}
.queriesbg .search_box .btn{ width:77px; height:46px;border:none; background:none;vertical-align:middle;}

.keyword_bottom{ border-top:2px solid #ffaf00; position:relative; padding-top:55px; margin-bottom:40px;}
.keyword_bottom .yellowjh{ position:absolute; left:50%; top:0px; margin-left:-13px; width:26px;}
.keyword_bottom tr td{ border:1px solid #b0b0b0;}
.keyword_bottom tr td.tit{ background:#f2f2f2;font:bold 15px/70px 'Microsoft Yahei'; color:#a0a0a0; text-align:center;border-right:none; width:25%;}
.keyword_bottom tr td.con{ background:#fff;font:normal 12px/25px 'Microsoft Yahei'; color:#7c7c7c; text-align:left; padding:0 40px 0 50px; position:relative; border-left:none; width:75%;}
.keyword_bottom tr td.con .jjh{ position:absolute; left:0; top:50%; margin-top:-9px; background:url(../img/ht_keywordtab.png) no-repeat; background-size:100%; width:9px; height:18px; display:inline-block;}
.keyword_bottom tr:hover td.tit{ background:#0099ff; color:#fff;}
.keyword_bottom tr:hover td.con{ background:#ccebff; color:#0099ff;}
.keyword_bottom tr:hover td.con .jjh{background:url(../img/ht_keywordtabhover.png) no-repeat; background-size:100%;}
.keyword_bottom tr.hoverer td.tit{ background:#0099ff; color:#fff;}
.keyword_bottom tr.hoverer td.con{ background:#ccebff; color:#0099ff;}
.keyword_bottom tr.hoverer td.con .jjh{background:url(../img/ht_keywordtabhover.png) no-repeat; background-size:100%;}


/*高考详情*/
.gaokao_details_top{ height:128px; background:#ffe7b2; margin-bottom:45px;padding:30px 5px 0 25px;}
.gaokao_details_top table{ float:left; width:50%;}
.gaokao_details_top table tr td p{ height:30px; background:#fff; border:1px dashed #7fccff;border-radius:10px; font:bold 15px/30px 'Microsoft Yahei'; color:#98a3a3; text-align:center; margin-right:20px; margin-bottom:25px; padding:0 25px;}
.gaokao_details_top table tr td p span{font:normal 15px/30px 'Microsoft Yahei'; color:#98a3a3;}
.content-details .details_con .details_con_main li.bluetit{ font:bold 13px/30px 'Microsoft Yahei'; color:#0099ff; list-style:disc;}
.content-details .details_con .details_con_main p.subtit{ font-weight:bold;}
.content-details .details_con .details_con_main p.subtit span{ font-weight:normal;}
.content-details .details_con table tr td{ text-align:left;}
.content-details .details_con .details_con_main p.scale{font-weight:bold; width:110px; text-align:center; margin-top:20px; margin-bottom:10px;}
.dispc{ display:none;}
.content-details .details_con .details_con_main .myd_gaokao{ margin-left:15px;}
.content-details .details_con .details_con_main .myd_gaokao .percentBox{width:96px; height:96px; position:relative;}
.content-details .details_con .details_con_main .myd_gaokao .percentBox .pertxt{width:96px;height:96px;line-height:96px;position:absolute;margin-top:-96px;text-align:center;color:#0099ff;font-size:14px;font-family:'Microsoft Yahei'; font-weight:bold;}

/*走近专业*/
.professional ul{ width:580px; margin:20px auto 5px;}
.professional ul li{ width:100%; height:30px; margin-bottom:15px;border-radius:10px; background:url(../img/ht_listimg.png) no-repeat 40px center #f5f5f5; background-size:14px 17px; cursor:pointer;}
.professional ul li a{ float:left; font:normal 15px/30px 'Microsoft Yahei'; color:#969696; display:inline-block; padding-left:65px;}
.professional ul li span{background:url(../img/ht_jtimg.png) no-repeat left center; width:18px; height:18px; background-size:18px 18px; display:inline-block; float:right; margin-top:6px; margin-right:9px;}
.professional ul li:hover{background:url(../img/ht_listimg_hover.png) no-repeat 40px center #ccebff; background-size:14px 17px;}
.professional ul li:hover a{ color:#0099ff;} 
.professional ul li:hover span{background:url(../img/ht_jtimg_hover.png) no-repeat left center;background-size:18px 18px;}

/*走近专业详情*/
.professional_details{ padding:15px 10px 40px 15px;}
.professional_details .maintitle span{font:bold 21px/45px 'Microsoft Yahei'; color:#0099ff; background:url(../img/ht_jtimg_hover.png) no-repeat right center; background-size:21px 21px; padding-right:45px;}
.professional_details .subtitle{ font:normal 12px/28px 'Microsoft Yahei'; color:#c8c8c8; background:url(../img/ht_qqimg.png) no-repeat center left; padding-left:15px;background-size:13px 13px;}
.professional_details .outline{ font:normal 12px/20px 'Microsoft Yahei';color:#646464; margin-top:40px; margin-bottom:35px;}
.professional_details .professional_con{ margin-bottom:35px;}
.professional_details .professional_con .text_title{ border:2px dashed #ffbe00; height:30px;border-radius:10px; font:bold 16px/30px 'Microsoft Yahei'; color:#a0a0a0; text-indent:50px; margin-bottom:20px; position:relative;}
.professional_details .professional_con .text_title .order{ width:36px; height:37px; position:absolute; left:-6px; top:-3px; z-index:99;}
.professional_details .professional_con .text_con{font:normal 12px/20px 'Microsoft Yahei';color:#646464; margin-bottom:12px;}

/*关于我们*/
.about_us{ width:1014px; margin:0 auto 40px;}
.about_us .about_us_banner{ margin-top:40px;}
.about_us .about_us_banner img{ width:1014px;}
.about_us .main1{ width:100%; height:263px; background:#eeeeee; margin-top:10px;}
.about_us .main1 .picture{ float:left; width:271px; height:263px; background:url(../img/ht_mian1img.png) no-repeat; background-size:100%;}
.about_us .main1 .picture .chinesename{ font:bold 28px/35px 'Microsoft Yahei'; color:#fff; padding-top:78px; padding-left:32px;}
.about_us .main1 .picture .englishname{ font:bold 21px/35px 'Microsoft Yahei'; color:#66c2ff; padding-left:32px;}
.about_us .main1 .words{ padding:45px 45px 0 30px; float:left;}
.about_us .main1 .words p{ width:665px; font:normal 12px/24px 'Microsoft Yahei'; color:#646464; margin-bottom:10px;}
.about_us .main2{ margin-top:10px; position:relative;}
.about_us .main2 .picture .pic1{ width:258px; height:230px; float:left;}  
.about_us .main2 .picture .pic2{ width:508px; height:230px; float:right;} 
.about_us .main2 .orders{ position:absolute; left:258px; top:0; width:250px; height:245px; background:url(../img/ht_mian2img3.png) no-repeat; background-size:100%;}
.about_us .main2 .orders .chinesename{ font:bold 28px/35px 'Microsoft Yahei'; color:#fff; padding-top:100px; padding-left:25px;} 
.about_us .main2 .orders .englishname{ font:bold 21px/25px 'Microsoft Yahei'; color:#ffcf66; padding-left:25px; padding-top:10px;}
.about_us .main2 .words{ padding:55px 45px 65px 45px; background:#eeeeee;}
.about_us .main2 .words p{font:normal 12px/24px 'Microsoft Yahei'; color:#646464; margin-bottom:10px;}
.about_us .main3{ margin-top:10px; background:#EFEFEF;}
.about_us .main3 .top .picture1{ float:left; }
.about_us .main3 .top .picture1 img{width:744px; height:273px;}
.about_us .main3 .top .picture2{ float:right; width:270px; height:285px;background:url(../img/ht_mian3img2.png) no-repeat; background-size:100%;}
.about_us .main3 .top .picture2 .chinesename{ font:bold 28px/35px 'Microsoft Yahei'; color:#fff; padding-top:140px; padding-left:40px;}
.about_us .main3 .top .picture2 .englishname{ font:bold 21px/35px 'Microsoft Yahei'; color:#D0D0D0; padding-left:40px;}

.about_us .main3 .bottom{ padding:25px 45px 40px 50px;}
.about_us .main3 .bottom .bottomtit{font:bold 20px/35px 'Microsoft Yahei'; color:#99A2A2;}
.about_us .main3 .bottom .bottomtit span{font:bold 19px/60px 'Microsoft Yahei'; color:#FFAF00; display:inline-block;}
.about_us .main3 .bottom .bottomcon{font:normal 12px/20px 'Microsoft Yahei'; color:#646464; border-left:1px solid #99A2A2; padding-left:15px;}
.about_us .main3 .bottom table tr td{ text-align:left; vertical-align:middle;}
.about_us .main4{ margin-top:10px; background:#b1b1b1;}
.about_us .main4 .picture{ float:left; width:365px; height:206px; background:url(../img/ht_mian4img1.png) no-repeat; background-size:100%;}
.about_us .main4 .picture .chinesename{ font:bold 28px/35px 'Microsoft Yahei'; color:#fff; padding-top:83px; padding-left:50px;}
.about_us .main4 .picture .englishname{ font:bold 21px/35px 'Microsoft Yahei'; color:#ffcf66; padding-left:50px;}
.about_us .main4 .words{ float:left; width:649px; height:206px;background:url(../img/ht_mian4img2.png) no-repeat; background-size:100%;}
.about_us .main4 .words ul{ padding:35px 0 0 60px;}
.about_us .main4 .words ul li{ font:bold 15px/35px 'Microsoft Yahei'; color:#fff; background:url(../img/ht_mian4img3.png) no-repeat left center; background-size:14px 14px; padding-left:30px;}
.about_us .main4 .words ul li span{font:normal 12px/35px 'Microsoft Yahei'; color:#fff;}
.about_us .main5{ margin-top:10px;}
.about_us .main5 .picture{ float:left; width:351px; height:584px; background:url(../img/ht_mian5img1.png) no-repeat; background-size:100%;}
.about_us .main5 .picture .chinesename{ font:bold 28px/35px 'Microsoft Yahei'; color:#fff; padding-top:83px; padding-left:50px;}
.about_us .main5 .picture .englishname{ font:bold 21px/35px 'Microsoft Yahei'; color:#66c2ff; padding-left:50px;}
.about_us .main5 .words{ float:left; width:663px; height:584px;background:url(../img/ht_mian5img2.png) no-repeat; background-size:100%;}
.about_us .main5 .words ul{ padding:50px 60px 0 70px;}
.about_us .main5 .words ul li{ margin-bottom:10px;}
.about_us .main5 .words ul li p.main5_tit{ font:bold 15px/30px 'Microsoft Yahei'; color:#fff; padding-left:30px; border-bottom:2px dashed #d8d8d8; background:url(../img/ht_mian5img3.png) no-repeat left center; background-size:16px 16px;}
.about_us .main5 .words ul li p.main5_con{ font:bold 12px/22px 'Microsoft Yahei'; color:#fff; margin-top:5px;}
.about_us .main6{ margin-top:10px;}
.about_us .main6 .picture{ float:left; width:363px; height:198px; background:url(../img/ht_mian6img1.png) no-repeat; background-size:100%;}
.about_us .main6 .picture .chinesename{ font:bold 28px/35px 'Microsoft Yahei'; color:#fff; padding-top:83px; padding-left:50px;}
.about_us .main6 .picture .englishname{ font:bold 21px/25px 'Microsoft Yahei'; color:#d0d0d0; padding-left:50px; margin-top:10px;}
.about_us .main6 .words{ float:left; width:651px; height:198px;background:#efefef; position:relative;}
.about_us .main6 .words ul{ padding:45px 0 0 60px;}
.about_us .main6 .words ul li{ font:bold 15px/40px 'Microsoft Yahei'; color:#ffaf00; list-style:disc;}
.about_us .main6 .words ul li span{font:bold 15px/40px 'Microsoft Yahei';color:#a9a9a9;}
.about_us .main6 .words .picbg{ position:absolute; width:244px; height:201px; top:23px; right:15px; z-index:99;}
.about_us .main7{ margin-top:10px; position:relative; z-index:100;}
.about_us .main7 .main7_top{ width:100%; height:110px; font:bold 28px/110px 'Microsoft Yahei'; color:#fff; text-align:center; background:url(../img/ht_mian7img1.png) no-repeat center center #0099ff; background-size:451px 5px; position:relative;}
.about_us .main7 .main7_top img{ width:25px; height:15px; position:absolute; left:50%; bottom:-15px; margin-left:-12.5px;}
.about_us .main7 .main7_bottom{background:#f5f5f5; padding:35px 55px 40px 55px;}
.about_us .main7 .main7_bottom table tr td{ border:1px solid #939393; width:50%;}
.about_us .main7 .main7_bottom table thead tr td{ background:#ffaf00; font:bold 12px/35px 'Microsoft Yahei'; color:#fff; text-align:center;}
.about_us .main7 .main7_bottom table tbody tr td{ background:#f5f5f5; font:normal 12px/20px 'Microsoft Yahei'; color:#848484; text-align:center; padding:7.5px 0;}
.about_us .main8{ margin-top:10px;}
.about_us .main8 .main8_tit{ width:100%; height:55px; background:#f2f2f2;}
.about_us .main8 .main8_tit span{ display:inline-block; font:bold 24px/55px 'Microsoft Yahei'; color:#fff; padding:0 40px; background:#0099ff; position:relative;}
.about_us .main8 .main8_tit span img{ width:32px; height:14px; position:absolute; left:50%; bottom:-14px; margin-left:-16px;}
.about_us .main8 .main8_con{ border-bottom:1px dashed #98a3a3;}
.about_us .main8 .main8_con .main8_con_con{ padding:50px 60px 0 40px;} 
.about_us .main8 .main8_con .main8_con_con .top{ height:92px; overflow:hidden; margin-bottom:10px;}
.about_us .main8 .main8_con .main8_con_con .top p{ font:normal 12px/23px 'Microsoft Yahei'; color:#646464;}
.about_us .main8 .main8_con .main8_con_con .all{ text-align:right; font:bold 15px/15px 'Microsoft Yahei'; color:#0099ff; display:block; margin-bottom:20px; background:url(../img/ht_mian8img2.png) no-repeat right center; background-size:14px 13px; padding-right:20px; cursor:pointer;}

/*搜索结果页面*/
.wj-se-result{ width:928px; margin:34px auto 80px;}
.wj-se-result .wj-se-wrap{ margin-bottom:48px;}
.wj-se-wrap .wj-se-tit{ height:36px; padding:0 38px 0 40px; background:#0099ff;}
.wj-se-wrap .wj-se-tit h2{ float:left; display:inline; font:bold 15px/36px "Microsoft Yahei"; color:#fff;}
.wj-se-wrap .wj-se-tit .wj-more{ float:right; display:inline; font:15px/36px "Microsoft Yahei"; color:#ffaf00; padding-right:15px; background:url('../img/wj_r_bg.png') no-repeat right center; -webkit-background-size:8px 9px; background-size:8px 9px;}

.wj-se-wrap ul{ margin-top:20px;}
.wj-se-wrap ul li{ height:42px; padding:13px 55px 0 40px; text-align:right; font:14px/42px "Microsoft Yahei"; color:#7c7c7c; border-bottom:1px dashed #ffd780;}
.wj-se-wrap ul li a{ float:left; display:inline; font-weight:bold; color:#7c7c7c;}
.wj-se-wrap ul li:hover{ color:#ffaf00;}
.wj-se-wrap ul li:hover a{ color:#ffaf00;}
}
@media screen and (max-width:770px){
/*本科专业查询*/
.pro_inquiry{height:175px; background:url(../img/ht_bigbg_sj.png) no-repeat center center; background-size:100%; margin:10px auto 18px;}
.pro_inquiryw ul{ text-align:center; margin-bottom:10px;}
.pro_inquiryw ul p.tit{ font:bold 14px/15px 'Microsoft Yahei'; color:#0099ff; background:url(../img/ht_titbg_sj.png) no-repeat center center; background-size:100%; width:40%; margin:0 auto;}
.pro_inquiryw ul li{ width:110px; height:25px; background:url(../img/ht_listbg_sj.png) no-repeat;background-size:100%;  margin:15px auto 0; text-align:center;}
.pro_inquiryw ul li a{font:bold 9px/25px 'Microsoft Yahei'; color:#fff; margin-right:10px;}

/*学科体系查询*/
.pro_classification{ margin-top:10px; margin-bottom:20px;}
.pro_classification .maintitbg{ width:100%; height:20px; padding:5px 0; background:#f2f2f2;}
.pro_classification .maintit{ width:117px; height:20px; background:url(../img/ht_pro_classification_sj.png) no-repeat; background-size:100%; font:normal 9px/20px 'Microsoft Yahei'; color:#fff; text-align:center; float:left;}
.pro_classification .ht_prodbtn{ float:right; width:85px;background:url(../img/ht_prodbtn.png) no-repeat center center; background-size:100%;font:normal 9px/20px 'Microsoft Yahei'; color:#fff; text-indent:30px; margin-right:15px;}
.pro_classification .content{ width:100%;}
.pro_classification .content .top .tit{ height:30px; border-bottom:1px dashed #E6E8E8; font:bold 10px/30px 'Microsoft Yahei'; color:#0099FF; text-indent:13%;}
.pro_classification .content .top ul{ padding:10px 6% 10px 13%;}
.pro_classification .content .top ul li{ float:left; width:33.3%; margin-bottom:10px;}
.pro_classification .content .top ul li img{ vertical-align:middle; width:20px; height:20px; margin-right:6px;}
.pro_classification .content .top ul li a{font:normal 9px/12px 'Microsoft Yahei'; color:#98A3A3; vertical-align:middle;}
.pro_classification .content .bottom .bottom_tit{ width:100%; height:25px; background:#7FCCFF;}
.pro_classification .content .bottom .bottom_tit img{ vertical-align:middle; width:20px; height:20px; margin-right:6px; margin-left:6%; margin-top:2px;}
.pro_classification .content .bottom .bottom_tit span{font:bold 9px/20px 'Microsoft Yahei'; color:#fff; vertical-align:middle;}
.pro_classification .content .bottom_con p{font:normal 10px/30px 'Microsoft Yahei'; color:#32ACFE; text-indent:10%; margin-top:10px;}
.pro_classification .content .bottom_con ul{ padding:5px 5% 10px 10%;}
.pro_classification .content .bottom_con ul li{ width:42%; margin-right:10%; height:23px; border:1px solid #7FCCFF; float:left; text-align:center; margin-bottom:12px;border-radius:5px;}
.pro_classification .content .bottom_con ul li:nth-child(2n){ margin-right:0;}
.pro_classification .content .bottom_con ul li a{ display:inline-block;font:normal 9px/23px 'Microsoft Yahei'; color:#B9C1C1;}
.pro_classification .content .bottom_con ul li:hover{ background:#7FCCFF;}
.pro_classification .content .bottom_con ul li:hover a{ color:#fff;}
.pro_classification .content .bottom_con .line{ width:80%; margin:0 auto; border-bottom:1px dotted #E0E3E3;}

/*学科体系查询-详情*/
.content-details{ padding:0 6%;}
.content-details .details_top{ width:93%; height:60px;padding:20px 2% 10px 5%; background:#ffe7b2; margin-bottom:15px;}
.content-details .details_top table tr td{ float:left; width:45%; height:20px; margin-right:4%; border:1px dashed #7fccff;border-radius:7px; background:#fff; text-align:center; margin-bottom:10px;}
.content-details .details_top table tr td p{font:normal 9px/20px 'Microsoft Yahei'; color:#98a3a3; }
.content-details .details_con{ margin-bottom:10px;}
.content-details .details_con .details_con_tit{ width:100%; height:20px;background: #f2f2f2;}
.content-details .details_con .details_con_tit span{font:bold 10px/20px 'Microsoft Yahei';color:#ffffff;background:#0099ff;display:inline-block;position:relative; min-width:30px;padding:0 15px;text-align: center;}
.content-details .details_con .details_con_tit span img{position:absolute;bottom:-5px;left:50%;margin-left:-6px; width:12px;}
.content-details .details_con .details_con_main{ margin-top:15px;}
.content-details .details_con .details_con_main p{font:normal 9px/18px 'Microsoft Yahei';color:#7c7c7c;}
.content-details .details_con .details_con_main .mainobj img{ margin-right:8px; vertical-align:bottom; width:30px; height:30px;}
.content-details .details_con .details_con_main .mainobj span{font:bold 10px/15px 'Microsoft Yahei'; color:#FFD477;}
.content-details .details_con .details_con_main .myd{ margin-left:5px;}
.content-details .details_con .details_con_main .myd .percentBox{width:80px; height:80px; position:relative;}
.content-details .details_con .details_con_main .myd .percentBox .pertxt{width:80px;height:80px;line-height:80px;position:absolute;margin-top:-80px;text-align:center;color:#0099ff;font-size:12px;font-family:'Microsoft Yahei'; font-weight:bold;}

/*课程体系*/
.tutorials .tutorials_top{ width:100%; height:75px; background:#fff7e5; padding-top:15px;}
.tutorials .tutorials_top .left{ width:30%;}
.tutorials .tutorials_top .right{ width:70%;}
.tutorials .tutorials_top img{ width:50px; height:35px; margin-left:20px; margin-right:15px;}
.tutorials .tutorials_top p{ font:normal 9px/15px 'Microsoft Yahei';color:#858483;}
.tutorials .tutorials_con{ padding:0 4.5%;}
.tutorials .tutorials_con ul li{ width:100%; margin-top:21px;}
.tutorials .tutorials_con ul li .tutorials_con_tit{border-bottom: 2px solid #f4f4f4;}
.tutorials .tutorials_con ul li .tutorials_con_tit span.linebottom .title{vertical-align:bottom;width:35px;height:35px;margin-right:5px;margin-bottom:6px;}
.tutorials .tutorials_con ul li .tutorials_con_tit span.linebottom .word{font:normal 10px/15px 'Microsoft Yahei';color:#0099ff;vertical-align:bottom;
display:inline-block;margin-bottom: 10px;}
.tutorials .tutorials_con ul li .tutorials_con_tit span.linebottom .suffixes{vertical-align:bottom;width:10px;height:11px;margin-bottom:10px;margin-left:1px;}
.tutorials .tutorials_con ul li:hover .tutorials_con_tit span.linebottom{ border-bottom:2px solid #feb81f;}
.tutorials .tutorials_con ul li:hover .tutorials_con_tit span.word{ color:#feb81f;}
.tutorials .tutorials_con .tutorials_con_con p{font:normal 9px/15px 'Microsoft Yahei';color:#8D8D8D; margin-top:10px;}

/*课程体系-详情*/
.tutorials_details{ margin-left:12px;}
.tutorials_details .tutorials_details_hover p{ margin:15px 0 15px 5px;}
.tutorials_details .tutorials_details_hover p img{vertical-align:middle;margin-right:7px;width:20px;height:20px;}
.tutorials_details .tutorials_details_hover p span{font:bold 10px/20px 'Microsoft Yahei';color:#848484;vertical-align:middle;}
.tutorials_details .tutorials_details_hover:hover p span{ color:#0099FF;}
.tutorials_details table{ width:100%;}
.tutorials_details table tr td{ border:1px solid #9e9e9e;}
.tutorials_details table tr td{font:normal 9px/20px 'Microsoft Yahei'; color:#848484; text-align:center;}
.tutorials_details table thead tr{ background:#e5f5ff;}
.tutorials_details_hover:hover table thead tr{background:#FFF7E5;}
.tutorials_details_hover:hover p span{ color:#0099FF;}
.tutorials_details table tr td:nth-child(6){ display:none;}
.tutorials_details table tr td:nth-child(7){ display:none;}
.tutorials_details table tr td:nth-child(8){ display:none;}
.tutorials_details table tr td:nth-child(9){ display:none;}

/*关键字*/
.keyword{height:175px; background:url(../img/ht_keywordbgsj.png) no-repeat center center; background-size:100%;margin:10px auto 0; }
.keyword .ht_prodbtn{ float:right; width:87px; height:18px; background:url(../img/ht_prodbtnsj.png) no-repeat center center; background-size:100%;font:bold 9px/17px 'Microsoft Yahei'; color:#fff; text-indent:30px; margin:9px 15px 0 0;}
.queriesbg{ margin-bottom:40px;}
.queriesbg p.tit{ width:128px; font:bold 14px/15px 'Microsoft Yahei'; color:#0099ff; background:url(../img/ht_sjlineimg.png) no-repeat center center; background-size:100%;text-align:center; margin:20px auto 22px;}
.queriesbg .search_box{ width:261px; height:25px; background:url(../img/ht_searchboxbgsj.png) no-repeat center center; margin:0 auto;background-size:100%;}
.queriesbg .search_box .box{ width:216px; height:23px; border:none;vertical-align:middle; font:normal 10px/23px 'Microsoft Yahei'; color:#b9b9b9; text-indent:12px; background:none;}
.queriesbg .search_box .btn{ width:40px; height:23px;border:none; background:none;vertical-align:middle;}
.queriesbg .msg{ text-align:center;}
.queriesbg .msg span{font:normal 9px/35px 'Microsoft Yahei'; color:#0099ff; background:url(../img/ht_xxx.png) no-repeat left center; background-size:11px 10px; padding-left:17px;}

.keyword_bottom{ padding-top:10px; margin-bottom:70px;}
.keyword_bottom tr td{ border:1px solid #b0b0b0; border-left:none; border-right:none;}
.keyword_bottom tr td.tit{ background:#f2f2f2;font:bold 9px/45px 'Microsoft Yahei'; color:#a0a0a0; text-align:center; width:40%;}
.keyword_bottom tr td.con{ background:#fff;font:normal 9px/18px 'Microsoft Yahei'; color:#7c7c7c; text-align:left; padding:5px 0 5px 25px; position:relative; width:60%;}
.keyword_bottom tr td.con .jjh{ position:absolute; left:0; top:50%; margin-top:-6px; background:url(../img/ht_keywordtab.png) no-repeat; background-size:100%; width:6px; height:12px; display:inline-block;}
.keyword_bottom tr:hover td.tit{ background:#0099ff; color:#fff;}
.keyword_bottom tr:hover td.con{ background:#ccebff; color:#0099ff;}
.keyword_bottom tr:hover td.con .jjh{background:url(../img/ht_keywordtabhover.png) no-repeat; background-size:100%;}
.keyword_bottom tr.hoverer td.tit{ background:#0099ff; color:#fff;}
.keyword_bottom tr.hoverer td.con{ background:#ccebff; color:#0099ff;}
.keyword_bottom tr.hoverer td.con .jjh{background:url(../img/ht_keywordtabhover.png) no-repeat; background-size:100%;}

/*高考详情*/
.gaokao_details_top{ height:130px; background:#ffe7b2; margin-bottom:20px;padding:20px 1% 0 3%;}
.gaokao_details_top table{ width:100%;}
.gaokao_details_top table tr td{ width:50%;}
.gaokao_details_top table tr td p{ height:20px; background:#fff; border:1px dashed #7fccff;border-radius:7px; font:bold 9px/20px 'Microsoft Yahei'; color:#98a3a3; text-align:center; margin-right:4%; margin-bottom:9px;}
.gaokao_details_top table tr td p span{font:normal 9px/20px 'Microsoft Yahei'; color:#98a3a3;}
.content-details .details_con .details_con_main li.bluetit{ font:bold 10px/18px 'Microsoft Yahei';color:#0099ff;list-style:disc;}
.content-details .details_con .details_con_main p.subtit{ font-weight:bold;}
.content-details .details_con .details_con_main p.subtit span{ font-weight:normal;}
.content-details .details_con table tr td{ text-align:left;}
.content-details .details_con .details_con_main p.scale{font-weight:bold; margin-top:15px; margin-bottom:10px;}
.content-details .details_con .details_con_main .tp{margin-top:20px; margin-bottom:35px; width:80px; text-align:center;}
.content-details .details_con .details_con_main .tp img{ width:60px;}
.content-details .details_con .details_con_tit td:nth-child(1){ text-align:left;}
.content-details .details_con .details_con_tit td:nth-child(2){ text-align:center;}
.content-details .details_con .details_con_tit td:nth-child(3){ text-align:right;}
.content-details .details_con .details_con_main td:nth-child(1){ text-align:left;}
.content-details .details_con .details_con_main td:nth-child(2) div{ text-align:center;}
.content-details .details_con .details_con_main td:nth-child(3) div{ text-align:right; margin-left:5px;}
.disweb{ display:none;}
.content-details .details_con .details_con_main .myd_gaokao{ margin-left:15px;}
.content-details .details_con .details_con_main .myd_gaokao .percentBox{width:60px; height:60px; position:relative;}
.content-details .details_con .details_con_main .myd_gaokao .percentBox .pertxt{width:60px;height:60px;line-height:60px;position:absolute;margin-top:-60px;text-align:center;color:#0099ff;font-size:9px;font-family:'Microsoft Yahei'; font-weight:bold;}


/*走近专业*/
.professional ul{ width:95%; margin:20px auto 75px;}
.professional ul li{ width:100%; margin-bottom:10px;border-radius:7px; background:url(../img/ht_listimg.png) no-repeat 15px 7px #f5f5f5; background-size:10px 11px; cursor:pointer;}
.professional ul li a{ float:left; font:normal 10px/25px 'Microsoft Yahei'; color:#969696; display:inline-block; padding-left:30px; width:80%}
.professional ul li span{background:url(../img/ht_jtimg.png) no-repeat left center; width:12px; height:13px; background-size:12px 13px; display:inline-block; float:right; margin-top:5px; margin-right:5px;}
.professional ul li:hover{background:url(../img/ht_listimg_hover.png) no-repeat 40px center #ccebff; background-size:10px 11px;}
.professional ul li:hover a{ color:#0099ff;} 
.professional ul li:hover span{background:url(../img/ht_jtimg_hover.png) no-repeat left center;background-size:12px 13px;}

/*走近专业详情*/
.professional_details{ padding:15px 15px 35px 15px;}
.professional_details .maintitle span{font:bold 10px/18px 'Microsoft Yahei'; color:#0099ff; background:url(../img/ht_jtimg_hover.png) no-repeat right center; background-size:10px 10px; padding-right:25px;}
.professional_details .subtitle{ font:normal 8px/18px 'Microsoft Yahei'; color:#c8c8c8; background:url(../img/ht_qqimg.png) no-repeat center left; padding-left:10px;background-size:8px 8px;}
.professional_details .outline{ font:normal 9px/20px 'Microsoft Yahei';color:#7c7c7c; margin-top:10px; margin-bottom:15px; text-indent:2em;}
.professional_details .professional_con{ margin-bottom:20px;}
.professional_details .professional_con .text_title{ border:1px dashed #febe00; height:20px;border-radius:7px; font:bold 10px/20px 'Microsoft Yahei'; color:#a0a0a0; text-indent:30px; margin-bottom:15px; position:relative;}
.professional_details .professional_con .text_title .order{ width:24px; height:24px; position:absolute; left:-6px; top:-3px; z-index:99;}
.professional_details .professional_con .text_con{font:normal 9px/20px 'Microsoft Yahei';color:#7c7c7c;text-indent:2em;}

/*关于我们*/
.about_us{ width:100%; margin:0 0 40px 0;}
.about_us .about_us_banner{width:98%; margin:10px auto 0;}
.about_us .about_us_banner img{ width:100%;}
.about_us .main1{ width:100%;background:#eeeeee; margin-top:4px;}
.about_us .main1 .picture{width:100%; height:45px;background:url(../img/ht_mian1imgsj2.png) no-repeat center 14px #0099ff; position:relative;}
.about_us .main1 .picture .chinesename{ font:bold 12px/20px 'Microsoft Yahei'; color:#fff; padding-top:5px; text-align:center;}
.about_us .main1 .picture .englishname{ font:bold 9px/15px 'Microsoft Yahei'; color:#66c2ff; text-align:center;}
.about_us .main1 .picture .xjh{ position:absolute; top:45px; left:50%; margin-left:-4px;}
.about_us .main1 .words{ padding:30px 23px 33px 25px;}
.about_us .main1 .words p{font:normal 9px/20px 'Microsoft Yahei'; color:#7c7c7c;}
.about_us .main2{ width:100%;background:#eeeeee;}
.about_us .main2 .picture .pic1{ width:33.5%; float:left;}  
.about_us .main2 .picture .pic2{ width:66.5%; float:right;} 
.about_us .main2 .orders{width:100%; height:45px;background:url(../img/ht_mian1imgsj2.png) no-repeat center 14px #ffaf00; position:relative;}
.about_us .main2 .orders .chinesename{ font:bold 12px/20px 'Microsoft Yahei'; color:#fff; padding-top:5px; text-align:center;} 
.about_us .main2 .orders .englishname{ font:bold 9px/15px 'Microsoft Yahei'; color:#ffcf66; text-align:center;}
.about_us .main2 .orders .xjh{ position:absolute; top:45px; left:50%; margin-left:-4px;}
.about_us .main2 .words{ padding:30px 23px 33px 25px;}
.about_us .main2 .words p{font:normal 9px/20px 'Microsoft Yahei'; color:#7c7c7c;}

.about_us .main3{ margin-top:4px; background:#eeeeee;}
.about_us .main3 .top .picture1 img{ width:100%;}
.about_us .main3 .top .picture2{ width:100%; height:45px;background:url(../img/ht_mian1imgsj2.png) no-repeat center 14px #b1b1b1; position:relative;}
.about_us .main3 .top .picture2 .chinesename{ font:bold 12px/20px 'Microsoft Yahei'; color:#fff; padding-top:5px;text-align:center;}
.about_us .main3 .top .picture2 .englishname{ font:bold 9px/15px 'Microsoft Yahei'; color:#D0D0D0;text-align:center;}
.about_us .main3 .top .picture2 .xjh{ position:absolute; top:45px; left:50%; margin-left:-4px;}
.about_us .main3 .bottom{ padding:15px 37px 30px 33px;}
.about_us .main3 .bottom .bottomtit{font:bold 10px/23px 'Microsoft Yahei'; color:#99A2A2; border-bottom:1px solid #c4c8c8; display:inline-block;}
.about_us .main3 .bottom .bottomtit span{font:bold 10px/23px 'Microsoft Yahei'; color:#FFAF00; display:inline-block;}
.about_us .main3 .bottom .bottomcon{font:normal 9px/20px 'Microsoft Yahei'; color:#646464; margin:5px 0;}
.about_us .main3 .bottom table tr td{ text-align:left; vertical-align:middle;}

.about_us .main4{ margin-top:4px; background:#b1b1b1;}
.about_us .main4 .picture{width:100%; height:45px;background:url(../img/ht_mian1imgsj2.png) no-repeat center 14px #ffaf00; position:relative;}
.about_us .main4 .picture .chinesename{ font:bold 12px/20px 'Microsoft Yahei'; color:#fff; padding-top:5px;text-align:center;}
.about_us .main4 .picture .englishname{ font:bold 9px/15px 'Microsoft Yahei'; color:#ffcf66; text-align:center;}
.about_us .main4 .picture .xjh{ position:absolute; top:45px; left:50%; margin-left:-4px;}
.about_us .main4 .words ul{width:85%; margin:0 auto; padding:20px 0;}
.about_us .main4 .words ul li{ font:bold 10px/25px 'Microsoft Yahei'; color:#fff; background:url(../img/ht_mian4img3.png) no-repeat left center; background-size:10px 10px; padding-left:20px;}
.about_us .main4 .words ul li span{font:normal 9px/25px 'Microsoft Yahei'; color:#fff;}

.about_us .main5{ margin-top:4px;}
.about_us .main5 .picture{width:100%; height:45px;background:url(../img/ht_mian1imgsj2.png) no-repeat center 14px #0099ff; position:relative;}
.about_us .main5 .picture .chinesename{ font:bold 12px/20px 'Microsoft Yahei'; color:#fff; padding-top:5px;text-align:center;}
.about_us .main5 .picture .englishname{ font:bold 9px/15px 'Microsoft Yahei'; color:#66c2ff;  text-align:center;}
.about_us .main5 .picture .xjh{position:absolute; top:45px; left:50%; margin-left:-4px;}
.about_us .main5 .words{width:100%; background:url(../img/ht_mian5imgsj2.png) no-repeat #b1b1b1; background-size:100%;}
.about_us .main5 .words ul{ width:80%; margin:0 auto; padding:20px 0;}
.about_us .main5 .words ul li{ margin-bottom:10px;}
.about_us .main5 .words ul li p.main5_tit{ font:bold 10px/20px 'Microsoft Yahei'; color:#fff; padding-left:13px; border-bottom:1px dashed #c4c4c4; background:url(../img/ht_mian5img3.png) no-repeat left center; background-size:5px 7px;}
.about_us .main5 .words ul li p.main5_con{ font:normal 9px/20px 'Microsoft Yahei'; color:#fff; margin-top:5px;}

.about_us .main6{ margin-top:4px;}
.about_us .main6 .picture{ width:100%; height:45px;background:url(../img/ht_mian1imgsj2.png) no-repeat center 14px #b1b1b1; position:relative;}
.about_us .main6 .picture .chinesename{ font:bold 9px/20px 'Microsoft Yahei'; color:#fff; padding-top:5px;text-align:center;}
.about_us .main6 .picture .englishname{ font:bold 9px/15px 'Microsoft Yahei'; color:#d0d0d0; text-align:center;}
.about_us .main6 .picture .xjh{position:absolute; top:45px; left:50%; margin-left:-4px; z-index:100;}
.about_us .main6 .words{background:#eeeeee; position:relative;}
.about_us .main6 .words ul{ padding:20px 0 20px 35px;}
.about_us .main6 .words ul li{ font:bold 9px/25px 'Microsoft Yahei'; color:#ffaf00; list-style:disc;}
.about_us .main6 .words ul li span{font:bold 9px/25px 'Microsoft Yahei';color:#aaaaaa;}
.about_us .main6 .words .picbg{ position:absolute; width:105px;top:25px; right:20px; z-index:99;}

.about_us .main7{ margin-top:4px;background:#eeeeee; }
.about_us .main7 .main7_top{ width:100%; height:45px; font:bold 12px/45px 'Microsoft Yahei'; color:#fff; text-align:center; background:url(../img/ht_mian7img1.png) no-repeat center center #b1b1b1; background-size:189px 2px; position:relative;}
.about_us .main7 .main7_top img{ position:absolute; left:50%; top:45px; margin-left:-4px; z-index:100;}
.about_us .main7 .main7_bottom{width:85%; margin:0 auto; padding:18px 0 25px 0;}
.about_us .main7 .main7_bottom table{ margin-top:7px;}
.about_us .main7 .main7_bottom table tr td{ border:1px solid #b0b0b0; width:100%;}
.about_us .main7 .main7_bottom table thead tr td{ background:#eea709; font:bold 7px/18px 'Microsoft Yahei'; color:#fff; text-align:center; padding:5px 0;}
.about_us .main7 .main7_bottom table tbody tr td{font:normal 7px/18px 'Microsoft Yahei'; color:#848484; text-align:center; padding:5px 0;}

.about_us .main8{ margin-top:4px;}
.about_us .main8 .main8_tit{ width:100%; height:25px; background:#f2f2f2;}
.about_us .main8 .main8_tit span{ display:inline-block; font:bold 10px/25px 'Microsoft Yahei'; color:#fff; padding:0 20px 0 40px; background:#0099ff; position:relative;}
.about_us .main8 .main8_tit span img{ width:14px; position:absolute; left:60%; bottom:-6px; margin-left:-7px;}
.about_us .main8 .main8_con{ width:85%; margin:0 auto; border-bottom:1px dashed #ccd1d1;padding:25px 0 0 0;} 
.about_us .main8 .main8_con .main8_con_con .top{ height:220px; overflow:hidden; margin-bottom:10px;}
.about_us .main8 .main8_con .main8_con_con .top p{ font:normal 9px/20px 'Microsoft Yahei'; color:#7c7c7c;}
.about_us .main8 .main8_con .main8_con_con .all{ text-align:right; font:bold 10px/15px 'Microsoft Yahei'; color:#0099ff; display:block; margin-bottom:10px; background:url(../img/ht_mian8img2.png) no-repeat right center; background-size:13px 10px; padding-right:15px; cursor:pointer;}


/*搜索结果页面*/
.wj-se-result{ margin-top:14px; margin-bottom:60px;}
.wj-se-result .wj-se-wrap{ margin-bottom:20px;}
.wj-se-wrap .wj-se-tit{ height:15px; padding:0 21px; border-bottom:3px solid #0099ff;}
.wj-se-wrap .wj-se-tit h2{ float:left; display:inline; font:bold 10px/15px "Microsoft Yahei"; color:#0099ff;}
.wj-se-wrap .wj-se-tit .wj-more{ float:right; display:inline; font:10px/15px "Microsoft Yahei"; color:#ffaf00; padding-right:9px; background:url('../img/wj_r_bg.png') no-repeat right center; -webkit-background-size:5px 7px; background-size:5px 7px;}

.wj-se-wrap ul{ margin-top:13px; padding:0 7px;}
.wj-se-wrap ul li{ padding:14px 12px 5px 15px; text-align:right; font:9px/16px "Microsoft Yahei"; color:#7c7c7c; border-bottom:1px dashed #ffd780;}
.wj-se-wrap ul li a{ float:left; display:inline; font-weight:bold; color:#7c7c7c;}
.wj-se-wrap ul li:hover{ color:#ffaf00;}
.wj-se-wrap ul li:hover a{ color:#ffaf00;}

}

