@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 0.14rem;
    color: #333;
    font-family: "微软雅黑";
    position: relative;
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
b{
    font-weight: 100;
}
input{
    border: none;
    background: none;
    outline:medium;
}

input[placeholder],input[value]{
    font-family: "微软雅黑";
}
html body .none{
    display: none;
}
/*----------------------------------------------------------------*/
.d-car{
    width: 100%;
    height: 220px;
    position: absolute;
    top:0;
    left:0;
    z-index: 4;
    background: #fff;
    padding-top: 20px;
    z-index: 100;
}
.shangfunav{
    width: 100%;
    height: .82rem;
    /*height: 5.02rem;*/
    margin-top: 220px;
    position: relative;
    overflow: hidden;
    z-index: 200;
}
.xd-car{
    text-align: center;
    height: .82rem;
    width: 100%;
    font-size: .14rem;
    background: #ddd;
    line-height: .22rem;
    padding-top: .09rem;
    z-index: 10;
    position: relative;
}
.xd-car div{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    background: #ddd;
    z-index: 2;
}
.xd-car p{
    color: #4c4c4c;
    font-size: .18rem;
    font-weight: bold;
}
.xd-car b{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/xd-down.png) no-repeat center;
    position: relative;
    z-index: 1;
}
.cheshenaoxian::after{
    content: "";
    width: .2px;
    left: -1px;
    top:5%;
    height: 90%;
    border-left: 1px solid #fff;
    border-right:1px solid #cfcfcf;
    position: absolute;
}
.xd-car span{
    color: #9c9c9c;
}
.xd-car img{
    width: .47rem;
}
.car-cen{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 11;
    background: #f8f8f8;
}
.car-nav-t{
    width: 100%;
    height: .62rem;
}
.car-nav{
    width: 100%;
    height: .62rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
    z-index: 30;
    position: relative;
    top:0;
    left:0;
}
.car-nav a{
    display: block;
    float: left;
    width: 33.3%;
    height: 100%;
    line-height: .6rem;
    position: relative;
    text-align: center;
    color: #878787;
    font-size: .24rem;
    z-index: 2;
}
.car-nav a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: .44rem;
    background: #ddd;
    display: block;
    top:0.08rem;
    left: 0;   
}
.car-nav a.active{
    background: #de1423;
    color: #fff;
}
.car-nav a.active::after{
    content: none;
}
.c-car{
    width: 100%;
    height: .79rem;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.c-car img{
    float: left;
    width: .8rem;
    height: .7rem;
    display: block;
    margin:.04rem .05rem 0 .1rem;
}
.c-car span{
    height: 100%;
    width: 6.45rem;
    display: block;
    float: left;
    background: url(../img/cn-right.png) no-repeat center right;
    background-size: .16rem auto;d
}
.c-car span p{
    display: block;
    width: 100%;
    height: ..18rem;
    font-size: .18rem;
    line-height: .18rem;
    color: #4c4c4c;
    padding-right: .25rem;
    margin-top: .15rem;
}
.c-car span em{
    float: right;
    text-align:right;
    color: #c5c5c5;
}
.c-car span b{
    font-size: .24rem;
    color: #de1423;
    font-weight: bold;
}
.c-car span i{
    color: #c5c5c5;
}
.car-list{
    width: 100%;
    height: auto;
    border-top: 1px solid #ddd;
}
.d-center{
    width: 320px;
    height: 200px;
    margin:0 auto;
    position: relative;
}
.left-front,.right-front,.left-back,.right-back{
    width: 110%;
    height: 100%;
    position: absolute;
    top:0;
    left:-5%;
}
.left-front img,.right-front img,.left-back img,.right-back img{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}
.left-front{
    background: url(../img/left-front/bj.jpg) no-repeat;
    background-size: 100% auto;
    background-position: 1px 1px;
}
.right-front{
    background: url(../img/right-front/bj.jpg) no-repeat;
    background-size: 100% auto;
    background-position: 1px 1px;
}
.left-back{
    background: url(../img/left-back/bj.jpg) no-repeat;
    background-size: 100% auto;
    background-position: 1px 1px;
}
.right-back{
    background: url(../img/right-back/bj.jpg) no-repeat;
    background-size: 100% auto;
    background-position: 1px 1px;
}
.fanbu{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
}
.fanbu img{
    width: 100%;
    height: auto;
}
.car-pingjia{
    height: .33rem;
    width: 100%;
    background: #fff;
    overflow: hidden;
    font-size: .18rem;
    line-height: .31rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top:.2rem;
    padding: 0 .15rem;
}
.car-pingjia span{
    display: block;
    float: right;
    height: 100%;
    line-height: .31rem;
}
.car-pingjia span b{
    background: url(../img/banxing.png) no-repeat;
    background-size: 100% auto;
}
.car-pingjia span i{
    background: url(../img/xing.png) no-repeat;
    background-size: 100% auto;
}
.car-pingjia span i,.car-pingjia span b{
    display: inline-block;
    width: .25rem;
    height: .23rem;
    position: relative;
    position: relative;
    top:.033rem;
}
.xd-cen{
    width: 100%;
    height: 4.2rem;
    background: #fff;
    position: absolute;
    z-index: 5;
    top:.82rem;
    left: 0;
}
.xiaobujian-cen{
    width: 100%;
    height: 4.2rem;
    overflow: hidden;
}
.xiaobujian-cen div{
    float: left;
    width: 1.42rem;
    height: 1.42rem;
    overflow: hidden;
    margin: .46rem 0 0 .365rem;
}
.xiaobujian-cen div img{
    width: 100%;
    height: auto;
}
.youhoumenbashou-x{
    background: url(../img/xiaobujian/youhoumenbashou.jpg) no-repeat;
    background-size: 100% auto;
}
.youhoushijing-x{
    background: url(../img/xiaobujian/youhoushijing.jpg) no-repeat;
    background-size: 100% auto;
}
.youqianmenbashou-x{
    background: url(../img/xiaobujian/youqianmenbashou.jpg) no-repeat;
    background-size: 100% auto;
}
.youqunbian-x{
    background: url(../img/xiaobujian/youqunbian.jpg) no-repeat;
    background-size: 100% auto;
}
.zuohoumenbashou-x{
    background: url(../img/xiaobujian/zuohoumenbashou.jpg) no-repeat;
    background-size: 100% auto;
}
.zuohoushijing-x{
    background: url(../img/xiaobujian/zuohoushijing.jpg) no-repeat;
    background-size: 100% auto;
}
.zuoqianmenbashou-x{
    background: url(../img/xiaobujian/zuoqianmenbashou.jpg) no-repeat;
    background-size: 100% auto;
}
.zuoqunbian-x{
    background: url(../img/xiaobujian/zuoqunbian.jpg) no-repeat;
    background-size: 100% auto;
}
.cheshenaoxian-cen{
    width: 100%;
    height: 4.2rem;
}
.csnax-tishi{
    width: 100%;
    height: .3rem;
    color: #4c4c4c;
    line-height: .29rem;
    font-size: .18rem;
    border: 1px solid #ffa1a1;
    text-align: center;
}
.aoxian{
    width: 100%;
    height: 1.29rem;
    border-bottom: 1px solid #ddd;
}
.bornone{
    border:none;
}
.aoxian img{
    width: 1.08rem;
    height: auto;
    display: block;
    float: left;
    margin: .1rem 0 0 .14rem;
}
.aoxian span{
    width: 4.32rem;
    height: 100%;
    line-height: 1.28rem;
    color: #878787;
    font-size: .18rem;
    padding-left: .4rem;
    display: block;
    float: left;
}
.aoxian-g{
    width: 1.7rem;
    height: .62rem;
    float: left;
    margin-top: .33rem;
}
.aoxian-g b,.aoxian-g i,.aoxian-g em{
    display: block;
    width: .52rem;
    height: .62rem;
    border:1px solid #ddd;
    text-align: center;
    float: left;
    line-height: .6rem;
    font-size: .23rem;
}
.aoxian-g b,.aoxian-g i{
    background: #ddd;
    color: #fff;
    font-size: .3rem;
}
