@charset "utf-8";
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #333;
    background-color: #f8f9fb;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
.animate{
    position: relative;
}
.none{
    display: none;
}
.opacity{
    opacity: 0;
    filter:alpha(opacity=0);
}
html body .none{
    display: none;
}
/*---------------------------------------------------------nav end*/
/*html{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body{
    height: auto;
    overflow-y: auto;
    position: relative;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}*/
.cen{
    position: relative;
    left:0;
    top:0;
    height: auto;
    width: 100%;
}
.cen1{
    background: #00ccff;
}
.cen2{
    background: #33cc00;
}
.cen3,.weimu{
    background: #ffaa00;
}
.cen4{
    background: #ff7777;
}
.cen5{
    background: #9fcbd7;
}
.cena{
    overflow: hidden;
    position: relative;
}
.dia{
    width: 10px;
    height: 100%;
    position: fixed;
    z-index: 3;
    top:0;
    right:5px;
}
.dia span{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    margin:10px 0;
    border:1px solid #fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}
.dia span.active{
    background: #fff;
}
.zhonge{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.up-mos{
    width: 100%;
    height: .24rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom:0;
    z-index: 100;
}
.up-mos img{
    width: auto;
    height: 100%;
    display: inline-block;
    position: relative;
    top:0;
}
/*----------------------------------------------------------------------------one*/
.one-top{
    width: 100%;
    height: 4.08rem;
    overflow: hidden;
    background: url(../img/1/btbj.png) no-repeat center top;
    background-size: auto 100%;
}
.cen1bt{
    width: 2.91rem;
    height: 1.56rem;
    background: url(../img/1/bt.png) no-repeat;
    background-size: 100% auto;
    margin: .52rem auto 0;
    position: relative;
    top:0;
}
.cen1z{
    position: relative;
    width: 5.56rem;
    height: 4.25rem;
    background: url(../img/1/phone-an.png) no-repeat;
    background-size: auto 100%;
    margin: 1.3rem auto 0;
    padding-right: .45rem;
}
.cen1t{
    position: absolute;
    width: 5.13rem;
    height: 3.22rem;
    background: url(../img/1/app-lo.png) no-repeat;
    background-size: auto 100%;
    top: -2.15rem;
    left: 1.02rem;
}
.j1-1{
    position: absolute;
    width: .5rem;
    height: .5rem;
    background: url(../img/1/j-3.png) no-repeat;
    background-size: auto 100%;
    top: .26rem;
    left: 2.21rem;
}
.one-xiazai, .one-jieshao {
    width: 3.74rem;
    height: .78rem;
    margin: 0 auto;
    position: relative;
    border-radius: .1rem;
    box-shadow: 0px 0px 10px #00ccff;
    overflow: hidden;
    text-align: center;
}
.one-jieshao {
    background: #33cc00;
    margin-top: .4rem;
}
.one-xiazai {
    background: #fff;
    margin-top: .5rem;
}
.one-xiazai img, .one-jieshao img {
    width: auto;
    height: 100%;
}

/*------------------------------------------------------------------------two*/
.cen2bt{
    width: 4.06rem;
    height: 1.44rem;
    background: url(../img/2/bt.png) no-repeat;
    background-size: auto 100%;
    position: relative;
    z-index: 0;
    margin:1.55rem auto 0;
}
.cen2-1{
    width: 6.28rem;
    height: 4.87rem;
    position: relative;
    margin:1.55rem auto 0;
}
.j2-1{
    width: 2.41rem;
    height: 2.27rem;
    top: 0rem;
    left: 0rem;
    background: url(../img/2/j2-1.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.j2-2{
    width: .57rem;
    height: .48rem;
    top: 1.2rem;
    left: 5.21rem;
    background: url(../img/2/j2-2.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.j2-3{
    width: .83rem;
    height: .9rem;
    top: 3.95rem;
    left: 2.73rem;
    background: url(../img/2/j2-3.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.j2-ph{
    width: 5.67rem;
    height: 3.83rem;
    top: .66rem;
    left: .34rem;
    background: url(../img/2/ph.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 1;
}
.j2-ak{
    width: 2.71rem;
    height: 1.95rem;
    top: 2.76rem;
    left: 3.56rem;
    background: url(../img/2/adk.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 1;
}

/*---------------------------------------------------------------------------three*/
.cen3bt{
    width: 4.46rem;
    height: 1.46rem;
    background: url(../img/3/bt.png) no-repeat;
    background-size: auto 100%;
    position: relative;
    z-index: 0;
    margin:1.55rem auto 0;
}
.cen3-1{
    width: 6.28rem;
    height: 5.12rem;
    position: relative;
    margin:1.39rem auto 0;
    left: .3rem;
}
.chaoren{
    width: 4.23rem;
    height: 1.82rem;
    top: 0rem;
    left: -.02rem;
    background: url(../img/3/chaoren.png) no-repeat;
    background-size: auto 100%;
    z-index: 2;
    position: absolute;
    -webkit-transform-origin:5% 80%;
    -moz-transform-origin:5% 80%;
    -ms-transform-origin:5% 80%;
    -o-transform-origin:5% 80%;
    transform-origin:5% 80%;
}
.weiqi{
    width: 3.01rem;
    height: 2.12rem;
    top: .97rem;
    left: 2.34rem;
    background: url(../img/3/weiqi.png) no-repeat;
    background-size: auto 100%;
    z-index: 0;
    position: absolute;
}
.weimu{
    width: 100%;
    height: 100%;
}
.j3-ph{
    width: 5.49rem;
    height: 4.93rem;
    bottom: 0rem;
    left: 0rem;
    background: url(../img/3/shouji.png) no-repeat;
    background-size: auto 100%;
    z-index: 3;
    position: absolute;
}

/*-----------------------------------------------------------------------------------------four*/
.cen4bt{
    width: 5.19rem;
    height: 1.43rem;
    background: url(../img/4/bt.png) no-repeat;
    background-size: auto 100%;
    position: relative;
    z-index: 0;
    margin:1.55rem auto 0;
}
.cen4-1{
    width: 5.55rem;
    height: 5.43rem;
    position: relative;
    margin:1.5rem auto 0;
}
.j4-1{
    width: 1.31rem;
    height: .96rem;
    top: 1.38rem;
    left: .64rem;
    background: url(../img/4/app1.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.j4-2{
    width: 1.15rem;
    height: 1.56rem;
    top: 0rem;
    left: 1.63rem;
    background: url(../img/4/app2.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.j4-3{
    width: 1.1rem;
    height: .89rem;
    top: .68rem;
    left: 2.8rem;
    background: url(../img/4/app3.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.j4-zhujiao{
    width: 2.04rem;
    height: 2.89rem;
    top: 1.62rem;
    background: url(../img/4/zhujiao.png) no-repeat;
    background-size: auto 100%;
    position: relative;
    margin:0 auto;
    left: .33rem;
    z-index: 3;
}
.j4-beijing{
    width: 100%;
    height: 100%;
    top: 0rem;
    left: 0rem;
    background: url(../img/4/bj.png) no-repeat bottom;
    background-size: 100% auto;
    position: absolute;
    z-index: 0;
}

/*-----------------------------------------------------------------------------------------five*/
.linxiand{
    width: 5.84rem;;
    height: 2.53rem;
    left: 0.02rem;
    position: relative;
    text-align: center;
    margin: .7rem auto 0;
}
.linxiand b{
    display: block;
    width: 1.34rem;
    height: 1.77rem;
    margin: 0 .3rem;
    float: left;
    z-index: 7;
    position: relative;
    top:0;
}
.qqhao{
    background: url(../img/5/qq.png) no-repeat;
    background-size: 100% auto;
}
.weixinhao{
    background: url(../img/5/weixin.png) no-repeat;
    background-size: 100% auto;
}
.youxiang{
    background: url(../img/5/youxiang.png) no-repeat;
    background-size: 100% auto;
}
.qqhao.active{
    background: url(../img/5/qqhover.png) no-repeat;
    background-size: 100% auto;
}
.weixinhao.active{
    background: url(../img/5/weixinhover.png) no-repeat;
    background-size: 100% auto;
}
.youxiang.active{
    background: url(../img/5/youxianghover.png) no-repeat;
    background-size: 100% auto;
}
.jtop{
    width: .21rem;
    height: .1rem;
    background: url(../img/5/jtop.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    top:-.09rem;
    margin:0 auto;
}
.lianxi-hover{
    width: 100%;
    height: .48rem;
    position: absolute;
    left: 0;
    top:2.03rem;
}
.lianxi-span-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lianxi-span-hover i{
    display: block;
    position: absolute;
    top:0;
    width: auto;
    height: .48rem;
    border-radius: 4px;
    line-height: .48rem;
    font-size: .2rem;
    color: #fff;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
    z-index: 2;
}
.lianxi-span-hover i:first-child{
    left:.97rem;
}
.lianxi-span-hover i:first-child+i{
    left:2.91rem;
}
.lianxi-span-hover i:first-child+i+i{
    left:4.85rem;
}
.lianxi-span-di{
    background: #2c869e;
    width: 0;
    height: .48rem;
    position: relative;
    z-index: 1;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
    top:0;
    left:1rem;
    border-radius: 4px;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease;
}
.lianxi-span-ding{
    height: 100%;
    width: 0;
    position: absolute;
    top:0;
    left:1rem;
    z-index: 4;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease;
}
.lianxi-span-ding:after{
    content: "";
    width: 10rem;
    height: 100%;
    background: #9fcbd7;
    position: absolute;
    top:0;
    left:-10rem;
}
.lianxi-span-ding:before{
    content: "";
    width: 10rem;
    height: 100%;
    background: #9fcbd7;
    position: absolute;
    top:0;
    right:-10rem;
}
.dibu-bo{
    width: 100%;
    height: .2rem;
    line-height: .2rem;
    font-size: .2rem;
    color: #1a758d;
    letter-spacing: .01rem;
    margin-top: .7rem;
    text-align: center;
}
.erweima{
    width: 3.72rem;
    height: 3.7rem;
    background: rgba(255,255,255,.2);
    text-align: center;
    padding: .1rem .1rem .08rem;
    border-radius: .1rem;
    margin:.91rem auto 0;
    position: relative;
    top:0;
}
.erweima img{
    width:100%;
    height: auto;
}
.erweis{
    width: 2.22rem;
    height: .37rem;
    text-align: center;
    border-radius: .1rem;
    background: #7fa1ab;
    margin: .3rem auto 0;
    position: relative;
    left:0;
}
.erweis img{
    height: 100%;
    width: auto;
}
.cen5 .one-xiazai{
    margin-top: .79rem;
}
.video{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: table;
    z-index: 100;
}
.video-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.video-bj,.vidcol,.vidcol video{
    width: 100%;
    height: auto;
    position: relative;
}
.vidcolimg{
    position: absolute;
    right:6px;
    top:6px;
    width: .3rem;
    height: .3rem;
    background: url(../img/col.png) no-repeat;
    background-size: 100% auto;
    z-index: 50;
}


