@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 0.14rem;
    color: #333;
    font-family: "微软雅黑";
    word-break:break-all;
}
body,html{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.clear {
    *zoom: 1;
}
.clear::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
input : -webkit-autofill {
    background-color:none;
}
b{
    font-weight: 100;
}
input,button{
    border: none;
    background: none;
    outline:medium;
}
input[placeholder],input[value]{
    font-family: "微软雅黑";
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
html body .none{
    display: none;
}
html body .overflowv{
    overflow: visible;
}
/*----------------------------------------------------------------*/
html,body{
    width: 100%;
    height: 100%;
    min-width: 1000px;
    overflow-y: hidden;
}
.table-a{
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.bottom-black{
    width: 100%;
    height: 30%;
    background: #161619;
    overflow: hidden;
}
.denglujiemian{
    width: 100%;
    height: 70%;
    overflow: hidden;
    background: #333;
}
.denglu-op05{
    width: 100%;
    height: 100%;
    background: 
}
.denglukuang{
    width: 370px;
    height: auto;
    margin:0 auto;
}
.denglukuang span{
    display: block;
    width: 100%;
    height: 45px;
    background: #2a5ccc;
    color: #909090;
    font-size: 20px;
    line-height: 45px;
    position: relative;
    margin-top:10px;
}
.denglukuang span i{
    display: block;
    float: left;
    width: 41px;
    text-align: left;
    height: 41px;
    margin:2px;
    background: #161619;
}
.denglukuang span i a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/yonghuok.png) no-repeat center;
    background-size: 60% auto;
}
.denglukuang span:nth-of-type(2) i a{
    background: url(../img/mimaok.png) no-repeat center;
    background-size: 60% auto;
}
.denglukuang span input{
    display: block;
    float: left;
    width: 170px;
    height: 100%;
    font-size: 17px;
    color: #fff;
    margin-left: 10px;
    line-height: 45px;
}
.denglukuang span em{
    display: block;
    float: right;
    width: 21px;
    margin-right: 15px;
}
.denglukuang span em img{
    width: 21px;
    height: auto;
}
.xiala-k{
    width: 100%;
    height: auto;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 10;
    background: #161619;
}
.xiala-k b{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #909090;
    font-size: 18px;
}
.xiala-k b:hover{
    background: #292929;
    color: #fff;
}
.bottom-text{
    width: 100%;
    text-align: center;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    position: fixed;
    bottom:17px;
    left: 0;
    color: #909090;
}
.denglu-a{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 100%;
    background: url(../img/denglu.png) no-repeat center;
    background-size: 150px auto;
    cursor: pointer;
}
.denglu-a:hover{
    background: url(../img/denglu-a.png) no-repeat center;
    background-size: 150px auto;
}
/*--------------------------------------------------------------------------index-x*/
.pindaoxuanze{
    width: 100%;
    height: 100%;
    background: #161619;
}
.col-adm{
    width: 220px;
    height: 100px;
    position: fixed;
    top:0;
    right: 0;
}
.col-menu{
    width: 220px;
    height: 100px;
    position: absolute;
    bottom:0;
    right: 0;
}
.col-adm a,.col-menu a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 100px;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
.col-adm a img,.col-menu a img{
    width: 31px;
    height: auto;
    position: relative;
    top:8px;
    margin-right: 5px;
}
.col-adm a:hover,.col-menu a:hover{
    background: #2f2f33;
}
.xuanzequ{
    width: 153px;
    height: 178px;
    display: inline-block;
}
.xuanzequ a{
    display: block;
    width: 100%;
    height: 100%;
}
.yuding-x{
    background: url(../img/yudingx.png) no-repeat center;
    background-size: 100% auto;
}
.yuding-x:hover{
    background: url(../img/yuding-x.png) no-repeat center;
    background-size: 100% auto;
}
.shanghu-x{
    background: url(../img/shanghux.png) no-repeat center;
    background-size: 100% auto;
    margin:0 200px;
}
.shanghu-x:hover{
    background: url(../img/shanghu-x.png) no-repeat center;
    background-size: 100% auto;
}
.shuju-x{
    background: url(../img/shujux.png) no-repeat center;
    background-size: 100% auto;
}
.shuju-x:hover{
    background: url(../img/shuju-x.png) no-repeat center;
    background-size: 100% auto;
}
/*-----------------------------------------------------------------------------cen*/
.centop{
    width: 100%;
    height: 10%;
    overflow: hidden;
    background: #161619;
    position: relative;
    z-index: 9;
}
.centop-title{
    width: 11%;
    height: 100%;
    font-size: .29rem;
    color: #fff;
    display: table;
    float: left;
}
.centop-title span{
    font-style: italic;
    font-weight: bold;
}
.centop-city{
    width: 1.8rem;
    height: 100%;
    color: #fff;
    float: left;
}
.centop-city span{
    font-size: .16rem;
    margin-left: .05rem;
    cursor: pointer;
}
.centop-city:hover{
    background: #2f2f33;
}
.centop-city.active{
    background: #2f2f33;
}
.centop-city i{
    font-size: .24rem;
    font-weight: bold;
}
.centop-menu{
    width: 1.75rem;
    height: 100%;
    float: right;
    
}
.centop-menu i{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/cen-menu.png) no-repeat center;
    background-size: .46rem auto;
}
.centop-menu:hover{
    background: #2f2f33;
}

.cencon{
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.nav{
    width: 11%;
    height: 100%;
    background: #333;
    float: left;
}
.nav a{
    display: block;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    font-size: .19rem;
    font-weight: bold;
    text-align: center;
    color: #a7a7a7;
}
.nav a.active,.nav a:hover{
    background: #5b5b5b;
    color: #fff;
}
.context{
    width: 89%;
    float: left;
    height: 100%;
    position: relative;
}
.sousuo-nav{
    width: 100%;
    height: 6.5%;
    border-bottom:1px solid #bfbfbf;
    display: table;
}
.sousuo-nav span{
    display: table-cell;
    width: 20%;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
    cursor: pointer;
}
.sousuo-nav span a{
    font-size: .18rem;
    line-height: .18rem;
    height: .3rem;
    display: inline-block;
    margin:0 auto;
    color: #000;
    font-weight: bold;
}
.sousuo-nav span a.active,.sousuo-nav span a:hover{
    border-bottom: .06rem solid #000;
}
.sousuo-nav span:first-child{
    text-align: left;
    padding-left: .4rem;
    width: 15%;
}
.sousuo-nav span:last-child{
    text-align: right;
    padding-right: .4rem;
    width: 15%;
}
.sousuo-cen{
    width: 100%;
    height: 93.5%;
    position: relative;
    overflow: hidden;
}
.sousuo-cen-c{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y:auto;
}
.sousuo-bt1{
    width: 100%;
    height: .16rem;
    line-height: .16rem;
    font-size: .16rem;
    margin-top: .54rem;
    padding-left: .45rem;
    font-weight: bold;
}
.sousuo-bt1 i{
    font-size: .14rem;
}
.sousuo-input{
    width: 100%;
    height: auto;
    margin-top: .08rem;
    padding-left: .45rem;
}
.sousuo-input input{
    font-weight: bold;
    width: 5.22rem;
    height: .42rem;
    line-height: .42rem;
    border:1px solid #000;
    padding:0 .1rem;
    font-size: .15rem;
}
.sousuo-guanjianci{
    background:#c6ff00;
}
.sousuo-input span{
    display: block;
    margin-bottom: .15rem;
    width: 100%;
    height: .42rem;
}
.sousuo-input span input{
    display: block;
    float: left;
}
.sousuo-input span em{
    width: .55rem;
    height: 100%;
    background: url(../img/yichu2.png) no-repeat center;
    background-size: .35rem auto;
    display: block;
    float: left;
    cursor: pointer;
}
.sousuo-tianjia{
    width: 100%;
    height: auto;
    padding-left: .45rem;
}
.sousuo-tianjia img{
    width: .35rem;
    height: auto;
    cursor: pointer;
}
.baocun-fabu{
    width: 1.36rem;
    height: .41rem;
    text-align: center;
    font-size: .17rem;
    font-weight: bold;
    color: #fff;
    line-height: .41rem;
    border-radius: 4px;
    background: #74c13c;
    position: fixed;
    right:.72rem;
    bottom:.41rem;
    display: block;
}
body .menu{
    background: #161619;
    padding:0;
}
.col-menu{
    bottom:0;
}
.tanceng.menu{
    border:none;
}
.guanbi-menu{
    width: 100%;
    height: 10%;
    position: absolute;
    top:0;
    right:0;
    border-bottom: 1px solid #262628;
    z-index: 10;
}
.guanbi-menu span:hover{
    background: #2f2f33;
}
.guanbi-menu span{
    display: block;
    width: 1.75rem;
    height: 100%;
    float: right;
    background: #161619;
}
.guanbi-menu span i{
    width: 100%;
    height: 100%;
    background: url(../img/guanbimenu.png) no-repeat center;
    background-size: .35rem auto;
    display: block;
    position: relative;
}
.guanbi-menu span i:after{
    content: "";
    display: block;
    width: 1.8rem;
    height: 100%;
    position: absolute;
    top:0;
    right:15.3rem;
}
.city-xuanze .guanbi-menu{
    position: relative;
}
.city-cen-x{
    width: 100%;
    height: 90%;
    background: #161619;
    padding-left: 200px;
}
.city-cen-y{
    width: 250px;
    height: 100%;
    padding: 50px 0;
    margin:0 auto;
    overflow: hidden;
}
.cen-hidd-y{
    width: 250px;
    height: 100%;
    overflow: auto;
    display: block;
}
.city-cen-y span{
    display: block;
    width: 250px;
    height: 60px;
}
.city-cen-y span em{
    display: inline-block;
    height: 38px;
    font-size: 17px;
    line-height: 22px;
    padding-top: 5px;
    color: #5a5a5a;
    font-weight: bold;
    border-bottom: 1px solid #5a5a5a;
}
.city-cen-y span:hover em,.city-cen-y span.active em{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.tanceng{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.zhiding-baioge{
    border:1px solid #cecece;
    border-width: 1px 0 0 0;
    width: 16.6rem;
    height: 78.3%;
    margin:.25rem auto 0;
    overflow-y: auto;
    background: #fff;
}
.yuding-b .zhiding-baioge{
    width: 90%;
}
.fenyeqi{
    width: 100%;
    height: 31px;
    overflow: hidden;
    padding-left: .62rem;
    margin-top: .23rem;
}
.fenyeqi span,.fenyeqi i,.fenyeqi input,.fenyeqi em,.fenyeqi b{
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
    color: #000;
    border:1px solid #d7d7d7;
}
.fenyeqi span{
    width: 54px;
}
.fenyeqi i{
    border-left:none;
}
.fenyeqi i.one-i{
    border-left:1px solid #d7d7d7;
}
.fenyeqi i.active{
    border:1px solid #59c7f9;
    background: #59c7f9;
    color: #fff;
}
.fenyeqi em{
    margin:0 3px;
    background: url(../img/fenye-left.png) no-repeat center;
    background-size: auto 70%;
}
.fenyeqi em.right{
    background: url(../img/fenye-right.png) no-repeat center;
    background-size: auto 70%;
}
.fenyeqi b{
    border:1px solid rgba(255,255,255,0);
}
.sousuo-cen-c .zhiding-baioge tr td:nth-of-type(1){
    border-left:1px solid #cecece;
}
/*
.datagrid-row{
  width: 100%;
}
.datagrid-header-row td:nth-of-type(1),.datagrid-btable tr td:nth-of-type(1),{
    width: 3.4%;
}
.datagrid-header-row td:nth-of-type(2),.datagrid-btable tr td:nth-of-type(2),{
    width: 11%;
}
.datagrid-header-row td:nth-of-type(3),.datagrid-btable tr td:nth-of-type(3),{
    width: 7.5%;
}
.datagrid-header-row td:nth-of-type(4),.datagrid-btable tr td:nth-of-type(4),{
    width: 14%;
}
.datagrid-header-row td:nth-of-type(5),.datagrid-btable tr td:nth-of-type(5),{
    width: 10%;
}
.datagrid-header-row td:nth-of-type(6),.datagrid-btable tr td:nth-of-type(6),{
    width: 8.2%;
}
.datagrid-header-row td:nth-of-type(7),.datagrid-btable tr td:nth-of-type(7),{
    width: 8.2%;
}
.datagrid-header-row td:nth-of-type(8),.datagrid-btable tr td:nth-of-type(8),{
    width: 8.2%;
}
.datagrid-header-row td:nth-of-type(9),.datagrid-btable tr td:nth-of-type(9),{
    width: 10%;
}
.datagrid-header-row td:nth-of-type(10),.datagrid-btable tr td:nth-of-type(10),{
    width: 19.5%;
}*/

.zhiding-baioge tr td a{
    display: block;
    float: left;
    margin-right: .1rem;
    cursor: pointer;
    text-decoration: underline;
}
.lunboguanli{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y:auto;
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.lunboguanli span,.tianjialunbo{
    display: block;
    float: left;
    height: 1.9rem;
    position: relative;
    width: 33.3%;
    padding:0 .5rem;
    margin:.4rem 0 0;
}
.lunboguanli span i,.tianjialunbo i{
    width: 100%;
    height: 1.56rem;
    border: 2px solid #cacaca;
    padding: 4px 15px;
    overflow: hidden;
    display: block;
    position: relative;
}
.tianjialunbo i{
    background: url(../img/tianjialunbo.png) no-repeat center;
    background-size: .34rem auto;
    cursor: pointer;
}
.lunboguanli span i img{
    width: 100%;
    height: 100%;
}
.lunboguanli span em{
    display: block;
    width: 100%;
    height: .32rem;
}
.lunboguanli span em b{
    display: block;
    width: 27%;
    height: 100%;
    float: left;
    line-height: .45rem;
    text-align: center;
    position: relative;
}
.lunboguanli span em b:first-child{
    background: url(../img/fenye-left.png) no-repeat center left;
    background-size: auto .2rem;
    width: 9%;
    cursor: pointer;
}
.lunboguanli span em b:last-child{
    background: url(../img/fenye-right.png) no-repeat center right;
    background-size: auto .2rem;
    width: 5%;
    cursor: pointer;
    float: right;
}
.lunboguanli span em b img{
    height: auto;
    cursor: pointer;
}
.l-shanchu{
    width: .28rem;
}
.l-xiugai{
    width: .23rem;
}
.l-shezhi{
    width: .25rem;
}
.lunbotc{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
}
.hei-t .tc-cen-te{
    width: 9.2rem;
    height: 4.2rem;
    background: #16151a;
}
.lunbotc .tc-cen{
    width: 100%;
    height: 90%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left:0;
    bottom:0;
    padding-left: 11%;
}
.tc-cen-te{
    width: 9.22rem;
    height: auto;
    background: #fff;
    margin:0 auto;
    padding-bottom: .92rem;
    position: relative;
}
.tc-cen-col{
    width: 100%;
    height: .47rem;
    border-bottom: 1px solid #b1b1b1;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
}
.hei-t .tc-cen-col{
    border-color:#3d3d3f;
}
.tc-cen-col i{
    display: block;
    float: right;
    width: .46rem;
    height: 100%;
    background: url(../img/tanchuang-c.png) no-repeat center;
    background-size: .21rem auto;
    cursor: pointer;
}
.hei-t .tc-cen-col i{
    background: url(../img/guanbimenu.png) no-repeat center;
    background-size: .21rem auto;
}
.tc-cen-te span{
    display: block;
    width: 100%;
    height: .44rem;
    line-height: .44rem;
    font-size: .2rem;
    padding-left: .22rem;
}
.hei-t .tc-cen-te span{
    color: #c6ff00;
    text-align: left;
}
.tc-cen-te input,.tc-cen-te select{
    width: 8.77rem;
    height: .4rem;
    line-height: .38rem;
    border:1px solid #c6ff00;
    display: block;
    margin:0 auto;
    color: #fff;
    font-size: .14rem;
    padding:0 .1rem;
}
.tc-cen-te select{
    background: url(../img/xialasl.png) no-repeat center right;
    background-size: auto .13rem;
}
.tc-cen-te a{
    display: block;
    width: .7rem;
    height: .3rem;
    line-height: .28rem;
    color: #000;
    border-radius: 3px;
    border:1px solid #b1b1b1;
    position: absolute;
    right: .29rem;
    bottom: .29rem;
    text-align: center;
}
.tc-cen-te .tc-cen-baocun{
    border-color: #59c7f9;
    background: #59c7f9;
    color: #fff;
    right:1.07rem;
}
.shangjiazhongxin-nav span{
    width: 33.3%;
}
.chaxun-shangjia,.yijian-time{
    width: 100%;
    height: 7.5%;
    border-bottom: 1px solid #bababa; 
}
.chaxun-shangjia em,.chaxun-shangjia input,.chaxun-shangjia select,.chaxun-shangjia a,.shuju-chaxun a{
    display: block;
    float: left;
    font-size: .15rem;
}
.chaxun-shangjia em{
    width: 1.24rem;
    text-align: right;
    height: .26rem;
    line-height: .26rem;
}
.chaxun-shangjia input{
    width: 1.38rem;
    height: .26rem;
    border:1px solid #000;
    padding:0 .1rem;
    line-height: .24rem;
}
.chaxun-shangjia select{
    width: 1.38rem;
    height: .26rem;
    border:1px solid #000;
    padding-left: .19rem;
    font-family: "微软雅黑";
    background: url(../img/xialasc.png) no-repeat right;
    background-size: auto .11rem;
}
.chaxun-shangjia a,.shuju-chaxun a{
    width: 1.08rem;
    height: .26rem;
    line-height: .26rem;
    background: #333333;
    color: #fff;
    text-align: center;
    margin-left: .38rem;
}
.shuju-chaxun b{
    padding-left: 15rem;
}
.chaxun-shangjia a:nth-of-type(1){
    margin-left: .65rem;
}
.shanchu-yichu{
    width: 100%;
    height: 7%;
    padding-left: .42rem;
}
.shanchu-yichu i{
    display: block;
    float: left;
    width: 1rem;
    height: .3rem;
    line-height: .32rem;
    padding-left: .38rem;
    text-align: left;
    font-size: .14rem;
    font-weight: bold;
/*    cursor: pointer;*/
}
.shanchu-yichu .shangjia-yichu{
    background: url(../img/yichu2.png) no-repeat;
    background-size: auto 100%;
}
.shanchu-yichu .shangjia-shanchu{
    background: url(../img/shanchu3.png) no-repeat;
    background-size: auto 100%;
    padding-left: .42rem;
}
.shanchu-yichu .shangjia-xinzeng{
    background: url(../img/xinzeng.png) no-repeat;
    background-size: auto 100%;
}
.shangjia-liebiao{
    width: 100%;
    height: 85.5%;
    background: #e0e1e5;
    overflow-y:auto;
}
.datagrid-cell b img{
    width: 18px;
    height: auto;
    display: block;
    margin:0 auto;
    cursor: pointer;
}
.datagrid-header .datagrid-cell span.datagrid-sort-icon{
    width: 0;
    padding-left: 0;
}
.tc-zhixingx input{
    width: 7.2rem;
    float: left;
    display: block;
    margin-left: .23rem;
    font-size: .18rem;
}
.tc-zhixingx .tc-cen-te{
    padding-bottom: .4rem;
    height: auto;
}
.tc-zhixingx .tc-cen-te em{
    display: block;
    float: left;
    width: 1.46rem;
    height: .4rem;
    line-height: .38rem;
    border:1px solid #c6ff00;
    text-align: center;
    font-size: .22rem;
    margin-left: .1rem;
    cursor: pointer;
}
.tc-cen-te span{
    font-weight: bold;
    font-size: .22rem;
}
.xialakuang-xz{
    width: 7.2rem;
    margin-left: .23rem;
    height: 3.1rem;
    overflow-y:auto;
    overflow-x:hidden;
    background: #e2e2e2;
    margin-top: .06rem;
}
.xialakuang-xz b{
    display: block;
    width: 101%;
    height: .7rem;
    line-height: .7rem;
    font-size: .18rem;
    padding: 0 .2rem;
    text-align: left;
}
.xialakuang-xz b:hover{
    background: #f2f2f2;
}
.xialakuang-xz i{
    float: right;
    cursor: pointer;
    text-decoration: underline;
}
.xialakuang-xz h3 i,.xialakuang-xz h2,.xialakuang-xz h3{
    display: inline;
    font-weight: 100;
    color: #ff7200;
    font-size: .18rem;
    text-decoration:none;
    float: none;
}
.xialakuang-xz h3{
    color: #333;
    display: inline-block;
    overflow: hidden;
}
.xialakuang-xz h2{
    display: block;
    float: right;
    margin-right: 2.5rem;
    color: #333;
}
.shangjia-text{
    width: 10.70rem;
    margin:0 auto;
    height: 100%;
    overflow:hidden;
    background: #fff;
    color: #000;
    position: relative;
    z-index: 3;
}
.xialakuang-xz-e{
    color: #fff;
}
.shangjia-text-bt{
    width: 7.20rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    font-weight: bold;
}
.shangjia-text-bt i{
    float: right;
    font-weight: 100;
    font-size: .2rem;
}
.shangjia-text-bt2,.shangjia-text-bt3,.shangjia-text-bt4{
    width: 100%;
    height: .26rem;
    line-height: .26rem;
    font-size: .14rem;
    font-weight: bold;
    margin-top: .15rem;
    position: relative;
}
.shangjia-text-bt2 span,.shangjia-text-bt3 span,.shangjia-text-bt4 span,.shangjia-text-input1 input,.shangjia-text-input1 select{
    display: block;
    float: left;
    width: 1.68rem;
    margin-right: 1.15rem;
    position: relative;
}
.shangjia-text-bt3 span{
    width: 100%;
}
.shangjia-text-bt4{
    margin-top: .25rem;
}
.shangjia-text-input1,.shangjia-text-input2{
    width: 100%;
    height: .36rem;
    position: relative;
}
.shangjia-text-input1 input,.shangjia-text-biaoqian span input,.shangjia-text-input2 input,.shangjia-text-input1 select{
    height: 100%;
    border:1px solid #000;
    line-height: .34rem;
    padding:0 .09rem;
}
.shangjia-text-input2,.shangjia-text-biaoqian span input,.shangjia-text-text{
    width: 4.51rem;
}
.shangjia-text-input2 input,.shangjia-text-bt4 span{
    width: 100%;
}
.shangjia-text-input1 select{
    background: url(../img/xialasl.png) no-repeat right;
    background-size: auto .11rem;
}
.shangjia-text-fuxuan{
    width: 100%;
    height: auto;
}
.shangjia-text-fuxuan span{
    display: block;
    height: .24rem;
    line-height: .24rem;
    font-size: .136rem;
    padding-left: 2px;
}
.shangjia-text-fuxuan span input{
    display: block;
    float: left;
    margin-top: .04rem;
    margin-right: .05rem;
}
.shangjia-text-biaoqian{
    width: 100%;
    height: auto;
}
.shangjia-text-biaoqian span{
    display: block;
    width: 100%;
    height: .36rem;
    margin-bottom:.09rem; 
}
.shangjia-text-biaoqian span input{
    display: block;
    float: left;
    width: 4.
}
.shangjia-text-biaoqian span img{
    width: auto;
    height: .29rem;
    display: block;
    float: left;
    margin-left: .15rem;
    margin-top: .03rem;
    cursor: pointer;
}
.shangjia-text-text{
    height: 2.55rem;
}
.shangjia-text-text span{
    width: 100%;
    height: 100%;
    position: relative;
}
.shangjia-text-text span textarea{
    display: block;
    width: 100%;
    height: 100%;
    border:1px solid #000;
    padding:.1rem;
    font-size: .136rem;
    resize:none;
}
.shangjia-text-img1,.shangjia-text-img2{
    width: 7.39rem;
    height: 2rem;
    overflow-y:auto;
    padding-top: .2rem;
    border:1px solid #000;
    position: relative;
}
.shangjia-text-img1 span,.shangjia-text-img2 span{
    display: inline-block;
    float: left;
    height: .9rem;
    width: auto;
    margin-left: .2rem;
}
.shangjia-text-img1 span img{
    display: block;
    height: .6rem;
    width: auto;
}
.shangjia-text-img1a{
    display: block;
    width: .8rem;
    height: .30rem;
    line-height: .3rem;
    text-align: center;
    color: #fff;
    font-size: .12rem;
    background: #74c13c;
    border-radius: 3px;
    position: absolute;
    left: 6.59rem;
    top:-.06rem;
}
.shangjia-text-img2 {
    padding:.09rem .14rem;
    overflow: hidden;
    height: auto;
}
.shangjia-text-img2 span{
    width: 50%;
    float: left;
    display: block;
    height: .74rem;
    margin:0;
}
.shangjia-text-img2 span img{
    display: block;
    float: left;
    height: 100%;
    width: auto;
}
.shangjia-text-img2 span a{
    display: block;
    float: left;
    width: .7rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    color: #fff;
    font-size: .12rem;
    background: #74c13c;
    border-radius: 3px;
    margin:.44rem 0 0 .1rem;
}
#editor{
    width: 7.39rem;
    height: auto;
}
.froala-element{
    height: 7rem;
}
.shangjia-text-baocun{
    display: block;
    width: 7.39rem;
    height: 100%;
    border-radius: 3px;
    background: #74c13c;
    text-align: center;
    color: #fff;
}
.tc-cen-right{
    width: 2.9rem;
    height: 94.5%;
    background: #eee;
    z-index: 1;
    right:17px;
    bottom:0;
    position: absolute;
    float: right;
    overflow: hidden;
}
.shangjia-text-cen{
    width: 100%;
    height: 94.5%;
    overflow-y:auto;
    padding-left: .15rem;
    padding-bottom: .3rem;
}
.shangjia-text .tc-cen-col{
    height: 5.5%;
}
.right-gongneng-b{
    width: 100%;
    height: .76rem;
    text-align: center;
    margin-top: .17rem;
}
.right-gongneng-b a{
    display: inline-block;
    width: .53rem;
    height: 100%;
    text-align: center;
    margin: 0 .15rem;
    border:1px solid #b9b9b9;
    border-radius: 3px;
    line-height: .14rem;
    font-size: .14rem;
    color: #333;
    cursor: pointer;
}
.right-gongneng-b a img{
    display: block;
    width: .25rem;
    height: .25rem;
    margin: .11rem auto .16rem;
}
.right-gongneng-riqi{
    width: 100%;
    height: auto;
    margin-top: .72rem;
    padding-left: .4rem;
    font-size: .14rem;
    line-height: .21rem;
    color: #000;
}
.shangjia-text-erweima{
    width: 1.66rem;
    height: auto;
    position: absolute;
    left:5.7rem;
    top:2.3rem;
    font-size: .14rem;
    line-height: .14rem;
    text-align: center;
}
.shangjia-text-erweima img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: .1rem;
}
.shangjia-text-cen2{
    position: relative;
    width: 100%;
}
.shangjia-moren{
    width: 2.76rem;
    height: auto;
    position: absolute;
    left: 4.6rem;
    top: -.03rem;
    z-index: 1;
}
.shangjia-moren em{
    display: inline-block;
    width: auto;
    height: .22rem;
    font-size: .14rem;
    line-height: .14rem;
    border-bottom:1px solid #737373;
    cursor: pointer;
    font-weight: bold;
}
.shangjia-morenzhi{
    width: 100%;
    height: auto;
    margin-top: .05rem;
    background: #16151a;
}
.shangjia-mo-col{
    width: 100%;
    height: .36rem;
}
.shangjia-mo-col i{
    width: .36rem;
    height: .36rem;
    display: block;
    float: right;
    background: url(../img/guanbimenu.png) no-repeat center;
    background-size: .16rem;
    cursor: pointer;
}
.shangjia-mo-baocun{
    width: 100%;
    height: .25rem;
    margin-bottom: .16rem;
    text-align: right;
    margin-top: .25rem;
}
.shangjia-mo-baocun a{
    display: inline-block;
    width: auto;
    height: .25rem;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: .16rem;
    margin-right: .28rem;
    cursor: pointer;
}
.shangjia-mo-cen{
    width: 100%;
    height: auto;
}
.shangjia-mo-cen i{
    display: block;
    width: 100%;
    height: .24rem;
    margin-top: .1rem;
}
.shangjia-mo-cen i input{
    display: block;
    float: left;
    width: 1rem;
    padding:0 .1rem;
    font-size: .14rem;
    color: #fff;
    line-height: .23rem;
    border:1px solid #5f5f5f;
    margin-left: .1rem;
    margin-right: 0;
}
.shangjia-mo-cen i img{
    display: block;
    float: left;
    width: auto;
    height: 100%;
    margin-left: .15rem;
    cursor: pointer;
}
.shangjia-mo-cen i img:nth-of-type(3){
    height: .2rem;
    margin-top: .02rem;
}
.shangjia-caixi-m{
    left:1.77rem;
}
.shangjia-fuwu-m,.shangjia-biaoqian-m{
    left: 4rem;
    top: 0rem;
}
.right-shenhe-b a{
    margin:0 .02rem;
}
.shangjia-text-dianhua{
    width: 1.68rem;
    height: auto;
    position: absolute;
    top:1.4rem;
    left:5.7rem;
    font-size: .12rem;
    line-height: .12rem;
    color: #ff6600;
    z-index: 3;
}
.shangjia-text-dianhua input{
    display: block;
    width: 100%;
    height: .36rem;
    font-size: .14rem;
    line-height: .34rem;
    border:1px solid #ff6600;
    padding:0 .1rem;
    color: #ff6600;
    margin-top: 0.07rem;
}
.sousuo-nav.yijianfankui-nav span{
    text-align: left;
    padding-left: .52rem;
}
.yijian-time b{
    padding-left: .43rem;
    font-size: .14rem;
}
.yijian-time span,.yijian-time input{
    display: block;
    float: left;
    height: .26rem;
}
.yijian-time span{
    width: .96rem;
    text-align: right;
    line-height: .26rem;
}
.yijian-time input{
    width: 1.45rem;
    line-height: .24rem;
    padding-left: .08rem;
    color: #333;
    background: url(../img/timex.png) no-repeat center right;
    background-size: auto .2rem;
    border:1px solid #000;
}
.sousuo-nav span i{
    display: inline-block;
    height: .23rem;
    line-height: .23rem;
    padding:0 .07rem;
    background: #000;
    color: #c6ff00;
    border-radius: .11rem;
    margin-left: .1rem;
}
.yudingguanli-nav span{
    width: 25%;
}
.yudingguan-top b{
    text-align: left;
}
.yudingguan-top b h1{
    display: block;
    float: left;
    width: 10rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .28rem;
}
.yudingguan-top b h1 i{
    display: inline-block;
    width: .1rem;
    overflow: hidden;
}
.yudingguan-bottom{
    padding-left: 0;
}
.yudingguan-bottom b{
    padding-left: .46rem;
    text-align: left;
}
.yudingguan-bottom b i{
    height: .25rem;
    display: block;
    width: 1.3rem;
    line-height: .27rem;
    font-size: .12rem;
    padding-left: 0;
    margin-right: 13.70rem;
}
.yudingguan-bottom b i img{
    display: block;
    width: auto;
    height: 100%;
    margin-right: .1rem;
    float: left;
}
.yuding-b tr td i{
    color: #ff5400;
}
.yudingguan-top b select{
    display: block;
    float: left;
    height: .26rem;
    width: 1.45rem;
    line-height: .24rem;
    padding-left: .08rem;
    color: #333;
    background: url(../img/xialasc.png) no-repeat center right;
    background-size: auto .13rem;
    border:1px solid #000;
}
.yudingguan-top b span{
    width: 1.2rem;
}
.shujutongji-b b h1{
    width: 5.8rem;
}
.shujutongji-b b span{
    width: 1.05rem;
}
.yuliuguanli-pa0 .tc-cen{
    padding-left: 0;
}
.tc-cen-yuding span{
    font-size: .20rem;
}
.hei-t .tc-cen-yuding-a{
    height: auto;
    padding-bottom: .35rem;
}
.shujutongji-b .noinput{
    background: none;
}
.dingdan-a-input{
    width: 100%;
    height: .4rem;
    margin-top: .21rem;
    line-height: .4rem;
    position: relative;
    text-align: left;
    color: #c6ff00;
}
.dingdan-a-input input{
    display: block;
    float: left;
    width: 7.52rem;
    padding:0 .1rem;
    height: .4rem;
    border:1px solid #c6ff00;
    color: #c6ff00;
    background: #000;
    line-height: .38rem;
    margin-left: 0;
}
.dingdan-a-input b{
    width: 1.44rem;
    height: .4rem;
    line-height: .4rem;
    padding-left: .23rem;
    font-size: .16rem;
    display: block;
    float: left;
    color: #fff;
    text-align: left;
}
.yuliu-col b{
    color: #c6ff00;
}
.dingdan-a-text{
    height: auto;
    margin-top: .34rem;
}
.dingdan-a-text textarea{
    width: 7.52rem;
    height: auto;
    padding:.1rem .1rem .2rem;
    resize:none;
    border:1px solid #c6ff00;
    background: #000;
    color: #c6ff00;
    font-size: .16rem;
    line-height: .2rem;
    float: left;
}
.duanxin-t{
    width: 100%;
    height: .3rem;
    margin-top: .4rem;
    text-align: right;
    padding-right: .26rem;
}
.duanxin-t a{
    display: inline-block;
    width: .7rem;
    height: 100%;
    line-height: .28rem;
    border:1px solid #fff;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    position: relative;
    right:0;
    bottom:0;
    margin-left: .14rem;
}
.duanxin-t .duanxin-fabu,.duanxin-t .qitafabu,.duanxin-t .duanxin-fabu-b{
    width: auto;
    padding:0 .1rem;
    background:#c6ff00;
    border-color: #c6ff00;
    color: #333;
}
.duanxin-t .qitafabu{
    float: left;
    margin-left: 1.44rem;
}
.tc-zhixingx .xialakuang-xz{
    position: absolute;
    z-index: 8;
}
.xialakuang-xz b p{
    display: inline-block;
}
.quxiaoyuliu-a,.shanchuyuliu-a{
    width: 8.7rem;
    height: .47rem;
    line-height: .47rem;
    font-size: .24rem;
    font-weight: bold;
    text-align: center;
    margin:.64rem auto 0;
    background: #c6ff00;
    color: #333;
}
.tuikuanchuli{
    background: none;
    color: #fff;
}
.no-top{
    margin-top: 0;
}
.form-index{
    width: 100%;
    height: 100%;
    display: block;
}
.hei-a{
    width: 100%;
    height: .3rem;
    position: absolute;
    left:0;
    bottom: .43rem;
    z-index: 1;
}
.hei-a a{
    position: relative;
    top:0;
    left: 0;
    bottom:0;
    right:0;
    float: right;
    height: 100%;
    width: .7rem;
    height: 100%;
    line-height: .3rem;
    text-align: center;
    color: #333;
    background: #fff;
    border:none;
    margin-right: .27rem;
}
.hei-a .hei-ok{
    width: .94rem;
    background: #c6ff00;
    margin-right: .14rem;
}
.hei-tc-x{
    width: 100%;
    height: .4rem;
    font-size: .18rem;
    line-height: .4rem;
    color: #fff;
    text-align: left;
}
.hei-tc-x em{
    width: 1.52rem;
    display: block;
    height: 100%;
    padding-left: .23rem;
    float: left;
}
.hei-tc-x h1{
    width: 7.48rem;
    height: 100%;
    display: block;
    font-weight: 100;
    font-size: .18rem;
    padding-left: .13rem;
    line-height: .38rem;
    border:1px solid #c6ff00;
    color: #c6ff00;
    float: left;
    position: relative;
    background: #000;
    z-index: 4;
}
.hei-tc-x h1:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    right:0;
    width: .4rem;
    height: 100%;
    background: url(../img/h-x.png) no-repeat center right;
    background-size: auto .13rem; 
}
.hei-tc-x h1 i{
    display: block;
    width: 7.48rem;
    height: auto;
    position: absolute;
    top:101%;
    left: -1px;
    border:1px solid #c6ff00;
    border-top:none;
    padding:.1rem 0;
    background: #000;
    z-index: 3;
}
.hei-tc-x h1 i.none{
    display: none;
}
.hei-tc-x h1 i b{
    display: block;
    width: 100%;
    padding-left: .13rem;
    color: #fff;
    height: .4rem;
    line-height: .4rem;
}
.hei-tc-x h1 i b:hover{
    color: #c6ff00;
}
.tishiyu{
    width: 100%;
    height: auto;
    text-align: left;
}
.tishiyu em{
    display: block;
    width: 100%;
    height: .54rem;
    font-size: .54rem;
    line-height: .54rem;
    margin-top: .1rem;
    padding-left: .22rem;
    color: #c6ff00;
    letter-spacing: .02rem;
}
.tishiyu em i{
    color: #fff;
}
.tishiyu p{
    width: 100%;
    padding-left: .22rem;
    font-size: .17rem;
    color: #c6ff00;
    margin-top: .25rem;
}
.col-hong input{
    border-color: #fe6e0d;
}
.shangjia-text-input4{
    position: relative;
}
.shangjia-text-input4 input{
    width: 50%;
    border-color: #fe6e0d;
}
.shangjia-text-input4 em{
    display: block;
    position: absolute;
    top:.04rem;
    left:100%;
    width: 100px;
    height: .3rem;
}
.shangjia-text-input4 em img{
    width: auto;
    display: block;
    height: 100%;
    margin-left: .15rem;
    float: left;
}
.tijiao-ok em{
    text-align: center;
    margin-top: .7rem;
}
.tc-dizhi .tc-cen-te,.tc-lianjie .tc-cen-te,.xz-dizhi .tc-cen-te{
    height: auto;
}
.tc-dizhi .tc-cen-guanbi,.tc-lianjie .tc-cen-guanbi,.xz-dizhi .tc-cen-guanbi{
    color: #333;
    background: #fff;
    border-color: #fff;
}
.lunbotc a.tc-cen-baocun{
    background: #c6ff00;
    border-color: #c6ff00;
    color: #333;
    width: 1rem;
} 
.zhiding-gongneng{
    border-bottom: 1px solid #ddd;
}
.shangjia-liebiao .shujushouji-tab{
    width: 18.6rem;
}
.dingdan-a-chazhao input{
    width: 5.3rem;
}
.dingdan-chazhao{
    display: block;
    float: right;
    width: 2rem;
    padding:0 .1rem;
    height: .4rem;
    border:1px solid #c6ff00;
    color: #fff;
    background: #000;
    line-height: .38rem;
    margin-left: 0;
    text-align: center;
    margin-right: .25rem;
}
.dingdan-a-riqib:after{
    width: .3rem;
    height: .3rem;
    content: "";
    position: absolute;
    right: .35rem;
    top:.04rem;
    background: url(../img/rilibai.png) no-repeat center;
    background-size: 100% auto;
}
.dingdan-a-input.xinzeng-yuliu-dingdan{
    height: .2rem;

}
.dingdan-a-input.xinzeng-yuliu-dingdan em{
    border:none;
    color: #c6ff00;
    font-size: .16rem;
    width: 5rem;
    text-align: left;
}
.dingdan-a-input.xinzeng-yuliu-dingdan:last-child{
    margin-bottom: .4rem;
}
.xinzeng-yuliu-dingdan-g{
    height: .17rem;
}
.dingdan-a-chazhao .xialakuang-xz{
    width: 5.3rem;
    left:1.21rem;
    top:100%;
}
.dingdan-a-chazhao .xialakuang-xz b h1,.dingdan-a-chazhao .xialakuang-xz b{
    color: #333;
}
.dingdan-a-chazhao .xialakuang-xz b{
    width: 100%;
}
.dingdan-a-input-select select{
    display: block;
    float: left;
    width: 7.52rem;
    padding: 0 .1rem;
    height: .4rem;
    border: 1px solid #c6ff00;
    color: #c6ff00;
    background: #000;
    line-height: .38rem;
    margin-left: 0;
}
.dingdan-a-input-select:after{
    content: "";
    display:block;
    width: .5rem;
    height: 100%;
    background: url(../img/h-x.png) no-repeat center right;
    background-size: auto 25%;
    position: absolute;
    top:0;
    right:.3rem;
}
.tc-zhixingx-a .tc-cen-yuding{
    height:4.2rem;
}
body .margin-top-50{
    margin-top:.5rem;
}
.lunbotc .zhidingweizhi-1{
    width: 1.3rem;
    float: left;
    margin-left: .22rem;
    background: url(../img/h-x.png) no-repeat center right;
    background-size: auto .13rem;
}
.lunbotc .zhidingweizhi-1 option{
    color: #000;
}
.bendiC{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor: pointer;
}

