@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 0.14rem;
    color: #333;
    font-family: "微软雅黑";
    position: relative;
    background: #f4f4f4;
}
a{
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.clear {
    *zoom: 1;
}
.clear::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
b{
    font-weight: 100;
}
input,select,textarea{
    border: none;
    background: none;
    outline:medium;
    color: #333;
}
select,textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    resize : none;
}
input[placeholder],input[value],select{
    font-family: "微软雅黑";
}
input[type='radio']{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #d2d6de;
}
input[type='radio']:checked{
    background: #999;
}
input:hover,select:hover,textarea:hover,input:focus,select:focus,textarea:focus{
    border:2px solid #69c7ff;
}
input[type='radio']:hover,input[type='radio']:focus{
    border: 2px solid #d2d6de;
}
html body .none{
    display: none;
}
html body .overflowv{
    overflow: visible;
}
/*----------------------------------------------------------------*/
body{
    min-width: 980px;
    background: #e9ecf1;
}
.top_warp{
width:100%;
height:60px;
background:#ffffff;
color:#677781;
line-height:60px;
position:relative;
}
.top-cen{
    width: 980px;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.top_icon{
display:block;
text-decoration:none;
width:99px;
text-indent:35px;
background:url(../img/icon.png) no-repeat -3px 15px ;
font-weight:bold;
position:absolute;
left: 0;
color:#2776cf;
font-size:16px;
float:left;
}
header a{
text-decoration:none;
color:#677781;
}
header a:hover{
color:#2776cf;
}
header #top_nav02{
width:360px;
height:60px;
margin:0 auto;

border:0px solid red;
list-style:none;
}
header #top_nav02 li{
float:left;
width:120px;
text-align:center;
font-size:15px;
height: 100%;
}
header #top_nav02 li:hover{
color:#2776cf;
border-bottom:4px solid #2776cf;
}
header #top_nav02 li.active{
color:#2776cf;
border-bottom:4px solid #2776cf;
}
.top_end{
border:0px solid red;
position: absolute;
top: 0px;
right:15%;
}
.top_end>img,.top_end div{
float:left;
}
.user_photos{
height:60px;
width:35px;
margin-left:20px;
}
.top_end img{
border-radius:50%;
margin-top:15px;
margin-left:15px;
margin-right:4px;
float:right;
}
.top_end  .sum_count{
text-indent:27px;
background:url(../images/ld2.png) no-repeat -5px 15px;
}
.top_end  .sum_count:hover{
background:url(../images/ld.png) no-repeat -5px 15px;
}



.header_right{
border:0px solid red;
position: absolute;
top: 0;
right:0;
}
.header_right a{
    display: block;
    float: right;
}
.header_right em{
    display: block;
    background: url(../img/tishi.png) no-repeat;
    width: 45px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #2776cf;
    padding-left: 22px;
    margin-top: 23px;
}
.header_right img{
    border-radius: 50%;
    margin-top: 15px;
}
.header_right p{
float:left;
font-size:12px;
height:18px;
line-height:18px;
padding:0px 14px 0px 0px;
color:#3971AF;
} 
.header_right p a{
text-decoration:none;
color:#3971AF;
display:block;
height:18px;
border-bottom:1px solid white;
padding:0px 2px;
}
.header_right p a:hover{
border-bottom:1px solid #3971AF;

}

.footer{
width:730px;
margin:0 auto;
padding-bottom:30px;
}
.footer_t{
  width:100%;
  height:25px;
  font-size:16px;
  color:#505050;
  line-height:25px;
  margin-bottom:10px;
}
.f_pho,.f_mall,.f_weix{
  float:left;
  text-indent:30px;
  margin-right:35px;
}
.f_pho{
  background:url(../img/f_pho.png) left center no-repeat;
}
.f_mall{
  background:url(../img/f_mall.png) left center no-repeat;
}

.f_weix{
  background:url(../img/f_weix.png) left center no-repeat;
  margin-right:0px;
}
.footer>p{
  text-align:center;
  width:100%;
  font-size:16px;
  color:#545454;
  letter-spacing:1px;
}

.footer>p span{
  padding-right:20px;
}

/*--------------------------------------------------------------end start*/

.cen-cen{
    width: 962px;
    height: auto;
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
    border:2px solid #d2d6de;
    margin:50px auto;
}
.cen-bt{
    width: 100%;
    height: 53px;
    line-height: 53px;
    border-bottom: 1px solid #d2d6de;
    padding-left: 39px;
    color: #69c7ff;
    font-size: 16px;
    position: relative;
}
.cen-form1{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding:10px 0 20px;
}
.form1-left{
    height: auto;
    width: 50%;
    float: left;
    padding: 0  59px;
}
.form1-bt{
    width: 100%;
    height: 43px;
    line-height: 60px;
    padding-left: 1px;
    font-size: 14px;
    color: #7d7d7d;
    overflow: hidden;
}
.form1-bt b{
    display: block;
    float: left;
}
.form1-bt i{
    margin-left: 8px;
    color: #ff8280;
    position: relative;
    top:5px;
    display: block;
    float: left;
    font-size: 20px;
}
.form1-inp{
    width: 100%;
    height: 37px;
    overflow: hidden;
}
.form1-inp1{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border:2px solid #d2d6de;
    padding:0 10px;
    font-size: 14px;
}
.form1-inp select{
    background: url(../img/xiala.png) no-repeat center right;
}
.form1-select1{
    width: 116px;
    float: left;
}
.form1-select2{
    width: 218px;
    float: right;
}
.form1-input1{
    width: 47%;
    float: left;
}
.form1-input2{
    width: 47%;
    float: right;
}
.bozhe{
    display: inline-block;
    width: 6%;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    color: #888;
}
.form2-left{
    height: auto;
    width: 100%;
    padding: 10px 59px 20px;
}
.form2-xingbie{
    width: 100%;
    height: 18px;
    line-height: 18px;
    margin-top: 5px;
}
.form2-xingbie input{
    width: 18px;
    height: 18px;
}
.form2-xingbie em{
    position: relative;
    top:-4px;
    color: #828282;
    font-size: 14px;
    margin:0 63px 0 5px;
}
.form2-inp1{
    width: 43%;
}
.form2-left .form1-bt{
    height: 38px;
    line-height: 50px;
}
.form2-text{
    width: 100%;
    height: 104px;
    overflow: hidden;
}
.form2-textarea{
    width: 100%;
    height: 100%;
    padding:10px;
    font-size: 14px;
    border:2px solid #d2d6de;
    border-radius: 6px;
}
.daogang1{
    width: 100%;
    height: 18px;
    line-height: 16px;
    font-size: 14px;
    margin-top: 22px;
}
.daogang1 input{
    width: 18px;
    height: 18px;
    float: left;
    display: block;
}
.daogang1 em{
    margin-left: 16px;
}
.bot-button{
    width: 100%;
    height: 35px;
    text-align: center;
    overflow: hidden;
    margin:63px 0;
}
.bot-button a{
    display: inline-block;
    width: 148px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    background: #9b9b9b;
    color: #fff;
    font-size: 15px;
    margin:0 50px;
}
.bot-button a.active{
    background: #69c7ff;
}
.touxiang{
    height: 60px;
    width: 50px;
    text-align: center;
    position: relative;
    float: right;
}
.touxiang:hover{
    border-bottom: 4px solid #2776cf;
}
.touxiang:hover .touxiang-cen{
    display: block;
}
.touxiang-cen{
    display: none;
    position: absolute;
    top: 60px;
    width: 222px;
    height: auto;
    overflow: hidden;
    border:2px solid #2776cf;
    left: -86px;
    border-radius: 6px;
    box-shadow: 0px 2px 7px #999;
    background: #fff;
    z-index: 100;
}
.touxiang-cen span{
    display: block;
    width: 100%;
    height: 149px;
    background: #a9c8ec;
    text-align: center;
    overflow: hidden;
}
.touxiang-cen span img{
    border-radius: 3px;
    width: 80px;
    height: 80px;
    display: block;
    margin:19px auto 0;
}
.touxiang-cen span p{
    display: block;
    width: 100%;
    height: 14px;
    line-height: 14px;
    color: #fff;
    padding:0;
    margin-top: 18px;
    font-size: 14px;
}
.touxiang-cen a{
    display: inline-block;
    float: none;
    width: 83px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    border:2px solid #d2d6de;
    color: #999;
    margin:0 10px;
}
.touxiang-cen em{
    margin:0;
    width: 100%;
    height: 64px;
    background: #fff;
    padding: 19px 0 0;
}
.gongsi-xiugai{
    width: 633px;
    height: auto;
    margin:32px auto;
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    padding-left: 43px;
}
.xiugai-bt1{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    margin-top: 36px;
    color: #797979;
}
.xiugai-bt2{
    width: 100%;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    margin-top: 20px;
    color: #858585;
}
.xiugai-text1{
    width: 250px;
    height: 22px;
    line-height: 14px;
    font-size: 14px;
    margin-top: 14px;
    color: #333;
    border-bottom: 2px solid #e7e9ed;
    position: relative;
}
.xiugai-text1 a{
    display: block;
    width: 98px;
    text-align: center;
    height: 27px;
    line-height: 23px;
    border:2px solid #ff8280;
    color: #ff8280;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    left: 102%;
    top: -4px;
}
.xiugai-text1 .text-xiugai{
    width: 54px;
    color: #69c7ff;
    border-color:#69c7ff;;
}
.xiugai-a{
    width: 100%;
    height: 30px;
    margin:34px 0 120px;
}
.xiugai-a a{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 60px;
    width: 100px;
    text-align: center;
    color: #333;
    background: #d2d6de;
    border-radius: 3px;
    font-size: 14px;
}
.xiugai-a a.active{
    color: #fff;
    background: #69c7ff;
}