@charset "utf-8";
i,em{
	font-style: normal;
}
i{
	position: relative;
}
html body .bacfff{
	background: #fff;
}
/*---------------cont-top----------------*/
.cont-bt{
	width: 100%;
	height: 78px;
	background: #f3f6f9;
	border-bottom: #e5e5e5 1px solid;
	overflow: hidden;
}
.cont-bt p{
	font-size: 18px;
	display: block;
	margin:15px 0 2px 40px;
}
.cont-bt ul{
	margin-left: 21px;
}
.cont-bt ul li{
	float: left;
	width: 70px;
	height: 33px;
	line-height: 33px;
	margin:0 13px;
	text-align: center;
}
.cont-bt a{
	color: #898989;
	display: block;
}
.cont-bt a:hover{
	color: #333;
}
.cont-bt-a{
	border-bottom: 2px solid #44b7cd;
}
.cont-bt-a a{
	color: #333;
}
.dbottom{
	height: 50px;
	width:100%;
}
/*---------------credit-service----------------*/
.credit-service-cen{
	padding:25px 43px;
	width: 100%;
	word-break:break-all;
}
.credit-service-cen img{
	margin:70px auto 0;
	display: block;
}
/*---------------report-query----------------*/
.report-query,.api,.list-query{
	width:calc(100% - 50px);
	margin:0 25px;
}
.report-q-ss{
	height: 38px;
	width: 950px;
	line-height: 38px;
	margin-top: 28px;
	padding-left: 17px;
	position: relative;
}
.report-q-ss input{
	border:1px solid #eeeef0;
	height: 100%;
	margin:0 9px;
	position: relative;
}
.report-q-ss .report-time{
	width: 120px;
	background: url(../images/input-time.png) no-repeat
		90px 9px;
	position: relative;
}
.report-q-ss .report-time:nth-of-type(2){
	margin: 0 15px 0 5px;
}
.report-time-a:nth-of-type(2){
	left:290px;
}
.report-q-ss .report-font{
	width: 220px;
	margin-right: 15px;
}
.report-zt{
	width: 75px;
	height: 100%;
	background: url(../images/select-x2.png) no-repeat
		no-repeat calc(100% - 10px) 12px;
	border:1px solid #eeeef0;
	margin:0 9px;
	margin-right: 15px;
	position: relative;
	border-radius: 2px;
	padding-left: 5px;
	color: #999;
}
.report-q-ss a{
	height: 100%;
	width:100px;
	border-radius: 3px;
	background: #3bb3cb;
	text-align: center;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	position: relative;
	top:1px;
}
.report-zt-a{
	position: absolute;
	left: 740px;
	top:16px;
	background: url(../images/home-ind.png)
		no-repeat -26px -11px;
	width: 16px;
	height: 10px;
}
.report-table{
	width:100%;
	margin:20px 0 0 0;
	border-bottom: 1px solid #e4e4e4;
	font-size: 12px;
}
.report-table tr{
	height: 35px;
}
.report-table tr td{
	line-height: 35px;
	padding-left: 5px;
}
.report-table tr td img{
	cursor: pointer;
}
.report-table tr td:nth-of-type(2){
	color: #3498db;
}
.report-table tr:hover{
	background: #f8f8f8;
}
.report-table-bt{
	width:100%;
	background: #e5e5e5;
	font-size: 14px;
}
.report-table tr:nth-of-type(1):hover{
	background: #e5e5e5;
}
.report-table tr:nth-of-type(1) td{
	color: #999;
}
.report-fg{
	width: 100%;
	height: 50px;
	font-size:12px;
	color: #999;
	line-height: 50px;
	background: #f7f7f7;
	padding: 0 10px;
}
.report-fg span{
	float: right;
	display: block;
	height: 25px;
}
.report-fg span input{
	width: 35px;
	height: 25px;
	border: 1px solid #999;
	position: relative;
	top:-1px;
	line-height: 23px;
	font-size: 12px;
	text-align: center;
	margin:0 5px;
}
.report-fg a{
	color: #999;
}
.report-fg select{
	margin:0 3px;
    height: 25px;
    width:40px;
    padding:0 3px;
    background: url(../images/select-x.png)
		no-repeat 23px 9px;
	border:1px solid #e6e6e6;
	border-radius: 2px;
	color: #999;
}
.report-fg span em{
	height: 25px;
	width:35px;
	background: #e6e6e6;
	border-radius: 4px;
	float: right;
	display: block;
	line-height: 25px;
	text-align: center;
	margin-left: 5px;
	position: relative;
	top:13px;
}
@media screen and (min-width:0px) and (max-width:1100px){ 
	.report-table,.api{
		width:1000px;
	}
} 
/*---------------api----------------*/
.api-top{
	width: 100%;
	padding:30px 0;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
}
.api-top em{
	display: block;
	font-size:12px;
}
.api-bt{
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin:15px 0 0 10px;
}
.api-bt2{
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin:15px 0 0 10px;
}
.api-http{
	background: #efefef;
	padding:15px;
	color: #3498db;
	word-break:break-all;
	margin-top:10px;
	font-size: 12px;
}
.api-http3{
	background: #efefef;
	padding:15px;
	word-break:break-all;
	margin-top:10px;
	font-size: 12px;
	display: block;
}
.api-http2{
	padding:0 15px;
	word-break:break-all;
	margin-top:5px;
	font-size: 12px;
	line-height: 30px;
}
.api-table{
	width:100%;
	margin:10px 0 0 0;
	font-size: 12px;
}
.api-table tr{
	height: 35px;
	border-bottom: 1px solid #e5e5e5;
}
.api-table tr:nth-of-type(1){
	width:100%;
	background: #e5e5e5;
	font-size: 14px;
	font-weight: bold;
}
.api-table tr td{
	line-height: 35px;
	padding-left: 10px;
}
.api-table tr:nth-of-type(1) td{
	padding-left:8px;
}
.api-table tr:hover{
	background: #efefef;
}
.api-textarea{
	width: 100%;
	border:1px solid #e5e5e5;
	height: 500px;
	margin-top: 10px;
	overflow: hidden;
}
/*--------text*/
#main{
	color:#666;
}
.grey{
	color:#999;
}
#msg1,#msg2,#msg3,#msg4{ 
	display:none;
}
#ol{
	position:absolute;
	padding:5px 0 0 0;
	margin:0px;
	border:0px;
	background:#efefef;
	width:32px;
	text-align:left; 
}
#li{
	background:#efefef;
	height:510px;
	overflow:hidden;
	width:32px;
	border-right:0;
	line-height:20px;
	margin:0px;
	padding:0px;
	text-align:center;
}
  
#c2{
	height:510px; 
	margin:0px; 
	width:100%;
	padding:5px 0 0 40px;
	overflow-x: hidden;
	line-height:20px;
	word-break:break-all;
}
/*---------------list-query----------------*/
.list-q-name{
	height: 38px;
	line-height: 38px;
	width:660px;
	margin:69px auto 0;
	position: relative;
}
.list-q-name a{
	background: #3bb3cb;
	border-radius: 3px;
	width:100px;
	height: 100%;
	display: block;
	float: right;
	text-align: center;
	color: #fff;
}
.list-q-name a:hover{
	background: #37a7bd;
}

.list-q-name input{
	height: 100%;
	border:1px solid #eeeef0;
	line-height: 36px;
	margin:0 10px;
	width:190px;
}
.list-q-name input:nth-of-type(2){
	width: 230px;
}
.list-name{
	margin:70px 0 0 20px;
	width:600px;
	height: 25px;
	font-size:20px;
	line-height: 25px;
}
.list-n-cen{
	margin:8px 0 0 22px;
	width: 100%;
	color: #585859;
	font-size: 12px;
	line-height: 25px;
}
.list-n-cen strong{
	color: #333;
}
.list-jtext{
	width:1020px;
	height: 100px;
	margin-top: 45px;
	overflow: hidden;
}
.list-jtext ul li{
	height: 100px;
	overflow: hidden;
	float: left;
	width: 222px;
	border:1px solid #f3f3f4;
	line-height: 35px;
	padding-left: 20px;
	padding-top: 12px;
	margin: 0 9px 0 20px;
	color: #585859;
}
.list-jtext ul li:hover{
	border:1px solid #ededed;
}
.list-jtext p span{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	font-family: Tahoma;
	margin-right: 3px;
}
.list-table{
	width:100%;
	margin:10px 0 0 0;
	font-size: 12px;
}
.list-table tr{
	height: 35px;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 3px;
}
.list-table tr:nth-of-type(1){
	width:100%;
	background: #e5e5e5;
	font-size: 14px;
	font-weight: bold;
}
.list-table tr td{
	line-height: 35px;
	padding-left: 10px;
}
.list-table tr:nth-of-type(1) td{
	padding-left:8px;
}
.list-table tr:hover{
	background: #efefef;
}
.list-t-a,.list-t-b,.list-t-c,.list-t-d{
	width: 13px;
	height: 13px;
	background: #58a109;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right: 2px;
}
.list-t-b{
	background: #ff593e;
}
.list-t-c{
	background: #cdcdcd;
}
.list-t-d{
	background: #3bb3cb;
}
.list-ing{
	width: 64px;
	height: 64px;
	margin:120px auto 0;
}
.list-i-cen{
	width: 100%;
	height: 20px;
	color: #898989;
	text-align: center;
	margin-top:40px;
}
/*---------------------list-record--------------------*/
.list-r-x{
	position: relative;
	top:3px;
	color: #fa7473;
	margin-left: 5px;
}
.list-r-ss{
	margin-top: 37px;
}
.export{
	text-align: right;
	width: 100%;
	padding-right: 25px;
	height: 22px;
	line-height: 22px;
	margin-top: 13px;
}
.export a{
	color: #999;
}
.export img{
	position: relative;
	top:-2px;
}
.list-r-table{
	margin-top: 5px;
}
/*---------------------list-record--------------------*/
.list-dtwo-table{
	width: calc(100% + 50px);
	background: #f7f8f8;
	height: 450px;
	margin-top: 108px;
	position: relative;
	left:-25px;
}
.list-dtwo-table ul{
	margin:0 auto;
	width: 860px;
	height: 100%;
}
.list-dtwo-table ul li{
	width: 25%;
	word-break:break-all;
	line-height: 23px;
	height: 100%;
	text-align: center;
	color: #999;
	float: left;
	font-size: 12px;
}
.list-dtwo-table img{
	margin:50px auto 10px;
	width: 86px;
	height: 86px;
}
.list-dtwo-table span{
	display: block;
	font-size: 16px;
	color: #333;
	margin:15px 0;
}
.list-dtwo-name{
	margin-top: 100px;
}
/*---------------------user-inter--------------------*/
.user-1psb{
	background: url(../images/1pxb.png) repeat-y;
}
.user-bt{
	height: 59px;
}
.user-con{
	width: 100%;
	position: relative;
}
.user-menu{
	float: left;
	width:170px;
	height: 100%;
}
.user-menu ul{
	margin-top: 20px;
	width: 100%;
}
.user-menu ul li{
	height: 35px;
	line-height: 35px;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
}
.user-menu em{
	display:block;
	float: left;
	position: relative;
	top:15px;
	left:13px;
    background: url(../images/home-mux.png) no-repeat
        -142px -0px;
    height: 7px;
    width: 27px;
    margin-right:8px;
}
.user-menu .user-back{
	height: auto;
}
.user-menu .user-back em{
    background: url(../images/home-mux.png) no-repeat
        -142px -7px;
}
.user-menu ul li dl dd{
	height: 34px;
	line-height: 34px;
	width: 100%;
	font-size: 12px;
	padding-left: 40px;
}
.user-menu ul li dl dd:hover{
	background: #3bb3cb;
	color: #fff;
	cursor: pointer;
}
.user-menu ul li dl dd:hover a{
	color: #fff;
	display: block;
}
.user-cent{
	float: left;
	width:calc(100% - 170px);
}
.user-c-name{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 70px;
	padding-left: 40px;
	color: #6e6e6e;
}
.user-c-name select{
	height: 38px;
	padding-left: 5px;
	background: url(../images/select-x2.png) no-repeat
		no-repeat calc(100% - 10px) 12px;
	border: 1px solid #eeeef0;
	border-radius: 2px;
	color: #999;
	margin:0 30px 0 10px;
	width: 78px;
}
.zfselect{
	width: 218px;
	height: 38px;
	display: inline-block;
	position: relative;
	margin:0 30px 0 10px;
}
.fselect{
	width: 78px;
	height: 38px;
	background: url(../images/select-x2.png) 
		no-repeat calc(100% - 10px) 12px;
	border-radius: 2px;
	color: #999;
	position: relative;
	border: 1px solid #eeeef0;
	line-height: 36px;
	padding-left: 5px;

}
.fselecthover{
	background: url(../images/select-x3.png) 
		no-repeat calc(100% - 10px) 12px;
	border:1px solid #54abd9;

}
.fselect-ss{
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding:3px 10px 0;
	position: relative;
}
.fselect-ss input{
	width: 100%;
	height: 24px;
	border-radius: 3px;
	background: #f0f0f0;
	font-size: 12px;
	line-height: 24px;
	padding-left: 22px;
	padding-top:1px;
	position: relative;
	top:-17px;
}
.fselect-ss em{
	display: block;
	width:13px;
	height: 13px;
    background: url(../images/home-ind.png) no-repeat
        -47px -1px;
    position:absolute;
    top:16px;
    left:16px;
}
.fselect-z .f-s-bar{
	width: 10px;
	height: 50px;
	position: absolute;
	background: #e1e1e1;
	border-radius: 4px;
	top:40px;
	left:calc(100% - 21px);
	z-index: 2;
}
.fselect-z{
	width: 100%;
	background: #fff;
	position: absolute;
	height: 196px;
	top:36px;
	left: 0px;
	overflow:hidden;
	display:none;
	border:1px solid #eeeef0;
	border-top:;
}
.fselect-li{
	height: 143px;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}
.fselect-z ul{
	width: 100%;
	padding:0 10px 10px;
	position: absolute;
	top:0;
	left: 0;
}
.fselect-z ul li{
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border-radius: 3px;
	color: #333;
	width: calc(100% - 15px);
	cursor: pointer;
}
.fselect-z ul li:hover{
	background: #54abd9;
	color: #fff;
}
.user-c-name a{
	height: 38px;
	display: inline-block;
	width: 100px;
	line-height: 38px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	background: #3bb3cb;
}
.user-cen-setwo{
	width: 218px;
}
.user-cent-cen{
	width: 100%;
	background: #f3f6f9;
	padding:15px;
}
.user-cent-c1{
	width: 100%;
	border:1px solid #e5e5e5;
	background: #fff;
}
.user-cent-c1time{
	text-align: right;
	width: 100%;
	height: 1px;
	line-height: 12px;
	color: #999;
	font-size: 12px;
	position: relative;
	top:-20px;
	padding-right: 50px;
}
.user-cent-cen-table{
	width: calc(100% - 20px);
	margin:20px auto 0;
}
.user-cent-cen-table tr td:nth-of-type(2){
	color: #333;
}
.user-cent-cen-table tr:nth-of-type(1) td{
	color: #999;
}
.user-cent-cen-table tr:hover{
	background: #efefef;;
}
/*------------------user-me.html-----------------*/
.user-me-left{
	width:240px;
	margin:33px 40px 33px 33px;
	float: left;
	position: relative;
}
.user-me-l1,.user-me-r1{
	width: 100%;
	border:1px #e5e5e5 solid;
	height: 260px;
	position: relative;
}
.user-meltop{
	position: absolute;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	background: #5fa2dd;
	height: 6px;
}
.user-me-l1bt{
	display: block;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	margin:17px 0 10px 16px;
}
.usme-bem{
	color: #585859;
	font-size: 12px;
	display: block;
	width: 100%;
	padding-left: 18px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.usme-bem em{
	float: right;
	width: 129px;
	position: relative;
	top:-3px;
}
.usme-bem em span{
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
	font-family: Tahoma;
	position: relative;
	top:1px;
}
.usme-bem2 em span{
	color: #e45e5c;
}
.usme-bottom{
	color: #afafaf;
	padding-left: 18px;
	font-size: 12px;
	display: block;
	margin-top: 13px;
}
.user-me-l2{
	margin-top: 26px;
}
.user-meltop2{
	background: #8cc74f;
}
.user-me-rnav{
	width: 450px;
	height: 38px;
	position: absolute;
	top:10px;
	left: calc(100% - 415px);
}
.user-me-rnav input{
	height: 100%;
	border:1px solid #eeeef0;
	line-height: 35px;
	width: 120px;
	background: url(../images/input-time.png) no-repeat
		90px 9px;
	margin:0 5px 0 3px;
}
.user-me-rnav select{
	width: 135px;
	height: 100%;
	border:1px solid #eeeef0;
	line-height: 35px;
	color: #585859;
	padding-left: 5px;
	font-family: "微软雅黑";
	background: url(../images/select-x2.png) no-repeat
		no-repeat calc(100% - 10px) 12px;
}
.user-me-rcr{
	height: 150px;
	width: 60px;
	color: #afafaf;
	text-align: right;
	line-height: 38px;
	font-size: 12px;
	margin-top:21px;
	float: left;
}
.user-me-rct{
	float: left;
	height: 180px;
	width: calc(100% - 60px - 40px);
	margin:38px 20px 0;
}
.user-me-rct1{
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
}
.user-me-rct1 td{
	height: 120px;
	width: 16.6%;
}
.user-me-rct1 td div{
	width: 27px;
	background: #5fa2dd;
	position: relative;
}
.user-me-rct1 td div:hover{
	background: #6ab4f6;
}
.user-me-rct1 td span{
	display: block;
	position: absolute;
	top:-48px;
	left:-52px;
    background: url(../images/home-ind.png) no-repeat
        -248px 0px;
    width:131px;
    height: 47px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: none;
}
.user-me-rct1 td div:hover span{
	display: block;
}
.user-me-rct tr:nth-of-type(2) td{
	padding-top: 10px;
	color: #afafaf;
}
.user-me-r2{
	margin-top: 26px;
}
.user-me-r2 table tr td div{
	background: #8cc74f;
}
.user-me-r2 table tr td div:hover{
	background: #97e645;
}
.user-me-right{
	width:calc(100% - 240px - 40px - 33px - 33px - 2px);
	float: left;
	margin-top:33px;
}
/*------------------user-me.html-----------------*/
.skynet-li{
	margin-top: 80px;
}
.skynet-li ul li{
	width: 33.3%;
}
.skynet-name2{
	margin-top: 10px;
	margin-bottom: 0px;
}
.skynet-n {
	width:920px;
}
.skynet-n i:nth-of-type(1) input{
	width: 180px;
}
.skynet-n i:nth-of-type(2) input{
	width: 218px;
}
.skynet-n i:nth-of-type(3) input{
	width: 158px;
}
.skynet-n input{
	margin-left: 5px;
}
.skynet-n span{
	display: inline-block;
	width: 50px;
	text-align: right;
	color: #6e6e6e;
}
.skynet-n span:nth-of-type(2){
	width:78px;
}
.skynet-n span em{
	position: relative;
	color: #fa7473;
	top:2px;
	left:1px;
}
.skynet-name{
	margin-top: 50px;
	position: relative;
}
.skynet-name a{
	position: absolute;
	top:25px;
	left: 800px;
}
/*------------------tobot-query.html-----------------*/
.robot-em{
	margin-top: 25px;
	width: 1000px;
}
.robot-em em{
	position: relative;
	color: #fa7473;
	top:2px;
	left:1px;
}
.robot-em span{
	font-size: 12px;
	color: #919191;
}
.robot-em input{
	margin-left: 5px;
	padding-left: 9px;
}
.robot-low,.robot-high{
	width: 26px;
	height: 21px;
	background:#79b43a;
	line-height: 21px;
	text-align: center;
	display:block;
	color: #fff;
}
.robot-high{
	background: #ff8966;
}
.robot-table{
	margin-top: 10px;
}
.robot-table tr{
	height: 37px;
	border-bottom: 1px solid #efefef;
}
.robot-export{
	height: 32px;
	line-height: 32px;
	width: 100%;
	text-align: left;
	margin-top: 14px;
}
.robot-export select{
	width: 125px;
	height: 100%;
	padding-left: 10px;
	background: url(../images/select-x2.png) no-repeat
		no-repeat calc(100% - 10px) 10px;
	color: #999;
	border:1px solid #eeeef0;
	border-radius: 2px;
	margin-right: 6px;
}
.onepxg{
	width: 100%;
	height: 1px;
	background: #f3f6f9;
	margin-top: 14px;
}
.robot-export a{
	float: right;
}
/*------------------robot-one.html-----------------*/
.robot-o-table{
	margin-top: 80px;
}
/*------------------robot-one-list.html-----------------*/
.robot-one-litable{
	margin: 50px 0;
}
.robot-one-litable tr{
	height: 38px;
}
.robot-one-litable tr td{
	line-height: 38px;
	font-size: 14px;
}
.robot-one-litable tr td em{
	margin-right: 10px;
}
.robot-one-litable tr:nth-of-type(1){
	color: #919191;
}
.robot-o-l-cn{
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #919191;
	width: calc(100% - 50px);
	border-bottom: 1px solid #f3f6f9;
	position: relative;
	margin:20px auto 0;
}
.robot-o-l-cn span{
	position: absolute;
	top: 50px;
	left: calc(100% - 87px);
	display: block;
	width: 51px;
	line-height: 18px;
}
.olist-high,.olist-low{
	display: block;
	width: 100%;
	height: 62px;
	line-height: 50px;
	font-size: 24px;
	font-weight: bold;
	font-family: "黑体";
    background: url(../images/home-ind.png) no-repeat
        -131px -0px;
    color: #fff;
    text-align: center;
}
.olist-low{
	background: url(../images/home-ind.png) no-repeat
        -190px -0px;
}
.robot-oli-name{
	margin-top: 20px;
}
/*------------------robot-service.html-----------------*/
.robot-service-cen{
	line-height: 27px;
}
.robot-service-cen img{
	margin:10px;
}
.robot-service-cen p em{
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #b5b5b5;
	border-radius:40%;
	position: relative;
	top:-3px;
	margin-right: 5px;
}
.robot-service-cen p,.robot-service-cen ul{
	margin-left: 20px;
}
.robot-service-cen p:nth-of-type(1){
	margin:23px 0 40px 196px;
	font-size: 18px;
}
/*------------------robot-batch-one.html-----------------*/
.robot-b-top{
	height: 35px;
	width: calc(100% - 24px);
	line-height: 35px;
	padding:0 23px 0 10px;
	color: #ccb486;
	background: #fffae5;
	margin:11px auto 0;
}
.robot-b-top em{
	display: block;
	float: right;
	width: 10px;
	height: 10px;
    background: url(../images/home-ind.png) no-repeat
        -389px 0px;
	cursor: pointer;
	position: relative;
	top:10px;
}
.robottopno{
	background:#f2dede;
	color: #bb504e;
}
.robottopno em{
    top:13px;
}
.robot-bs{
	width: 780px;
	height: 65px;
	margin: 50px auto 0;
	background: url(../images/robot-b-bj.png) 
		repeat-x 0 19px;
}
.robot-bs ul li{
	height: 38px;
	line-height: 34px;
	border:2px solid #e6e6e6;
	border-radius: 50%;
	width: 38px;
	text-align: center;
	color: #e6e6e6;
	font-size: 16px;
	float: left;
	margin-left: 208px;
	background: #fff;
	position: relative;
}
.robot-bs ul li:nth-of-type(1){
	margin-left: 0;
}
.robot-bs li p{
	position: absolute;
	top:50px;
	display: block;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	left:-8px;
	font-size: 12px;
}
.robot-bs .robot-yesli{
	border:2px solid #3bb3cb;
	color: #3bb3cb;
}
.robot-yesli em{
    background: url(../images/home-ind.png) no-repeat
        -0px -28px;
    display: block;
    width: 16px;
    height: 11px;
    margin:12px 0 0 9px;
}
.robot-b-name{
	height: 35px;
	line-height: 35px;
	width: 610px;
	margin:100px auto 0;
	position: relative;
}
.robot-b-name i{
	float: left;
	height: 100%;
	line-height: 35px;
	position: relative;
	top:0;
}
.robot-b-namet{
	padding-left: 10px;
	line-height: 33px;
	border:1px solid #eeeef0;
	width: 305px;
	height: 100%;
	color: #d8d8d8;
	border-radius: 3px;
	margin-left: 8px;
	float: left;
	overflow: hidden;
	white-space:nowrap; 
}
.robot-b-namea{
	display: inline-block;
	width: 97px;
	text-align: center;
	position: relative;
	left: -5px;
	background: #e6e6e6;
	border-radius: 2px;
}
.robot-b-name input{
	display: inline-block;
	width: 97px;
	text-align: center;
	position: absolute;
	left: 366px;
	top:0px;
	background: red;
	border-radius: 2px;
	height: 100%;
	z-index: 3;
	filter:alpha(opacity:0);
	opacity: 0;
}
.robot-b-name span{
	display: inline-block;
	width: 124px;
	height: 100%;
	line-height: 33px;
	border: #dcdcdc solid 1px;
	font-size: 12px;
	color: #686868;
	border-radius: 2px;
	position: relative;
}
.robot-b-name span em{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/home-ind.png) no-repeat
        -97px -0px; 
	margin:0 6px;
	position: relative;
	top:6px;
}
.robot-b-name span:hover{
	color: #fff;
	background: #3bb3cb;
	border: #3bb3cb solid 1px;
}
.robot-b-name span:hover em{
	background: url(../images/home-ind.png) no-repeat
        -70px -0px; 
}
.robot-b-xone{
	width: 482px;
	height: 35px;
	margin: 30px auto 0;
}
.robot-b-xone a{
	display: block;
	width: 100px;
	height: 100%;
	line-height: 35px;
	text-align: center;
	background:#3bb3cb;
	border-radius: 3px;
	color: #fff;
}
/*------------------robot-batch-four.html-----------------*/
.robot-b-four{
	width:540px;
	height: 110px;
	margin: 100px auto 0;
}
.robot-b-four img{
	display: block;
	float: left;
	width: 94px;
}
.robot-b-four span{
	line-height: 31px;
	color: #999;
	float: left;
	display: block;
	margin:5px 0 0 50px;
}
.robot-b-four span a{
	color: #3bb3cb;
}
/*------------------robot-batch-three.html-----------------*/
.robot-batch-three{
	width: 500px;
	line-height: 30px;
	margin-left: 50px;
	margin-top: 25px;
}
.robot-batch-three span{
	color: #919191;
}
.robot-batch-three em{
	color: #fc7249;
	margin-right: 5px;
}
.robot-batch-three a{
	text-decoration: underline;
	font-size: 12px;
}
.robot-batch-table{
	width:calc(100% - 100px);
	margin-top: 10px;
}
.robot-batch-table tr td{
	color: #414141;
}
.robot-batch-table tr{
	border-top:1px solid #f3f3f4;
}
.rbth-fg{
	width:calc(100% - 100px);
	margin:0 auto;
}
/*------------------robot-batch-two.html-----------------*/
.robot-btwo{
	width: 117px;
	height: 117px;
	overflow: hidden;
	border-radius: 50%;
	margin: 80px auto 0;
	text-align: center;
	line-height: 117px;
	font-size: 36px;
	position: relative;
	background: #e2e2e2;
}
.robot-btwo em{
	z-index: 3;
	color: #e2e2e2;
}
.ro-b{
	position: absolute;
	left: 50%;
	top: 50%;
}
.ro-a{
	position: absolute;
	left: 3px;
	top: 3px;
    background: #fff;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    line-height: 111px;
}
.ro-b span{
	display: block;
	position: relative;
	top:0;
	left:0;
}
.ro-b1{
	transform: rotate(0deg);
}
.ro-b span p{
	display: block;
	width: 6px;
	height: 80px;
	background: #3bb3cb;
}
.ro-b span p{
	position: absolute;
	transform:translate(-50%,-100%);
    -moz-transform:translate(-50%,-100%);
    -webkit-transform:translate(-50%,-100%);
    -o-transform:translate(-50%,-100%);
    -ms-transform:translate(-50%,-100%);
}
.inputa{
	position: relative;
}
.inputa i{
	display: inline-block;
	height: 100%;
}
i .i-div{
	position: absolute;
	top:32px;
	left: 10px;
	color: #fa7473;
	font-size: 12px;
	height: 60px;
}
.menu dl dd:hover{
	background: #3bb3cb;
}




/*------------------@media-----------------*/
@media screen and (min-width:0px) and (max-width:1100px){ 
	.report-table,.api,.list-query{
		width:1000px;
		overflow: hidden;
	}
	.user-con{
		width: 1050px;
	}
} 

