em,i{
    font-style:normal;
}
input{
    outline:none;
    -webkit-appearance: none;
    border: 0 none;
    border: 0;
}
input[type="search"]{
    -webkit-appearance:none;
    -ms-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
} 
input::-webkit-search-cancel-button {
    display: none;
}
li,dd{
    list-style: none;
}
.ser-log .sear-box input{
    height: 100%;
}
.clear{
    clear: both;
}
*{
    box-sizing:border-box;
}
.leftPane,.leftPane div,.leftPane dl,.leftPane dt,.leftPane a, .leftPane{
    box-sizing:content-box;
}
canvas{
    margin:0;
    padding:0;
}
@media screen and (min-width:768px){
    .protest{
        width: 1200px;
        margin:0 auto;
        padding-bottom: 25px;
    }
    .pro-cen{
        width:100%;
        height: 500px;
        margin-top: 40px;
    }
    .pro-cen ul li{
        float:left;
        width:392px;
        height: 240px;
        background: #f2f2f2;
        margin:4px;
        position: relative;
    }
    .pro-cen ul li:nth-of-type(1){
        border-top-left-radius:16px; 
    }
    .pro-cen ul li:nth-of-type(3){
        border-top-right-radius:16px;
    }
    .pro-cen li img{
        width:110px;
        display: block;
        margin:37px auto 0;
    }
    .pro-cen li a{
        display: block;
        position: absolute;
        top:200px;
        left:0;
        height: 40px;
        background: #aae3ff;
        line-height: 40px;
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        width:100%;
        color: #fff;
    }
    .pro-cen li a:hover{
        background: #ffaf00;
    }
    /*-----------------------------------------specialty*/
    .spe-table{
        width: 1034px;
        height: auto;
        margin:42px auto 0;
    }
    .spe-tab-top{
        background: url(../img/protest/table-bj-top.png) no-repeat;
        height: 76px;
    }
    .spe-tab-center{
        background: url(../img/protest/table-bj-center.png) repeat-y;
        height: auto;
    }
    .spe-tab-bottom{
        background: url(../img/protest/table-bj-bottom.png) no-repeat;
        height: 22px;
    }
    .spe-tab-top,.spe-tab-center,.spe-tab-bottom{
        width: 100%;
        background-size: 1024px auto;
        position: relative;
    }
    .spe-tab-top span{
        display: block;
        line-height: 42px;
        height: 43px;
        width: 333;
        position: relative;
        top:13px;
        left: 0;
        background: url(../img/protest/table-bt-bj.png) no-repeat;
        background-size: 289px auto;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding-left: 75px;
    }
    .spe-tab-top em{
        position: absolute;
        left: 864px;
        float: right;
        top:16px;
        width: 118px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background: #ffaf00;
        border-radius: 10px;
        font-size: 12px;
        display: block;
        color: #fff
    }
    .spe-tab-top em a{
        color: #fff
    }
    .spe-tab-top img{
        width: 12px;
        height: auto;
        position: relative;
        top:-1px;
        margin-right: 5px;
    }
    .spetabcss{
        width: 982px;
        height: 198px;
        background: url(../img/protest/table-bj-b.png) no-repeat;
        background-size: cover;
        position: relative;
        margin:10px auto 0;
    }
    .spetabcss span{
        display: block;
        height: 42px;
        width: 550px;
        position: relative;
        margin:0 auto;
    }
    .spetabcss a{
        position: absolute;
        top:0;
        left:0;
        height: 42px;
        line-height: 40px;
        display: block;
        background:#ffaf00;
        border:1px solid #ffaf00;
        border-radius: 15px;
    }
    .spetabcss input{
        position: absolute;
        top:0;
        left:0;
        height: 42px;
        display: block;
        background:#ffaf00;
        border:1px solid #ffaf00;
        border-radius: 15px;
        width:500px;
        background: #fff;
        font-size: 18px;
        padding-left: 10px;
        line-height: 42px\9;
    }
    .spetabcss a{
        position: absolute;
        text-align: center;
        width: 140px;
        font-size: 18px;
        color: #fff;
        left:405px;
        height: 42px;
    }
    .spetabcss img{
        width:24px;
        height: auto;
        position: relative;
        top:-1px;
        left:-8px;
        padding-left:5px;
    }
    .spe-table-cen{
        width:982px;
        height: auto;
        margin:20px auto 0;
        border-right: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
    }
    .spe-table-cen tr{
        height: 32px;
        width:100%;
        font-size: 14px;
        color: #848484;
    }
    .spe-table-cen tr:nth-of-type(1){
        background: #ffaf00;
        color: #fff;
    }
    .spe-table-cen tr td{
        border-top: 1px solid #b0b0b0;
        border-left: 1px solid #b0b0b0;
    }
    .spe-tab-feg{
        width:262px;
        height: 30px;
        margin:30px auto 0;
    }
    .spe-tab-feg ul{
        display: block;
        /*width:262px;*/
    }
    .spe-tab-feg ul li,.spe-tab-feg ul i{
        width:22px;
        height: 22px;
        line-height: 18px;
        font-size: 12px;
        text-align: center;
        border:2px solid #0099ff;
        float: left;
        margin:0 5px;
        border-radius: 2px;
    }
    .spe-tab-feg a{
        color: #0099ff;
        display: block;
    }
    .spe-tab-feg ul li:hover{
        background: #0099ff;
    }
    .spe-tab-feg ul li:hover a{
        color: #fff;
    }
    .spe-tab-feg ul i img{
        width:7px;
        height: auto;
        position: relative;
        top:2px;
    }
/*-------------------------------------------------------------merec*/
    .merec{
        width:1012px;
        margin:30px auto 0;
    }
    .merec-top{
        width:100%;
        height: 315px;
        background: url(../img/protest/me-rec-bj.png) no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        padding-top: 145px;
        letter-spacing: 3px;
    }
    .merec-top img{
        width: 38px;
        height: auto;
        position: relative;
        top:-3px;
        margin-right: 7px;
    }
    .merec-top span{
        font-size: 30px;
    }
    .merec-top p{
        font-size: 36px;
        font-weight: bold;
        margin-top: 20px; 
    }
    .merec-bottom{
        width:100%;
        height: 215px;
        border:5px solid #e5f5ff;
        border-top:none;
        position: relative;
        top:-30px;
    }
    .merec-bottom ul{
        padding-top: 60px;
    }
    .merec-bottom ul li{
        width: 105px;
        height:105px;
        border:5px solid #e5f5ff;
        border-radius: 48%;
        float: left;
        margin-left: 75px;
        padding:0 20px;
    }
    .merec-bottom ul li:nth-of-type(1){
        margin-left: 96px;
    }
    .merec-bottom a{
        font-size: 20px;
        color: #ffaf00;
    }
    .merec-bottom table{
        width: 100%;
        height: 100%;
        padding-bottom: 4px;
    }
/*-------------------------------------------------------------test-one*/
    .test-one{
        width: 1012px;
        height: auto;
        margin:15px auto 0;
        background: #f2f2f2;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        padding-bottom: 1px;
    }
    .test-top{
        width: 500px;
        height: 35px;
        margin:15px auto 0;
        overflow: hidden;
        background: url(../img/protest/test-top-bj.png) 
            repeat-x 0 17px;
    }
    .test-top ul li{
        height: 34px;
        background: #fff;
        width:100px;
        font-size: 12px;
        margin-left: 100px;
        float: left;
    }
    .test-top ul li:nth-of-type(1){
        margin-left: 0;
    }
    .test-top ul li span{
        display: block;
        width: 40%;
        height: 100%;
        line-height: 32px;
        float: left;
        color: #fff;
        background: url(../img/protest/test-one-yuan.png) 
            no-repeat 0 0;
        background-size: 33px auto;
        padding-left: 13px
    }
    .test-top ul li em{
        width: 60%;
        height: 100%;
        float: left;
        color: #aae3ff;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .test-top ul li i{
        display: block;
        width: 100%;
        height:16px;
        line-height: 18px;
        color: #afafaf;
        font-weight: 100;
        letter-spacing: 0px;

    }
    .test-top ul li:hover em{
        color: #ffaf00;
    }
    .test-top ul li:hover span{
        background: url(../img/protest/test-one-yuanhover.png) 
            no-repeat 0 0;
        background-size: 33px auto;
    }
    .test-top .test-top-a em{
        color: #ffaf00;
    }
    .test-top .test-top-a span{
        background: url(../img/protest/test-one-yuanhover.png) 
            no-repeat 0 0;
        background-size: 33px auto;
    }
    .test-one-cen{
        width:100%;
        height: auto;
        background: #f2f2f2;
    }
    .test-one-top{
        width: 100%;
        height: 56px;
        line-height: 56px;
        background: #0099ff;
        border-radius: 14px;
        padding-left: 48px;
        position: relative;
        font-size: 21px;
        color: #fff;
    }
    .test-one-top span{
        width: 130px;
        height: 25px;
        line-height: 25px;
        background: url(../img/protest/test-one-bao.png) no-repeat;
        background-size: 18px auto;
        padding-left: 28px;
        position: absolute;
        top:16px;
        left: calc(100% - 160px);
        display: block;
    }
    .test-one-top a{
        display: block;
        font-size: 15px;
        color: #ffaf00;
    }
    .test-one-centext1,.test-one-centext2,.test-one-centext3{
        width: 916px;
        height: auto;
        margin:0 auto;
    }
    .test-one-centext1{
        background: url(../img/protest/test-one-dian.png) 
            no-repeat 8px 7px;
        background-size: 10px auto;
        font-size: 12px;
        color: #7c7c7c;
        line-height: 25px;
        padding-left: 28px;
        margin-top: 20px;
    }
    .test-one-centext2{
        height: 326px;
        background: #fff;
        margin-top: 15px;
        padding-top: 15px;
    }
    .test-one-centext2 img{
        width: 129px;
        height: auto;
        float: left;
        margin-left: 80px;
    }
    .test-one-centext2 ul{
        float: left;
        margin-left: 45px;
    }
    .test-one-centext2 li{
        height: 16px;
        line-height: 16px;
        font-size: 15px;
        margin-top: 20px;
    }
    .test-one-centext2 i{
        display: block;
        float: left;
        margin-right: 10px;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        background: #ffaf00;
        line-height: 15px;
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
    .test-cen2-fg{
        width: 786px;
        height: 43px;
        background: url(../img/protest/test-top-bj.png) repeat-x
            0 21px;
        margin:0 auto;
        clear: both;
    }
    .test-one-centext3{
        height:220px;
        background: #fff;
        margin-top: 20px;
        padding-top: 50px;
    }
    .test-o-ct1{
        width: 465px;
        height: 27px;
        margin:0 auto;
        background: url(../img/protest/test-one-f3.png) no-repeat;
        background-size: 100% auto;
    }
    .test-o-ct2{
        width: 700px;
        margin: 10px auto 0;
        height: 25px;
        line-height: 25px;
        color: #ffaf00;
        font-size: 15px;
        letter-spacing: 3px;
        padding-left: 99px;
    }
    .test-o-ct2 span{
        margin-left: 137px;
    }
    .test-o-ct2 span:nth-of-type(1){
        margin-left: 0;
    }
    .test-o-ct3{
        width: 880px;
        height: 56px;
        margin:15px auto 0;
    }
    .test-o-ct3 span{
        display: block;
        height: 100%;
        width: 300px;
        margin:0 5px;
        border:2px dashed #ffaf00;
        border-radius: 7px;
        float: left;
        padding:0 20px;
    }
    .test-o-ct3 table{
        width: 100%;
        height: 100%;
    }
    .test-o-ct3 span:nth-of-type(2){
        width: 250px;
    }
    .test-o-ct3 td{
        font-size: 12px;
        line-height: 18px;
    }
    .test-boyes{
        width: 356px;
        height: 36px;
        margin: 65px auto;
    }
    .test-boyes ul li{
        float: left;
        margin:0 21px;
        width: 136px;
        height: 36px;
        line-height: 30px;
        text-align: center;
        border:3px solid #0099ff;
        border-radius: 12px;
        background: #0099ff;
    }
    .test-boyes a{
        color: #fff;
        font-size: 14px;
        display: block;
    }
    .test-boyes em{
        display: inline-block;
        width: 8px;
        height: 10px;
        background: url(../img/protest/test-a-xhover.png) no-repeat;
        background-size: 100% auto;
        margin-left: 13px;
        position: relative;
        top:0px;
        left:5px;
    }
    .test-boyes ul li:hover{
        background: #fff;
    }
    .test-boyes ul li:hover a{
        color: #0099ff;
    }
    .test-boyes ul li:hover em{
        background: url(../img/protest/test-a-x.png) no-repeat;
        background-size: 100% auto;
    }
/*-------------------------------------------------------------test-two*/
    .test-two{
        border-radius: 14px;
    }
    .test-two-top{
        width: 100%;
        height: 70px;
        position: relative;
        color: #98a3a3;
        font-size: 15px;
        padding: 37px 0 0 120px;
        letter-spacing: 1px;
    }
    .test-two-top span{
        display: block;
        position: absolute;
        top:0;
        left: 48px;
        width: 60px;
        height: 100px;
        line-height: 80px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        background: url(../img/protest/test-bt-bj.png) no-repeat;
        background-size: 100% auto;
        letter-spacing: 2px;
        padding-left: 2px;
    }
    .test-two-ul{
        width: 98.7%;
        height: auto;
        background: #fff;
        margin:0 auto 7px;
        padding: 32px 0 0 110px;
    }
    .test-two-ul li{
        width: 220px;
        height: 51px;
        float: left;
        color: #969696;
        font-size: 15px;
    }
    .test-two-ul em{
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid #ffaf00;
        border-radius: 48%;
        position: relative;
        top:1px;
        margin:0 4px;
    }
    .test-two-ul li:hover em{
        background: #ffaf00;
    }
    .testtwoem{
        background: #ffaf00;
    }
    .test-two-next{
        margin:50px auto;
        width: 136px;
        height: 36px;
        line-height: 30px;
        text-align: center;
        border:3px solid #0099ff;
        border-radius: 12px;
        background: #0099ff;
    }
    .test-two-next em{
        display: inline-block;
        width: 8px;
        height: 10px;
        background: url(../img/protest/test-a-xhover.png) no-repeat;
        background-size: 100% auto;
        margin-left: 10px;
        position: relative;
        top:-2px;
        left:5px;
    }
    .test-two-next a{
        color: #fff;
        font-size: 20px;
        display: block;
        font-weight: bold;
    }
    .test-two-next:hover{
        background: #fff;
    }
    .test-two-next:hover em{
        background: url(../img/protest/test-a-x.png) no-repeat;
        background-size: 100% auto;
    }
    .test-two-next:hover a{
        color: #0099ff;
    }
    .test-two-ing{
        width: 1002px;
        margin:0 auto;
        background: url(../img/protest/test-ing.png) repeat-x;
        background-size: 46px auto;
        height: 12px;
        margin-bottom: 30px;
    }
    .test-two-ing i{
        background: url(../img/protest/test-inghover.png) repeat-x;
        background-size: 46px auto;
        overflow: hidden;
        display: inline-block;
        height: 100%;
        width: 46px;
    }
/*-------------------------------------------------------------test-three*/
    .test-three-ul{
        width: 98.7%;
        height: auto;
        background: #fff;
        margin:0 auto 7px;
        padding:20px 0;
    }
    .test-three-ul li{
        font-size: 15px;
        color: #969696;
        height: 30px;
        width: 100%;
        padding-left: 110px;
        line-height: 30px;
        letter-spacing: 1px;
    }
    .test-three-ul i{
        width: 90px;
        height: 10px;
        background: #aae3ff;
        margin-left: 4px;
        display: inline-block;
    }
    .test-three-ul li i:nth-of-type(1){
        margin-left: 15px;
    }
    .test-three-ul i:hover,i.testtwoem{
        background: #ffaf00;
    }
/*-------------------------------------------------------------test-four*/
    .test-four-bt{
        height: 54px;
        width: 100%;
        line-height: 54px;
        background: url(../img/protest/test-four-bt.png) no-repeat center;
        background-size: auto 100%;
        text-align: center;
        font-size: 21px;
        color: #fff;
    }
    .test-four-cen{
        width: 98.7%;
        margin:0 auto 8px;
        height: auto;
        background: #fff;
        border-radius: 3px;
        padding:0 55px 30px;
    }
    .test-four-ctop{
        width: 100%;
        margin:0 auto;
        color: #98a3a3;
        font-size: 15px;
        height: 75px;
        overflow: hidden;
        background: url(../img/protest/test-top-bj.png) 
            repeat-x bottom;
        padding-left: 10px;
        padding-top: 40px;
    }
    .test-four-ul{
        height: 400px;
        overflow: hidden;
    }
    .test-four-ul li{
        float: left;
    }
    .test-four-can{
        font-size: 15px;
        width: 380px;
        position: relative;
    }
    .test-four-can div:nth-of-type(1){
        width: 215px;
        height: 260px;
        background: url(../img/protest/test-d-sda.png) no-repeat;
        background-size: 100% auto;
        position: relative;
        top:70px;
        margin:0 auto;
    }
    .test-four-can span{
        position: absolute;
        display: block;
        width: 50px;
        text-align: center;
        line-height: 30px;
        height: 30px;
        color: #98a3a3;
    }
    .test-z-right{
        width: 75px;
        height: 200px;
        background: url(../img/protest/test-z-right.png) no-repeat;
        background-size: 100% auto;
        margin-top: 146px;
    }
    .test-fc-cen{
        width: 392px;
        height: 193px;
        margin:105px 0 0 41px;
        border:4px solid #aae3ff;
        border-radius: 3px;
        padding:78px 36px 0;
        position: relative;
        color: #7c7c7c;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 1px;
    }
    .test-fc-cen span{
        width: 390px;
        height: 70px;
        background: url(../img/protest/test-fc-cen.png) no-repeat;
        background-size: 100% auto;
        color: #fff;
        font-size: 15px;
        position: absolute;
        left: -2px;
        top:-2px;
        padding: 21px 0 0 56px;
    }
    .test-fc-cen em{
        font-size: 12px;
        margin-left: 5px;
    }
    .test-four-smin{
        width: 100%;
        height: auto;
        padding-bottom: 15px;
        font-size: 12px;
        color: #7c7c7c;
    }
    .test-four-smbt{
        height: 46px;
        line-height: 46px;
        color: #fff;
        width: 100%;
        padding-left: 20px;
        font-size: 15px;
        background: #aae3ff;
        margin-bottom: 15px;
    }
    .test-four-smin span{
        line-height: 25px;
        width: 100%;
        padding:0 15px;
        display: block;
    }
    .test-four-smin li{
        height: 25px;
        line-height: 25px;
        width: 100%;
        padding-left: 15px;
    }
    .test-four-amove{
        width: 100%;
        padding-left: 20px;
    }
    .test-four-amove a{
        display: inline-block;
        width: 88px;
        height: 25px;
        text-align: center;
        line-height: 21px;
        font-size: 12px;
        color: #0099ff;
        border: 2px dashed #0099ff;
        border-radius: 11px;
        font-weight: bold;
        margin-right: 15px;
    }
    .test-four-ing{
        height: 0px;
        overflow: hidden;
        margin-top: 20px;
    }

}

.t-f-cli1{
    left:82px;
    top:-30px;
}
.t-f-cli2{
    left:-53px;
    top:45px;
}
.t-f-cli3{
    left:-53px;
    top:171px;
}
.t-f-cli4{
    left:82px;
    top:244px;
}
.t-f-cli5{
    left:218px;
    top:170px;
}
.t-f-cli6{
    left:218px;
    top:46px;
}
.four-can{
    width: 215px;
    height: 260px;
}
.test-four-can em{
    display: none;
}
.test-four-can i{
    display: block;
    width: 18px;
    height: 18px;
    border: 4px solid #fff;
    background: #0099ff;
    border-radius: 50%;
    position: absolute;
}








/*-------------------------------------------------------------fenge*/
@media screen and (max-width:768px){
    .protest{
        width: 100%;
        padding-bottom: 10px;
    }
    .pro-cen{
        width:100%;
        height: 310px;
        margin-top: 10px;
    }
    .pro-cen ul li{
        float:left;
        width:49.5%;
        height: 96px;
        background: #f2f2f2;
        margin-top:6px;
        margin-right:1%;
        position: relative;
    }
    .pro-cen ul li:nth-of-type(2),.pro-cen ul li:nth-of-type(4),.pro-cen ul li:nth-of-type(6){
         margin-right: 0;
    }
    .pro-cen li img{
        width:45px;
        display: block;
        margin:12px auto 0;
    }
    .pro-cen li a{
        display: block;
        position: absolute;
        top:73px;
        left:0;
        height: 23px;
        background: #aae3ff;
        line-height: 23px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        width:100%;
        color: #fff;
    }
    .pro-cen li a:hover{
        background: #ffaf00;
    }
    /*-----------------------------------------specialty*/
    .spe-table{
        width: 100%;
        height: auto;
        margin:10px auto 0;
    }
    .spe-tab-top{
        background: #f2f2f2;
        height: 50px;
    }
    .spe-tab-center{
        height: auto;
    }
    .spe-tab-bottom{
        height: 22px;
    }
    .spe-tab-top,.spe-tab-center,.spe-tab-bottom{
        width: 100%;
        background-size: 1024px auto;
        position: relative;
    }
    .spe-tab-top span{
        display: block;
        line-height: 26px;
        height: 27px;
        width: 333;
        position: relative;
        top:11px;
        left: 0;
        background: url(../img/protest/table-bt-bj.png) no-repeat;
        background-size: 190px auto;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        padding-left: 40px;
    }
    .spe-tab-top em{
        position: absolute;
        left: calc(100% - 115px);
        top:15px;
        width: 100px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #ffaf00;
        border-radius: 8px;
        font-size: 12px;
        display: block;
        color: #fff
    }
    .spe-tab-top em a{
        color: #fff
    }
    .spe-tab-top img{
        width: 12px;
        height: auto;
        position: relative;
        top:-1px;
        margin-right: 5px;
    }
    .spetabcss{
        width: 100%;
        height: 120px;
        background: url(../img/protest/table-bj-b.png) no-repeat;
        background-size: cover;
        position: relative;
        margin:10px auto 0;
    }
    .spetabcss span{
        display: block;
        height: 25px;
        width: 300px;
        position: relative;
        margin:0 auto;
    }
    .spetabcss input,.spetabcss a{
        position: absolute;
        top:0;
        left:0;
        height: 25px;
        display: block;
        line-height: 23px;
        background:#ffaf00;
        border:1px solid #ffaf00;
        border-radius: 10px;
    }
    .spetabcss input{
        width:250px;
        background: #fff;
        font-size: 12px;
        padding-left: 5px;
    }
    .spetabcss a{
        position: absolute;
        text-align: center;
        width: 70px;
        font-size: 14px;
        color: #fff;
        left:230px;
        height: 25px;
    }
    .spetabcss img{
        width:20px;
        height: auto;
        position: relative;
        top:-1px;
        left:-8px;
        padding-left:5px;
    }
    .tab-ovex{
        overflow-x: auto;
        height: auto;
        width:100%;
    }
    .spe-table-cen{
        width:700px;
        height: auto;
        margin:20px auto 0;
        border-right: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
    }
    .spe-table-cen tr{
        height: 32px;
        width:100%;
        font-size: 12px;
        color: #848484;
    }
    .spe-table-cen tr:nth-of-type(1){
        background: #ffaf00;
        color: #fff;
    }
    .spe-table-cen tr td{
        border-top: 1px solid #b0b0b0;
        border-left: 1px solid #b0b0b0;
    }
    .spe-tab-feg{
        width:262px;
        height: 30px;
        margin:30px auto 0;
    }
    .spe-tab-feg ul{
        display: block;
        /*width:262px;*/
    }
    .spe-tab-feg ul li,.spe-tab-feg ul i{
        width:22px;
        height: 22px;
        line-height: 18px;
        font-size: 12px;
        text-align: center;
        border:2px solid #0099ff;
        float: left;
        margin:0 5px;
        border-radius: 2px;
    }
    .spe-tab-feg a{
        color: #0099ff;
        display: block;
    }
    .spe-tab-feg ul li:hover{
        background: #0099ff;
    }
    .spe-tab-feg ul li:hover a{
        color: #fff;
    }
    .spe-tab-feg ul i img{
        width:7px;
        height: auto;
        position: relative;
        top:2px;
    }
/*-------------------------------------------------------------merec*/
    .merec{
        width:100%;
        margin-top:10px;
    }
    .merec-top{
        width:100%;
        height: 120px;
        background: url(../img/protest/me-rec-bj.png) no-repeat bottom;
        background-size: cover;
        color: #fff;
        text-align: center;
        padding-top: 40px;
        letter-spacing: 1px;
        overflow: hidden;
    }
    .merec-top img{
        width: 14px;
        height: auto;
        position: relative;
        top:-1px;
        left:-4px;
    }
    .merec-top span{
        font-size: 12px;
    }
    .merec-top p{
        font-size: 16px;
        font-weight: bold;
        margin-top: 2px; 
    }
    .merec-bottom{
        width:100%;
        height: 165px;
        border-top:none;
        position: relative;
        top:-30px;
    }
    .merec-bottom ul{
        padding-top: 40px;
        width:304px;
        margin:0 auto;
    }
    .merec-bottom ul li{
        width: 58px;
        height:58px;
        border:4px solid #e5f5ff;
        border-radius: 48%;
        float: left;
        margin:10px 21px 0;
        padding:0 10px;
    }
    .merec-bottom ul li:nth-of-type(4){
        margin-left: 70px;
    }
    .merec-bottom a{
        font-size: 12px;
        color: #ffaf00;
    }
    .merec-bottom table{
        width: 100%;
        height: 100%;
        padding-bottom: 1px;
    }
/*-------------------------------------------------------------test-one*/
    .test-one{
        width: 100%;
        height: auto;
        margin:10px auto 0;
        background: #f2f2f2;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        padding-bottom: 1px;
    }
    .test-top{
        width: 80%;
        height: 34px;
        margin:15px auto 0;
        overflow: hidden;
        background: url(../img/protest/test-top-bj2.png) 
            repeat-x 0 17px;
    }
    .test-top ul li{
        height: 34px;
        background: #fff;
        width:95px;
        font-size: 12px;
        margin: 0 auto;
        padding-left: 5px;
        
    }
    .test-top ul li span{
        display: block;
        width: 40%;
        height: 100%;
        line-height: 32px;
        float: left;
        color: #fff;
        background: url(../img/protest/test-one-yuan.png) 
            no-repeat 0 0;
        background-size: 33px auto;
        padding-left: 13px
    }
    .test-top ul li em{
        width: 60%;
        height: 100%;
        float: left;
        color: #aae3ff;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .test-top ul li i{
        display: block;
        width: 100%;
        height:16px;
        line-height: 18px;
        color: #afafaf;
        font-weight: 100;
        letter-spacing: 0px;

    }
    .test-top ul li:hover em{
        color: #ffaf00;
    }
    .test-top ul li:hover span{
        background: url(../img/protest/test-one-yuanhover.png) 
            no-repeat 0 0;
        background-size: 33px auto;
    }
    .test-top .test-top-a em{
        color: #ffaf00;
    }
    .test-top .test-top-a span{
        background: url(../img/protest/test-one-yuanhover.png) 
            no-repeat 0 0;
        background-size: 33px auto;
    }
    .test-one-cen{
        width:100%;
        height: auto;
        background: #f2f2f2;
    }
    .test-one-top{
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #0099ff;
        padding-left: 15px;
        position: relative;
        font-size: 12px;
        color: #fff;
    }
    .test-one-top span{
        width: 100px;
        height: 20px;
        line-height: 18px;
        background: url(../img/protest/test-one-bao.png) no-repeat 0 0;
        background-size: 14px auto;
        padding-left: 19px;
        position: absolute;
        top:6px;
        left: calc(100% - 100px);
        display: block;
    }
    .test-one-top a{
        display: block;
        font-size: 10px;
        color: #ffaf00;
    }
    .test-one-centext1,.test-one-centext2,.test-one-centext3{
        width: 100%;
        height: auto;
    }
    .test-one-centext1{
        background: url(../img/protest/test-one-dian.png) 
            no-repeat 8px 7px;
        background-size: 10px auto;
        font-size: 12px;
        color: #7c7c7c;
        line-height: 25px;
        padding-left: 28px;
        margin-top: 10px;
        padding-right: 10px;
        font-size: 10px;
    }
    .test-one-centext2{
        background: #fff;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 11px;
    }
    .test-one-centext2 img{
        width: 70px;
        height: auto;
        float: left;
        margin-left: 20px;
    }
    .test-one-por{
        position: relative;
    }
    .test-one-centext2 ul{
        float: left;
        margin-left: 10px;
        position: absolute;
        top:0px;
        left:90px;
    }
    .test-one-centext2 li{
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        margin-top: 6px;
    }
    .test-one-centext2 i{
        display: block;
        float: left;
        margin-right: 5px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background: #ffaf00;
        line-height: 12px;
        text-align: center;
        font-size: 10px;
        color: #fff;
        position: relative;
        top:2px;
    }
    .test-cen2-fg{
        width: 90%;
        height: 21px;
        background: url(../img/protest/test-top-bj.png) repeat-x
            0 10px;
        margin:0 auto;
        clear: both;
    }
    .test-one-centext3{
        height:220px;
        background: #fff;
        margin-top: 10px;
        background: none;
        position: relative;
    }
    .test-o-ct1{
        width: 11px;
        height: 171px;
        margin:0 auto;
        background: url(../img/protest/test-one-f3l.png) no-repeat;
        position: absolute;
        top:10px;
        left: 10px;
    }
    .test-o-ct2{
        width: 250px;
        height: 25px;
        line-height: 25px;
        color: #ffaf00;
        font-size: 10px;
        letter-spacing: 2px;
        position: absolute;
        top:4px;
        left:25px;
    }
    .test-o-ct2 span{
        margin-bottom: 49px;
        display: block;
    }
    .test-o-ct2 span:nth-of-type(1){
        margin-bottom: 60px;
    }
    .test-o-ct2 span:nth-of-type(3){
        margin-bottom: 0;
    }
    .test-o-ct3{
        width: 85%;
        height: 46px;
    }
    .test-o-ct3 span{
        display: block;
        height: 100%;
        width: 100%;
        border:1px dashed #ffaf00;
        border-radius: 7px;
        float: left;
        padding:0 20px;
        position: relative;
        top:31px;
        left:26px;
        color: #7c7c7c;
        font-size: 10px;
    }
    .test-o-ct3 table{
        width: 100%;
        height: 100%;
    }
    .test-o-ct3 span:nth-of-type(1){
        height: 56px;
    }
    .test-o-ct3 span:nth-of-type(2){
        margin:28px 0 29px 0;
    }
    .test-o-ct3 td{
        font-size: 12px;
        line-height: 18px;
    }
    .test-boyes{
        width: 1px;
        height: 36px;
        overflow: hidden;
    }
    .test-boyes ul li{
        float: left;
        margin:0 21px;
        width: 136px;
        height: 36px;
        line-height: 30px;
        text-align: center;
        border:3px solid #0099ff;
        border-radius: 12px;
    }
    .test-boyes a{
        color: #0099ff;
        font-size: 14px;
        display: block;
    }
    .test-boyes em{
        display: inline-block;
        width: 8px;
        height: 10px;
        background: url(../img/protest/test-a-x.png) no-repeat;
        background-size: 100% auto;
        margin-left: 13px;
        position: relative;
        top:0px;
        left:5px;
    }
    .test-boyes ul li:hover{
        background: #0099ff;
    }
    .test-boyes ul li:hover a{
        color: #fff;
    }
    .test-boyes ul li:hover em{
        background: url(../img/protest/test-a-xhover.png) no-repeat;
        background-size: 100% auto;
    }
/*-------------------------------------------------------------test-two*/
    .test-two{
        border-radius: 0;
        padding-bottom: 0;
    }
    .t-top-two ul{
        position: relative;
        top:-34px;
    }
    .test-two-top{
        width: 100%;
        height: 30px;
        position: relative;
        color: #98a3a3;
        font-size: 9px;
        padding-left:50px;
        line-height: 33px;
        letter-spacing: 1px;
    }
    .test-two-top span{
        display: block;
        position: absolute;
        top:0;
        left: 15px;
        width: 24px;
        height: 38px;
        line-height: 35px;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        text-align: center;
        background: url(../img/protest/test-bt-bj.png) no-repeat;
        background-size: 100% auto;
        letter-spacing: 1px;
        padding-left: 1px;
    }
    .test-two-ul{
        width: 100%;
        height: auto;
        background: #fff;
        margin:0 auto 7px;
        padding: 32px 0 0 42px;
    }
    .test-two-ul div{
        border-bottom: 2px dashed #e6e8e8;
        position: relative;
        left: -42px;
        width: 80%;
        margin:0 auto;
    }
    .test-two-ul li{
        width: 45%;
        height: 41px;
        float: left;
        color: #969696;
        font-size: 9px;
    }
    .test-two-ul em{
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid #ffaf00;
        border-radius: 48%;
        position: relative;
        top:1px;
        margin:0 4px;
    }
    .testtwoem{
        background: #ffaf00;
    }
    .test-two-next{
        margin:30px auto;
        width: 100px;
        height: 26px;
        line-height: 20px;
        text-align: center;
        border:3px solid #0099ff;
        border-radius: 12px;
        background: #0099ff;
    }
    .test-two-next em{
        display: inline-block;
        width: 8px;
        height: 10px;
        background: url(../img/protest/test-a-xhover.png) no-repeat;
        background-size: 100% auto;
        margin-left: 10px;
        position: relative;
        top:0px;
        left:5px;
    }
    .test-two-next a{
        color: #fff;
        font-size: 12px;
        display: block;
        font-weight: bold;
    }
    .test-two-next:hover{
        background: #fff;
    }
    .test-two-next:hover em{
        background: url(../img/protest/test-a-x.png) no-repeat;
        background-size: 100% auto;
    }
    .test-two-next:hover a{
        color: #0099ff;
    }
    .test-two-ing{
        width: 100%;
        margin:0 auto;
        background: url(../img/protest/test-ing.png) repeat-x;
        background-size: 7.28% auto;
        height: 12px;
        margin-bottom: 30px;
    }
    .test-two-ing i{
        background: url(../img/protest/test-inghover.png) repeat-x;
        background-size: 100% auto;
        overflow: hidden;
        display: inline-block;
        height: 100%;
        width: 7.28%;
    }
/*-------------------------------------------------------------test-three*/
    .test-three-ul{
        width: 98.7%;
        height: auto;
        background: #fff;
        margin:0 auto;
        padding:15px 0 0;
    }
    .test-three-ul li{
        font-size: 15px;
        color: #969696;
        height: 30px;
        width: 100%;
        padding-left: 12px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-top: 5px;
    }
    .test-three-ul span{
        width: 40px;
        display: inline-block;
        font-size: 9px;
        line-height: 14px;
    }
    .test-three-ul i{
        width: 10%;
        height: 15px;
        background: #aae3ff;
        margin-left: 4px;
        display: inline-block;
        position: relative;
        top:-4px;
    }
    .test-three-ul li i:nth-of-type(1){
        margin-left: 10px;
    }
    i.testtwoem{
        background: #ffaf00;
    }
/*-------------------------------------------------------------test-four*/
    .t-top-four li{
        position: relative;
        top:-68px;
    }
    .test-four-bt{
        height: 30px;
        width: 100%;
        line-height: 30px;
        background: url(../img/protest/test-four-bt.png) no-repeat center;
        background-size: auto 100%;
        text-align: center;
        font-size: 10px;
        color: #fff;
    }
    .test-four-cen{
        width: 100%;
        margin:0 auto 8px;
        height: auto;
        background: #fff;
        border-radius: 3px;
        padding:0 0 10px;
    }
    .test-four-ctop{
        width: 90%;
        margin:0 auto;
        color: #98a3a3;
        font-size: 9px;
        height: 35px;
        overflow: hidden;
        background: url(../img/protest/test-top-bj.png) 
            repeat-x bottom;
        padding-left: 10px;
        padding-top: 15px;
    }
    .test-four-ul{
        height: auto;
        overflow: hidden;
    }
    .test-four-can{
        font-size: 15px;
        width: 100%;
        position: relative;
    }
    .test-four-can div{
        width: 215px;
        height: 340px;
        background: url(../img/protest/test-d-sda.png) no-repeat;
        background-size: 100% auto;
        position: relative;
        top:45px;
        margin:0 auto;
    }
    .test-four-can span{
        position: absolute;
        display: block;
        width: 50px;
        text-align: center;
        line-height: 30px;
        height: 30px;
        color: #98a3a3;
        font-size: 9px;
    }
    .test-z-right{
        width: 75px;
        height: 70px;
        margin: 0 auto;
        background: url(../img/protest/test-z-down.png) no-repeat;
        background-size: 100% auto;
    }
    .test-fc-cen{
        width: 100%;
        margin:10px 0 0;
        border-radius: 3px;
        padding:52px 10px 15px;
        position: relative;
        color: #7c7c7c;
        font-size: 9px;
        line-height: 20px;
        text-indent: 2em;
    }
    .test-fc-cen span{
        width: 250px;
        height: 54px;
        background: url(../img/protest/test-fc-cen.png) no-repeat;
        background-size: 100% auto;
        color: #fff;
        font-size: 10px;
        position: absolute;
        left:0px;
        top:0px;
        padding: 9px 0 0 14px;
        z-index: 2;
    }
    .test-fc-cen em{
        display: none;
    }
    .test-fc-cen i{
        position: absolute;
        left: 0;
        top:0;
        z-index: 1;
        width: 100%;
        height: 37px;
        background:#0099ff;

    }
    .test-four-smin{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        font-size: 9px;
        color: #7c7c7c;

    }
    .test-four-smbt{
        height: 35px;
        line-height: 35px;
        color: #fff;
        width: 100%;
        padding-left: 15px;
        font-size: 10px;
        background: #aae3ff;
        margin-bottom: 10px;
    }
    .test-four-smin span{
        line-height: 20px;
        width: 100%;
        padding:0 15px;
        display: block;
    }
    .test-four-smin li{  
        line-height: 20px;
        width: 100%;
        padding-left: 15px;

    }
    .test-four-amove{
        width: 100%;
        padding-left: 15px;
    }
    .test-four-amove a{
        display: inline-block;
        width: 80px;
        height: 22px;
        text-align: center;
        line-height: 18px;
        font-size: 9px;
        color: #0099ff;
        border: 2px dashed #0099ff;
        border-radius: 10px;
        font-weight: bold;
        margin-right: 12px;
        margin-bottom: 10px;

    }
    .test-four-ing{
        height: 0px;
        overflow: hidden;
        margin-top: 20px;
        display: none;
    }

}