@charset "utf-8";

.up-mos-img-ani{
    -webkit-animation:upMosImgAni 1.5s infinite ease-out both;
    -moz-animation:upMosImgAni 1.5s infinite ease-out both;
    -ms-animation:upMosImgAni 1.5s infinite ease-out both;
    -o-animation:upMosImgAni 1.5s infinite ease-out both;
    animation:upMosImgAni 1.5s infinite ease-out both;
}
@-webkit-keyframes upMosImgAni{
    0%{top: 0rem;opacity: 0;filter:alpha(opacity=0);}
    30%{opacity: 1;filter:alpha(opacity=100);}
    80%{top: -.4rem;opacity: 0;filter:alpha(opacity=0);}
    100%{opacity: 0;filter:alpha(opacity=0);}
}
@-moz-keyframes upMosImgAni{
    0%{top: 0rem;opacity: 0;filter:alpha(opacity=0);}
    30%{opacity: 1;filter:alpha(opacity=100);}
    80%{top: -.4rem;opacity: 0;filter:alpha(opacity=0);}
    100%{opacity: 0;filter:alpha(opacity=0);}
}
@-ms-keyframes upMosImgAni{
    0%{top: 0rem;opacity: 0;filter:alpha(opacity=0);}
    30%{opacity: 1;filter:alpha(opacity=100);}
    80%{top: -.4rem;opacity: 0;filter:alpha(opacity=0);}
    100%{opacity: 0;filter:alpha(opacity=0);}
}
@-o-keyframes upMosImgAni{
    0%{top: 0rem;opacity: 0;filter:alpha(opacity=0);}
    30%{opacity: 1;filter:alpha(opacity=100);}
    80%{top: -.4rem;opacity: 0;filter:alpha(opacity=0);}
    100%{opacity: 0;filter:alpha(opacity=0);}
}
@keyframes upMosImgAni{
    0%{top: 0rem;opacity: 0;filter:alpha(opacity=0);}
    30%{opacity: 1;filter:alpha(opacity=100);}
    80%{top: -.4rem;opacity: 0;filter:alpha(opacity=0);}
    100%{opacity: 0;filter:alpha(opacity=0);}
}

.bt-down{
    -webkit-animation: btDown .4s ease-out both;
    -moz-animation: btDown .4s ease-out both;
    -ms-animation: btDown .4s ease-out both;
    -o-animation: btDown .4s ease-out both;
    animation: btDown .4s ease-out both;
}
@-webkit-keyframes btDown{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes btDown{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes btDown{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes btDown{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes btDown{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}

.bt-up{
    -webkit-animation: btUp .4s ease-out both;
    -moz-animation: btUp .4s ease-out both;
    -ms-animation: btUp .4s ease-out both;
    -o-animation: btUp .4s ease-out both;
    animation: btUp .4s ease-out both;
}
@-webkit-keyframes btUp{
    0%{top:1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes btUp{
    0%{top:1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes btUp{
    0%{top:1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes btUp{
    0%{top:1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes btUp{
    0%{top:1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}

/*-----------------------------------------------------------------------------------------one*/
.bottom-ann {
    -webkit-animation: bottomAnn .3s ease-out both;
    -moz-animation: bottomAnn .3s ease-out both;
    -ms-animation: bottomAnn .3s ease-out both;
    -o-animation: bottomAnn .3s ease-out both;
    animation: bottomAnn .3s ease-out both;
}
@-webkit-keyframes bottomAnn{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes bottomAnn{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes bottomAnn{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes bottomAnn{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes bottomAnn{
    0%{top:-1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top:0rem;opacity: 1;filter:alpha(opacity=100);}
}

.app-tan{
    -webkit-animation: appTan .4s ease-out both;
    -moz-animation: appTan .4s ease-out both;
    -ms-animation: appTan .4s ease-out both;
    -o-animation: appTan .4s ease-out both;
    animation: appTan .4s ease-out both;
}
@-webkit-keyframes appTan{
    0%{width: 0rem;height: 0rem;top: .75rem;left: 3.2rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 5.83rem;height: 3.72rem;top: -2.5rem;left: .7rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 4.46rem;height: 2.78rem;top: -1.8rem;left: 1.3rem;}
    100%{width: 5.13rem;height: 3.22rem;top: -2.15rem;left: 1.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes appTan{
    0%{width: 0rem;height: 0rem;top: .75rem;left: 3.2rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 5.83rem;height: 3.72rem;top: -2.5rem;left: .7rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 4.46rem;height: 2.78rem;top: -1.8rem;left: 1.3rem;}
    100%{width: 5.13rem;height: 3.22rem;top: -2.15rem;left: 1.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes appTan{
    0%{width: 0rem;height: 0rem;top: .75rem;left: 3.2rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 5.83rem;height: 3.72rem;top: -2.5rem;left: .7rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 4.46rem;height: 2.78rem;top: -1.8rem;left: 1.3rem;}
    100%{width: 5.13rem;height: 3.22rem;top: -2.15rem;left: 1.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes appTan{
    0%{width: 0rem;height: 0rem;top: .75rem;left: 3.2rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 5.83rem;height: 3.72rem;top: -2.5rem;left: .7rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 4.46rem;height: 2.78rem;top: -1.8rem;left: 1.3rem;}
    100%{width: 5.13rem;height: 3.22rem;top: -2.15rem;left: 1.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes appTan{
    0%{width: 0rem;height: 0rem;top: .75rem;left: 3.2rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 5.83rem;height: 3.72rem;top: -2.5rem;left: .7rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 4.46rem;height: 2.78rem;top: -1.8rem;left: 1.3rem;}
    100%{width: 5.13rem;height: 3.22rem;top: -2.15rem;left: 1.02rem;opacity: 1;filter:alpha(opacity=100);}
}

/*-----------------------------------------------------------------------------------------two*/
.j2-ph-ani{
    -webkit-animation: j2PhAni .4s ease-out both;
    -moz-animation: j2PhAni .4s ease-out both;
    -ms-animation: j2PhAni .4s ease-out both;
    -o-animation: j2PhAni .4s ease-out both;
    animation: j2PhAni .4s ease-out both;
}
@-webkit-keyframes j2PhAni{
    0%{top: 1.4rem;left: -.66rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: .66rem;left: .34rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes j2PhAni{
    0%{top: 1.4rem;left: -.66rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: .66rem;left: .34rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes j2PhAni{
    0%{top: 1.4rem;left: -.66rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: .66rem;left: .34rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes j2PhAni{
    0%{top: 1.4rem;left: -.66rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: .66rem;left: .34rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes j2PhAni{
    0%{top: 1.4rem;left: -.66rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: .66rem;left: .34rem;opacity: 1;filter:alpha(opacity=100);}
}

.j2-ak-ani{
    -webkit-animation: j2AkAni .5s ease-out both;
    -moz-animation: j2AkAni .5s ease-out both;
    -ms-animation: j2AkAni .5s ease-out both;
    -o-animation: j2AkAni .5s ease-out both;
    animation: j2AkAni .5s ease-out both;
}
@-webkit-keyframes j2AkAni{
    0%{top: 1.5rem;left: 1.7rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 2.76rem; left: 3.56rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes j2AkAni{
    0%{top: 1.5rem;left: 1.7rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 2.76rem; left: 3.56rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes j2AkAni{
    0%{top: 1.5rem;left: 1.7rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 2.76rem; left: 3.56rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes j2AkAni{
    0%{top: 1.5rem;left: 1.7rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 2.76rem; left: 3.56rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes j2AkAni{
    0%{top: 1.5rem;left: 1.7rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 2.76rem; left: 3.56rem;opacity: 1;filter:alpha(opacity=100);}
}

/*-----------------------------------------------------------------------------------------three*/
.weimu-ani{
    -webkit-animation:weimuAni .5s ease-out both;
    -moz-animation:weimuAni .5s ease-out both;
    -ms-animation:weimuAni .5s ease-out both;
    -o-animation:weimuAni .5s ease-out both;
    animation:weimuAni .5s ease-out both;
}
@-webkit-keyframes weimuAni{
    0%{height:100%;width:100%;}
    30%{height:50%;width:100%;}
    100%{height:0;width:0;}
}
@-moz-keyframes weimuAni{
    0%{height:100%;width:100%;}
    30%{height:50%;width:100%;}
    100%{height:0;width:0;}
}
@-ms-keyframes weimuAni{
    0%{height:100%;width:100%;}
    30%{height:50%;width:100%;}
    100%{height:0;width:0;}
}
@-o-keyframes weimuAni{
    0%{height:100%;width:100%;}
    30%{height:50%;width:100%;}
    100%{height:0;width:0;}
}
@keyframes weimuAni{
    0%{height:100%;width:100%;}
    25%{height:80%;width:100%;}
    50%{height:35%;width:100%;}
    75%{height:0;width:0;}
    100%{height:0;width:0;}
}

.chaoren-ani{
    -webkit-animation:chaorenAni .4s ease-out both;
    -moz-animation:chaorenAni .4s ease-out both;
    -ms-animation:chaorenAni .4s ease-out both;
    -o-animation:chaorenAni .4s ease-out both;
    animation:chaorenAni .4s ease-out both;
}
@-webkit-keyframes chaorenAni{
    0%{-webkit-transform: rotateZ(150deg) scale(0);top:2rem;left:3.5rem;opacity: 0;filter:alpha(opacity=0);}
    65%{-webkit-transform: rotateZ(0deg) scale(0.6);left:4rem;top:1.5rem;opacity: 1;filter:alpha(opacity=100);}
    80%{left:3.5rem;}
    100%{-webkit-transform: rotateZ(0deg) scale(1);top: 0rem;left: -.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes chaorenAni{
    0%{-moz-transform: rotateZ(150deg) scale(0);top:2rem;left:3.5rem;opacity: 0;filter:alpha(opacity=0);}
    65%{-moz-transform: rotateZ(0deg) scale(0.6);left:4rem;top:1.5rem;opacity: 1;filter:alpha(opacity=100);}
    80%{left:3.5rem;}
    100%{-moz-transform: rotateZ(0deg) scale(1);top: 0rem;left: -.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes chaorenAni{
    0%{-ms-transform: rotateZ(150deg) scale(0);top:2rem;left:3.5rem;opacity: 0;filter:alpha(opacity=0);}
    65%{-ms-transform: rotateZ(0deg) scale(0.6);left:4rem;top:1.5rem;opacity: 1;filter:alpha(opacity=100);}
    80%{left:3.5rem;}
    100%{-ms-transform: rotateZ(0deg) scale(1);top: 0rem;left: -.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes chaorenAni{
    0%{-o-transform: rotateZ(150deg) scale(0);top:2rem;left:3.5rem;opacity: 0;filter:alpha(opacity=0);}
    65%{-o-transform: rotateZ(0deg) scale(0.6);left:4rem;top:1.5rem;opacity: 1;filter:alpha(opacity=100);}
    80%{left:3.5rem;}
    100%{-o-transform: rotateZ(0deg) scale(1);top: 0rem;left: -.02rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes chaorenAni{
    0%{transform: rotateZ(150deg) scale(0);top:2rem;left:3.5rem;opacity: 0;filter:alpha(opacity=0);}
    65%{transform: rotateZ(0deg) scale(0.6);left:4rem;top:1.5rem;opacity: 1;filter:alpha(opacity=100);}
    80%{left:3.5rem;}
    100%{transform: rotateZ(0deg) scale(1);top: 0rem;left: -.02rem;opacity: 1;filter:alpha(opacity=100);}
}

/*-----------------------------------------------------------------------------------------four*/
.zhujiao-ani{
    -webkit-animation:zhujiaoAni .5s ease-out both;
    -moz-animation:zhujiaoAni .5s ease-out both;
    -ms-animation:zhujiaoAni .5s ease-out both;
    -o-animation:zhujiaoAni .5s ease-out both;
    animation:zhujiaoAni .5s ease-out both;
}
@-webkit-keyframes zhujiaoAni{
    0%{width:0;height:0;top: 5rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 2.34rem;height: 3.3rem;top: 1.32rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 1.9rem;height: 2.7rem;top: 1.92rem;}
    100%{width: 2.04rem;height: 2.89rem;top: 1.62rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes zhujiaoAni{
    0%{width:0;height:0;top: 5rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 2.34rem;height: 3.3rem;top: 1.32rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 1.9rem;height: 2.7rem;top: 1.92rem;}
    100%{width: 2.04rem;height: 2.89rem;top: 1.62rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes zhujiaoAni{
    0%{width:0;height:0;top: 5rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 2.34rem;height: 3.3rem;top: 1.32rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 1.9rem;height: 2.7rem;top: 1.92rem;}
    100%{width: 2.04rem;height: 2.89rem;top: 1.62rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes zhujiaoAni{
    0%{width:0;height:0;top: 5rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 2.34rem;height: 3.3rem;top: 1.32rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 1.9rem;height: 2.7rem;top: 1.92rem;}
    100%{width: 2.04rem;height: 2.89rem;top: 1.62rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes zhujiaoAni{
    0%{width:0;height:0;top: 5rem;opacity: 0;filter:alpha(opacity=0);}
    50%{width: 2.34rem;height: 3.3rem;top: 1.32rem;opacity: 1;filter:alpha(opacity=100);}
    75%{width: 1.9rem;height: 2.7rem;top: 1.92rem;}
    100%{width: 2.04rem;height: 2.89rem;top: 1.62rem;opacity: 1;filter:alpha(opacity=100);}
}

.j4-1-ani{
    -webkit-animation:j41Ani .4s ease-out both;
    -moz-animation:j41Ani .4s ease-out both;
    -ms-animation:j41Ani .4s ease-out both;
    -o-animation:j41Ani .4s ease-out both;
    animation:j41Ani .4s ease-out both;
}
@-webkit-keyframes j41Ani{
    0%{width:0;height:0;top: 1.9rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.31rem;height: .96rem;top: 1.38rem;left: .64rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes j41Ani{
    0%{width:0;height:0;top: 1.9rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.31rem;height: .96rem;top: 1.38rem;left: .64rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes j41Ani{
    0%{width:0;height:0;top: 1.9rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.31rem;height: .96rem;top: 1.38rem;left: .64rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes j41Ani{
    0%{width:0;height:0;top: 1.9rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.31rem;height: .96rem;top: 1.38rem;left: .64rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes j41Ani{
    0%{width:0;height:0;top: 1.9rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.31rem;height: .96rem;top: 1.38rem;left: .64rem;opacity: 1;filter:alpha(opacity=100);}
}

.j4-2-ani{
    -webkit-animation:j42Ani .4s ease-out both;
    -moz-animation:j42Ani .4s ease-out both;
    -ms-animation:j42Ani .4s ease-out both;
    -o-animation:j42Ani .4s ease-out both;
    animation:j42Ani .4s ease-out both;
}
@-webkit-keyframes j42Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.15rem;height: 1.56rem;top: 0rem;left: 1.63rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes j42Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.15rem;height: 1.56rem;top: 0rem;left: 1.63rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes j42Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.15rem;height: 1.56rem;top: 0rem;left: 1.63rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes j42Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.15rem;height: 1.56rem;top: 0rem;left: 1.63rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes j42Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.15rem;height: 1.56rem;top: 0rem;left: 1.63rem;opacity: 1;filter:alpha(opacity=100);}
}

.j4-3-ani{
    -webkit-animation:j43Ani .4s ease-out both;
    -moz-animation:j43Ani .4s ease-out both;
    -ms-animation:j43Ani .4s ease-out both;
    -o-animation:j43Ani .4s ease-out both;
    animation:j43Ani .4s ease-out both;
}
@-webkit-keyframes j43Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.1rem;height: .89rem;top: .68rem;left: 2.8rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes j43Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.1rem;height: .89rem;top: .68rem;left: 2.8rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes j43Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.1rem;height: .89rem;top: .68rem;left: 2.8rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes j43Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.1rem;height: .89rem;top: .68rem;left: 2.8rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes j43Ani{
    0%{width:0;height:0;top: 1.8rem;left: 2.5rem;opacity: 0;filter:alpha(opacity=0);}
    100%{width: 1.1rem;height: .89rem;top: .68rem;left: 2.8rem;opacity: 1;filter:alpha(opacity=100);}
}

/*-----------------------------------------------------------------------------------------five*/
.qqhao-ani{
    -webkit-animation:qqhaoAni .4s ease-out both;
    -moz-animation:qqhaoAni .4s ease-out both;
    -ms-animation:qqhaoAni .4s ease-out both;
    -o-animation:qqhaoAni .4s ease-out both;
    animation:qqhaoAni .4s ease-out both;
}
@-webkit-keyframes qqhaoAni{
    0%{top: 1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes qqhaoAni{
    0%{top: 1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes qqhaoAni{
    0%{top: 1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes qqhaoAni{
    0%{top: 1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes qqhaoAni{
    0%{top: 1rem;opacity: 0;filter:alpha(opacity=0);}
    100%{top: 0rem;opacity: 1;filter:alpha(opacity=100);}
}

.lianxi-hover-ani{
    -webkit-animation:lianxiHoverAni .6s ease-out both;
    -moz-animation:lianxiHoverAni .6s ease-out both;
    -ms-animation:lianxiHoverAni .6s ease-out both;
    -o-animation:lianxiHoverAni .6s ease-out both;
    animation:lianxiHoverAni .6s ease-out both;
}
@-webkit-keyframes lianxiHoverAni{
    0%{left: 6rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes lianxiHoverAni{
    0%{left: 6rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes lianxiHoverAni{
    0%{left: 6rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes lianxiHoverAni{
    0%{left: 6rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes lianxiHoverAni{
    0%{left: 6rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}

.erweis-ani{
    -webkit-animation:erweisAni .6s ease-out both;
    -moz-animation:erweisAni .6s ease-out both;
    -ms-animation:erweisAni .6s ease-out both;
    -o-animation:erweisAni .6s ease-out both;
    animation:erweisAni .6s ease-out both;
}
@-webkit-keyframes erweisAni{
    0%{left: -2rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-moz-keyframes erweisAni{
    0%{left: -2rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-ms-keyframes erweisAni{
    0%{left: -2rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@-o-keyframes erweisAni{
    0%{left: -2rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}
@keyframes erweisAni{
    0%{left: -2rem;opacity: 0;filter:alpha(opacity=0);}
    100%{left: 0rem;opacity: 1;filter:alpha(opacity=100);}
}



