@charset "utf-8";
*{
    box-sizing:border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #333;
    background-color: #f8f9fb;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
.animate{
    position: relative;
}
.none{
    display: none;
}
.opacity{
    opacity: 0;
    filter:alpha(opacity=0);
}
html body .none{
    display: none;
}
/*---------------------------------------------------------nav end*/
body{
    background: #f5e9cc;
}
.one-1{
    width: 100%;
    height: 13.34rem;
    background: url(../img/1-bj.png) no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    position: relative;
}
.one-1 img{
    width: 1.85rem;
    height: auto;
    position: absolute;
    top:6.72rem;
    left: 5rem;
}
.one-1 a{
    width: 4.07rem;
    height: 2.45rem;
    display: block;
    position: absolute;
    top:10.17rem;
    left:1.91rem;
}
.one-1 img{
    animation:upMosImgAni 1.5s infinite ease-in-out both;
    -webkit-animation:upMosImgAni 1.5s infinite ease-in-out both;
    -moz-animation:upMosImgAni 1.5s infinite ease-in-out both;
    -ms-animation:upMosImgAni 1.5s infinite ease-in-out both;
    -o-animation:upMosImgAni 1.5s infinite ease-in-out both;
}
@-webkit-keyframes upMosImgAni{
    0%{transform:translate3d(0,0,0);}
    50%{transform:translate3d(0,-1rem,0);}
    100%{transform:translate3d(0,0,0);}
}
@-moz-keyframes upMosImgAni{
    0%{transform:translate3d(0,0,0);}
    50%{transform:translate3d(0,-1rem,0);}
    100%{transform:translate3d(0,0,0);}
}
@-ms-keyframes upMosImgAni{
    0%{transform:translate3d(0,0,0);}
    50%{transform:translate3d(0,-1rem,0);}
    100%{transform:translate3d(0,0,0);}
}
@-o-keyframes upMosImgAni{
    0%{transform:translate3d(0,0,0);}
    50%{transform:translate3d(0,-1rem,0);}
    100%{transform:translate3d(0,0,0);}
}
@keyframes upMosImgAni{
    0%{transform:translate3d(0,0,0);}
    50%{transform:translate3d(0,-1rem,0);}
    100%{transform:translate3d(0,0,0);}
}
.cen{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 6.1rem .3rem .4rem 0;
    position: relative;
}
.hangye-1{
    background: url(../img/2-bj.png) no-repeat;
    background-size: 100% auto;
}
.yuyan-1{
    background: url(../img/3-bj.png) no-repeat;
    background-size: 100% auto;
}
.nianxian-1{
    background: url(../img/4-bj.png) no-repeat;
    background-size: 100% auto;
    padding-top: 6.45rem;
}
.xinzi-1{
    background: url(../img/5-bj.png) no-repeat;
    background-size: 100% auto;
    padding-top: 6.55rem;
}
.cen b{
    display: inline-block;
    position: relative;
    width: auto;
    height: .94rem;
    line-height: .82rem;
    margin:.15rem 0 0 .35rem;
    float: left;
}
.nianxian-1 b{
    margin-left: .453rem;
    margin-top: .3rem;
}
.xinzi-1 b{
    margin-left: 1.73rem;
    margin-top: .25rem;
}
.cen b:before{
    content:"";
    display: block;
    width: .23rem;
    height: 100%;
    background: url(../img/b-l.png) no-repeat left;
    background-size: auto 100%;
    z-index: 1;
    float: left;
}
.cen b:after{
    content:"";
    display: block;
    width: .23rem;
    height: 100%;
    background: url(../img/b-r.png) no-repeat right;
    background-size: auto 100%;
    z-index: 1;
    float: left;
}
.cen b i{
    display: inline-block;
    width: auto;
    height: 100%;
    font-size: .3rem;
    background: url(../img/b-c.png) repeat-x;
    background-size: auto 100%;
    position: relative;
    z-index: 2;
    float: left;
}
.xinzi-1 b i{
    width: 3.77rem;
    text-align: center;
}