.menu-jobcenter-01{
	background: url(../../images/icon.png) no-repeat -109px 0px;
}
.active .menu-jobcenter-01{
	background: url(../../images/icon.png) no-repeat -109px -27px;
}
.menu-icoIndex-02{
	background: url(../../images/icon.png) no-repeat -159px 0px;
}
.active .menu-icoIndex-02{
	background: url(../../images/icon.png) no-repeat -159px -27px;
}
.menu-icoIndex-03{
	background: url(../../images/icon.png) no-repeat -134px 0px;
}
.active .menu-icoIndex-03{
	background: url(../../images/icon.png) no-repeat -134px -27px;
}

.jcenter-filtrate-box{
	padding: 11px 19px 0px 19px;
	height: 56px;
}
.jcenter-filtrate-box .selectUI .text{
	width: 183px;
}
.jcenter-filtrate-box .selectUI .selectUI-val{
	height: 33px;
	line-height: 31px;
	padding: 0px 16px;
}
.jcenter-filtrate-box .selectUI .selectUI-text i{
	top: 11px;
	right: 11px;
}
.jcenter-filtrate-box .selectUI ul li a{
	padding-left: 16px;
}
.jcenter-filtrate-box .filtrate-list{
	margin-right: 5px;
}
.jcenter-list{
	margin-top: 10px;
	width: 100%;
}
.jcenter-list thead th{
	height: 36px;
	background: #effbfb;
	color: #333333;
	font-weight: normal;
	text-align: center;
}
.jcenter-list .jcenter-list-td{
	text-align: left;
}
.jcenter-list .jcenter-list-td p{
	padding-left: 39px;
}
.jcenter-list tbody tr td{
	height: 74px;
	border-bottom: 1px solid #ededed;
	text-align: center;
	color: #999999;
}
.jcenter-list  .jcenter-list-box div{
	position: relative;
	padding-left: 39px;
	font-size: 14px;
	text-align: left;
}
.jcenter-list  .jcenter-list-box span{
	margin-left: 12px;
	font-size: 12px;
	color: #999999;
}
.jcenter-list-checkbox{
	position: relative;
	margin-left: -25px;
	top: -2px;
	left: 0px;
	margin-right: 8px;
}
.jcenter-list  .jcenter-list-box p{
	font-size: 12px;
	color: #999999;
	padding-left: 39px;
	padding-top: 12px;
	text-align: left;
	
}
.jcenter-list tbody tr td b{
	color: #29bdb9;
}
.jcenter-list tbody td a{
	margin-left: 5px;
}
.jcenter-list tbody tr:hover td{
	background: #fafbfc;
}
.jcenter-list tfoot tr td{
	height: 56px;
	background: #effbfb;
}
.jcenter-list tfoot tr td .btn-sty1{
	margin-left: 23px;
}
.jcenter-fenye{
	padding-right: 28px;
	text-align: right;
}
.jcenter-fenye .fenye{
	display: inline-block;
}
.jcenter-fenye .fenye a{
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.jcenter-fenye .fenye a.fenye-btn{
	width: 48px;
}
