.sendMail-cnt{
	width: 670px;
	margin: 30px auto 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	padding: 30px 0px 24px;
}
.sendMail-box{
	border-bottom: 1px solid #e8e8e8;
	padding: 0px 35px 26px;
}
.sendMail-d{
	padding-bottom: 24px;
}
.sendMail-dleft{
	float: left;
	padding-left: 4px;
	padding-right: 23px;
}

.sendMail-dright{
	float: left;
}
.sendMail-dright h2{
	font-size: 18px;
	padding-bottom: 5px;
	
}
.sendMail-dright span{
	color: #ff8a00;
}
.sendMail-dright p{
	font-size: 12px;
	color: #999999;
	padding-bottom: 20px;
}
.sendMail-btn{
	display: block;
	width: 152px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #FFFFFF;
	background: #29bdb9;
	text-align: center;
}
.sendMail-dl{
	border: 1px dashed #fbe3be;
	background: #fffff8;
	padding-left: 20px;
	padding-top: 13px;
	padding-bottom: 10px;
}
.sendMail-dl dt{
	font-size: 14px;
	padding-bottom: 10px;
}
.sendMail-dl dd{
	color: #999999;
	padding-bottom: 7px;
}
.sendMail-dl dd a{
	color: #ff8a00;
}
.sendMail-dl dd span{
	color: #29bdb9;
}
.sendMail-box2{
	padding: 22px 30px 0px;
}
.sendMail-box2 h2{
	font-size: 16px;
	padding-bottom: 20px;
	font-weight: normal;
}
.sendMail-ul li{
	float: left;
	width: 292px;
	height: 130px;
	border: 1px solid #d2f1f0;
	background: #f8ffff;
	padding-left: 20px;
	position: relative;
	padding-top: 18px;
	margin-right: 17px;
}
.sendMail-title{
	color: #29bdb9;
	font-size: 16px;
	line-height: 27px;
	padding-bottom: 15px;
}
.sendMail-ico1{
	display: inline-block;
	width: 32px;
	height: 28px;
	background: url(../../images/icon.png) no-repeat -296px -27px;
	float: left;
	margin-right: 17px;
}
.sendMail-p{
	padding-right: 50px;
	line-height: 24px;
	color: #666666;
}
.sendMail-ico3{
	display: block;
	width: 11px;
	height: 17px;
	background: url(../../images/icon.png) no-repeat -364px -27px;
	position: absolute;
	right: 17px;
	top: 57px;
}
.sendMail-ico2{
	display: inline-block;
	width: 28px;
	height: 24px;
	background: url(../../images/icon.png) no-repeat -333px -27px;
	float: left;
	margin-right: 17px;
}

