@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #000;
    font-family: Arial,"微软雅黑";
}
a{
    text-decoration: none;
    color: inherit;
}
.clear {
    clear:both;
}
em,i{
    font-style: normal;
}
a img{
    border:none;
}
body{
    overflow-x:hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #005544;
  border-color: #005544;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 568px) {
  .intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }
}
/*----------------------------------------------------*/
.w-banner{
    width: 100%;
    height: 810px;
    overflow: hidden;
    color: #fff;
    position: relative;
    text-align: center;
}
div{
    position: relative;
    z-index: 2;
}
.w-banner .w-banner-bj{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/banner-bj.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    -webkit-animation:bjBig 50s linear infinite;
    -moz-animation:bjBig 50s linear infinite;
    -ms-animation:bjBig 50s linear infinite;
    -o-animation:bjBig 50s linear infinite;
    animation:bjBig 50s linear infinite;
}
@-webkit-keyframes bjBig{
    0%{transform:scale(1,1);}
    50%{transform:scale(1.5,1.5);}
}
@-moz-keyframes bjBig{
    0%{transform:scale(1,1);}
    50%{transform:scale(1.5,1.5);}
}
@-ms-keyframes bjBig{
    0%{transform:scale(1,1);}
    50%{transform:scale(1.5,1.5);}
}
@-o-keyframes bjBig{
    0%{transform:scale(1,1);}
    50%{transform:scale(1.5,1.5);}
}
@keyframes bjBig{
    0%{transform:scale(1,1);}
    50%{transform:scale(1.5,1.5);}
}
.w-banner-bj i{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    animation:bjopacity 2s ease;
}
@-webkit-keyframes bjopacity{
    0%{background: rgba(0,0,0,0.85);}
    30%{background: rgba(0,0,0,0);}
    60%{background: rgba(0,0,0,0);}
}
@-o-keyframes bjopacity{
    0%{background: rgba(0,0,0,0.85);}
    30%{background: rgba(0,0,0,0);}
    60%{background: rgba(0,0,0,0);}
}
@-moz-keyframes bjopacity{
    0%{background: rgba(0,0,0,0.85);}
    30%{background: rgba(0,0,0,0);}
    60%{background: rgba(0,0,0,0);}
}
@-ms-keyframes bjopacity{
    0%{background: rgba(0,0,0,0.85);}
    30%{background: rgba(0,0,0,0);}
    60%{background: rgba(0,0,0,0);}
}
@keyframes bjopacity{
    0%{background: rgba(0,0,0,0.85);}
    30%{background: rgba(0,0,0,0);}
    60%{background: rgba(0,0,0,0);}
}
.w-banner-bjb{
    position: absolute;
    top:405px;
    left:0;
    display: block;
    width: 100%;
    height: 1px;
    z-index: 3;
    animation:bjpxh 1s ease;
}
@-webkit-keyframes bjpxh{
    0%{-webkit-transform:translateX(-100%);background: rgba(255,255,255,1);}
    30%{-webkit-transform:translateX(0);background: rgba(255,255,255,0.5);}
    60%{background: rgba(255,255,255,0);}
    100%{background: rgba(255,255,255,0);}
}
@-moz-keyframes bjpxh{
    0%{-moz-transform:translateX(-100%);background: rgba(255,255,255,1);}
    30%{-moz-transform:translateX(0);background: rgba(255,255,255,0.5);}
    60%{background: rgba(255,255,255,0);}
    100%{background: rgba(255,255,255,0);}
}
@-ms-keyframes bjpxh{
    0%{-ms-transform:translateX(-100%);background: rgba(255,255,255,1);}
    30%{-ms-transform:translateX(0);background: rgba(255,255,255,0.5);}
    60%{background: rgba(255,255,255,0);}
    100%{background: rgba(255,255,255,0);}
}
@-o-keyframes bjpxh{
    0%{transform:translateX(-100%);background: rgba(255,255,255,1);}
    30%{transform:translateX(0);background: rgba(255,255,255,0.5);}
    60%{background: rgba(255,255,255,0);}
    100%{background: rgba(255,255,255,0);}
}
@keyframes bjpxh{
    0%{transform:translateX(-100%);background: rgba(255,255,255,1);}
    30%{transform:translateX(0);background: rgba(255,255,255,0.5);}
    60%{background: rgba(255,255,255,0);}
    100%{background: rgba(255,255,255,0);}
}

.w-banner-bt{
    width: 100%;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 185px;
    font-weight: bold;
}
.w-banner-tx{
    width: 100%;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
    margin-top: 57px;
}
.w-banner-ps{
    width: 100%;
    height: auto;
    margin-top: 57px;
}
.w-banner-ps p{
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    margin-top: 20px;
}
.w-banner-ps p:first-child,.x-appl-text p:first-child{
    margin-top: 0;
}
.w-banner-hx{
    width: 100%;
    height: 5px;
    background: url(../img/w-banner-h.png) no-repeat center;
    margin-top: 75px;
}
.w-banner-ph{
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 50px;
    background: url(../img/w-banner-ph.png) no-repeat center;
    background-size: auto 100%;
    margin-top: 65px;
}
.w-banner-phone{
    width: 100%;
    height: 43px;
    line-height: 43px;
    font-size: 43px;
    margin-top: 17px;
}
.x-appl{
    width: 100%;
    height: 900px;
    overflow: hidden;
    background: #be0e29;
    color: #fff;
    text-align: center;
    position: relative;
}
.x-appl-bt{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 130px;
}
.x-appl-hx{
    width: 100%;
    height: 3px;
    background: url(../img/x-h.png) no-repeat center;
    margin-top: 40px;
}
.x-appl-text{
    margin-top: 40px;
}
.x-appl-text p{
    display: block;
    width: 100%;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 13px;
}
.x-appl-k4{
    width: 1204px;
    height: 325px;
    margin: 105px auto 0;
}
.x-appl-k4-k{
    width: 25%;
    height: 100%;
    float: left;
    border-left:1px solid #fff;
}
.x-appl-k4-k:first-child{
    border:none;
}
.x-appl-k4-k span{
    width: 135px;
    height: 135px;
    position: relative;
    margin:0 auto;
    display: block;
}
.x-appl-k4-k span img{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 3;
}
.x-appl-k4-k span i{
    position: absolute;
    z-index: 1;
    display: block;
    top:3px;
    left:3px;
    border-radius: 50%;
    width: 129px;
    height: 129px;
    box-shadow: 0 0 0 3px rgba(255,255,255,1);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
.x-appl-k4-k span i::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -3px;
    left: -3px;
    position: relative;
    z-index: 2;
    border: 3px dashed #fff;
}
.x-appl-k4-k:hover span i{
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
}
.x-appl-k4-k:hover span i::after{
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    -ms-animation: spinAround 9s linear infinite;
    -o-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spinAround {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes spinAround {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.x-appl-k4-k b{
    width: 155px;
    height: 40px;
    line-height: 37px;
    font-size: 18px;
    border: 02px solid #fff;
    border-radius: 20px;
    font-weight: 100;
    display: block;
    margin: 31px auto 0;
}
.x-appl-k4-k:hover b{
    color:#be0e29;
    background: #fff;
}
.x-appl-k4-k p{
    display: block;
    width: 100%;
    padding: 0 24px;
    margin-top: 30px;
    font-size: 16px;
    text-align: justify;
    line-height: 28px;
}
.cases-bt{
    color: #1c1c1c;
    text-align: center;
}
.cases-img{
    width: 100%;
    height: auto;
    margin-top: 104px;
    padding-bottom:140px;
    overflow: hidden;
}
.cases-img i{
    display: block;
    width: 25%;
    height: auto;
    float: left;
    padding-right: 6px;
    margin-bottom: 6px;
    position: relative;
}
.cases-img img{
    display: block;
    width: 100%;
    height: auto;
}
.cases-k{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    display: block;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
    overflow: hidden;
}
.cases-k.act{
    opacity: 1;
    z-index: 100;
}
.table-a{
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.cases-k .table-cell img{
    display: block;
    margin:0 auto;
}
.cases-k .table-cell em{
    width: 100%;
    color: #fff;
    font-size: 20px;
    display: block;
    margin-top: 20px;
}
.cases-k .swiper-pagination-bullet{
    background: #ccc;
    opacity: 1;
}
.cases-k .swiper-pagination-bullet-active{
    background: #be0e29;
}
.cases-k-col{
    width: 100%;
    height: 55px;
    position: absolute;
    top:10px;
    left:0;
    z-index: 20000;
}
.cases-k-col img{
    display: block;
    float: right;
    margin-right: 10px;
    height: 100%;
    width: auto;
}
#particles{
    position: absolute;
    top:0;
    left:0;
}
.animate-l{
    -webkit-transform:translateX(-100px);
    -moz-transform:translateX(-100px);
    -ms-transform:translateX(-100px);
    -o-transform:translateX(-100px);
    transform:translateX(-100px);
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -ms-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}
.animate-l.active{
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
    opacity: 1;
    filter:alpha(opacity=1);
}
.cases-img i span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
.cases-img i:hover span{
    display: table;
}
.cases-img i em{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.cases-img i em img{
    width: 36px;
    display: block;
    margin:38px auto;
}
