@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #333;
    background-color: #f8f9fb;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
.animate{
    position: relative;
}
html body .none{
    display: none;
}
.opacity{
    opacity: 0;
    filter:alpha(opacity=0);
}
/*---------------------------------------------------------nav end*/
html,body,.cen{
    width: 100%;
    height: 100%;
}
html,body{
    overflow: hidden;
}
.cen{
    position: relative;
    left:0;
    top:0;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}
.cen .cena{
    width: 90%;
    margin:0 auto;
    height: 100%;
}
.cen1{
    background: #00ccff;
}
.cen2{
    background: #33cc00;
}
.cen3,.weimu{
    background: #f2c54c;
}
.cen4{
    background: #ff7777;
}
.cen5{
    background: #9fcbd7;
}
.cena{
    overflow: hidden;
    position: relative;
}
.dia{
    width: 20px;
    height: 100%;
    position: fixed;
    z-index: 3;
    top:0;
    right:-80px;
    right: 0;
}
.dia.opacity{
    opacity: 1;
}
.dia span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    margin:10px 0;
    border:2px solid #fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}
.dia span.active{
    background: #fff;
}
.dia span.active:hover{
    background: #fff;
}
.dia span:hover{
    background: rgba(255,255,255,0.7);
}
.cena{
    display: table;
    overflow: hidden;
}
.cenb{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.cenc{
    width: 100%;
    height: auto;
    text-align: left;
    position: relative;
}
.zhonge{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0 auto;
}

/*----------------------------------------------------------------------------one*/
.one-left{
    width: 12.55rem;
    height: 6rem;
    margin: 2.29rem 0 0 .44rem; 
    position: relative;
}
.one-right{
    position: absolute;
    top:1.58rem;
    right:0;
    width: 6.45rem;
    height: auto;
}
.dipan{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.dipan span{
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    display: block;
}
.dipan span:first-child{
    width: 100%;
    height: 100%;
    z-index: 1;
    border: .06rem solid #14c3f8;
}
.dipan span:first-child+span{
    width: 11.37rem;
    height: 5.2rem;
    z-index: 2;
    background: #0dade8;
    top: .4rem;
    left: .59rem;
}
.dipan span:first-child+span+span{
    width: 10.25rem;
    height: 4.5rem;
    z-index: 3;
    background: #2a6292;
    top: .75rem;
    left: 1.15rem;
}
.dipan-shouji{
    width: 6.67rem;
    height: 4.30rem;
    background: url(../img/1/phone-an.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: .57rem;
    left: 2.79rem;
    z-index: 4;
}
.j-1{
    width: 8.52rem;
    height: 3.01rem;
    background: url(../img/1/j-1.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.62rem;
    left: 1.66rem;
    z-index: 5;
}
.dipan-zhibi{
    width: 4.05rem;
    height: 2.4rem;
    background: url(../img/1/qian-zhibi.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.73rem;
    left: 6.62rem;
    z-index: 6;
}
.j-2{
    width: .72rem;
    height: .86rem;
    background: url(../img/1/j-2.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: .46rem;
    left: 2.13rem;
    z-index: 6;
}
.j-3{
    width: .61rem;
    height: .6rem;
    background: url(../img/1/j-3.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: .86rem;
    left: 5.43rem;
    z-index: 6;
}
.j-4{
    width: .53rem;
    height: .6rem;
    background: url(../img/1/j-4.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.15rem;
    left: 10.75rem;
    z-index: 6;
}
.app-game{
    width: 6.11rem;
    height: 3.84rem;
    position: absolute;
    bottom: 4.2rem;
    left: 4.07rem;
    z-index: 5;
    background: url(../img/1/app-lo.png) no-repeat;
    background-size: 100% auto;
}
.one-bt{
    width: 4.68rem;
    height: 2.35rem;
    background: url(../img/1/one-bt.png) no-repeat;
    background-size: 100% auto;
    position: relative;
}
.erweima{
    width: 2.43rem;
    height: 1.79rem;
    background: url(../img/1/weixin-bj.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: -1.05rem;
    left: -2.25rem;
    padding: .21rem 0 0 .47rem;
}
.erweima img{
    width: 1.3rem;
    height: 1.3rem;
}
.one-xiazai,.one-jieshao{
    width: 3rem;
    height: .86rem;
    margin-left: .95rem;
    position: relative;
    border-radius: .1rem;
    box-shadow: 0px 0px 10px #00ccff;
    overflow: hidden;
}
.one-xiazai img,.one-jieshao img{
    width: 100%;
    height: auto;
}
.one-xiazai a,.one-jieshao a{
    display: block;
    width: 100%;
    height: 100%;
}
.one-xiazai{
    background: #fff;
    margin-top: .9rem;
}
.one-xiazai:hover{
    background: #eee;
}
.one-jieshao{
    background: #33cc00;
    margin-top: .4rem;
}
.one-jieshao:hover{
    background: #999;
}
/*------------------------------------------------------------------------two*/
.cen2bt{
    width: 5.81rem;
    height: 1.75rem;
    position: absolute;
    background: url(../img/2/bt.png) no-repeat;
    background-size: 100% auto;
    top:0rem;
    right:1.75rem;
}
.cen2-cen{
    width: 100%;
    height: 7.57rem;
    position: relative;
}
.j2-1{
    width: 2.64rem;
    height: 2.92rem;
    position: absolute;
    left: .69rem;
    top: 2.45rem;
    background: url(../img/2/j-1.png) no-repeat;
    background-size: 100% auto;
    z-index: 6;
}
.j2-2{
    width: .94rem;
    height: 1.34rem;
    position: absolute;
    left: 6.19rem;
    top: 5.65rem;
    background: url(../img/2/j-2.png) no-repeat;
    background-size: 100% auto;
    z-index: 6;
}
.j2-3{
    width: .83rem;
    height: .90rem;
    position: absolute;
    left: 8.52rem;
    top: 1.1rem;
    background: url(../img/2/j-3.png) no-repeat;
    background-size: 100% auto;
    z-index: 1;
}
.j2-4{
    width: 2.41rem;
    height: 2.97rem;
    position: absolute;
    left: 12.27rem;
    top: 3.79rem;
    background: url(../img/2/j-4.png) no-repeat;
    background-size: 100% auto;
    z-index: 0;
}
.dianhua2{
    width: 7.07rem;
    height: 4.79rem;
    position: absolute;
    left: 1.63rem;
    top: .18rem;
    background: url(../img/2/shouji.png) no-repeat;
    background-size: 100% auto;
    z-index: 2;
}
.hongbao2{
    width: 5.32rem;
    height: 3.71rem;
    position: absolute;
    left: 4.93rem;
    top: 2.29rem;
    background: url(../img/2/hongbao.png) no-repeat;
    background-size: 100% auto;
    z-index: 3;
}
.ka2{
    width: 5.25rem;
    height: 3.78rem;
    position: absolute;
    left: 7.23rem;
    top: 3.77rem;
    background: url(../img/2/yinhangka.png) no-repeat;
    background-size: 100% auto;
    z-index: 4;
}
/*---------------------------------------------------------------------------three*/
.cen3-cen{
    width: 100%;
    height: 8.08rem;
    position: relative;
}
.cen3bt{
    width: 6.44rem;
    height: 2.66rem;
    position: absolute;
    top: .67rem;
    left: .85rem;
    background: url(../img/3/bt.png) no-repeat;
    background-size: 100% auto;
    z-index: 0;
}
.cen3bj{
    width: 8.11rem;
    height: 8.08rem;
    position: absolute;
    top: 0rem;
    left: 9.38rem;
    background: url(../img/3/shouji.png) no-repeat;
    background-size: 100% auto;
    z-index: 3;
}
.chaoren{
    width: 5.41rem;
    height: 2.34rem;
    position: absolute;
    top: .62rem;
    left: 8.1rem;
    background: url(../img/3/chaoren.png) no-repeat;
    background-size: 100% auto;
    z-index: 6;
    transform-origin: 5% 80%;
}
.weiqi{
    width: 3.84rem;
    height: 2.69rem;
    position: absolute;
    top: 1.86rem;
    left: 11.12rem;
    background: url(../img/3/weiqi.png) no-repeat;
    background-size: 100% auto;
    z-index: 0;
}
.weimu{
    width: 100%;
    height: 100%;
    background: #
}

/*-----------------------------------------------------------------------------------------four*/
.cen4-cen{
    position: relative;
    width: 100%;
    height: 7.93rem;
}
.cen4bt{
    width: 7.14rem;
    height: 2.72rem;
    background: url(../img/4/bt.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0rem;
    left: 10.01rem;
    z-index: 0;
}
.guangchang{
    width: 8.14rem;
    height: 6.11rem;
    background: url(../img/4/bj.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    top: 1.82rem;
    left: 1.25rem;
    padding-left: 1.02rem;
    z-index: 0;
}
.zhujiao{
    width: 2.99rem;
    height: 4.24rem;
    background: url(../img/4/zhujiao.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    top: .54rem;
    margin: 0 auto;
    z-index: 0;
}
.app4-1{
    width: 1.93rem;
    height: 1.38rem;
    background: url(../img/4/app1.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.02rem;
    left: 2.19rem;
    z-index: 3;
}
.app4-2{
    width: 1.72rem;
    height: 2.28rem;
    background: url(../img/4/app2.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0rem;
    left: 3.62rem;
    z-index: 3;
}
.app4-3{
    width: 1.61rem;
    height: 1.29rem;
    background: url(../img/4/app3.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: .99rem;
    left: 5.34rem;
    z-index: 3;
}

/*-----------------------------------------------------------------------------------------five*/
.cen5-cen{
    width: 100%;
    height: 8.35;
    position: relative;
}
.cen5bt{
    width: 5.41rem;
    height: 1.87rem;
    background: url(../img/5/bt.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    top: 0rem;
    left: 3.63rem;
}
.linxi{
    width: 1.26rem;
    height: .31rem;
    background: url(../img/5/lianxi.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    margin:1.41rem 0 0 3.65rem;
}
.linxiand b{
    display: block;
    float: left;
    width: 1.34rem;
    height: 1.77rem;
    margin: 0 .33rem;
    z-index: 7;
    position: relative;
    top:0;
}
.qqhao{
    background: url(../img/5/qq.png) no-repeat;
    background-size: 100% auto;
}
.weixinhao{
    background: url(../img/5/weixin.png) no-repeat;
    background-size: 100% auto;
}
.youxiang{
    background: url(../img/5/youxiang.png) no-repeat;
    background-size: 100% auto;
}
.qqhao.active{
    background: url(../img/5/qqhover.png) no-repeat;
    background-size: 100% auto;
}
.weixinhao.active{
    background: url(../img/5/weixinhover.png) no-repeat;
    background-size: 100% auto;
}
.youxiang.active{
    background: url(../img/5/youxianghover.png) no-repeat;
    background-size: 100% auto;
}
.chaju{
    width: 2rem;
    height: .73rem;
    background: url(../img/5/chaju.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: .26rem;
    left: 10.86rem;
}
.sj5{
    width: 3.35rem;
    height: 4.07rem;
    background: url(../img/5/sj5.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 2.04rem;
    left: 12.26rem;
    z-index: 7;
}
.linxiand{
    width: 100%;
    height: 2.53rem;
    position: relative;
    margin:.41rem 0 0 3.31rem;
}
.erweima5{
    width: 2.43rem;
    height: 1.79rem;
    background: url(../img/1/weixin-bj.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top:.99rem;
    left: 10.86rem;
    padding: .21rem 0 0 .47rem;
}
.erweima5 img{
    width: 1.3rem;
    height: 1.3rem;
}
.bottom5{
    width: 5rem;
    height: .50rem;
    margin:1.38rem auto 0;
}
.bottom5 p{
    display: block;
    width: 100%;
    height: .18rem;
    font-size: .18rem;
    line-height: .18rem;
    color: #3b8ba0;
    text-align: center;
    margin-bottom: .15rem;
    letter-spacing: .01rem;
}
.jtop{
    width: .21rem;
    height: .1rem;
    background: url(../img/5/jtop.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    top:-.1rem;
    margin:0 auto;
}
.lianxi-hover{
    width: 100%;
    height: .48rem;
    position: absolute;
    left: 0;
    top:2.03rem;
}
.lianxi-span-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lianxi-span-hover i{
    display: block;
    position: absolute;
    top:0;
    width: auto;
    height: .48rem;
    border-radius: 4px;
    line-height: .48rem;
    font-size: .2rem;
    color: #fff;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
    z-index: 2;
}
.lianxi-span-hover i:first-child{
    left:1rem;
}
.lianxi-span-hover i:first-child+i{
    left:3rem;
}
.lianxi-span-hover i:first-child+i+i{
    left:5rem;
}
.lianxi-span-di{
    background: #2c869e;
    width: 0;
    height: .48rem;
    position: relative;
    z-index: 1;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
    top:0;
    left:1rem;
    border-radius: 4px;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease;
}
.lianxi-span-ding{
    height: 100%;
    width: 0;
    position: absolute;
    top:0;
    left:1rem;
    z-index: 4;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease;
}
.lianxi-span-ding:after{
    content: "";
    width: 10rem;
    height: 100%;
    background: #9fcbd7;
    position: absolute;
    top:0;
    left:-10rem;
}
.lianxi-span-ding:before{
    content: "";
    width: 10rem;
    height: 100%;
    background: #9fcbd7;
    position: absolute;
    top:0;
    right:-10rem;
}

/* ----------------------------------------------------------------video */
.video{
    width: 100%;
    height: 100%;
    display: table;
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.6);
}
.video-cell{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.video-bj{
    width: 13.24rem;
    height: auto;
    padding:0 0 .07rem 0;
    background: rgba(255,255,255,0.5);
    border-radius: .1rem;
    position: relative;
    margin:0 auto;
}
.video .vida{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.vidcol{
    position: relative;
    width: 13rem;
    height: auto;
    margin: 0 auto;
    z-index: 3;
    display: block;
}
.video video{
    width: 100%;
    height: auto;
    border:1px solid #fff;
    box-shadow: none;
    margin:.15rem auto 0;
}
.vidcolimg{
    width: .65rem;
    height: .64rem;
    background: url(../img/col.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top:-.63rem;
    right: .1rem;
    cursor: pointer;
}