@media screen and (min-width:768px){
/*首页pc*/
.pc_dn{ display:none !important;}
.pc_w1060{ width:1060px; margin:0 auto;}

.header{ background-color:#fff;}
.header .heh-inner{ height:68px;}
.heh-inner .logo{ float:left; display:inline; margin:15px 0 0 23px; width:123px; height:39px;}
.heh-inner .logo img{ width:123px; height:39px;}
.heh-inner .nav{ float:left; display:inline; padding:24px 0 0 30px;}
.heh-inner .nav li{ float:left; display:inline; text-align:center;}
.heh-inner .nav li a{ padding:0 18px; margin:0 10px; display:inline-block; height:23px; font:14px/23px "Microsoft Yahei";}
.heh-inner .nav li a.cur{ -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; background:#0099ff; color:#fff;}
.heh-inner .nav li a:hover{ -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; background:#0099ff; color:#fff;}
.heh-inner .ser-log{ float:right; display:inline; padding-top:21px;}
.ser-log .sear-box{ float:left; display:inline; width:156px; height:26px; border:1px solid #a5a5a5;  -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px;}
.ser-log .sear-box input{ width:117px; padding:5px 0 4px 9px; background:transparent; height:16px; font:12px/16px "Microsoft Yahei"; border:none; float:left;}
.ser-log .sear-box .ser-btn{ float:left; display:inline; background:url(../img/seach_bg.png) no-repeat center; width:21px; height:24px; -webkit-background-size:21px 14px; background-size:21px 14px;}
.ser-log .log-box{ float:left; display:inline; margin-left:30px;}
.ser-log .log-box a{ line-height:28px;}
.ser-log .log-box span{font:12px/25px "Microsoft Yahei"; color:#bfbfbf;}
.banner{ height:331px; width:100%; position:relative; z-index:10;}
.banner .swiper-wrapper{ width:100%; height:100%;}
.banner .swiper-wrapper .swiper-slide{ width:100%; height:100%; -webkit-background-size:1200px 328px !important; background-size:1200px 328px !important;}
.banner .swiper-button-prev,.banner .swiper-button-next{ width:34px; height:34px; position:absolute; top:50%; left:50%; margin-top:-17px; cursor:pointer;}
.banner .swiper-button-prev{ margin-left:-517px; background:url('../img/banner_laro.png') no-repeat center center; -webkit-background-size:34px 34px; background-size:34px 34px;}
.banner .swiper-button-next{ margin-left:483px; background:url('../img/banner_raro.png') no-repeat center center; -webkit-background-size:34px 34px; background-size:34px 34px;}
.baCet_btm{ background:url('../img/banner_bt.png') no-repeat center center; -webkit-background-size:34px 34px; background-size:34px 34px; width:34px; height:34px; position:absolute; bottom:-14px; left:50%; margin-left:-17px; z-index:20; font-size:0; border:none;}
.baCet_btm2{ bottom:-17px;}
.whatDo{ height:347px; margin-top:32px; background:#fff; position:relative; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.whatDo .tit{ padding:35px 0; text-align:center;}
.whatDo .tit img{ width:171px; height:22px;}
.do-wrap{ padding:0 56px;}
.do-wrap .do-link{ width:116px; padding:0 100px; float:left; display:inline;}
.do-wrap .do-link .dl-a{ display:block; width:118px; height:131px; -webkit-background-size:118px 131px !important; background-size:118px 131px !important;}
.do-wrap .do-link h4{ font:bold 15px/44px "Microsoft Yahei"; color:#0099ff; margin-top:5px; text-align:center;}
.do-wrap .do-link p{ text-align:center; font:12px/16px "Microsoft Yahei";}
.do-wrap .do-link .dl-1{ background:url('../img/link_bg1_b.png') no-repeat center top;}
.do-wrap .do-link .dl-2{ background:url('../img/link_bg2_b.png') no-repeat center top;}
.do-wrap .do-link .dl-3{ background:url('../img/link_bg3_b.png') no-repeat center top;}
.do-wrap .do-link .dl-1:hover{ background:url('../img/link_bg1_a.png') no-repeat center top;}
.do-wrap .do-link .dl-2:hover{ background:url('../img/link_bg2_a.png') no-repeat center top;}
.do-wrap .do-link .dl-3:hover{ background:url('../img/link_bg3_a.png') no-repeat center top;}
.whoAm .tit{ padding:37px 0 32px 0; text-align:center;}
.whoAm .tit img{ width:171px; height:22px;}
.whoAm .desc_box .txt{ float:left; display:inline; width:610px; padding-right:14px; text-align:right; border-right:2px solid #cacaca;}
.whoAm .desc_box .txt h4{ font:16px/20px "Microsoft Yahei";}
.whoAm .desc_box .txt p{ font:12px/22px "Microsoft Yahei";}
.whoAm .desc_box .qr_code{ float:left; display:inline; margin-left:8px;}
.whoAm .desc_box .qr_code .code{ float:left; display:inline; margin-left:18px;}
.desc_box .code img{ display:block; width:81px; height:81px;}
.desc_box .code p{ font:12px/24px "Microsoft Yahei"; text-align:center;}
.whoAm .know-more{ padding:37px 0 30px 0; text-align:center;}
.whoAm .know-more a{ width:138px; height:38px; display:block; margin:0 auto; background:url('../img/know_more.png') no-repeat center center; font:bold 14px/37px "Microsoft Yahei"; color:#0099ff; -webkit-background-size:138px 38px; background-size:138px 38px;}
.footer{ padding-top:34px; background:url('../img/foot_top.png') no-repeat center top;}
.footer-wh{ background:url('../img/foot_top2.png') no-repeat center top;}
.footer p{ padding:22px 0 44px 0; text-align:center; font:12px/16px "Microsoft Yahei"; color:#646464;}
.footer p span{ margin:0 5px;}

.toTop{ background:url('../img/to_top.png') no-repeat center center; display:none; width:47px; height:44px; position:fixed; right:60px; bottom:50px; cursor:pointer;}


/*第一步*/
.cur-posi{ background:#f2f2f2; height:42px; font:15px/42px "Microsoft YaHei"; color:#a3a3a3;}
.cur-posi a{color:#a3a3a3; font:15px/42px "Microsoft YaHei";}
.step-wrap{ width:601px; margin:0 auto; padding:23px 0 20px 0; position:relative; height:34px; z-index:9;}
.step-wrap .step-line{ width:100%; height:0; line-height:0; border-bottom:1px dashed #b8b8b8; position:absolute; top:39px; left:0; z-index:10;}
.step-wrap .sig-step{ background:#fff; float:left; display:inline; width:100px; position:relative; z-index:11; margin-right:67px;}
.step-wrap .sig-step.last{ margin-right:0;}
.step-wrap .sig-step .num{ float:left; display:inline; width:33px; height:33px; font:bold 12px/33px "Arial"; color:#fff; text-align:center; margin-right:12px; background:url('../img/cur_p_bg.png') no-repeat center center; -webkit-background-size:33px 33px; background-size:33px 33px;}
.step-wrap .sig-step h3{ font:normal 12px/15px "Arial"; color:#a0a0a0; padding-top:2px;}
.step-wrap .sig-step h4{ font:bold 12px/15px "Microsoft YaHei"; color:#aae3ff;}
.step-wrap .step-cur .num{ background-image:url('../img/cur_a_bg.png');}
.step-wrap .step-cur h4{ color:#ffaf00;}
.step1_cont{ width:1010px; margin:0 auto 43px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#f2f2f2; padding:16px 0 18px 0;}
.step1_cont .cont-pics{ width:469px; height:495px; background:url('../img/ste_bg.png') no-repeat center center; float:left; display:inline;}
.step1_cont .cont-txt{ float:left; display:inline; padding-top:27px; position:relative;}
.step1_cont .cont-txt p{ padding-left:22px; margin-top:23px; width:450px; background:url('../img/par_ico.png') no-repeat left 8px; font:12px/24px "Microsoft YaHei"; color:#7c7c7c;}

.forwar-btn{background:url("../img/know_more.png") no-repeat center center;color: #0099ff;display: block;font:bold 14px/37px "Microsoft Yahei";height: 38px;width: 138px; text-align:center; -webkit-background-size:138px 38px; background-size:138px 38px;}
.forwar-btn1{ margin:45px 0 32px 150px;}
.step1_cont .cont-txt .cont-pic2{ position:absolute; width:180px; height:120px; background:url('../img/ste_bg2.png') no-repeat center center; right:-60px; bottom:-5px;}

/*step2*/
.func-li{ height:300px;}
.func-odd{ background:#f2f2f2;}
.func-li .func-wrap{ width:796px; margin:0 auto; position:relative;}
.func-li .func-img{ width:334px; height:300px;}
.func-li .func-img1{ background:url('../img/ste2_pic1.png') no-repeat center center; -webkit-background-size:325px 136px; background-size:325px 136px;}
.func-li .func-img2{ background:url('../img/ste2_pic2.png') no-repeat center center; -webkit-background-size:251px 213px; background-size:251px 213px;}
.func-li .func-img3{ background:url('../img/ste2_pic3.png') no-repeat center center; -webkit-background-size:211px 189px; background-size:211px 189px;}
.func-li .func-img4{ background:url('../img/ste2_pic4.png') no-repeat center center; -webkit-background-size:187px 186px; background-size:187px 186px;}
.func-li .func-img5{ background:url('../img/ste2_pic5.png') no-repeat center center; -webkit-background-size:212px 176px; background-size:212px 176px;}
.func-li .func-img6{ background:url('../img/ste2_pic6.png') no-repeat center center; -webkit-background-size:193px 174px; background-size:193px 174px;}
.func-li.func-odd .func-img{ float:left; display:inline; margin-right:80px;}
/*.func-li.func-odd .func-txt{ float:left; display:inline; margin-left:80px; width:380px;}*/
.func-li .func-txt{ padding-top:77px;}
.func-li .func-txt h3{ font:bold 24px/58px "Microsoft YaHei"; color:#0099ff;}
.func-li .func-txt p{ font:14px/24px "Microsoft YaHei"; color:#828282; height:72px; white-space:nowrap;}
.func-li .func-txt .sta-usr a{ padding-right:16px; font:15px/21px "Microsoft YaHei"; color:#0099ff; background:url('../img/blue_r_arr.png') no-repeat right center; }
.func-li .func-txt .sta-usr a:hover{border-bottom:1px solid #5bbbfa;}

.func-li.func-even .func-img{ float:right; display:inline; margin-left:163px;}
.func-li.func-even .func-txt{ text-align:right; position:absolute; width:400px;  left:-110px; top:0;}
/*step3*/
.step3_cont{ width:544px; margin:0 auto 130px;}
.step3_cont .stu_tit{ height:51px; background:#0099ff; color:#ffffff; font:bold 16px/51px "Microsoft YaHei"; border-top:1px solid #cfebfe; border-bottom:1px solid #79c5f8; -webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; border-radius:8px 8px 0 0; text-indent:35px;}
.step3_cont .stu_tit span{ font-weight:normal;}
.step3_cont .stu_info{ padding:25px 72px 15px; background:#f2f2f2; -webkit-border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px; border-radius:0 0 8px 8px;}
.stu_info .info-li{ width:100%; margin:6px 0; height:38px; border:1px solid #bdbdbd; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; border-top:2px solid #dbdbdb;}
.stu_info .info-li dt,.stu_info .info-li dd{ float:left; display:inline;}
.stu_info .info-li dt{ width:133px; font:14px/38px "Microsoft YaHei"; color:#646464; text-indent:20px; background:url('../img/dt_split.png') no-repeat right center;}
.stu_info .info-li dt .aper{ color:#ffaf00;}
.stu_info .info-li dd input{ padding:10px 34px 10px 29px; height:18px; font:14px/18px "Microsoft YaHei"; width:200px; border:none;}
.stu_info .info-li .drop-ipt-dd{ position:relative;}
.stu_info .info-li .drop-ipt-dd input{ background:url('../img/drop_arrb.png') no-repeat 233px center; cursor:pointer; -webkit-background-size:8px 10px; background-size:8px 10px;}
.stu_info .info-li .drop-ipt-dd.cur input{ background:url('../img/drop_arra.png') no-repeat 233px center; -webkit-background-size:10px 8px; background-size:10px 8px;}
.drop-ipt-dd .drop-list{ position:absolute; top:39px; left:0; width:265px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;max-height:200px;overflow-y:auto; display:none;}
.drop-ipt-dd .drop-list li{ font:16px/32px "Microsoft YaHei"; color:#646464; height:32px; background:rgba(170,227,255,0.9); text-align:center; cursor:pointer;}
.drop-ipt-dd .drop-list li:hover{ background:rgba(0,153,255,0.8); color:#fff;}
.drop-index1{ z-index:100;}
.drop-index2{ z-index:90;}
.drop-index3{ z-index:80;}
.drop-index4{ z-index:70;}
.stu_info .info-sub{ padding:15px 0; text-align:center;}
.btn-sub{ width:136px; height:39px; border:2px solid #0099ff; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; font:bold 20px "Microsoft YaHei"; color:#0099ff; background:url('../img/confim_bg.png') no-repeat 29px center; -webkit-background-size:20px 20px; background-size:20px 20px; text-indent:30px; cursor:pointer;}

/*step4*/
.step4_cont{ width:1009px; margin:0 auto 40px;}
.step4_cont .readInstro{ padding:65px 70px 68px 67px; background:#f2f2f2; position:relative; display:none;}
.step4_cont .readInstro.show{ display:block;}
.readInstro .red-tit{ padding-bottom:26px;}
.readInstro .red-tit h4{width:176px; height:36px; border:1px solid #2eaafd; -webkit-border-radius:18px; -moz-border-radius:18px; border-radius:18px; text-indent:64px; font:bold 20px/36px "Microsoft YaHei"; color:#0099ff; background:url('../img/red_pic.png') no-repeat 28px center; -webkit-background-size:23px 23px; background-size:23px 23px;}
.readInstro .red-txt{ font:14px/26px "Microsoft YaHei"; color:#646464;}
.readInstro .red-txt h5{ font:bold 14px/26px "Microsoft YaHei";}
.step4_cont .aimRecom{ padding:64px 57px 29px; background:#d4f1ff;}
.aimRecom .case-tit h4{ float:left; display:inline; height:37px; width:319px; font:bold 20px/37px "Microsoft YaHei"; color:#0099ff; text-indent:65px; border:1px solid #0d9eff; -webkit-border-radius:18px; -moz-border-radius:18px; border-radius:18px; background:url('../img/rec_bg.png') no-repeat 23px center; -webkit-background-size:26px 26px; background-size:26px 26px;}
.aimRecom .case-tit .seeIntro{ float:right; display:inline; padding-left:21px; font:14px/27px "Microsoft YaHei"; color:#0099ff; background:url('../img/que_mark.png') no-repeat left center; -webkit-background-size:15px 15px; background-size:15px 15px;}
.aimRecom .case-tit .seeIntro:hover{ text-decoration:underline;}
.aimRecom .case-prom{ padding:23px 0; font:14px/22px "Microsoft YaHei"; color:#646464;letter-spacing:1px;}
.aimRecom .prof-table{ width:100%; font:12px/27px "Microsoft YaHei";}
.aimRecom .prof-table th{ font-weight:bold; background:#ffaf00; text-indent:28px; color:#fff; border-left:1px solid #b9b9b9; border-right:1px solid #b9b9b9; border-top:1px solid #ca982a;text-align:left;}
.aimRecom .prof-table td{ background:#fff; text-indent:28px; color:#505050; border-left:1px solid #b9b9b9; border-right:1px solid #b9b9b9;text-align:left; border-top:1px solid #9da4a7; border-bottom:1px solid #b5b7b9;}
.aimRecom .prof-table tbody tr:nth-child(2n) td{ background:#d4f1ff;}
.aimRecom .prof-table tbody td.odd{ background:#d4f1ff;}
.aimRecom .prof-table tbody tr.cur td{ background:#0099ff; color:#fff;}
.aimRecom .prof-table tbody tr.cur td a{ color:#fff;}

.aimRecom .prof-table .tb-tac{ text-align:center; text-indent:0;}
.star-ico{ display:inline-block; width:15px; height:15px; background:url('../img/star_ico.png') no-repeat center center; -webkit-background-size:15px 15px; background-size:15px 15px;}
.aimRecom .get-more{ text-align:right;}
.aimRecom .get-more a{font:13px/43px "Microsoft YaHei"; color:#0099ff; padding-right:13px; background:url('../img/right_arro.png') no-repeat right center; -webkit-background-size:7px 9px; background-size:7px 9px;}
.aimRecom .schl-list{ padding-top:20px;}
.aimRecom .schl-list .li-prot{ font:14px/30px "Microsoft YaHei"; color:#0099ff;}
.schl-list .liu-name{ padding:0 10px 0 3px; border-bottom:1px solid #0099ff; line-height:26px;}
.schl-list .schl-link{ padding:10px 0;}
.schl-list .schl-link a{ float:left; display:block; height:34px; font:14px/34px "Microsoft YaHei"; color:#0099ff; padding:0 17px;  -webkit-border-radius:17px; -moz-border-radius:17px; border-radius:17px; margin:10px 20px 10px 0; border:1px dashed #0099ff;}
.schl-list .schl-link a:hover{ background:#ffaf00; color:#fff; border:1px solid transparent;}
.case-prom{ position:relative;}
.case-prom .table-prompt{ position:absolute; padding:25px 56px; width:783px; background:rgba(0,0,0,0.7); color:#fff; font:12px/20px "Microsoft YaHei"; left:0; bottom:25px; -webkit-border-radius:7px 7px; -moz-border-radius:7px 7px; border-radius:7px 7px; border:1px solid #718188;}
.case-prom .table-prompt h5{ font:bold 12px/20px "Microsoft YaHei";}
.case-prom .table-prompt .cls-btn{ width:14px; height:14px; position:absolute; right:24px; top:17px; background:url('../img/close_btn.png') no-repeat center center; -webkit-background-size:14px 14px; background-size:14px 14px;}
.case-prom .table-prompt .tri-down{ position:absolute; left:50%; bottom:-13px; margin-left:-19px; width:0; height:0; display:block; width: 0; border-left: 9px solid transparent; border-top: 13px solid rgba(0,0,0,0.65); border-right:9px solid transparent;}
/*.case-prom .table-prompt .tri-down{ width:19px; height:15px; background:url('../img/tri_down.png') no-repeat center center; -webkit-background-size:19px 15px; background-size:19px 15px; position:absolute; left:50%; bottom:-15px; margin-left:-19px;}*/


}



@media screen and (max-width:768px){
/*首页phone*/
.ph_dn{ display:none !important;}
.header{ background:#fff;}
.header .heh-inner{ height:48px; padding:0 14px;}
.heh-inner .logo{ float:left; display:inline; margin-top:7px;}
.heh-inner .logo img{ width:102px; height:32px;}
.heh-inner .ser-log{ float:right; display:inline; padding-top:9px;}
.ser-log .sear-box{ float:right; display:inline; width:156px; height:26px; border:1px solid #a5a5a5;  -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px;}
.ser-log .sear-box input{ width:117px; padding:5px 0 4px 9px; background:transparent; height:16px; font:12px/16px "Microsoft Yahei"; border:none; float:left;}
.ser-log .sear-box .ser-btn{ float:left; display:inline; background:url(../img/seach_bg.png) no-repeat center; -webkit-background-size:21px 14px; background-size:21px 14px; width:21px; height:24px;}

.banner{ height:120px; width:100%; position:relative; z-index:10;}
.banner .swiper-wrapper{ width:100%; height:100%;}
.banner .swiper-wrapper .swiper-slide{ width:100%; height:100%; -webkit-background-size:cover !important; background-size:cover !important;}

.baCet_btm{ background:url('../img/banner_bt.png') no-repeat center center; width:15px; height:15px; position:absolute; bottom:-6px; left:50%; margin-left:-7px; z-index:20; -webkit-background-size:15px 15px; background-size:15px 15px;}
.baCet_btm2{ bottom:-8px;}
.whatDo{ height:250px; background:#fff; position:relative;}
.whatDo .tit{ padding:25px 0; text-align:center;}
.whatDo .tit img{ width:171px; height:22px;}
.do-wrap{ padding:0 10px;}
.do-wrap .do-link{ width:33.3%; float:left; display:inline;}
.do-wrap .do-link .dl-a{ display:block; width:70px; height:78px; margin:0 auto; -webkit-background-size:70px 78px !important; background-size:70px 78px !important;}
.do-wrap .do-link h4{ font:bold 12px/34px "Microsoft Yahei"; color:#0099ff; margin-top:5px; text-align:center;}
.do-wrap .do-link p{ text-align:center; font:9px/16px "Microsoft Yahei"; color:#969696;-webkit-transform: scale(0.75);
-o-transform: scale(1); }
.do-wrap .do-link .dl-1{ background:url('../img/link_bg1_b.png') no-repeat center top;}
.do-wrap .do-link .dl-2{ background:url('../img/link_bg2_b.png') no-repeat center top;}
.do-wrap .do-link .dl-3{ background:url('../img/link_bg3_b.png') no-repeat center top;}
.do-wrap .do-link .dl-1:hover{ background:url('../img/link_bg1_a.png') no-repeat center top;}
.do-wrap .do-link .dl-2:hover{ background:url('../img/link_bg2_a.png') no-repeat center top;}
.do-wrap .do-link .dl-3:hover{ background:url('../img/link_bg3_a.png') no-repeat center top;}

.whoAm .tit{ padding:25px 0 15px 0; text-align:center;}
.whoAm .tit img{ width:171px; height:22px;}
.whoAm .desc_box .txt{  text-align:center;}
.whoAm .desc_box .txt h4{ font:16px/29px "Microsoft Yahei"; color:#969696;}
.whoAm .desc_box .txt p{ font:10px/24px "Microsoft Yahei"; color:#969696;-webkit-transform: scale(0.75);-o-transform: scale(1);}
.whoAm .desc_box .qr_code{ padding:10px 58px 0;}
.whoAm .desc_box .qr_code .ph_cd1{ float:left; display:inline;}
.whoAm .desc_box .qr_code .ph_cd2{ float:right; display:inline;}
.desc_box .code img{ display:block; width:91px; height:91px;}
.desc_box .code p{ font:10px/28px "Microsoft Yahei"; text-align:center;-webkit-transform: scale(0.75);-o-transform: scale(1);}
.whoAm .know-more{ padding:19px 0 30px 0; text-align:center;}
.whoAm .know-more a{ width:138px; height:38px; display:block; margin:0 auto; background:url('../img/know_more.png') no-repeat center center; font:bold 14px/37px "Microsoft Yahei"; -webkit-background-size:138px 38px; background-size:138px 38px;color:#0099ff;}

.LeftPaneBtn{ width:38px; height:38px; position:fixed; left:0; top:90%; z-index:1000;}

.footer{ padding-top:30px; padding-bottom:10px; background:url('../img/foot_top.png') no-repeat center top; width:88%; margin:0 auto;}
.footer_wh{ background:url('../img/foot_top2.png') no-repeat center top;}
.footer p{text-align:center; font:9px/14px "Microsoft Yahei";-webkit-transform: scale(0.75);
-o-transform: scale(1); color:#969696;}
.footer p span{ display:block;}

.leftPane{ position:fixed; left:-267px; top:0; z-index:10000; width:266px; border-right:1px solid #7cc7f8; border-top:1px solid #c5e2f4; background:rgba(0,153,255,0.9);  overflow-y:auto;
-webkit-overflow-scrolling:touch;
-moz-overflow-scrolling:touch;
-o-overflow-scrolling:touch;
overflow-scrolling:touch;
-webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
-moz-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
-o-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}
.leftPane.show{
-webkit-transform:translate(267px); -moz-transform:translate(267px); -ms-transform:translate(267px); -o-transform:translate(267px); transform:translate(267px);
-webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
-moz-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
-o-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);

}
.lpa_hd{ padding:20px 0 10px 0; background:#f2f2f2; height:49px;}
.lpa_hd .avatar{ float:left; margin-left:23px; width:49px; height:49px; border:1px solid #ccd3d7; -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px; overflow:hidden;}
.lpa_hd .usr{ float:left; margin-left:15px;}
.lpa_hd .usr a{ font:15px/49px "Microsoft YaHei"; color:#646464;}
.lpa_bd{ padding-bottom:40px;}
.lpa_bd .pa_nav{ padding:12px 0 25px 30px; color:#fff;}
.lpa_bd .pa_nav a{ color:#fff;}
.pa_nav .nav_top dt{ font:14px/33px "Microsoft YaHei"; padding-left:48px;}
.pa_nav .nav_top dt a{ font:14px/33px "Microsoft YaHei";}
.pa_nav .nav_top .nav-1{ background:url('../img/side_nav1.png') no-repeat 11px center;}
.pa_nav .nav_top .nav-2{ background:url('../img/side_nav2.png') no-repeat 9px center;}
.pa_nav .nav_top .nav-3{ background:url('../img/side_nav3.png') no-repeat 10px center;}
.pa_nav .nav_top .nav-4{ background:url('../img/side_nav4.png') no-repeat 12px center;}
.pa_nav .nav_top .nav-5{ background:url('../img/side_nav5.png') no-repeat 10px center;}
.pa_nav .nav_top dd{ font:11px/19px "Microsoft YaHei";-webkit-transform: scale(0.75);-o-transform: scale(1); background:url('../img/side_nav_ico.png') no-repeat 26px center; padding-left:39px;}
.lpa_bd .regBtn{ display:block; width:70px; height:28px; border:1px solid #d9efff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font:14px/28px "Microsoft YaHei"; color:#fff; text-align:center; margin-left:64px;}
.ph-dwmask{ position:fixed; width:100%; top:0; left:0; height:9999px; background:rgba(0,0,0,0.3); z-index:1000;-webkit-transition-delay:0.3s;
-webkit-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
-moz-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
-o-transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1);
transition:all 0.6s cubic-bezier(0.165,0.84,0.44,1); display:none;}
.ph-dwmask.show{ display:block;}


/*步骤1*/

.step-wrap{ width:88%; margin:0 auto; padding:28px 0 20px 0; position:relative; height:30px; z-index:9;}
.step-wrap .step-line{ width:100%; height:0; line-height:0; border-bottom:1px solid #c5cbcb; position:absolute; top:42px; left:0; z-index:10;}
.step-wrap .sig-step{ background:#f2f2f2; width:90px; position:relative; z-index:11; padding-left:10px; margin:0 auto;}
.step-wrap .sig-step .num{ float:left; display:inline; width:30px; height:30px; font:bold 11px/30px "Arial"; color:#fff; text-align:center; margin-right:10px; background:url('../img/cur_a_bg.png') no-repeat center center; -webkit-background-size:30px 30px; background-size:30px 30px;}
.step-wrap .sig-step h3{ font:normal 11px/14px "Arial"; color:#a0a0a0; padding-top:2px; -webkit-transform: scale(0.75);-o-transform: scale(1);}
.step-wrap .sig-step h4{ font:bold 11px/14px "Microsoft YaHei"; color:#ffaf00; -webkit-transform: scale(0.75);-o-transform: scale(1);}

.step1_cont{ margin-bottom:30px;}
.step1_cont .cont-pics{ width:300px; height:231px; background:url('../img/phone_ct_bg.png') no-repeat center center; margin:0 auto;}
.step1_cont .cont-txt{ position:relative; padding:0 21px;}
.step1_cont .cont-txt p{ position:relative; z-index:101; padding-left:15px; background:url('../img/par_ico.png') no-repeat left 6px; font:9px/21px "Microsoft YaHei"; color:#7c7c7c;-o-transform: scale(1); padding-bottom:20px;}
.lin-bg .line-img{ background:url('../img/par_bg.png') no-repeat center center; width:183px; height:139px; position:absolute; left:-21px; top:-10px; display:block;}
.forwar-btn{background:url("../img/know_more.png") no-repeat center center;color: #0099ff;display: block;font:bold 14px/37px "Microsoft Yahei";height: 38px;width: 138px; text-align:center; position:relative; z-index:100; -webkit-background-size:138px 38px; background-size:138px 38px;}
.forwar-btn1{ margin:13px auto 16px;}
.step1_cont .cont-txt .cont-pic2{ position:absolute; width:180px; height:120px; background:url('../img/ste_bg2.png') no-repeat center center; right:-43px; bottom:-15px;}
.ph_bg_g1{ background:#f2f2f2;}


/*step2*/

.func-li{ }
.func-even{ background:#ffffff;}
.func-li .func-wrap{ text-align:center;}
.func-li .func-img{ width:200px; height:180px; margin:0 auto;}
.func-li .func-img1{ background:url('../img/ste2_pic1.png') no-repeat center center; height:120px; -webkit-background-size:174px 74px; background-size:174px 74px;}
.func-li .func-img2{ background:url('../img/ste2_pic2.png') no-repeat center center; -webkit-background-size:178px 151px; background-size:178px 151px;}
.func-li .func-img3{ background:url('../img/ste2_pic3.png') no-repeat center center; -webkit-background-size:139px 125px; background-size:139px 125px;}
.func-li .func-img4{ background:url('../img/ste2_pic4.png') no-repeat center center; -webkit-background-size:132px 132px; background-size:132px 132px;}
.func-li .func-img5{ background:url('../img/ste2_pic5.png') no-repeat center center; -webkit-background-size:130px 108px; background-size:130px 108px;}
.func-li .func-img6{ background:url('../img/ste2_pic6.png') no-repeat center center; -webkit-background-size:136px 123px; background-size:136px 123px;}
/*.func-li.func-odd .func-txt{ float:left; display:inline; margin-left:80px; width:380px;}*/
.func-li .func-txt h3{ font:bold 16px/45px "Microsoft YaHei"; color:#0099ff; text-align:center;}
.func-li .func-txt p{ font:9px/15px "Microsoft YaHei"; color:#a0a0a0; text-align:center; padding:0 15px;}
.func-li .func-txt .sta-usr a{ height:60px; font:11px/60px "Microsoft YaHei"; color:#0099ff; padding-right:11px; background:url('../img/blue_r_arr.png') no-repeat right center; -webkit-background-size:7px 8px; background-size:7px 8px; text-align:center;}

/*step3*/
.step3_cont{ padding:0 26px; margin:0 auto 10px;}
.step3_cont .stu_tit{ height:51px;  color:#0099ff; font:bold 14px/51px "Microsoft YaHei"; text-indent:4px;}
.step3_cont .stu_tit span{ font-weight:normal;}
.step3_cont .stu_info{}
.stu_info .info-li{ width:100%; margin:4px 0; height:26px; border:1px solid #bdbdbd; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; }
.stu_info .info-li dt,.stu_info .info-li dd{ float:left; display:inline;}
.stu_info .info-li dt{ width:33%; font:10px/26px "Microsoft YaHei"; color:#646464; text-indent:14px; background:url('../img/dt_split.png') no-repeat right center;}
.stu_info .info-li dd{ width:66.6%;}
.stu_info .info-li dt .aper{ color:#ffaf00;}
.stu_info .info-li dd input{text-indent:14px; padding:5px 20px 5px 19px;  font:10px/16px "Microsoft YaHei"; width:100%; border:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.stu_info .info-li .drop-ipt-dd{ position:relative;}
.stu_info .info-li .drop-ipt-dd input{ background:url('../img/drop_arrbc.png') no-repeat 87% center; cursor:pointer; -webkit-background-size:6px 8px; background-size:6px 8px;}
.stu_info .info-li .drop-ipt-dd.cur input{ background:url('../img/drop_arra.png') no-repeat 87% center; -webkit-background-size:8px 6px; background-size:8px 6px;}
.drop-ipt-dd .drop-list{ position:absolute; top:26px; left:0; width:100%; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;max-height:200px;overflow-y:auto; display:none;}
.drop-ipt-dd .drop-list li{ font:14px/26px "Microsoft YaHei"; color:#646464; height:28px; background:rgba(170,227,255,0.9); text-align:center; cursor:pointer;}
.drop-ipt-dd .drop-list li:hover{ background:rgba(0,153,255,0.8); color:#fff;}
.drop-index1{ z-index:100;}
.drop-index2{ z-index:90;}
.drop-index3{ z-index:80;}
.drop-index4{ z-index:70;}
.stu_info .info-sub{ padding:30px 0 15px 0; text-align:center;}
.btn-sub{ width:132px; height:33px; border:2px solid #0099ff; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; font:bold 14px "Microsoft YaHei"; color:#0099ff; background:url('../img/confim_bg.png') no-repeat 29px center; -webkit-background-size:14px 14px; background-size:14px 14px; text-indent:30px; cursor:pointer;}

/*step4*/
.step4_cont{ width:100%; margin:0 auto 40px;}

.step4_cont .aimRecom{ padding:12px 20px 0;}
.aimRecom .case-tit h4{ float:left; display:inline; height:27px; width:234px; font:bold 12px/27px "Microsoft YaHei"; color:#0099ff; text-indent:47px; border:1px solid #0d9eff; -webkit-border-radius:13px; -moz-border-radius:13px; border-radius:13px; background:url('../img/rec_bg.png') no-repeat 17px center; -webkit-background-size:19px 19px; background-size:19px 19px;}

.aimRecom .case-prom{ padding:34px 0 29px 0; font:9px/14px "Microsoft YaHei"; color:#a0a0a0;letter-spacing:1px;}
.aimRecom .tb-wrap{ width:100%; overflow-x:auto;}
.aimRecom .prof-table{ width:894px; font:9px/22px "Microsoft YaHei";}
.aimRecom .prof-table th{ font-weight:bold; background:#ffaf00; text-indent:20px; color:#fff; border-left:1px solid #b9b9b9; border-right:1px solid #b9b9b9; border-top:1px solid #ca982a;text-align:left;}
.aimRecom .prof-table td{ background:#fff; text-indent:20px; color:#505050; border-left:1px solid #b9b9b9; border-right:1px solid #b9b9b9;text-align:left; border-top:1px solid #9da4a7; border-bottom:1px solid #b5b7b9;}
.aimRecom .prof-table tbody tr:nth-child(2n) td{ background:#d4f1ff;}
.aimRecom .prof-table tbody td.odd{ background:#d4f1ff;}
.aimRecom .prof-table tbody tr.cur td{ background:#0099ff; color:#fff;}
.aimRecom .prof-table tbody tr.cur td a{ color:#fff;}

.aimRecom .prof-table .tb-tac{ text-align:center; text-indent:0;}
.star-ico{ display:inline-block; width:9px; height:9px; background:url('../img/star_ico.png') no-repeat center center; -webkit-background-size:9px 9px; background-size:9px 9px;}
.aimRecom .get-more{ text-align:right;}
.aimRecom .get-more a{font:9px/33px "Microsoft YaHei"; color:#0099ff; padding-right:12px; background:url('../img/drop_arra.png') no-repeat right center; -webkit-background-size:8px 7px; background-size:8px 7px;}
.aimRecom .schl-list{ margin-top:10px; padding-top:9px; border-top:1px solid #d9d9d9;}
.aimRecom .schl-list .li-prot{ font:9px/18px "Microsoft YaHei"; color:#0099ff;}
.aimRecom .schl-list .phli-tit{ font:9px/57px "Microsoft YaHei";}
.schl-list .liu-name{ padding:0 8px 0 2px; border-bottom:1px solid #0099ff; line-height:20px;}
.schl-list .schl-link{ padding:14px 0 50px 0;}
.schl-list .schl-link a{ float:left; display:block; height:20px; font:9px/20px "Microsoft YaHei"; color:#0099ff; padding:0 11px;  -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; margin:10px 13px 10px 0; border:1px dashed #0099ff;}

.tb-wrap{ position:relative;}
.tb-wrap .table-prompt{ position:absolute; padding:27px 14px 17px; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background:rgba(0,0,0,0.7); color:#fff; font:9px/14px "Microsoft YaHei"; left:0; top:35px;  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.tb-wrap .table-prompt h5{ font:bold 9px/14px "Microsoft YaHei";}
.tb-wrap .table-prompt .cls-btn{ width:11px; height:11px; position:absolute; right:14px; top:16px; background:url('../img/close_btn.png') no-repeat center center; -webkit-background-size:11px 11px; background-size:11px 11px;}
.tb-wrap .table-prompt .tri-down{  width:0; height:0; display:block; width: 0; border-left: 6px solid transparent; border-bottom: 8px solid rgba(0,0,0,0.65); border-right:6px solid transparent; position:absolute; left:50%; top:-8px; margin-left:-6px;}

/*citys*/
.cur-posi{ padding:0 10px; background:#f2f2f2; height:21px; color:#a3a3a3; font:9px/21px "Microsoft YaHei";}
.cur-posi a{ color:#a3a3a3; font:9px/21px "Microsoft YaHei";}
.citys-wrap{ padding:22px 20px 10px;}
.citys-wrap .ci-prompt{font:bold 12px/24px "Microsoft YaHei"; color:#0099ff;}
.citys-wrap .city-link a{ float:left; display:inline; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:11px/22px "Microsoft YaHei"; color:#646464; height:22px; border:1px solid #cfcfcf; text-align:center; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:8px 5% 8px 0; width:30%; -ms-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.citys-wrap .city-link a:nth-child(3n){ margin-right:0;}

.bgw10{ height:12px; background:#fff;}
}
