@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 12px;
    color: #333;
    font-family: "微软雅黑";
    position: relative;
}
a{
    text-decoration: none;
    /*-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;*/
}
a img{
    border:none;
}
.clear {
    *zoom: 1;
}
.clear::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
b{
    font-weight: 100;
}
input,select,textarea{
    border: none;
    background: none;
    outline:medium;
    color: #646464;
}
select,textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    resize : none;
}
input[placeholder],input[value],select{
    font-family: "微软雅黑";
}

html body .none{
    display: none;
}
html body .overflowv{
    overflow: visible;
}
/*----------------------------------------------------------------*/
body{
    /*min-width: 1060px;*/
    /*overflow-x:hidden;*/
}
.table-a{
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.cen-top{
    width: 100%;
    height: 60px; 
    background: #f44343;
}
.cen-top-cen,.con-cen{
    width: 1060px;
    height: 60px;
    margin:0 auto;
}
.con-cen{
    height: auto;
    padding-top: 20px;
}
.cen-top-cen div{
    float: left;
}
.top-logo{
    width: 169px;
    height: 100%;
    padding-top:10px; 
    overflow: hidden;
}
.top-logo img{
    width: 100%;
    height: auto;
    display: block;
}
.cen-top-cen .cen-top-right{
    float: right;
    height: 100%;
    width: 415px;
}
.cen-top-right-input{
    width: 242px;
    height: 32px;
    overflow: hidden;
    background: #fff;
    border-radius: 16px;
    margin-top: 14px;
}
.cen-top-right-input input{
    width: 200px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    display: block;
    float: left;
    padding:0 10px;
}
.cen-top-right-input img{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin: 6px 14px 0 0;
    cursor: pointer;
}
.gongzhonghao,.xiazaiapp{
    width: 86px;
    height: 100%;
    padding-top: 10px;
    position: relative;
}
.gongzhonghao:nth-of-type(1){
    margin-left: 15px;
}
.gongzhonghao img,.xiazaiapp img{
    width: auto;
    height: 24px;
    margin:0 auto 0;
    display: block;
}
.gongzhonghao span,.xiazaiapp span{
    width: 100%;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    display: block;
    margin-top: 6px;
    font-size: 12px;
}
.top-fenge1px{
    width: 1px;
    height: 20px;
    background: #fff;
    margin-top: 20px;
}
.gongzhonghao:hover b,.xiazaiapp:hover b{
    display: block;
    z-index: 10;
}
.gongzhonghao b,.xiazaiapp b{
    display: none;
    width: 140px;
    height: 170px;
    background: url(../img/tanerweimadi.png) no-repeat;
    background-size: 140px 170px;
    position: absolute;
    top:100%;
    left: -27px;
    overflow: hidden;
}
.xiazaiapp b{
    
}
.xiazaiapp b a{
    display: block;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background: #f44343;
    text-align: center;
    width: 100px;
    margin:7px auto 0;
}
.gongzhonghao b img,.xiazaiapp b img{
    display: block;
    margin:30px auto 0;
    width: 100px;
    height: 100px;
}
.gongzhonghao b em{
    display: block;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.left-nav{
    width: 100px;
    z-index: 10;
    float: left;
    height: auto;
    position: relative;
    z-index: 99;
}
.cen-nav{
    width: 100px;
    height: auto;
    position: relative; 
    z-index: 10;
    top:0;
}
.center-cen{
    float: left;
    width: 614px;
    height: auto;
    margin-left: 28px;
}
.right-text{
    float: right;
    width: 300px;
    height: auto;
}
.cen-nav span{
    width: 100%;
    height: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    border-radius: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.cen-nav span i{
    display: block;
    width: 50px;
    height: 100%;
    float: left;
}
.cen-nav span b{
    display: block;
    width: 42px;
    height: 12px;
    background: url(../img/hot.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    top:7px;
    left: 85px;
}
.cen-nav span:hover{
    background: #f2f2f2;
}
.cen-nav span.active{
    background: #f2f2f2;
}
.cen-nav-shouye i{
    background: url(../img/shouye.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-tuijian i{
    background: url(../img/tuijian.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-libao i{
    background: url(../img/libao.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-chongzhi i{
    background: url(../img/chongzhi.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-gengduo i{
    background: url(../img/gengduo.png) no-repeat center left;
    background-size: 40px auto;
    position: relative;
}
.cen-nav-gonggao i{
    background: url(../img/gonggao.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-zhaopin i{
    background: url(../img/zhaopin.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-qita i{
    background: url(../img/qita1.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-qita1 i{
    background: url(../img/qita2.png) no-repeat center left;
    background-size: 40px auto;
}
.cen-nav-gengduo-menu{
    width: 221px;
    height: auto;
    position: absolute;
    display: none;
    bottom:0;
    left: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding-top: 7px;
    background: #fff;
    z-index: 13;
}
.cen-nav-gengduo-menu span{
    float: left;
    margin:0 0 7px 7px;
    width: 100px;
}
.cen-nav-gengduo:hover .cen-nav-gengduo-menu{
    display: block;
}
.right-text-k{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-top: 2px solid #f44343;
    background: #fafafa;
}
.right-text-ruzhurenshu{
    width: 300px;
}
.right-text-ruzhurenshu-bt{
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding:0 15px;
}
.right-text-ruzhurenshu-bt span{
    float: right;
    color: #f44343;
    font-size: 18px;
}
.right-text-ruzhurenshu a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding:0 15px;
    color: #444444;
}
.right-text-ruzhurenshu a:hover{
    background: #f2f2f2;
}
.right-text-ruzhurenshu a span{
    width: 128px;
    float: left;
    display: block;
}
.right-text-ruzhurenshu a em{
    float: right;
}
a.right-text-ruzhurenshu-name{
    background: #f4f5f6;
    color: #999;
}
.right-text-zuire24-bt{
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding:0 15px;
    font-size: 16px;
    color: #777777;
}
.right-text-zuire24 a{
    display: block;
    width: 100%;
    padding:0 15px;
    height: 91px;
    border-top: 1px solid #fafafa;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.right-text-zuire24 a:after{
    width: 270px;
    height: 1px;
    position: absolute;
    top:0;
    left:15px;
    background: #eee;
    content: "";
}
.right-text-zuire24 a:nth-of-type(1):after{
    background: none;
}
.right-text-zuire24 a:nth-of-type(1){
    border:none;
    height: 90px;
}
.right-text-zuire24 a:hover{
    background: #f2f2f2;
}
.right-text-zuire24 a img{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 15px;
    border-radius: 9px;
}
.right-text-zuire24 a span{
    display: block;
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 100%;
    overflow: hidden;
}
.right-text-zuire24 a span b{
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size:16px;
    margin-top: 25px;
    color: #333;
}
.right-text-zuire24 a span em{
    display: block;
    width: 100%;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-top: 13px;
    color: #999999;
}
.right-text-youqinglianjie{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
}
.right-text-youqinglianjie-bt{
    width: 100%;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
}
.right-text-youqinglianjie-bt i{
    display: block;
    width: 4px;
    height: 100%;
    float: left;
    margin-right: 11px;
    background: #f44343;
    border-radius: 2px;
}
.right-text-youqinglianjie span{
    display: block;
    width: 110%;
    height: auto;
}
.right-text-youqinglianjie span a{
    padding-right: 13px;
    margin-right: 12px;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    color: #333;
}
.right-text-youqinglianjie span a:after{
    content: "";
    height: 7px;
    width: 1px;
    background: #dadada;
    position: absolute;
    right: 0;
    top:4px;
}
.right-text-youqinglianjie span a:hover{
    color: #f44343;
}
.right-text-shangwuhezuo{
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    background: #f5f6f7;
    padding:13px 15px;
    font-size: 12px;
}
.right-text-shangwuhezuo i{
    display: block;
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #777;
    line-height: 22px;
}
.foot{
    width: 100%;
    height: 108px;
    border-top: 1px solid #eee;
    padding-top: 21px;
    left:0;
    bottom:0;
    position: relative;
}
.foot span{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    width: 100%;
    display: block;
    color: #777;
    margin-bottom: 15px;
}
.foot span a{
    display: inline-block;
    padding:0 12px;
    color: #777;
    position: relative;
}
.foot span a:after{
    content: "";
    height: 7px;
    width: 1px;
    background: #dadada;
    position: absolute;
    right: 0;
    top: 4px;
}
.foot span a:last-child:after{
    display: none;
}
.center-cen-gonggao{
    width: 100%;
    height: 36px;
    background: #fafafa;
    line-height: 36px;
    margin-bottom: 10px;
    overflow: hidden;
    color: #666;
    position: relative;
    font-size: 14px;
}
.center-cen-gonggao em{
    display: block;
    float: left;
    width: 500px;
    height: auto;
    position: relative;
}
.center-cen-gonggao em a{
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #333;
}
.center-cen-gonggao em a p{
    display: inline;
}
.center-cen-gonggao em:hover a{
    color:#f44343;
}
.center-cen-gonggao span{
    display: block;
    float: left;
    width: 65px;
    color: #999;
    text-align: right;
}
.center-cen-gonggao b{
    color: #3399ff;
}
.center-cen-gonggao i{
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top:0;
    right: 0;
    background: #f2f2f2;
    cursor: pointer;
}
.center-cen-gonggao i:after{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/gonggao-col.png) no-repeat;
    background-size: 50% auto;
    background-position: 9px 9px;
    display: block;
    transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
}
.center-cen-gonggao i:hover:after{
    background-position: 9px -23px;
}
.center-cen-lunboapp{
    width: 100%;
    height: 98px;
    background: #f4f5f6;
    overflow: hidden;
    position: relative;
}
.center-cen-lunboapp-left,.center-cen-lunboapp-right{
    width: 27px;
    height: 35px;
    position: absolute;
    top:33px;
    cursor: pointer;
}
.center-cen-lunboapp-right,.center-cen-lunboapp-left{
    transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
}
.center-cen-lunboapp-left{
    left: 0;
    background: url(../img/remen-left.png) no-repeat;
    background-size: 20px auto;
    background-position: 7px -18px;
}
.center-cen-lunboapp-left:hover{
    background-position: 7px -92px;
}
.center-cen-lunboapp-right{
    right: 0;
    background: url(../img/remen-right.png) no-repeat;
    background-size: 20px auto;
    background-position: 0px -18px;
}
.center-cen-lunboapp-right:hover{
    background-position: 0px -92px;
}
.center-cen-lunboapp-cen{
    width: 546px;
    height: 100%;
    position: relative;
    margin:0 auto;
    overflow: hidden;
}
.center-cen-lunboapp-cen span{
    position: absolute;
    top:0;
    left: 0;
    width: auto;
    height: 100%;
    display: block;
}
.center-cen-lunboapp-cen span a{
    display: block;
    float: left;
    width: 78px;
    overflow: hidden;
    height: 100%;
}
.center-cen-lunboapp-cen span a:hover{
    background: #f2f2f2;
}
.center-cen-lunboapp-cen span a img{
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 9px;
    margin:17px auto 0;
}
.center-cen-lunboapp-cen span a i{
    display: block;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #777;
    text-align: center;
    margin-top: 8px;
}
.center-cen-banner{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition:all 0.4s ease-out;
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    -o-transition:all 0.4s ease-out;
}
.center-cen-banner-img{
    width: 100%;
    height: auto;
    position: relative;
}
.center-cen-banner-img img{
    width: 100%;
    height: auto;
    display: block;
}
.center-cen-banner-img span{
    display: block;
    width: 46px;
    height: 20px;
    background: url(../img/remen.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    top:-9px;
    left: 0;
    z-index: 10;
}
.center-cen-banner-img i{
    display: inline-block;
    position: absolute;
    top:15px;
    right: 15px;
    background: url(../img/guanbi.png) no-repeat right;
    background-size: auto 100%;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    width: auto;
    height: 24px;
    line-height: 24px;
    color:#fff;
}
.center-cen-banner-img i:after{
    content: "";
    display: block;
    float: right;
    width: 24px;
    height: 100%;
    background: url(../img/hover-col.png) no-repeat center;
    background-size: 14px auto;
}
.center-cen-banner-img i b{
    display: none;
    float: left;
    width: 68px;
    padding-left: 5px;
    font-size: 14px;
    height: 100%;
    line-height: 23px;
}
.center-cen-banner-img i:hover b{
    display: block;
}
.center-cen-banner-text{
    width: 100%;
    height: 179px;
    border:1px solid #eee;
    border-top: none;
    background: #fafafa;
}
.center-cen-banner-text-top{
    width: 574px;
    height: 101px;
    border-bottom: 1px solid #eeeeee;
    margin:0 auto;
    position: relative;
    z-index: 10;
}
.center-cen-banner-text-logo{
    display: block;
    width: 310px;
    height: 60px;
    margin-top: 20px;
    float: left;
}
.center-cen-banner-text-logo img{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 9px;
}
.center-cen-banner-text-logo b{
    display: block;
    float: left;
    width: 220px;
    margin-left: 10px;
    height: auto;
    overflow: hidden;
}
.center-cen-banner-text-logo b span{
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    margin-top: 9px;
    color: #333;
}
.center-cen-banner-text-logo b span i{
    display: inline-block;
    padding:0 4px;
    height: 100%;
    margin-left: 5px;
    border:1px solid #ffaa00;
    color: #ffaa00;
    border-radius: 3px;
    font-size: 10px;
    line-height: 16px;
    position: relative;
    top:-2px;
}
.center-cen-banner-text-logo b em{
    display: block;
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin-top: 13px;
    color: #999;
}
.center-cen-banner-text-a3{
    width: 245px;
    height: 100%;
    float: right;
    padding-top: 36px;
}
.center-cen-banner-text-a3 a{
    display: block;
    width: 73px;
    height: 29px;
    background: #f6f6f6;
    border:1px solid #ddd;
    float: left;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    color: #333;
    border-radius: 3px;
    margin-right:11px;
    position: relative;
}
.center-cen-banner-text-a3 a i{
    position: absolute;
    padding:0 3px;
    height: 17px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    top:-8px;
    right:-8px;
    border-radius: 8px;
    border:1px solid #fff;
    background: #f44343;

}
.center-cen-banner-text-a3 a:hover{
    color: #fff;
    background: #ddd;
}
.center-cen-banner-text-a3 a:hover i{
    color: #fff;
}
.center-cen-banner-text-a3 a.center-cen-banner-text-libao{
    background: #ff9900;
    border-color: #ff9900;
    color: #fff;
}
.center-cen-banner-text-a3 a.center-cen-banner-text-libao:hover{
    background: #fff;
    color: #ff9900;
}
.center-cen-banner-text-xiazai{
    display: block;
    width: 73px;
    height: 29px;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    border-top:1px solid #33cc00;
    border-bottom:1px solid #33cc00;
}
.center-cen-banner-text-xiazai span{
    width: 100%;
    height: 28px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
}
.center-cen-banner-text-xiazai a,.center-cen-banner-text-xiazai span{
    background: #33cc00;
    color:#fff;
    border-radius: 0;
    border:1px solid #33cc00;
    border-top:none;
    border-bottom:none;
    
}
.center-cen-banner-text-xiazai a:nth-of-type(3){
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.center-cen-banner-text-xiazai:hover{
    height: auto;
}
.center-cen-banner-text-xiazai a:hover,.center-cen-banner-text-xiazai span:hover{
    background: #fff;
    border-color: #33cc00;
    color: #33cc00;
}
.center-cen-banner-text-bottom{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.center-cen-banner-text-bottom i{
    display: block;
    float: left;
    width: 33.3%;
    height: auto;
    text-align: center;
    position: relative;
}
.center-cen-banner-text-bottom i b{
    font-size: 18px;
    width: 100%;
    line-height: 18px;
    height: 18px;
    color: #666;
    display: block;
    margin-top: 18px;
}
.center-cen-banner-text-bottom i em{
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    width: 100%;
    color: #999;
    display: block;
    margin-top: 13px;
}
.center-cen-banner-text-bottom i:nth-of-type(2):after,.center-cen-banner-text-bottom i:nth-of-type(3):after{
    content: "";
    width: 1px;
    height: 30%;
    background: #ddd;
    position: absolute;
    top:48%;
    left: 0;
}
.center-cen-wanmingjiazai{
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    color: #dedede;
    margin-bottom: 7px;
}
.center-cen-chakangengduo{
    width: 100%;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background: #f4f5f6;
    color: #406599;
    display: block;
    margin-bottom: 20px;
}
.center-cen-chakangengduo:hover{
    background: #f2f2f2;
}
.center-cen-banner-img-npc{
    height: 240px;
}
.center-cen-banner-img-ruzhu{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);
    display: none;
}
.center-cen-banner-img-npc:hover .center-cen-banner-img-ruzhu{
    display: block;
}
.center-cen-banner-img-ruzhu-erweima{
    width: 120px;
    height: auto;
    float: left;
    margin:49px 0 0 123px;
}
.center-cen-banner-img-ruzhu-erweima p{
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.center-cen-banner-img-ruzhu-ruzhu{
    width: 310px;
    height: auto;
    color: #fff;
    float: left;
    text-align: center;
}
.center-cen-banner-img-ruzhu-ruzhu span{
    position: relative;
    top:0;
    left:0;
    background: none;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    margin-top: 61px;
}
.center-cen-banner-img-ruzhu-ruzhu span i{
    position: relative;
    top:0;
    left: 0;
    display: inline;
    background: none;
    font-style: italic;
    font-weight: bold;
    margin-right: 3px;
}
.center-cen-banner-img-ruzhu-ruzhu a{
    width: 110px;
    height: 40px;
    line-height: 38px;
    border:1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin:38px auto 0;
    display: block;
}
.center-cen-banner-img-ruzhu-ruzhu a:hover{
    background: #fff;
    color: #333;
}
.center-cen-banner-img-ruzhu .center-cen-banner-img-ruzhu-col{
    background: rgba(0,0,0,0.5);
    width: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    padding-left: 5px;
}
.center-cen-banner-img-ruzhu-col b{
    display: none;
}
.center-cen-banner-img-ruzhu-col:hover{
    width: 98px;
}
.center-cen-banner-img-ruzhu-col:hover b{
    display: inline;
    float: left;
}
.center-cen-banner-img-ruzhu .center-cen-banner-img-ruzhu-col:after{
    content: "";
    display: block;
    float: right;
    width: 24px;
    height: 100%;
    background: url(../img/hover-col.png) no-repeat center;
    background-size: 14px auto;
}
.right-fixed{
    position: fixed;
    left:0;
    bottom: 129px;
    width: 50px;
    height: auto;
}
.right-fixed span{
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 2px;
    background: #fb7977;
    position: relative;
    cursor: pointer;
}
.right-fixed span:hover{
    background: #f44343;
}
.right-fixed .right-fixed-erweima{
    background: url(../img/right-erweima.png) no-repeat;
    background-size: 100% auto;
}
.right-fixed-shuaxin:after{
    background: url(../img/shuaxinyemian.png) no-repeat;
    background-size: 100% auto;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.right-fixed-totop:after{
    background: url(../img/fanhuidingbu.png) no-repeat;
    background-size: 100% auto;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.right-fixed .right-fixed-erweima:hover{
    background: url(../img/right-erweimahover.png) no-repeat;
    background-size: 100% auto;
}
.right-fixed-erweima:hover i{
    display: block;
}
.right-fixed-erweima i{
    display: none;
    position: absolute;
    left:0;
    bottom:100%;
    width: 135px;
    height: 169px;
    border:1px solid #eee;
    overflow: hidden;
    background: #fff;
    text-align: center;
}
.right-fixed-erweima i img,.morenxianshi-right i img{
    width: 100%;
    display: block;
    height: auto;
}
.right-fixed-erweima i p,.right-fixed-erweima i em,.morenxianshi-right i p,.morenxianshi-right i em{
    display: block;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    margin-bottom:5px;
    color: #666;
}
.right-fixed-erweima i em,.morenxianshi-right i em{
    color: #ff9900;
}
.sousuo-cen{
    width: 932px;
    float: right;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
}
.sousuo-cen-top{
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #eee;
    line-height: 43px;
    font-size: 18px;
    padding-left: 29px;
    color: #f44343;
}
.sousuo-cen .sousuoa{
    display: block;
    height: 321px;
    width: 300px;
    padding-top: 30px;
    border:1px solid #eee;
    margin-top: 16px;
    position: relative;
    float: left;
    margin-right: 16px;
}
.sousuo-cen .sousuoa:nth-of-type(3n+1){
    margin-right: 0;
}

.sousuoa-logo{
    width: 100%;
    height: auto;
    display: block;
}
.sousuoa-logo b{
    display: block;
    width: 100px;
    height: 100px;
    margin:0 auto;
    position: relative;
}
.sousuoa-logo b img{
    width: 100px;
    height: 100px;
    border-radius: 9px;
    display: block;
}
.sousuoa-logo b i{
    width: 40px;
    height: 29px;
    position: absolute;
    top:0;
    right:-8px;
    background: url(../img/sousuo-zhekou.png) no-repeat;
    background-size: 40px 29px;
    font-size: 12px;
    color: #fff;
    line-height: 21px;
    text-align: center;
}
.sousuoa-logo p{
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: #333;
}
.sousuoa-logo p i{
    color: #f44343
}
.sousuoa-logo em{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #999;
}
.sousuoa .center-cen-banner-text-a3{
    width: 100%;
    height:29px;
    float: none;
    padding:0;
    margin-top: 20px;
    position: absolute;
    top:180px;
    left:0;
    text-align: center;
    /*padding-left: 28px;*/
}
.sousuoa .center-cen-banner-text-a3 i{
    display: inline-block;
    margin:0 auto;
}
.sousuoa .center-cen-banner-text-bottom{
    background: #fafafa;
    height: 72px;
    position: absolute;
    bottom:0;
    left:0;
}
.sousuoa .center-cen-banner-text-bottom b{
    font-size: 14px;
    margin-top: 15px;
}
.sousuoa .center-cen-banner-text-bottom em{
    font-size: 12px;
    margin-top: 10px;
}
.sousuoa:hover{
    border-color:#f44343;
}
.sousuoa:hover .sousuoa-logo p{
    color: #f44343;
}
.sousuoa:hover .center-cen-banner-text-bottom{
    background: #f2f2f2;
}
.tuijian-cen-top{
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.tuijian-cen-top span{
    display: block;
    width: 100%;
    height: 26px;
    margin:5px 0 13px;
}
.tuijian-cen-top span a{
    display: inline-block;
    padding:0 8px;
    height: 100%;
    line-height: 26px;
    color: #777;
    margin:0 5px 0 20px;
    font-size: 14px;
    cursor: pointer;
}
.tuijian-cen-top span a:hover{
    background: #f44343;
    color: #fff;
}
.tuijian-cen-top span a.active{
    color: #fff;
    background: #f44343;
}
.sousuoa-logo .shouchongsong{
    width: 46px;
    background: url(../img/songshouchong.png) no-repeat;
    background-size: 46px 100%;
}
.sousuoa .taitou{
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 26px;
    color: #eee;
    font-style: italic;
    font-family: Arial;
    position: absolute;
    top:11px;
    left:11px;
}
.fanyeqi{
    width: 100%;
    height: 32px;
    margin: 40px 0 10px;
    text-align: center;
    display: block;
}
.fanyeqi span{
    display: inline-block;
}
.fanyeqi b,.fanyeqi a,.fanyeqi i{
    display:block;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    margin:0 5px;
    border:1px solid #eee;
    float: left;
    font-size: 14px;
    color: #333;
}
.fanyeqi i{
    margin:0;
    border:none;
}
.fanyeqi b{
    width: 65px;
}
.fanyeqi b:hover{
    background: #f2f2f2;
}
.fanyeqi a:hover{
    background: #f44343;
    color: #fff;
    border-color: #f44343;
}
.fanyeqi a.active{
    background: #f44343;
    color: #fff;
    border-color: #f44343;
}
.fanyeqi b.active{
    color: #ccc;
}
.cen-gonghui{
    width: 720px;
}
.cen-gonghui-r{
}
.cen-gonghui .top-logo,.cen-gonghui-r .top-logo{
    width: 250px;
}
.cen-gonghui .top-logo img,.cen-gonghui-r .top-logo img{
    width: auto;
    height: 40px;
    display: block;
    float: left;
}
.cen-gonghui .top-logo span,.cen-gonghui-r .top-logo span{
    display: block;
    float: left;
    width: 190px;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    margin-top: 4px;
    color: #fff;
    font-weight: bold;
}
.fanhuishouye{
    width: 100%;
    height: 37px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    background: url(../img/dangqianthis.png) no-repeat center left;
    background-size: auto 20px;
    font-size: 14px;
    padding-left: 28px;
    margin-bottom: 15px;
}
.fanhuishouye a{
    display: block;
    float: right;
    height: 100%;
    background: #eee;
    text-align: center;
    width: 110px;
    color: #333;
}
.fanhuishouye b{
    color: #999;
}
.fanhuishouye a i{
    display: block;
    float: left;
    width: 29px;
    height: 100%;
    background: url(../img/shouye.png) center right no-repeat;
    background-size: auto 13px;
}
.fanhuishouye a:hover{
    background: #f2f2f2;
}
.gonghuiye-text{
    height: auto;
    background: none;
    border:1px solid #eee;
    margin-bottom: 17px;
}
.gonghuiye-text .center-cen-banner-text-top{
    width: 690px;
    position: relative;
    z-index: 10px;
    margin-top: 25px;
    height: auto;
}
.gonghuiye-text .center-cen-banner-text-top h1{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    position: relative;
}
.gonghuiye-text .center-cen-banner-text-logo{
    height: 100px;
    margin:0;
    width: 350px;

}
.gonghuiye-text .center-cen-banner-text-top h1 img{
    width: 100px;
    height: 100px;
    margin-top: 0;
}
.gonghuiye-text .center-cen-banner-text-bottom{
    background: #fafafa;
    height: 78px;
}
.gonghuiye-text .center-cen-banner-text-a3{
    height: 33px;
    width: 269px;
}
.gonghuiye-text .center-cen-banner-text-a3 a,.gonghuiye-text .center-cen-banner-text-a3 b{
    height: 33px;
    width: 77px;
    line-height: 31px;
}
.gonghuiye-text .center-cen-banner-text-a3 b span{
    height: 33px;
    line-height: 31px;
}
.gonghuiye-text .center-cen-banner-text-a3 b:hover{
    height:auto;
}

.gonghuiye-text .center-cen-banner-text-top h1 i{
    width: 40px;
    height: 29px;
    position: absolute;
    top: 0;
    right: -8px;
    background: url(../img/sousuo-zhekou.png) no-repeat;
    background-size: 40px 29px;
    font-size: 12px;
    color: #fff;
    line-height: 21px;
    text-align: center;
    font-weight: 100;
}
.gonghuiye-text .center-cen-banner-text-logo b{
    margin-left: 15px;
}
.gonghuiye-text .center-cen-banner-text-logo b span{
    margin-top:26px;
    font-size: 20px;
    height: 20px;
}
.gonghuiye-text .center-cen-banner-text-logo b span i{
    line-height: 18px;
}
.gonghuiye-text .center-cen-banner-text-logo b em{
    margin-top: 16px;
    font-size: 14px;
}
.gonghuiye-text-te{
    width: 100%;
    height: auto;
    padding:15px 0;
    font-size: 14px;
    color: #999;
    line-height: 22px;
}
.gonghuiye-nav{
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: left;
    position: relative;
    z-index: 10;
}
.gonghuiye-nav a{
    display: inline-block;
    padding:0 20px;
    position: relative;
    color: #777;
}
.gonghuiye-nav a.active{
    color: #f44343;
}
.gonghuiye-nav a:hover{
    color: #f44343;
}
.gonghuiye-nav a.active:after,.gonghuiye-nav a:hover:after{
    content: "";
    width: 100%;
    height: 2px;
    background: #f44343;
    position: absolute;
    top:100%;
    left:0;
}
.shipinqu{
    width: 100%;
    height: auto;
    border:1px solid #eee;
    border-width: 2px 1px 1px 1px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.shipin-img{
    height: auto;
    width: 100%;
    padding-top: 30px;
    padding-left: 1px;
}
.shipin-img a{
    display: block;
    float: left;
    width: 118px;
    height: 194px;
    margin-left:21px;
    text-align: center;
    font-size: 12px;
    color: #777;
    overflow: hidden;
}
.shipin-img a:hover{
    color: #f44343;
}
.shipin-img a img{
    width: 100%;
    display: block;
    height: 150px;
    background: #777;
    margin-bottom: 8px;
}
.gonghuiye-nav a i{
    position: absolute;
    padding: 0 3px;
    height: 17px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    top: 0px;
    right: 0px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #f44343;
    color: #fff;
}
.img-tanchuang-t{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    z-index: 20;
}
.img-tanchuang-t span em{
    width: 640px;
    height: auto;
    margin:0 auto;
    display: block;
    position: relative;
    border:5px solid rgba(255,255,255,0.5);
}
.img-tanchuang-t span em img{
    width: 100%;
    height: auto;
    display: block;
}
.img-tanchuang-t span em i{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top:-55px;
    right: -5px;
    background: url(../img/imgcol.png) no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}
.img-tanchuang-t span em i:hover{
    background: url(../img/imgcolhover.png) no-repeat;
    background-size: 100% auto;
}
.zhaopin-cen{
    width: 932px;
    height: auto;
    float: right;
}
.zhaopin-cen-tu{
    width: 100%;
    height: auto;
}
.zhaopin-cen-tu img{
    width: 100%;
    height: auto;
}
.zhaopin-cen-tu span{
    width: 100%;
    height: auto;
    display: block;
    padding:35px 146px;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    color: #777;
}
.zhaopin-cen .gonghuiye-nav:before{
    content: "";
    position: absolute;
    top:100%;
    height: 2px;
    width: 100%;
    left:0;
    background: #eee;

}
.zhaopin-cen .gonghuiye-nav{
    margin-bottom: 15px;
}
.zhaopin-biao{
    width: 100%;
    height: auto;
    border:1px solid #eee;
    margin-bottom: 20px;
}
.zhaopin-biao-name{
    width: 100%;
    padding:0 20px;
    height: auto;
}
.zhaopin-biao span{
    display: block;
    width: 100%;
    height: 44px;
    color: #333;
}
.zhaopin-biao b{
    display: block;
    width: 100%;
    padding: 0 20px;
    height: auto;
}
.zhaopin-biao b span{
    border-top: 1px solid #eee;
    color: #999;
    height: 45px;
    display: block;
    width: 100%;
    background: url(../img/zhaopinx.png) no-repeat center right;
    background-size: auto 9px;
}
.zhaopin-biao b h1{
    color: #333;
}
.zhaopin-biao b h1 i{
    display: inline-block;
    padding:0 4px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #fff;
    background: #f44343;
    margin-left: 5px;
    position: relative;
    top:-1px;
}
.zhaopin-biao b:hover{
    background: #f2f2f2;
}
.zhaopin-biao b.active{
    height: auto;
    padding-bottom: 20px;
}
.zhaopin-biao b.active span{
    background: url(../img/zhaopins.png) no-repeat center right;
    background-size: auto 9px;
}
.zhaopin-biao h1,.zhaopin-biao h4,.zhaopin-biao h3,.zhaopin-biao h2{
    display: block;
    float: left;
    font-weight: 100;
    line-height: 44px;
    font-size: 16px;
}
.zhaopin-biao h1{
    width: 420px;
}
.zhaopin-biao h2{
    width: 150px;
}
.zhaopin-biao h3{
    width: 150px;
}
.zhaopin-biao h4{
    width: 150px;
}
.zhaopin-biao b em{
    width: 100%;
    height: auto;
    display: block;
    background: #fafafa;
    padding:16px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
}
.zhaopin-biao b em{
    display: none;
}
.zhaopin-biao b.active em{
    display: block;
}
.shipin-s{
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.shipin-s a{
    display: block;
    width: 210px;
    height: 154px;
    text-align: center;
    margin-left: 22px;
    position: relative;
    float: left;
}
.shipin-s a img{
    background: #ccc;
    width: 100%;
    height: 110px;
}
.shipin-s a span{
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    margin-top: 8px;
    display: block;
    color: #777;
}
.shipin-s a em{
    display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    padding:0 5px;
    position: absolute;
    top:90px;
    right: 0;
    background: #000;
    color: #fff;
}
.shipin-s a i{
    display: block;
    width: 100%;
    height: 110px;
    position: absolute;
    top:0;
    left:0;
    background: url(../img/play.png) no-repeat center;
    background-size: 55px;
}
.shipin-s a:hover span{
    color: #f44343;
}
.shipin-s a:hover i{
    background: url(../img/playhover.png) no-repeat center;
    background-size: 55px;
}
.xiangqing-cen{
    width: 100%;
    height: auto;
    padding: 0 25px 10px;
    border:1px solid #eee;
    overflow: hidden;
    margin-bottom: 20px;
}
.xiangqing-cen .center-cen-banner-text{
    padding: 0 25px 25px;
    margin-top: 30px;
}
.xiangqing-cen .center-cen-banner-text-logo{
    width: 340px;
}
.xiangqing-cen .center-cen-banner-text-top{
    width: 100%;
    border:none;
}
.xiangqing-cen-bt{
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #eee;
    text-align: center;
    overflow: hidden;
}
.xiangqing-cen-bt b{
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    margin-top: 30px;
}
.xiangqing-cen-bt span{
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    margin-top: 16px;
    color: #999;
}
.xiangqing-cen-text{
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding:15px 0;
}
.xiangqing-cen-text i{
    width: 100%;
    height:126px;
    background: #fafafa;
    display: block;
    margin:15px 0;
}
.fenxiang-p{
    width: 100%;
    height: 31px;
    text-align: center;
    margin-top: 30px;
}
.fenxiang-p a{
    display: inline-block;
    width: 105px;
    height: 100%;
    border:1px solid #cdcdcd;
    border-radius: 15px;
    line-height: 29px;
    font-size: 14px;
    color: #7e7e7e;
    padding-right: 10px;
    margin:0 5px;
}
.fenxiang-p a i{
    display: block;
    width: 35px;
    height: 100%;
    float: left;
}
.fenxiang-p .fenxiang-p-weixin i{
    background: url(../img/fenxiang-weixin.png) no-repeat center right;
    background-size: auto 13px;
}
.fenxiang-p .fenxiang-p-pengyouquan i{
    background: url(../img/fenxiang-pengyouquan.png) no-repeat center right;
    background-size: auto 15px;
}
.fenxiang-p .fenxiang-p-qqkongjian i{
    background: url(../img/fenxiang-qqkongjian.png) no-repeat center right;
    background-size: auto 13px;
    width: 31px;
}
.fenxiang-p a:hover{
    background: #f2f2f2;
}
.libao-a{
    width: 221px;
    height: 236px;
    overflow: hidden;
    border:1px solid #eee;
    float: left;
    margin-right: 16px;
    margin-top: 16px;
}
.libao-a b{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    margin:30px auto 0;
}
.libao-a b img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.libao-a b i{
    width: 40px;
    height: 29px;
    position: absolute;
    top: 0;
    right: -8px;
    background: url(../img/sousuo-zhekou.png) no-repeat;
    background-size: 40px 29px;
    font-size: 12px;
    color: #fff;
    line-height: 21px;
    text-align: center;
    font-weight: 100;
}
.libao-a span{
	color:#333;
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.libao-a .libao-b{
    display: block;
    margin:20px auto 0;
    width: 73px;
    height: 29px;
    line-height: 27px;
    border:1px solid #ddd;
    background: #f9f9f9;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.libao-a b i.shouchongsong{
    width: 46px;
    background: url(../img/songshouchong.png) no-repeat;
    background-size: 46px 100%;
}
.libao-a b i.jikuan{
    background: url(../img/kuan.png) no-repeat;
    background-size: 40px 100%;
}
.libao-a:nth-of-type(4n+1){
    margin-right: 0;
}
.libao-a a{
    display: block;
}
.libao-a:hover{
    border-color: #f44343;
}
.libao-a:hover span{
    color: #f44343;
}
.gongluequ{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding:0 20px;
}
.gongluequ a{
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    display: block;
}
.gongluequ a img{
    display: block;
    float: left;
    width: 126px;
    height: 82px;
    background: #ccc;
    margin: 25px 5px 0
}
.gongluequ a span{
    float: left;
    width: 500px;
    margin:0 0 0 5px;
    height: 100%;
}
.gongluequ a span b{
    text-align: left;
}
.gongluequ a span i{
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}
.gongluequ a:hover span i{
    color: #f44343;
}
.gongluequ a span em{
    display: block;
    width: 100%;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    margin: 8px 0;
}
.gongluequ a span em h1,.gongluequ a span em h2{
    padding:0 2px;
    height: 16px;
    line-height: 12px;
    font-size: 10px;
    text-align: center;
    color: #f44343;
    border:1px solid #f44343;
    font-weight: 100;
    display: inline-block;
    margin-left: 5px;
}
.gongluequ a span em h2{
    border-color: #33cc00;
    color: #33cc00;
}
.gongluequ .gonglue-0 img{
    float: right;   
}
.gongluequ .gonglue-1 span{
    width: 630px;
}
.gongluequ .gonglue-2{
    height: auto;
}
.gongluequ .gonglue-2 span{
    width: 100%;
    padding:20px 5px 15px;
}
.gongluequ .gonglue-2 span div{
    width: 100%;
    height: 139px;
    margin-top:10px;
}
.gongluequ .gonglue-2 span em{
    margin-top: 15px;
}
.gongluequ .gonglue-2 span div img{
    width: 214px;
    height: 100%;
    margin:0;
    margin-right: 9px;
}
.gongluequ .gonglue-2 span div img:nth-of-type(3n){
    margin-right: 0;
}
.gonggao-nav span{
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
    background: #f2f2f2;
}
.gonggao-nav span:hover{
    background: #f44343;
    color: #fff;
}
.gonggao-nav span:nth-of-type(1){
    background: #f44343;
    color: #fff;
}
.gongguo-cen-top{
    width: 100%;
    height: 2px;
    background: #eee;
}
.gongguo-cen-top span{
    display: block;
    height: 100%;
    width: 125px;
    background: #f44343;
}
.gongguo-cen-bt{
    width: 100%;
    height: 47px;
    font-size: 12px;
    color: #ccc;
    line-height: 46px;
    border-bottom: 1px solid #eee;
}
.gongguo-cen-bt span{
    font-size: 18px;
    color: #f44343;
    margin:0 5px 0 29px;
}
.gongguo-cen-p{
    width: 100%;
    height: auto;
    padding:15px 0;
}
.gongguo-cen-p p{
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin:15px;
}
.gongguo-cen-p p i{
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    color: #aaa;
}
.gongguo-cen-p p.active{
    padding-left: 37px;
    background: url(../img/gonggaox.png) no-repeat;
    background-size: 28px auto;
}
.gongguo-cen-p p a{
    color: #3366ff;
}
.chengyuan-img a{
    width: 66px;
    height: 110px;
}
.chengyuan-img a img{
    height: 66px;
}
.fuliqu{
    padding:0 20px 30px;
}
.fuliqu-bt{
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #ff6600;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 30px;
}
.fuliqu-bt a{
    display: block;
    float: right;
    width: 105px;
    border-left: 2px solid #fff;
    background: #ffaa00;
    color: #fff;
}
.fuliqu-bt a:hover{
    background: #ff6600;
}
.fuliqu-bt1,.fuliqu-bt1 a:hover{
    background: #0099ff;
}
.fuliqu-bt1 a{
    background: #66bbff;
}
.fuliqu-bt2{
    background: #33cc00;
}
.fuliqu-text{
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #777;
    text-align: left;
    margin-top: 15px;
}
.fuliqu-shou{
    margin-top: 20px;
}
.fuliqu-text i{
    color: #ff6600;
    display: block;
    float: left;
    width: 24px;
    line-height: 11px;
}
.fuliqu-text b{
    color: #333;
    font-weight: bold;
}
.fuliqu-text1 i{
    color: #0099ff;
}
.fuliqu-text-auto{
    height: auto;
    line-height: 30px;
    margin-top: 7px;
    text-align: justify;
}
.fuliqu-text12{
    padding-left: 24px;
    color: #ff5555;
}
.fuliqu-text-auto em{
    font-weight: bold;
    color: #0099ff;
}
.fuliqu-text13{
    padding-left: 24px;
    margin-top: 7px;
}
.gonghuilibao-k{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.gonghuilibao-k span{
    display: block;
    float: left;
    width: 335px;
    height: 139px;
    overflow: hidden;
    padding:20px 18px;
    text-align: left;
    font-size: 14px;
    position: relative;
    border:1px solid #ddd;
    margin:0 8px 8px 0;
}
.gonghuilibao-k span:nth-of-type(2n){
    margin-right: 0;
}
.gonghuilibao-k span em{
    display: block;
    width: 100%;
    height: 14px;
    line-height: 14px;
    color: #333;
    font-weight: bold;
}
.gonghuilibao-k span em i{
    display: block;
    float: left;
    width: 28px;
    height: 13px;
    font-size: 10px;
    line-height: 11px;
    border:1px solid #ffaa00;
    color: #ffaa00;
    text-align: center;
    font-weight: 100;
    border-radius: 3px;
    margin-top: 1px;
    margin-right: 5px;
}
.gonghuilibao-k span p{
    line-height: 24px;
    color: #bbb;
    margin-top: 8px;
}
.gonghuilibao-k span a{
    display: block;
    width: 72px;
    height: 28px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background: #33cc00;
    position: absolute;
    bottom:18px;
    right: 14px;
    border-radius: 3px;
    border:1px solid #33cc00;;
}
.gonghuilibao-k span a:hover{
    color: #33cc00;
    background: #fff;
}
.gonghuilibao-k span:hover{
    border-color: #33cc00;
}
.gonghuilibao-k span:hover em{
    color: #33cc00;
}
.libao-shuoming{
    width: 100%;
    height: auto;
    border:1px dashed #b2b2b2;
    margin-top: 5px;
    background: #fffbeb;
    font-size: 14px;
    line-height: 30px;
    color: #777;
    text-align: left;
    padding:15px;
}
.morenxianshi-right i{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 135px;
    height: 169px;
    border: 1px solid #eee;
    overflow: hidden;
    background: #fff;
    text-align: center;
}
.morenxianshi-right b{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top:-138px;
    left: 115px;
    border:1px solid #eee;
    border-bottom: none;
    background: #fff;
    z-index: 2;
}
.morenxianshi-right b:after{
    content: "";
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: url(../img/gonggao-col.png) no-repeat;
    background-size: 70%;
    background-position: 3px 4px;
    cursor: pointer;
}
.gundongwenziliebiao{
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}
.gundongwenziliebiao i{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}
.center-cen-banner-img-ruzhu-ruzhu span i:after{
    display: none;
}
.center-cen-banner-text-logo b span p{
    display: inline;
}


.center-cen-gonggao em a p,.center-cen-lunboapp-cen span a i,.right-text-ruzhurenshu a span,.right-text-ruzhurenshu a b,.right-text-zuire24 a span b,.right-text-zuire24 a span em,.center-cen-banner-text-logo b span p,.center-cen-banner-text-logo b em,.shipin-s a span,.shipin-img a p{ 
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
}
.center-cen-gonggao em a p{
    display: inline-block;
    float: left;
    max-width: 400px;
}
.right-text-ruzhurenshu a b{
    max-width: 63px;
    float: left;
}
.center-cen-banner-text-logo b span p{
    display: inline-block;
    float: left;
    max-width: 140px;
}
.hot{
    position: relative;
    margin-top: 20px;
}
.hot:after{
    content: "";
    display: block;
    width: 46px;
    height: 20px;
    background: url(../img/remen.png) no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: -9px;
    left: 0;
    z-index: 10;
}
.sousuo-none{
    width: 100%;
    height: auto;
    padding:100px 0;
    text-align: center;
    color: #777;
    font-size: 14px;
}