p{ margin:0;}
.wj-wrapper{min-height: 100%;overflow: hidden;position: static;margin-left: auto;margin-right: auto; padding:15px;}
.wj-wrapper::before, .wj-wrapper::after {content: " ";display: table;}
.bd1{ border:1px solid #e9e9e9;}
.no-left-pd{ padding-left:0 !important;}
.state-box{ width:100%; height:280px; background:#fff;}
.wj-box-tit{ height:53px; width:100%; text-align:center; background:#f3f3f3; font:16px/53px "Microsoft Yahei"; color:#161616;}
.total-gd-num{ font:18px/60px "Microsoft Yahei"; text-align:center; color:#000;}
.total-gd-num span{ font-size:22px;}
.system-state{ margin-top:34px;}
.system-state .continue-day{ width:26%; float:left; margin-left:2%; height:120px; background:#14b8d4; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; padding-top:16px; text-align:center;}
.system-state .continue-day p{ font:18px/45px "Microsoft Yahei"; color:#fff;}
.system-state .continue-day p span{ font-size:36px;}
.system-state .system-desc{ width:65%; float:left; margin-left:1.5%; background:#eeeeee; height:120px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; padding-top:17px; padding-left:4%; padding-right:3%;}
.system-state .system-desc .state-probar{ height:28px;}
.state-probar .tit,.state-probar .num{ float:left; font:16px/28px "Microsoft Yahei"; color:#161616;}
.state-probar .num{ text-align:center; width:14%;min-width:60px;}
.state-probar .progress{ background:#f7f7f7; margin-top:8px; height:11px; margin-bottom:0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.state-probar .progress .progress-bar{ -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.state-probar .progress .progress-bar-success{ background:#14b8d4;}
.state-probar .progress .progress-bar-warning{ background:#f9b603;}
.state-probar .progress .progress-bar-danger{ background:#ec494c;}
.wj-trend-chart{ margin-top:16px;}
.wj-trend-box{ height:232px; background:#fff;}
.wj-trend-box .draw-trend-chart{ width:100%; height:100%;}
.wj-gd-rate{ margin-top:16px;}
.wj-gd-rate .wj-gd-box{ height:230px; width:100%; background:#fff;}
.wj-gd-rate .wj-gd-box .draw-gd-box{ width:100%; height:100%;}
.wj-usealbe-box{ width:100%; height:225px;}
.wj-usealbe-box .fansize{ height:100%; padding:0 0px;}
.wj-usealbe-box .fansize .fanbox{ width:100%; height:100%;}
