* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    font-size: 14px;
    color: #424244;
    line-height: 1.42857143;
    background: #fff;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: "微软雅黑","宋体","Helvetica Neue",Helvetica,Arial,sans-serif;
}
img {
    width: auto;
    height: auto;
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input::-webkit-input-placeholder{
    color: #e2e5e7;
}
input:-moz-placeholder{
    color: #e2e5e7;
}
input::-moz-placeholder{
    color: #e2e5e7;
}
input:-ms-input-placeholder{
    color: #e2e5e7;
}
.top {
    background: #182026;
}
.header {
    position: relative;
    height: 84px;
}
.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 144px;
    height: 42px;
    margin: auto;
}
.header .nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 38px;
    overflow: hidden;
}
.header .nav li {
    float: left;
    display: inline-block;
    margin-left: 83px;
    font-size: 14px;
}
.header .nav li a{
    color: #fff;
    display: block;
}
.header .nav li a p {
    color: #717071;
    font-size: 13px;
    font-family: Helvetica;
}
.header .nav li.active {
    font-weight: bold;
}
.header .nav li.active a,
.header .nav li.active a p {
    color: #ffe228;
}
.footer {
    width: 100%;
    background-color: #182026;
}
.foot {
    position: relative;
    height: 152px;
    overflow: hidden;
}
.foot_left {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 160px;
    height: 66px;
}
.foot_right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: right;
    height: 72px;
    font-size: 13px;
    margin: auto;
    padding-left: 204px;
}
.foot_right p {
    line-height: 24px;
}
.setWidth {
    width: 1200px;
    margin: 0 auto;
}
.ewm {
    width: auto;
    height: auto;
    position: fixed;
    right: 0;
    z-index: 99;
    bottom: 200px;
    height: 200px;
}
.ewm_title {
    position: absolute;
    top: 0;
    left: -44px;
    width: 44px;
    text-align: center;
    color: #fff;
    height: auto;
    padding: 10px 0;
    border-radius: 4px 0 0 4px;
    background: rgba(0, 0, 0, .6);
 }
.ewm_info {
    display: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .6);
    padding: 10px;
}
.ewm_info img {
    width: 100px;
    height: auto;
}
.ewm_info img:not(:first-child) {
    margin-top: 10px;
}
.ewm_info p {
    text-align: center;
    margin-top: 10px;
}
.border {
    width: 100%;
    height: 1px;
    background: #e5e7ea;
    margin-top: 5px;
}
.bsBox,
.bsBox *,
#bsPanelHolder,
#bsPanelHolder *,
#ads,
#ads * {
    -webkit-box-sizing: unset;
    box-sizing: unset;
}
