@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #333;
    background-color: #f8f9fb;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
b{font-weight: normal;}
em,i{font-style: normal;}
html body .none{display: none;}
/*----------------------------------------------------------------*/
body{
    min-width: 1200px;
}
.banner{
    width: 100%;
    height: 787px;
    background: url(../img/banner.jpg) no-repeat center top;
}
.ban-a{
    width: 958px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
.ban-a b{
    display: block;
    width: 210px;
    height: 48px;
    background: #e72c2b;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    margin-top: 602px;
}
.ban-a b:hover{
    background: #c81818;
}
.ban-a a{
    width: 100%;
    height: 100%;
    background: url(../img/ban-ann.png) no-repeat;
    line-height: 48px;
    display:block;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding-right: 10px;
}
.ban-a b:first-child{
    margin-left: 68px;
}
.ban-a b:first-child+b{
    margin-left: 52px;
}
.ban-2{
    width: 100%;
    height: 60px;
    background: url(../img/ban-2.png) repeat-x;
}
.cenbt{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #242629;
}
.cenbt span{
    color: #e13a32;
}
.btone{
    margin-top:51px;
}
.yiwen{
    width: 100%;
    height: 148px;
    overflow: hidden;
    text-align: center;
    margin-top: 47px;
}
.yiwen span{
    display: inline-block;
    width: 200px;
    height: 100%;
    text-align: center;
}
.yiwen span img{
    display: block;
    margin:0 auto 15px;
}
.yiwen span p{
    text-align: center;
    display: block;
    width: 100%;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #999999;
    margin-top: 5px;
}
.cen-ann{
    width: 252px;
    height: 50px;
    background: #e72c2b;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
}
.cen-ann:hover{
    background: #c81818;  
}
.cen-ann a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    background: url(../img/cen-ann.png) no-repeat;
    text-align: center;
    padding-right: 15px;
    color: #fff;
    font-size: 25px;
}
.ann-one{
    margin-top: 32px;
}
.cen2{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background: #eee;
    overflow: hidden;
    margin-top: 50px;
}
.bttwo{
    margin-top: 50px;
}
.bttwo-sm{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    color: #a1a3a7;
    margin-top: 20px;
}
.cen2-cen{
    width: 1107px;
    margin: 20px auto 0;
    height: auto;
}
.cen2Cen-bt{
    width: 100%;
    height: 54px;
    overflow: hidden;
}
.cen2Cen-bt span,.cen2Cen-bt em{
    display: block;
    float: left;
    height: 100%;
    color: #fff;
    font-size: 25px;
}
.cen2Cen-bt span{
    text-align: center;
    line-height: 54px;
    background: #e72c2b;
    width: 71px;
}
.cen2Cen-bt em{
    line-height: 52px;
    border-top:1px solid #838383;
    border-bottom:1px solid #c2c2c2;
    padding-left: 30px;
    background: #666;
    width: 1036px;
}
.cen2Cen-c{
    background: #fff;
    width: 1105px;
    margin-left: 2px;
    height: auto;
    padding:15px 0 30px 66px;
}
.backNone{
    background: none;
}
.cen2Cen-c a{
    width: 590px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #999;
    display: block;
    margin-top: 15px;
    float: left;
}
.cen2Cen-c a:hover{
    text-decoration: underline;
}
.cen2Cen-c a:nth-child(2n){
    width: 425px;
}
.ann-two{
    margin-top: 50px;
}
.banner2{
    width: 100%;
    height: 483px;
    overflow: hidden;
    background: url(../img/banner2.jpg) no-repeat center top;
}
.ban2bt{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
.ban2-cen{
    width: 100%;
    height: 207px;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
}
.ban2-cen a{
    display: inline-block;
    width: 530px;
    background: #fff;
    height: 100%;
    margin:0 20px;
    position: relative;
}
.ban2-cen a img{
    display: block;
    float: left;
}
.ban2-cen a span{
    width: 300px;
    height: 100%;
    display: block;
    float: left;
    text-align: left;
}
.ban2-cen a:first-child span{
    width: 325px;
}
.ban2-cen a span b{
    display: block;
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    margin-top: 34px;
    margin-bottom: 21px;
    font-weight: bold;
    color: #e43e3e;
} 
.ban2-cen a span p{
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #666;
    margin-bottom: 12px;
}
.ban2-cen a em{
    display: block;
    width: 75px;
    height: 65px;
    position: absolute;
    bottom:0;
    right:0;
    background: url(../img/ban2-j.png) no-repeat;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 35px 0 0 30px;
}
.youshi-cen{
    width: 1080px;
    height: auto;
    overflow: hidden;
    margin: 50px auto 0;
}
.youshi-cen span{
    width: 20%;
    display: block;
    height: 170px;
    margin-bottom: 1px;
    background: #e72c2b;
    color: #fff;
    float: left;
    position: relative;
}
.youshi-cen span.active::after{
    content: "";
    width: 214px;
    height: 168px;
    position: absolute;
    top:0;
    left: 0;
    border: 1px solid #bfbfbf;
}
.youshi-cen span img{
    width: 100%;
    height: auto;
}
.youshi-cen span.one em{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    margin:11px 0 5px;
    display: block;
    font-weight: bold;
}
.youshi-cen span.one i{
    display: block;
    width: 176px;
    margin:0 auto;
    height: auto;
    font-size: 15px;
    line-height: 25px;
}
.youshi-cen span.two em{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    text-align: center;
    margin:18px 0 10px;
    display: block;
    font-weight: bold;
}
.youshi-cen span.two i{
    display: block;
    width: 178px;
    margin:0 auto;
    height: auto;
    font-size: 16px;
    line-height: 25px;
}
.banner3{
    width: 100%;
    height: 836px;
    background: url(../img/banner3.jpg) no-repeat center top;
    overflow: hidden;
    margin-top: 50px;
}
.btthree{
    margin-top: 70px;
}
.ban3-cen{
    width: 1126px;
    height: 530px;
    position: relative;
    margin:0 auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.ban3-cen .left{
    width: 34px;
    height: 64px;
    background: url(../img/lo-left.png) no-repeat;
    position: absolute;
    top: 242px;
    left: 0px;
    cursor: pointer;
}
.ban3-cen .right{
    width: 32px;
    height: 61px;
    background: url(../img/lo-right.png) no-repeat;
    position: absolute;
    top: 243px;
    right: 0px;
    cursor: pointer;
}
.cen3cen{
    width: 1098px;
    height: 828px;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
}
.cen3cen-1{
    width: 243px;
    height: 270px;
    position: absolute;
    top:0;
    left: 0;
}
.cen3cen-1 span{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 21px;
    display: block;
}
.cen3cen-2{
    width: 292px;
    height: 270px;
    position: absolute;
    padding-top: 19px;
    background: #e72c2b;
    top:0;
    left: 251px;
}
.cen3cen-2 b{
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left:0;
    color: #fff;
    display: block;
}
.cen3cen-2 b i{
    display: block;
    position: absolute;
    bottom:18px;
    left: -18px;
    width: 18px;
    height: 23px;
    background: url(../img/jiantou-left.png) no-repeat;
}
.cen3cen-2 span{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 17px;
    display: block;
    font-weight: bold;
}
.cen3cen-2 em{
    width: 252px;
    display: block;
    height: auto;
    font-size: 14px;
    line-height: 22px;
    margin:0 auto;
}
.cen3cen-3{
    top:276px;
    left: 0;
}
.cen3cen-3 b i{
    position: absolute;
    bottom: 20px;
    left: 100%;
    width: 17px;
    height: 20px;
    background: url(../img/jiantou-right.png) no-repeat;
    display: block;
}
.cen3cen-4{
    width: 245px;
    top:276px;
    left: 298px;
}
.cen3cen-5{
    width: 235px;
    height: 480px;
    position: absolute;
    top:0;
    left: 550px;
}
.cen3cen-6{
    width: 303px;
    height: 547px;
    left: 795px;
    top: 0;
}
.cen3cen-6 span{
    text-align: left;
    height: auto;
    line-height: 24px;
    padding:0 25px;
}
.cen3cen-7{
    width: 266px;
    height: 275px;
    position: absolute;
    left:0;
    bottom:0;
}
.cen3cen-8{
    width: 265px;
    height: 275px;
    position: absolute;
    left:277px;
    bottom:0;
    background: #d2d2d2;
}
.cen3cen-9{
    width: 266px;
    height: 275px;
    position: absolute;
    left: 554px;
    bottom:0;
}
.cen3cen-10{
    width: 266px;
    height: 275px;
    position: absolute;
    left: 832px;
    bottom:0;
    background: url(../img/xueshengg.jpg) no-repeat;
}
.cen3cen-10 a{
    width: 100%;
    height: 100%;
    line-height: 33px;
    display:block;
    padding: 110px 0 0;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}
.banner4{
    width: 100%;
    height: 814px;
    background: url(../img/banner4.jpg) no-repeat center top;
    overflow: hidden;
    margin-top: 50px;
}
.btfour{
    color:#fff; 
}
.ban4-cen{
    width: 1200px;
    text-align: center;
    height: 550px;
    overflow: hidden;
    margin:0 auto;
    padding-top: 20px;
}
.ban4-cen a{
    width: 354px;
    height: 244px;
    display: inline-block;
    margin: 20px 8px 0;
}
.ban4-cen a img{
    width: 354px;
    height: 204px;
    display: block;
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); 
    filter: grayscale(100%); 
    filter: gray; 
}
.ban4-cen a:hover img{
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%); 
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%); 
    filter: grayscale(0%); 
    filter: gray; 
}
.ban4-cen a em{
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    font-size: 16px;
    color: #000;
}
.banner5{
    width: 100%;
    height: 464px;
    background: url(../img/banner5.jpg) no-repeat center top;
}
.ban5cen{
    width: 1100px;
    height: 100%;
    overflow: hidden;
    margin:0 auto;
    position: relative;
}
.ban5cen-1{
    width: 165px;
    height: auto;
    position: absolute;
    top:223px;
    left: 33px;
}
.ban5cen-1 i{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 15px;
    height: 15px;
    color: #e43e3e;
    margin-bottom: 6px;
}
.ban5cen-2{
    left: 253px;
}
.ban5cen-3{
    left: 470px;
}
.ban5cen-4{
    width: 348px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 52px;
    padding-top: 163px;
}
.ban5cen-4 span,.ban5cen-4 b,.ban5cen-4 i{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 27px;
}
.ban5cen-4 span{
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
.ban5cen-4 b{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}
.ban5cen-4 i{
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 27px;
}
.ban5cen-4 a{
    width: 247px;
    height: 44px;
    margin:0 auto;
    line-height: 44px;
    text-align: center;
    font-size: 26px;
    color: #e43e3e;
    border-radius: 4px;
    background: #fff;
    display: block;
}
.daojishi{
    width: 100%;
    height: 664px;
    overflow: hidden;
}
.daobt1{
    width: 100%;
    height: 88px;
    line-height: 88px;
    font-size: 88px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.daobt2{
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 37px;
    text-align: center;
    margin-top: 33px;
    color: #e43e3e;
}
.dian1,.dian2,.dian3,.dian4{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #282828;
    margin: 20px auto 0;
}
.dian2{
    width: 19px;
    height: 19px;
    background: #4e4e4e;
}
.dian3{
    width: 15px;
    height: 15px;
    background: #757575;
}
.dian4{
    width: 9px;
    height: 9px;
    background: #a2a2a2;
}
.ban3-cen span{
    display: block;
    position: absolute;
    height: 277px;
    overflow: hidden;
}
.ban3-cen span img{
    width: 100%;
    height: auto;
}
.ban3-cen span:nth-of-type(1){
    width: 130px;
    top: 208px;
    left: 75px;
    z-index: 1;
}
.ban3-cen span:nth-of-type(2){
    width: 205px;
    top: 183px;
    left: 214px;
    z-index: 10;
}
.ban3-cen span:nth-of-type(3){
    width: 277px;
    top: 145px;
    left: 428px;
    z-index: 100;
}
.ban3-cen span:nth-of-type(4){
    width: 205px;
    top: 183px;
    left: 713px;
    z-index: 10;
}
.ban3-cen span:nth-of-type(5){
    width: 130px;
    top: 208px;
    left: 926px;
    z-index: 1;
}
.ban3-cenb{
    width: 100%;
    height: auto;
}
.ban3-cenb span{
    width: 100%;
    height: auto;
    display: block;
}
.ban3-cenb em{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    text-align: center;
    display: block;
}
.ban3-cenb em i{
    margin-right: 20px;
    font-weight: bold;
}
.ban3-cenb p{
    display: block;
    width: 100%;
    text-align: center;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
}
.ban3-lo{
    width: 100%;
    height: 100%;
    position: relative;
}









.foot{
    width: 100%;
    height: 225px;
    background: #333333;
    overflow: hidden;
    text-align: center;
}
.foot em{   
    display: inline-block;
    width: 2px;
    height: 110px;
    border-left:1px solid #5a5959;
    border-right:1px solid #141414;
    position: relative;
    top:-55px;
}
.foot span{
    display: inline-block;
    width: 350px;
    height: auto;
    position: relative;
    top:-40px;
    padding-left: 65px;
}
.foot span i{
    display: block;
    float: left;
    margin-right: 25px;
}
.foot span i img{
    display: block;
    width: 100%;
    height: auto;
}
.foot span i p{
    display: block;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    margin-top: 7px;
    color: #a1a3a7;
}
.footbo{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    color: #a1a3a7;
    text-align: center;
    background: #303030;
}
.time{
    width: 800px;
    height: auto;
    margin:20px auto 0;
    position: relative;
}
.time-f{
    position: absolute;
    top:70px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.time-f span{
    display: block;
    width: 20px;
    height: auto;
    margin-left:163px; 
    float:left;
    font-size: 25px;
    color: #e43e3e;
}
.time-f span:nth-of-type(2){
    margin-left: 185px;
}
.time-f span:nth-of-type(3){
    margin-left: 185px;
}
.time-f span:nth-of-type(4){
    margin-left: 185px;
}