@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: 'Arial';
    src: url('Arial.ttf'); 
    src: url('Arial.ttf')  format('truetype'); 
}
body {
    color: #333;
    font-family: 'Arial',Helvetica;
    position: relative;
    background: #f4f4f4;
}
body,html{
    width: 100%;
    height: auto;
    overflow-x:hidden;
}
a{
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.clear {
    *zoom: 1;
}
.clear::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
b{
    font-weight: 100;
}
input{
    border: none;
    background: none;
    outline:medium;
}
input[placeholder],input[value]{
    font-family: Helvetica;
}
html body .none{
    display: none;
}
html body .overflowv{
    overflow: visible;
}
/*----------------------------------------------------------------*/
.home_top {
    height: 0.82rem;
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 99;
}
.home_top .logo {
    width: 1.6rem;
    height: 0.4rem;
    float: left;
    margin-top: 0.21rem;
    margin-left: 0.25rem;
}
.home_top .city_show,.home_top .city_show2 {
    display: inline-block;
    color: #fff;
    padding: 0.21rem 0.25rem .2rem .02rem;
    margin-left: 0.1rem;
    float: left;
}
.home_top .city_show i,.home_top .city_show2 i {
    width: 0.24rem;
    height: 0.24rem;
    background: url(../img/arrows.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    float: left;
    margin-left: 0.04rem;
    margin-top: 0.06rem;
}
.home_top .city_show.active i,.home_top .city_show2.active i{
    transform:scale(1,-1);
    -webkit-transform:scale(1,-1);
}
.home_top .city_show span,.home_top .city_show2 span {
    font-size: 0.24rem;
    float: left;
}
.home_top .city_show i.rotate，.home_top .city_show2 i.rotate {
    transform: rotate(180deg);
}
.home_top .top_right {
    float: right;
    line-height: 0.85rem;
    margin-right: 1.38rem;
    padding-top: .2rem;
    height: .82rem;
}
.home_top .top_right .search_btn {
    width: 0.43rem;
    height: 0.43rem;
    display: block;
}
.home_top .top_right .search_btn.none{
    display: none;
}
.home_top .top_right .close {
    width: 0.39rem;
    height: 0.39rem;
}
.menu {
    position: absolute;
    right: 0;
    top: 0rem;
    padding: 0.18rem 0.25rem 0 0.2rem;
    height: 100%;
}
.menu img {
    width: 0.47rem;
    height: 0.47rem;
    display: block;
}
.menu_close {
    position: absolute;
    right: 0rem;
    top: 0rem;
    padding: 0.23rem 0.25rem;
    padding-left: 0.2rem;
    height: .82rem;
}
.menu_close img {
    width: 0.39rem;
    height: 0.39rem;
    display: block;
}

.ind-lunbo{
    width: 100%;
    height: 2.14rem;
    overflow: hidden;
    position: relative;
    margin-top: .82rem;
    z-index: 15;
}
.ind-lunbo ul{
    width: auto;
    height: 100%;
}
.ind-lunbo ul li{
    width: 100%;
    height: 100%;
    float: left;
}
.ind-lunbo ul li img{
    width: 100%;
    height: 2.15rem;
}
.ind-lunbo .slidesjs-pagination{
    width: 1.33rem;
    display: block;
    position: absolute;
    top: 1.9rem;
    right: 0rem;
    height: .04rem;
    z-index: 20;
    text-align: right;
    padding-right: .25rem;
}
#slides,.slidesjs-container,.slidesjs-control,.slidesjs-slide{
    width: 100%;
    height: 3.4rem;
}
.ind-lunbo .slidesjs-pagination .slidesjs-pagination-item{
    display:inline-block;
    margin:0 0.03rem;
    overflow: hidden;
    width: 0.16rem;
    height: .04rem;
    border-radius: 1px;
    float: none;
    position: relative;
    top:-.15rem;
}
.slidesjs-pagination-item a{
    background: #fff;
}
.slidesjs-pagination .slidesjs-pagination-item a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 0.25rem;
    overflow: hidden;
    background: #000;
    color: #b5b5fe;
    opacity: .6;
}
.ind-lunbo .slidesjs-pagination .slidesjs-pagination-item .active{
    background:#000;
    color: #000;
    opacity: 1;
}
.nav-l-1{
    width: 100%;
    height: 1.6rem;
}
.nav_list{
    width: 100%;
    height: 1.6rem;
    background: #000;
    z-index: 15;
    text-align: center;
    position: relative;
    top: -.02rem;
    left: 0;
    transition:transform .5s ease;
    -webkit-transition:transform .5s ease;
    transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
}
.sticky {
    position: -webkit-sticky;  
    position: -moz-sticky;  
    position: -ms-sticky;  
    position: sticky; 
}
.fixed {
    position: fixed;
    -webkit-animation:fixeda .5s ease-out both;
    animation:fixeda .5s ease-out both;
}
@-webkit-keyframes fixeda{
    0%{-webkit-transform:translate3d(0, -100%, 0);}
    100%{-webkit-transform:translate3d(0, 0.82rem, 0);}
}
@keyframes fixeda{
    0%{transform:translate3d(0, -100%, 0);}
    100%{transform:translate3d(0, 0.82rem, 0);}
}

.nav_list a{
    display: block;
    width: 25%;
    height: 100%;
    float: left;
    color: #fff;
}
.nav_list a img{
    width: .7rem;
    height: auto;
    display: block;
    margin:0 auto;
    margin-top: .26rem;
}
.nav_list a span{
    margin-top: 0.1rem;
    display: block;
    font-size: 0.22rem;
    color: #fff;
}

.ind-list{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.ind-list b{
    width: 100%;
    height: 1.66rem;
    position: relative;
    display: block;
    overflow: hidden;
}
.ind-list a{
    display: block;
    width: 100%;
    height: 1.59rem;
    margin-top: 0.07rem;
    overflow: hidden;
    position: relative;
    background: #fff;
    z-index: 3;
}
.ind-list a .img{
    width: 1.78rem;
    height: 1.30rem;
    display: block;
    float: left;
    margin: 0.18rem 0 0 0.22rem;
    border-radius: .1rem;
    overflow: hidden;
}
.ind-list a em {
    display: block;
    margin-left: 0.18rem;
    float: left;
}

.ind-list a em h2 {
    margin-top: 0.28rem;
    font-size: 0.3rem;
    color: #101010;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    width: 2.8rem;
}
.ind-list2 a em h2{
    width: 2.6rem;
}
.ind-list a em p:nth-of-type(1) {
    margin-top: 0.1rem;
    height: 0.25rem;
    line-height: 0.2rem;
}

.ind-list a em p:nth-of-type(1) i {
    font-style: normal;
    color: #ff4e0d;
    font-size: 0.205rem;
    margin-left: 0.05rem;
    position: relative;
    top:-.03rem;
    float: left;
    position: relative;
    top:.05rem;
}

.ind-list a em p:nth-of-type(1) img {
    margin-right: 0.06rem;
    width: 0.22rem;
    height: 0.25rem;
    display: block;
    float: left;
}

.ind-list a em p:nth-of-type(2) {
    margin-top: 0.11rem;
}

.ind-list a em p:nth-of-type(2) img {
    width: 0.2rem;
    height: 0.26rem;
    margin-right: 0.12rem;
    margin-bottom: 0.01rem;
    float: left;
}

.ind-list a em p:nth-of-type(2) span {
    font-size: 0.22rem;
    color: #84888E;
    display: block;
    position: relative;
    top:-.01rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    width: 3.7rem;
    float: left;
    margin-right: 0;
}
.ind-list2 a em p:nth-of-type(2) span {
    width: 2.7rem;
}
.ind-list b a.btn {
    display: inline-block;
    position: absolute;
    right: 0.22rem;
    top: 0.26rem;
    width: 0.94rem;
    height: 0.51rem;
    border: 1px solid #222222;
    text-align: center;
    line-height: 0.51rem;
    border-radius: 0.08rem;
    font-size: 0.24rem;
    color: #222222;
    z-index: 10;
}
.ind-list b a.btna {
    display: inline-block;
    position: absolute;
    right: 0.22rem;
    top: 0.22rem;
    width: auto;
    height: auto;
    text-align: right;
    line-height: 0.51rem;
    font-size: 0.20rem;
    color: #ff4e0d;
    z-index: 10;
    background: none;
}
.totop{
    width: .81rem;
    height: .81rem;
    position: fixed;
    bottom:1rem;
    right:.15rem;
    background: url(../img/totop.png) no-repeat center;
    background-size: .51rem auto;
    z-index: 15;
    display: none;
}
.city {
    position: fixed;
    left: 0;
    top: 0rem;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 30;
    height: 100%;
    padding-top: .82rem;
    transform:translate3d(0, -100%, 0);
    -webkit-transform:translate3d(0, -100%, 0);
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
}
.city a {
    display: block;
    margin: 0 0.58rem;
    border-bottom: 1px solid #000;
    padding: 0.4rem 0 0.28rem 0.23rem;
    color: #000;
    font-weight: bold;
    font-size: 0.26rem;
}
.city p {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: .72rem;
    left: 0;
}
.city p span {
    font-size: 0.22rem;
    color: #888F95;
}
.search{
    position: fixed;
    left: 0;
    top: 0.82rem;
    bottom: 0;
    width: 100%;
    background: #F4F4F4;
    z-index: 30;
    overflow:hidden;
    transform:translate3d(0, -100%, 0);
    -webkit-transform:translate3d(0, -100%, 0);
    transition:transform .3s ease;
    -webkit-transition:transform .3s ease;
}
.search-no{
    transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
    height: auto;
    position: relative;
    top:0;
    padding-top: .82rem;
    padding-bottom: .5rem;
}

.search .cot_search {
    margin-left: 0.4rem;
    height: 0.42rem;
    margin-top: 0.5rem;
    position: relative;
}

.search .cot_search p {
    width: 4.3rem;
    display: inline-block;
    border-bottom: 1px solid #1A1A1A;
    position: relative;
    height: 0.4rem;
    float: left;
}

.search .cot_search p input {
    border: none;
    height: 0.4rem;
    line-height: 0.25rem;
    font-size: 0.2rem;
    background: none;
    width: 80%;
    outline: inherit;
    -webkit-appearance: none;
    display: block;
    float: left;
}

.search .cot_search p input::-webkit-input-placeholder {
    font-size: 0.2rem;
    color: #BCBCBC;
}

.search .cot_search p span {
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    right: 0;
    top: 0.05rem;
    background: url("../img/off.png") no-repeat center center;
    background-size: 0.28rem;
}

.search .cot_search em {
    display: inline-block;
    height: 0.42rem;
    width: 1.05rem;
    background: #000;
    color: #fff;
    border: none;
    font-size: 0.18rem;
    line-height: 0.44rem;
    text-align: center;
    margin-right: 0.4rem;
    outline: inherit;
    float: right;
}

.search h3 {
    margin-top: 0.54rem;
    margin-bottom: 0.24rem;
    margin-left: 0.4rem;
    font-size: 0.22rem;
    font-weight: normal;
    color: #1A1A1A;
}

.search .search_name {
    margin: 0 auto;
    margin-left: 0.4rem;
}

.search .search_name ul {
    margin: 0 auto;
    font-size: 0;
}

.search .search_name ul li {
    height: 0.6rem;
    width: 1.73rem;
    border: 1px solid #1A1A1A;
    display: inline-block;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 0.03rem;
    font-size: 0.22rem;
    margin-bottom: 0.22rem;
    margin-right: 0.2rem;
}

.search .search_name ul li a {
    color: #1A1A1A;
}
.search_result .baoqian{
    margin-top: 0.34rem;
    font-size: 0.2rem;
    color: #BDBDBD;
    margin-left: 0.4rem;
}
.top_right-sno {
    float: right;
    margin-right: 0.22rem;
    line-height: 0.85rem;
    font-size: .28rem;
}
.top_right-sno a{
    color: #fff;
}
.top_right-sno a .return {
  width: 0.3rem;
  height: 0.3rem;
  position: relative;
  top:.27rem;
  float: left;
  display: block;
  margin-right: 0.02rem;
}
.top_right-sno a .search_btn {
  width: 0.35rem;
  height: 0.35rem;
}

#aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: .82rem;
    background: #000;
    z-index: 30;
    transform:translate3d(-101%, 0, 0);
    -webkit-transform:translate3d(-101%, 0, 0);
    transition:transform .3s ease;
    -webkit-transition:transform .3s ease;
    overflow-y:auto;
}

.aside_list {
    width: 85%;
    /*float: right;*/
    margin: 0.4rem auto 0;
    text-align: center;
    height: 6.6rem;
}

.aside_bot {
    position: absolute;
    left: 0;
    top:.43rem;
    color: #B7B7B7;
    font-size: 0.12rem;
    width: 50%;
    height: auto;
    line-height: .10rem;
    font-family: inherit;
}

.aside_bot p {
    /*  padding:0 0.2rem;*/
    font-size: 0.12rem;
    text-align: center;
}

.aside_list p {
    /*margin-top: 0.22rem;*/
    width: 100%;
    display: block;
    height: .465rem;
    line-height: .465rem;
}

.aside_list p a {
    width: 100%;
    display: inline-block;
    padding-left: 50%;
    display: block;
    height: 100%;
}

.aside_list p:nth-of-type(4) {
    margin-top: 0.65rem;
}

.aside_list p:nth-of-type(5),
.aside_list p:nth-of-type(6),
.aside_list p:nth-of-type(7) {
    margin-top: 0.30rem;
}

#aside .listbtn {
    color: #000;
    width: 2.64rem;
    height: 0.56rem;
    background: #fff;
    text-align: center;
    line-height: 0.59rem;
    margin-left: 50%;
    font-size: .2rem;
    font-weight: bold;
}

.aside_list p a {
    color: #fff;
    font-size: 0.22rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: .01rem;
}

.aside_list p:nth-of-type(1) a,
.aside_list p:nth-of-type(2) a,
.aside_list p:nth-of-type(3) a {
    font-size: 0.265rem;
}
.aside_list p:nth-of-type(1),
.aside_list p:nth-of-type(2),
.aside_list p:nth-of-type(3){
    margin-top: .47rem;
}
.aside_list p:nth-of-type(1){
    margin-top: .87rem;
}

#black {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.8;
    z-index: 98;
    width: 100%;
    height: 100%;
}
.aside-bottom{
    width: 5.4rem;
    height: auto;
    position: relative;
    margin:0 auto;
    border-top: 1px solid #3e3e3e;
    padding-bottom: .3rem;
    padding-top: .02rem;
}
.aside-bottom a{
    display: block;
    font-size: .14rem;
    width: 100%;
    padding-left: 50%;
    margin-top: .35rem;
    color: #B7B7B7;
}
/*--------------------------------------------------------------------My*/
.myTop {
    width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
}

.mycenter {
    width: 100%;
    height: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.46rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    letter-spacing: 0.01rem;
}
.mycenter img {
    width: 1.08rem;
    height: 1.08rem;
    margin-right: 0.3rem;
    margin-left: 0.4rem;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.mycenter h6 {
    color: #fff;
    font-size: 0.28rem;
    height: 1.1rem;
    line-height: 1.2rem;
}
.tabChange {
    width: 100%;
    height: .52rem;
    margin-top: .2rem;
}
.tabChange .centerSpan {
    width: 33.3%;
    text-align: center;
    float: left;
}
.tabChange span {
    display: block;
    color: #777;
    width: 100%;
    height: 0.54rem;
    text-align: center;
    font-size: 0.26rem;
    float: left;
}
.tabChange span.active {
    border-bottom: solid 0.07rem #000;
    color: #000;
}

.setEmpty {
    width: 100%;
    position: fixed;
    z-index: 1;
    background: #000;
    height: 0.66rem;
    bottom: 0;
    text-align: center;
    left: 0;
}
.setEmpty img {
    height: 0.48rem;
    width: 0.48rem;
    margin-top: 0.08rem;
}
.list-clear{
    width: .71rem;
    height: .71rem;
    display: block;
    position: absolute;
    top:.92rem;
    right: .33rem;
    background: url(../img/list-clear.png) no-repeat center;
    background-size: .31rem auto;
}
.myIndent,
.myCollect {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}
.myCollect{
    display: none;
}
.imgIndent {
    width: 1.28rem;
    height: 1.28rem;
    margin: 2.36rem 0 0.13rem 0;
}
.pIndent{
    display: block;
    width: 100%;
    text-align: center;
    height: .28rem;
    font-size: .28rem;
    line-height: .28rem;
    color: #5a5d63;
}

.indent_details {
    padding:0 0.28rem;
}
.indent_details span {
    margin-top: 0.47rem;
    display: inline-block;
    color: #333;
    height: 0.3rem;
    font-size: 0.3rem;
    line-height: .3rem;
    font-weight: bold;
}
.indent_details ul {
    width: 100%;
    margin-top: 0.52rem;
    color: #b9c1c6;
    padding-bottom: 0.15rem;
    border-bottom: solid 1px #bac1c7;
    margin-bottom: 0.24rem;
    height: auto;
}
.indent_details ul li {
    margin-top: 0.18rem;
    font-size: 0.24rem;
    height: auto;
    line-height: 0.33rem;
    position: relative;
    display: block;
    padding-left: 1.32rem;
    word-break:break-all;
}
.indent_details ul li i{
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    width: 1.30rem;
    overflow: hidden;
    text-align: right;
    font-size: 0.24rem;
}
.indent_details ul li:nth-child(1) {
    /*background: url(../img/dingdan.png) no-repeat;
    background-size: auto 100%;*/
    color:#333;
}
.indent_details ul li:nth-child(2) {
    /*background: url(../img/address1.png) no-repeat;
    background-size: auto 100%;*/
}
.indent_details ul li:nth-child(3) {
    /*background: url(../img/timer.png) no-repeat;
    background-size: auto 100%;*/
}
.indent_details ul li:nth-child(4) {
    /*background: url(../img/user.png) no-repeat;
    background-size: auto 100%;*/
}
.indent_details ul li:nth-child(5) {
    /*background: url(../img/phoneas.png) no-repeat;
    background-size: auto 100%;*/
}
.indent_details ul li:nth-child(6){
    margin-top: 0.35rem;
    height: auto;
    width: 100%;
    word-break:break-all;
}
.indent_details i {
    font-style: normal;
    font-size: 0.26rem;
    color: #2d3138;
}
.indent_details i:nth-of-type(2) {
    float: right;
}
.state{
    width: 100%;
    height: .42rem;
    font-size: .42rem;
    line-height: .42rem;
    margin-top: 1rem;
    text-align: center;
}
.clear-me-about{
    width: 2.43rem;
    height: .63rem;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
    text-align: center;
    line-height: .63rem;
    margin:1rem auto;
    font-size: .22rem;
}
.ind-list-yuliu b,.ind-list-yuliu b a{
    height: auto;
}
.ind-list-yuliu b a.btn{
    width: 1.32rem;
    top:.25rem;
    right:.1rem;
}
.ind-list-yuliu .yuliu-t{
    width: 5.96rem;
    height: .47rem;
    margin: .14rem auto 0;
    border-top: 1px solid #d7d7d7;
    line-height: .47rem;
    font-size: .2rem;
    color: #82878e;
}
.zhifu{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.zhifu span{
    margin-top: 0.27rem;
    margin-left: .28rem;
    display: block;
    color: #52565f;
    height: 0.3rem;
    font-size: 0.3rem;
    line-height: .3rem;
}
.zhifu-jin{
    width: 100%;
    height: auto;
    margin-top: .33rem;
}
.zhifu-jin p{
    width: 100%;
    height: .63rem;
    line-height: .64rem;
    border-bottom: 1px solid #d0d0d0;
    padding:0 .3rem;
    display: block;
    overflow: hidden;
    color: #52565f;
    font-size: .24rem;
}
.zhifu-jin p em{
    display: block;
    float: right;
    color: #ff4e0d;
}
.zhifu-jin p em.active{
    color: #52565f;
}
.zhifu-jin p em i{
    font-size: .3rem;
}
.zhifu-xieyi{
    width: 100%;
    height: .2rem;
    line-height: .2rem;
    font-size: .2rem;
    margin-top: .44rem;
    text-align: center;
    color: #2c3038;
    letter-spacing: 0.02rem;
}
.zhifu-xieyi b{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border:1px solid #545360;
    margin-right: .09rem;
    position: relative;
    top:.04rem;
}
.zhifu-xieyi b span{
    display: block;
    position: absolute;
    width: .6rem;
    height: .6rem;
    top: -.2rem;
    left: -.2rem;
    margin:0;
}
.zhifu-xieyi b.active{
    background: url(../img/gouxuan.png) no-repeat;
    background-size: 100% auto;
}
.zhifu-xieyi b.act{
    background: url(../img/gouxuan.png) no-repeat;
    background-size: 100% auto;
}
.zhifu-xieyi i{
    color: #2b8df9;
}
.zhifu-bten{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: .18rem;
}
.zhifu-bten a{
    display: block;
    width: 5.6rem;
    height: .74rem;
    text-align: center;
    line-height: .76rem;
    font-size: .28rem;
    color: #fff;
    background: #000;
    margin: .3rem auto 0;
}
/*.zhifu-bten a:first-child{
    margin-top: 0.2rem;
}*/
.zhifu-bten h1,.zhifu-bten h2{
    margin-top: .5rem;
    text-align: center;
    font-size: .38rem;
    display: block;
    height: .38rem;
    line-height: .38rem;
}
.zhifu-bten h2{
    margin-top: .13rem;
    font-weight: 100;
}
.zhifu-bottom{
    width: 100%;
    height: .18rem;
    line-height: .18rem;
    font-size: .18rem;
    text-align: center;
    color: #a0a3a7;
    /*margin:.5rem 0 .3rem; */
    position: fixed;
    left:0;
    bottom: .15rem;
}
.me-reserve ul{
    padding-bottom: .5rem;
}
/*--------------------------------------------------------------------------help*/
.bangzhu {
    width: 100%;
    height: auto;
    color: #fff;
    padding-bottom: 1rem;
    font-size: 0.22rem;
}
.bangzhu h6 {
    padding: 0.62rem 0 0.77rem 0.68rem;
    font-size: 0.28rem;
}
.bangzhu .txt-One {
    margin-left: 0.68rem;
    font-size: .24rem;
}
.bangzhu .txt-Two {
    margin: 0.44rem 0.68rem 0.5rem 0.68rem;
    color: #ff7e00;
}
.bangzhu span {
    margin: 0.44rem 0.68rem 0.44rem 0.68rem;
    color: #ff7e00;
    letter-spacing: .02rem;
}
.bangzhu span p {
    margin-left: 0.68rem;
    line-height: 0.38rem;
    color: #ff7e00;
}
.bangzhu .text {
    margin: 0.3rem 0.68rem 0.5rem 0.68rem;
    line-height: 0.38rem;
    color: #ff7e00;
    letter-spacing: .02rem;
}
.bangzhu .hr {
    width: 94%;
    border-bottom: 1px solid #1B1B1B;
    margin: 0 auto;
}
.bangzhu h5 {
    font-weight: normal;
    margin: 0.5rem 0 0.44rem 0.68rem;
    font-size: .24rem;
}
.bangzhu .txt-Three {
    margin-left: 0.68rem;
    color: #ff7e00;
}

.footer {
    width: 100%;
    height: 0.6rem;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #B7B7B7;
}

.footer p {
    text-align: center;
}
/*--------------------------------------------------------------------opinion*/
.op-fasong{
    width: 1rem;
    text-align: right;
    padding:.3rem .25rem 0 0;
    font-size: .3rem;
    line-height: .3rem;
    color: #fff; 
    display: block;
    float: right;
}
.op-fasong2{
    width: 4rem;
    text-align: right;
    padding:.3rem .25rem 0 0;
    font-size: .28rem;
    line-height: .3rem;
    color: #fff; 
    display: block;
    float: right;
}
.opinion {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: .82rem;
}
.opinion .idea-Top {
    width: 100%;
    height: 0.82rem;
    background: #000;
}
.opinion .idea-Top .idea-Top-Left {
    float: left;
    margin-left: 0.25rem;
   /* line-height: 0.82rem;*/
}
.opinion .idea-Top .idea-Top-Left img {
    width: 1.6rem;
    height: 0.4rem;
        margin-top: 0.21rem
}
.opinion .idea-Top .idea-Top-Right {
    float: right;
    padding-right: 0.25rem;
    line-height: 0.86rem;
    color: #fff;
    font-size: 0.28rem;
    padding-left: 0.6rem;
}
.opinion .idea-Main-Top {
    width: 100%;
    height: 1.65rem;
    border-bottom: 1px solid #E3E3E3;
    background: #fff;
}
.opinion .idea-Main-Top .main-Top-Img {
    width: 0.49rem;
    height: 0.42rem;
    float: left;
    margin: 0.61rem 0.48rem 0.63rem 0.56rem;
}
.opinion .idea-Main-Top span {
    float: left;
    width: 4.4rem;
    margin-top: 0.38rem;
    font-size: 0.22rem;
    line-height: 0.33rem;
}
.opinion #txt {
    resize: none;
    padding-top: 0.2rem;
    width: 100%;
    height: 3.5rem;
    padding: 0.24rem;
    color: #9A9A9A;
    border: 0;
    border-bottom: 1px solid #E3E3E3;
    font-size: 0.23rem;
    display: block;
}
.opinion .idea-IphoneNumber {
    padding: 0.33rem 0.24rem 0.34rem 0.3rem;
    font-size: 0.22rem;
    background: #fff;
    display: block;
}
.opinion .idea-Text-Con {
    width: 100%;
    background: #fff;
    font-size: 0.23rem;
    padding-left: 0.3rem;
    padding-bottom: 0.34rem;
    border: 0;
    border-bottom: 1px solid #E3E3E3;
    color: #9A9A9A
}
/*------------------------------------------------------------------------about*/
.about{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.about .main-Title {
    text-align: center;
    display: block;
    padding-top: 2.2rem;
    font-size: 0.24rem;
    color: #5E6067;
    letter-spacing: 0.08rem;
}
.about .main-Logo {
    display: block;
    width: 3.06rem;
    height: 0.68rem;
    margin: auto;
    margin-top: 0.34rem;
}
.about .main-Logo img {
    width: 100%;
    height: 100%;
}
.about .down-Txt {
    padding-top: 4.54rem;
    text-align: center;
    font-size: 0.24rem;
    color: #1A2127;
}
.about .foot-Text {
    margin-top: 0.76rem;
    text-align: center;
    font-size: 0.20rem;
    color: #898D93;
}
.about .foot-Txt {
    margin-top: 0.2rem;
    text-align: center;
    font-size: 0.20rem;
    color: #898D93;
}
/*-----------------------------------------------------------协议弹窗*/
.yonghuxieyi,.dianzijiudan-t{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.9);
    padding:.8rem 0;
    letter-spacing: 0.01rem;
    border-top: 1px solid #272727;
    transform:translate3d(-101%, 0, 0);
    -webkit-transform:translate3d(-101%, 0, 0);
    transition:transform .3s ease;
    -webkit-transition:transform .3s ease;
    z-index: 19;
    overflow: hidden;
    color: #000;
}
.dianzijiudan-t{
    /*transform:translate3d(-0%, 0, 0);
    -webkit-transform:translate3d(-0%, 0, 0);*/
    padding:.82rem 0 0;
    background: #fff;
}
.yonghuxieyi.active,.dianzijiudan-t.active{
    transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
}
.dianzijiudan-t i span{
    display: block;
    margin: 0 auto;
    width: 1.58rem;
    height: .47rem;
    line-height: .49rem;
    text-align: center;
    color: #fff;
    background: #000;
    font-size: .25rem;
    margin-top: .3rem;
}
.dianzijiudan-t i a{
    display: block;
    width: 100%;
    height: .7rem;
    line-height: .95rem;
    border-bottom: 1px solid #ddd;
    font-size: .22rem;
    overflow: hidden;
}
.dianzijiudan-t i a b{
    float: right;
}
.yonghuxieyi .text{
    width: 100%;
    height: 100%;
    overflow:hidden;
    color: #fff;
    position: relative;
}
.dianzijiudan-t .text{
    width: 100%;
    height: 100%;
    overflow-y:auto;
    position: relative;
}
.yonghuxieyi .text i,.dianzijiudan-t i{
    display: block;
    height: auto;
    position:absolute; z-index:1;
    width:100%;
    padding:0 .45rem;
}
.dianzijiudan-t i{
    padding:0 .25rem .3rem;
}
.yonghuxieyi .text h1{
    font-size: .3rem;
    font-weight: 100;
    text-align: center;
    width: 100%;
    display: block;
    height: .3rem;
    line-height: .3rem;
    margin:.1rem 0 0;
}
.yonghuxieyi .text em{
    display: block;
    width: 100%;
    height: auto;
    font-size: .19rem;
    line-height: .28rem;
}
.yonghuxieyi .text-close{
    position: absolute;
    top:0rem;
    right: 0rem;
    height: .9rem;
    width: .9rem;
    background: url(../img/close.png) no-repeat center;
    background-size: .39rem auto;
    z-index: 99;
}
/*---------------------------------------------------------------------me-zhifu*/
.me-zhifu-bt{
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    font-size: .3rem;
    color: #2c3038;
    margin-top:.9rem;
    text-align: center;
}
.me-zhifu-xuanze{
    width: 100%;
    height: auto;
    padding:0 .3rem; 
    margin-top: 2.1rem;
}
.me-zhifu-xuanze em:nth-of-type(2){
    border-top: 1px solid #d8d8d8;
    padding-top: .23rem;
}
.me-zhifu-xuanze em{
    display: block;
    width: 100%;
    height: .7rem;
    font-size: .26rem;
    color: #2c3038;
    line-height: .52rem;
}
.me-zhifu-xuanze img{
    display: block;
    float: left;
    width: .48rem;
    height: .48rem;
    border-radius: .1rem;
    overflow: hidden;
    margin-right:.4rem;
}
.me-zhifu-xuanze em i{
    display: block;
    float: right;
    margin-top: .06rem;
    width: .36rem;
    height: .36rem;
    border:1px solid #000000;
    border-radius: 50%;
}
.me-zhifu-xuanze em.active i{
    background: url(../img/zhifu-yes.png) no-repeat center;
    background-size: auto 100%;
    border:none;
}
.me-zhifu-xiayibu{
    width: 5.6rem;
    height: .74rem;
    font-size: .28rem;
    line-height: .76rem;
    text-align: center;
    color: #fff;
    background: #000;
    margin: 2.3rem auto 0;
}
.me-zhifu-xiayibu a{
    color: #fff;
    display: block;
}
.me-zhifu-bottom{
    margin-top: 1.7rem;
}
.city2{
    width: 2.3rem;
    height: auto;
    border:1px solid #bebec2;
    background: #fff;
    overflow: hidden;
    padding-left: .08rem;
    position: fixed;
    top:.82rem;
    left: .3rem;
    z-index: 16;
    transform:translate3d(0, -101%, 0);
    -webkit-transform:translate3d(0, -101%, 0);
    transition:transform .3s ease;
    -webkit-transition:transform .3s ease;
}
.city2 a{
    display: block;
    width: 100%;
    border-top: 1px solid #bebec2;
    text-align: center;
    line-height: .82rem;
    height: .8rem;
    font-size: .28rem;
    color: #2c3038;
}
.city2 a:first-child{
    border:none;
}
/*-----------------------------------------------------kefu*/
.Kefu-bottom{
    width: 100%;
    text-align: center;
    height: .15rem;
    font-size: .15rem;
    line-height: .15rem;
    color: #4c4c4c;
    position: fixed;
    left: 0;
    bottom: .55rem;
}
.kefu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
    position: absolute;
    top:0;
    left: 0;
}
.kefu em{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.kefu em a{
    display: block;
    width: 2.43rem;
    height: .63rem;
    border:1px solid #000;
    line-height: .64rem;
    text-align: center;
    color: #000;
    font-size: .22rem;
    margin:0 auto;
}
.kefu em a:nth-of-type(2){
    margin-top: .9rem;
}
.kefu em a img{
    width: .26rem;
    height: auto;
    position: relative;
    top: 0.04rem;
    margin-right: .18rem;
}
/*-----------------------------------------------关于我们*/
.about-me{
    width: 100%;
    height: auto;
    padding-bottom: .66rem;
    overflow: hidden;
    font-size: .2rem;
    color: #888c95;
    line-height: .2rem;
    text-align: center;
}
.about-me p{
    display: block;
    width: 100%;
    height: .21rem;
    line-height: .21rem;
    font-size: .21rem;
    margin-top:2.2rem;
    color: #4c4f56;
    letter-spacing: .12rem;
    padding-left: .12rem;
}
.about-me img{
    display: block;
    width: 3.06rem;
    height: auto;
    margin:.34rem auto 0;
}
.about-me i{
    display: block;
    width: 100%;
    height: .2rem;
    margin-top:4.5rem;
    color: #000;
}
.about-me em{
    display: block;
    width: 100%;
    height: .2rem;
    margin-top:.75rem;
}
.about-me span{
    display: block;
    width: 100%;
    height: .2rem;
    margin-top:.14rem;
}
/*----------------------------------------------------------------------联系我们*/
.erweima{
    width: 2.2rem;
    height: auto;
    font-size: .22rem;
    line-height: .26rem;
    color: #000;
    text-align: center;
    margin:0 auto;
}
.erweima img{
    width: 100%;
    height: auto;
}
/*-------------------------------------------------------------关于我们2*/
.lianxi2-text{
    width: 100%;
    height: auto;
    padding:.7rem .32rem 0;
    line-height: .45rem;
    font-size: .24rem;
    color: #000;
}
.lianxi2-ul{
    width: 100%;
    height: auto;
    padding:.5rem 0 0 .7rem;
}
.lianxi2-ul p{
    font-size: .24rem;
    line-height: .24rem;
    width: 100%;
    height: .24rem;
    margin-top: .22rem;
    position: relative;
}
.lianxi2-ul p:before{
    content: "";
    width: .12rem;
    height: .12rem;
    background: #000;
    border-radius: 48%;
    position: absolute;
    top: .06rem;
    left: -.28rem;
}
.lianxi-tansuo{
    width: 2.43rem;
    height: .63rem;
    text-align: center;
    line-height: .64rem;
    font-size: .23rem;
    margin: 1.8rem auto 0;
    border:1px solid #000;
}
.lianxi-tansuo a{
    color: #000;
    display: block;
}
/*-------------------------------------------------------------------详情页*/
.xq_content{
  width:100%;
  height:auto;
  background:white;
}

.xq_content_title{
  width:auto;
  height:auto;
  overflow:hidden;
  border-bottom:1px solid #e6e6e6;
  margin-left:0.22rem;
  margin-right:0.22rem;
}
.xq_content_title p{
 float:left;
 font-size:0.4rem;
 width:66%;
 padding:0.6rem 0px;
 letter-spacing:2px;
 color:#222222;
 font-weight:bold;
}

.xq_content_title a{
 display:block;
 float:right;
 text-decoration:none;
 font-size:0.24rem;
 border:1px solid #222222;
 border-radius:3px;
 color:#222222;
 padding:0.1rem 0.3rem;
 margin-top:0.6rem;
}


.xq_content_ad{
 width:100%;
 height:auto;
 overflow:hidden;
 border-bottom:1px solid #e6e6e6;
}
.xq_content_ad p{
  margin-left:0.22rem;
  margin-right:0.22rem;
  width:auto;
  overflow:hidden;
  height:auto;
  padding:0.12rem 0px;
  font-size:0.27rem;
  line-height:0.7rem;
  border-top:1px solid #e6e6e6;
  color:#4a4e52;
}
.xq_content_ad p:first-child{
  border-top:none;
}
.xq_content_ad p img{
  display:inline-block;
  float:left;
  width:0.3rem;
  height:auto;
  margin-top:0.17rem;
  margin-right:0.13rem;
}
.xq_content_ad p span{
   display:block;
   float:left;
   width: 5.3rem;
   line-height: .4rem;
   padding:.16rem 0;
}
.xq_content_ad p a{
    color:#4a4e52;
}
.xq_content_small_title{
  margin-top:0.21rem;
  color:#000000;
  margin-left:0.22rem;
  margin-right:0.22rem;
  font-size:0.29rem;
  font-weight:bold;
  padding:0.12rem 0;
  border-bottom:1px solid #e6e6e6;
  letter-spacing:2px;
  padding-bottom: .2rem;
}
.xq_c1{
  width:100%;
  overflow:hidden;
  margin-top:15px;
  border-bottom:1px solid #e6e6e6;
  padding-bottom:10px;
}
.xq_c1 p{
  margin:0px 0.22rem;
  font-size:0.27rem;
  padding:0.12rem 0px;
  overflow:hidden;
}
.xq_c1 p span{
  color:#696c72;
  display:block;
  float:left;
  line-height:0.5rem;
}
.xq_c1 p i{
  font-style:normal;
  padding-left:14px;
  color:#2c3038;
  display:block;
  float:left;
  max-width:80%;
  line-height:0.5rem;
}
.xq_c1 p i a{
  text-decoration:none;
  color:#2c3038;
  background:url(../img/sarrows.png) center right no-repeat;
  background-size:0.3rem auto;
  padding-right:17.5px;
  
}
.xq_c2{
 width:100%;
 height:auto;
 overflow:hidden;
 margin-top:20px;
 border-bottom:1px solid #E6E6E6;
}
.xq_c2 ul{
 width:auto;
 margin:0px 0.22rem;
 overflow:hidden;
}
.xq_c2 ul li{
  float:left;
  width:30%;
  font-size:0.25rem;
  text-align:center;
  padding:0.11rem 0px;
  border:1px solid #696c72;
  margin-right:5%;
  border-radius:25px;
  margin-bottom:0.16rem;
}
.xq_c2 ul li a{
  text-decoration:none;
  color:#696c72;
}
.xq_c3{
  margin-top:20px;
  width:100%;
  height:auto;
  border-bottom:1px solid #E6E6E6;
}
.xq_c3 span{
  display:block;
  font-size:0.3rem;
  margin:0.3rem 0.22rem 0.4rem;
  font-weight:bold;
  line-height:0.4rem;
  color:#44474e;
}
.xq_c3 p{
  width:auto;
  margin:0px 0.22rem;
}
.xq_c3 .img-p{
 width:100%;
 height:auto;
 display: block;
}
.xq_c3_dz{
 width:100%;
 overflow:hidden;
}
.dianzan{
 display:block;
 float:right;
 margin-right:0.2rem;
 font-size:0.30rem;
 color:#bcbec2;
 text-decoration:none;
 padding-left:0.4rem;
 padding-top:25px;
 margin-bottom:10px;
 background:url(../img/zan2.png) left bottom no-repeat;
 background-size:0.3rem;
 line-height:0.3rem;
}
.dianzan.active{
 background:url(../img/zan1.png) left bottom no-repeat;
 background-size:0.3rem;
}

.xq_footer{
 width:100%;
 height:auto;
 padding:1rem 0px 0.5rem;
}
.xq_footer a{
 display:block;
 max-width:40%;
 margin:0 auto;
 border:1px solid #1a1a1a;
 text-decoration:none;
 color:#1a1a1a;
 padding:0.05rem 0px;
 font-size:0.25rem;
 overflow:hidden;
 }
.xq_footer a img{
 display:block;
 float:left;
 margin-left:0.5rem;
 width:0.35rem;
 margin-top:0.06rem;
}
.xq_footer a span{
 display:block;
 float:right;
 margin-right:0.5rem;
 line-height:0.5rem;
}
.xq_footer img{
  width:1.4rem;
  height:auto;
  display:block;
  margin:30px auto 0px
}


.xq_tishi{
    position:fixed;
    width:100%;
    height:auto;
    bottom:0.8rem;
    display:block;
    margin:0 auto;
    text-align:center;
    z-index:13;
}
.xq_tishi span{
    padding:0.2rem 0.3rem;
    text-decoration:center;
    font-size:0.22rem;
    background:rgba(0,0,0,.7);
    border-radius:4px;
    color:white; 
    text-align:center;
    display: inline-block;
    animation:myfirst 1.8s ease both;
    -webkit-animation:myfirst 1.8s ease both; /* Safari and Chrome */
    transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
}
@keyframes myfirst{
    0%{transform:translate3d(0, 200%, 0);opacity:0;}
    25%{transform:translate3d(0, 0, 0);opacity:1;}
    60%{transform:translate3d(0, 0, 0);opacity:1;}
    100%{transform:translate3d(0, 0, 0);opacity:0;}
}
@-webkit-keyframes myfirst{
    0%{transform:translate3d(0, 200%, 0);opacity:0;}
    25%{transform:translate3d(0, 0, 0);opacity:1;}
    60%{transform:translate3d(0, 0, 0);opacity:1;}
    100%{transform:translate3d(0, 0, 0);opacity:0;}
} 
.top_sc{
  display:block;
  float:right;
  margin-right:0.25rem;
  width:0.4rem;
  height:100%;
  background:url(../img/sc2.png) center center no-repeat;
  background-size:100% auto;
}
.top_sc.active{
  background:url(../img/sc1.png) center center no-repeat;
  background-size:100% auto;
}
/*-------------------------------------------------------------form*/
.main{
  width:100%;
}

.main .title{
  width:auto;
  width:auto;
  padding:0.5rem 0 0.15rem;
  margin:0rem 0.22rem 0.05rem;
  font-size:0.33rem;
  color:#2c3039;
  font-weight:bold;
  border-bottom:1px solid #000;
  position: relative;
}
.main .title:before{
    content: "";
    position: absolute;
    left: 0;
    bottom:2px;
    width: 100%;
    height: 4px;
    background: #000;
}
.main .list{
  width:auto;
  margin:0rem 0.22rem;
}
.main .list ul{
  width:100%;
  height:auto;
  padding:0px;
}
.main .list li{
  list-style:none;
  font-size:0.25rem;
  border-bottom:1px solid #e6e6e6;
  width:100%;
  overflow:hidden;
}
.main li.list_down{
  background:url(../img/jiantou.png) right center no-repeat;
  background-size:9px auto;
}
.main .list li span{
 display:block;
 float:left;
 color:#666;
 font-size:0.25rem;
 padding:0.38rem 0px;
}
.main .list li select{
 display:block;
 float:right;
 margin-right:5%;
 font-style:normal;
 border:none;
 max-width:55%;
 color:#999;
 height:100%;
 -webkit-text-align:right;
 font-size:0.25rem;
 padding:0.415rem 0 0;
 border:none;
 outline:none;
 -webkit-appearance: none;   
 background-color: transparent;
 direction: rtl;
}
.main .list li select [selected="selected"]{
  color:#999;
}
::-moz-placeholder { color: #999; }
::-webkit-input-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }
.main .list li input{
 float:right;
 margin-right:5%;
 font-style:normal;
 border:none;
 max-width:70%;
 color:black;
 height:100%;
 text-align:right;
 font-size:0.25rem;
 padding:0.38rem 0px;
 text-align:right;
 BACKGROUND-COLOR: transparent;
}
.list_submit{
  display:block;
  width:5.6rem;
  margin:80px auto 50px;
  background:#000;
  color:white;
  text-align:center;
  font-size:0.28rem;
  border:none;
  padding:0.22rem 0px;
  cursor:pointer;
  text-decoration:none;
}

.main .no_back{
 background:none;
}

/*第二页*/

.b_list{
  width:auto;
  margin:0px 0.22rem;
  border-bottom:1px solid #e6e6e6;
}
.b_list ul{
  width:100%;
  padding:0.17rem 0px 0px;
  
}
.b_list li{
 list-style:none;
 width:100%;
 font-size:0.23rem;
 padding:0.1rem 0px;
 text-indent:30px;
 color:#999;
}
.b_list li.b_list_dingdan{
    background:url(../img/dingdan.png) left center no-repeat;
    background-size:20px auto;
}
.b_list li.b_list_add{
  background:url(../img/address1.png) left center no-repeat;
  background-size:20px auto;
}

.b_list li.b_list_time{
  background:url(../img/timer.png) left center no-repeat;
  background-size:20px auto;
}
.b_list li.b_list_name{
  background:url(../img/user.png) left center no-repeat;
  background-size:20px auto;
}
.b_list li.b_list_phone{
  background:url(../img/phoneas.png) left center no-repeat;
  background-size:20px auto;
}


.b_list p{
  margin-top:0.35rem;
  margin-bottom:0.5rem;
  color:#999;
  line-height:25px;
  font-size:0.23rem;
}

.b_list_button{
  width:92%;
  margin:0 auto;
}
.b_list_button .list_submit:first-child{
 margin-bottom:30px;
 margin-top:90px;
}
.b_list_button .list_submit:last-child{
 margin-top:0px;
}

/*第三页*/

.d_confirm{
  width:auto;
  margin:0px 0.22rem;
  text-align:center;
  color:#191919;
}
.d_confirm1{
  width:100%;
  height:auto;
  padding-top:1.22rem;
  text-align:center;
}
.d_confirm1 img{
 display:block;
 width:1rem;
 height:auto;
 margin:0 auto;
}
.d_confirm1 span{
  display:block;
  font-weight:bold;
  color:white;
  font-size:0.28rem;
  margin-top:15px;
}

.d_confirm2{
  width:100%;
  margin:1.4rem auto;
  text-align:center;
} 
.d_confirm2 span{
  font-size:0.24rem;
  color:#d6d6d6; 
}
.d_confirm3 {
 width:100%;
 font-size:0.24rem;
 text-align:center;
}
.d_confirm3 span{
 color:#d6d6d6;
 line-height:0.45rem;
 display:block;
}

.d_confirm .list_submit{
 margin-top:1.48rem;
}





/*第一页日期框大小*/
.dwbc .dwb{
    font-weight: bold;
    font-family: inherit;
}


.no-move,.move-list{
    width: 100%;
    height: .4rem;
    font-size: .22rem;
    line-height: .42rem;
    text-align: center;
    background: #fff;
    color: #999;
}
.move-list img{
    width: .16rem;
    height: auto;
}
.xieyi{
    width: 100%;
    height: auto;
    font-size: .19rem;
    margin-top: .82rem;
    line-height: .27rem;
    padding:0 .2rem;
    letter-spacing: .01rem;
    overflow: hidden;
    padding-bottom: .3rem;
}
.xieyi p{
    text-align: justify;
    display: block;
    width: 100%;
    margin-top: .15rem;
}
.xieyi b{
    display: block;
    font-weight: bold;
    margin-top: .2rem;
}
.xieyi h1{
    display: block;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    margin-top: .5rem;
    width: 100%;
    margin-bottom: .3rem;
}
.xieyi p:nth-of-type(1){
    text-align: right;
    color: #666;
    margin-top: .4rem;
    font-size: .19rem;
}
.main .indent_details ul{
    padding-bottom: .4rem;
}



.me-gai .ind-list a .img{
    border-radius: 0;
    width: 1.2rem;
    height: .9rem;
}
.me-gai .ind-list a em h2{
    font-size: .22rem;
    height: .24rem;
    line-height: .26rem;
    font-weight: 100;
    margin-top: .22rem;
    width: 3.2rem;
}
.me-gai .ind-list a em p{
    font-size: .2rem;
    height: .22rem;
    line-height: .23rem;
    margin-top: .1rem;
}
.me-gai .ind-list a em{
    overflow: hidden;
}
.me-gai .ind-list a em p i{
    top:0;
    font-size: .2rem;
    margin-left: 0;
    color: #999;
}
.me-gai .ind-list a em p span{
    font-size: .2rem;
    color: #000;
    width: 3.2rem;
}
.me-gai .ind-list b a{
    margin-top: 0;
}
.me-gai .ind-list b a.btn{
    font-size: .22rem;
    color: red;
    height: .24rem;
    line-height: .26rem;
    border:none;
    border-radius: 0;
    top: .22rem;
    right: .22rem;
    text-align: right;
    margin-top: 0;
}
.me-gai .ind-list b .list-clear{
    right: .22rem;
    top: .73rem;
    width: .45rem;
    height: .45rem;
    background-size: .2rem;
    z-index: 10;
}
.me-gai .ind-list b{
    height: auto;
    margin-bottom: .17rem;
}
.me-gai .ind-list a{
    height: 1.4rem;
}
.me-gai .ind-list-yuliu a{
    height: 2.3rem;
}
.me-gai .ind-list-yuliu .yuliu-t{
    margin-top: .36rem;
    color: #000;
    font-size: .2rem;
    height: .8rem;
    line-height: .8rem;
    position: relative;
}
.chakangengduo{
    width: 1.38rem;
    height: .5rem;
    position: absolute;
    top:.15rem;
    right:1px;
    text-align: center;
    line-height: .5rem;
    border:1px solid #999;
    color: #999;
    text-align: center;
    font-size: .2rem;
}

.dianzai{
    display: inline-block;
    width: auto;
    height: .4rem;
    line-height: .42rem;
    font-size: .2rem;
    padding:0 .2rem;
    position: absolute;
    top:1.2rem;
    right:0;
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.dianzai em{
    color: #fd5e00;
    margin-right: .03rem;
}
.index2 .menu1{
    position: absolute;
    right: 0;
    top: 0rem;
    height: 100%;
    display: inline-block;2
}
.index2 .menu1 a{
    padding: 0 0.25rem 0 0.2rem;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: .24rem;
    line-height: .88rem;
}