.wj-clf:after{content:" ";display:block;height:0;visibility:hidden;clear:both;}
		.wj-clf{*zoom:1;}
		.wj-w1000{ width:1000px; margin:0 auto;}
		.wj-fl{ float:left; display:inline;}
		.wj-fr{ float:right; display:inline;}
		.wj-news{ height:265px; background:#fff;}
		.wj-news .wj-new-tit{ height:55px; padding-left:2px;}
		.wj-news .wj-new-tit h3{ display:inline-block; padding:0 15px 0 13px; border-top:6px solid #f8d223; font:16px/44px "Microsoft Yahei"; color:#756d66;}
		.wj-new-tbox{ width:630px; height:210px; position:relative;}
		.wj-new-tbox .swiper-slide{ width:614px; height:166px;}
		.wj-new-swiper{ margin:0 0 0 16px; padding-top:44px; height:166px; overflow:hidden; position:relative;}
		.wj-new-swiper .swiper-wrapper{}
		.wj-new-tbox .wj-news-txt{ width:383px; margin-right:34px;}
		.wj-new-tbox .wj-news-txt h3{ font:bold 14px/27px "Microsoft Yahei"; color:#000;}
		.wj-new-tbox .wj-news-txt p{ font:12px/22px "Microsoft Yahei"; color:#444343; margin-top:22px;}
		.wj-new-swiper .swiper-pages{ position:absolute; right:0; top:10px; text-align:right;}
		.wj-new-swiper .swiper-pages a{ display:inline-block; width:28px; height:15px; padding-top:11px; color:#ffffff; background:#dcdcdc; margin:0 7px; font:16px/16px "Arial"; text-align:center; cursor:pointer;}
.wj-new-swiper .swiper-pages a { display:inline-block; width:28px; height:26px;  color:#ffffff; background:#dcdcdc; margin:0 7px; font:16px/26px "Arial"; text-align:center; cursor:pointer; padding:0;
border-radius:0; opacity:1; }
		.wj-new-swiper .swiper-pages .swiper-pagination-bullet-active{ background-color:#cc0033;}
		.wj-new-video{ width:300px; height:170px;}
		.wj-new-video .wj-nv-area{ width:300px; height:142px; overflow:hidden;}
		.wj-nv-area img{
			position: relative;
		}
		.wj-new-video .wj-nv-intro{ color:#69625c; height:29px; background:#e5e5e5; font:16px/29px "Microsoft Yahei"; text-align:center;}
		.wj-busi-imgs{ height:199px; padding-top:44px; width:100%; background:#f7f7f7;}
		.wj-busi-imgs .wj-buimg-in{ height:158px;}

		.g-wrap {
			height: 100%;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
			width: 1000px;
		}
		#subjects .g-wrap a {
			height: 100%;
			left: 100%;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			top: 0;
			transition: left 300ms ease 0s, opacity 700ms ease 0s;
			width: 100%;
		}
		#subjects .g-wrap .item-1 {
			background-color: #c8c8c8;
			z-index: 1;
		}
		#subjects .state-0 .item-1 {
			left: 0;
		}
		#subjects .g-wrap .item-2 {
			background-color: #ffd900;
			z-index: 2;
		}
		#subjects .state-0 .item-2 {
			left: 340px;
		}
		#subjects .g-wrap .item-3 {
			background-color: #fc433e;
			z-index: 3;
		}
		#subjects .state-0 .item-3 {
			left: 720px;
		}

		#subjects .state-1 .item-1 {
			left: 0;
		}
		#subjects .state-1 .item-2 {
			left: 499px;
		}
		#subjects .state-1 .item-3 {
			left: 780px;
		}

		#subjects .state-2 .item-1 {
			left: 0;
		}
		#subjects .state-2 .item-2 {
			left: 241px;
		}
		#subjects .state-2 .item-3 {
			left: 740px;
		}

		#subjects .state-3 .item-1 {
			left: 0;
		}
		#subjects .state-3 .item-2 {
			left: 255px;
		}
		#subjects .state-3 .item-3 {
			left: 501px;
		}
#subjects .start .item-1 {
left: 1000px;
}
#subjects .start .item-2 {
left: 1000px;
}
#subjects .start .item-3 {
left: 1000px;
}