@charset "utf-8";
body{
    font-family: "微软雅黑";
    color: #333;
}
em{
    font-style: normal;
}
.cnav{
    height: 98px;
    width: 100%;
    background: url(../../images/project-cnavbj.jpg) no-repeat;
    background-size: cover;
}
.cnav_b{
    position: relative;
}
.cnav_left{
    float: left;
    width: 162px;
    height: 54px;
    margin: 22px 0 0 46px;
    font-size: 18px;
    color: #fff;
    line-height: 54px;
    background: url(../../images/test-paper/top-kaos.png) no-repeat;
    padding-left: 55px;
}
.cnav_right{
    float: left;
    width: 800px;
    height: 5px;
    background: url(../../images/project-cnav.png) repeat-x;
    margin: 47px 0 0 0;
}
.cnav_right ul{
    position: absolute;
    top:30px;
    left:230px;
}
.cnav_right ul li{
    width: 105px;
    height: 50px;
    float: left;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height:12px;
    margin-left: 32px;
}
.cnav_right ul li span{
    font-size: 12px;
    font-weight: bold;
    width: 27px;
    height: 27px;
    color: #29bdb9;
    display: block;
    margin: 5px auto 5px auto;
    text-align: center;
    line-height: 27px;
    background: url(../../images/project-candidate.png) no-repeat -26px 0;
}
.cnav_right ul li:nth-of-type(3) span{
    background: url(../../images/project-candidate.png) no-repeat -54px 0;
    width: 37px;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
}
.cnav_right ul li:nth-of-type(3){
    font-weight: bold;
}
.cnavX{
    background: url(../../images/project-candidate.png) no-repeat -61px -39px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 12px;
    left: 1082px;
    cursor: pointer;
}
.procenter{
    width: 1100px;
    margin: 0 auto;
    background: #fff;
}
.add_cand_cen{
    padding-left: 10px;
    padding-bottom: 20px;
}
.topbt{
    width: 1055px;
    height: 48px;
    line-height: 47px;
    background: url(../../images/project-candidate.png) no-repeat -126px 0;
    margin: 0 0 0 20px;
    font-weight: bold;
    font-size: 16px;
}
.topbt h3{
    display: inline;
    font-size: 18px;
    margin-left: 15px;
}
.topbt span{
    font-size: 14px;
    color: #999;
    font-weight: 100;
    margin: 0 0 0 10px;
}
.pronext{
    float: right;
    width: 54px;
    height: 26px;
    margin-top: 14px;
    background: url(../../images/project-candidate.png) no-repeat 0 -33px;
}
.pronext a{
    display: block;
    width: 49px;
    margin-left: 5px;
    font-size:12px;
    line-height: 25px;
    color: #000;
    text-align: center;
    font-weight: 100;
}
.addman{
    width: 1068px;
    height: 32px;
    line-height: 32px;
    margin: 5px 0 0 20px;
    position: relative;
}
.addman span{
    float: left;
}
.addman dl dd,.addman ul li{
    float: left;
    width: 105px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}
.addman dl{
    float: right;
}
.addman dl dd{
    background: #ff8a00;
}
.addman dl dd a{
    font-size: 14px;
    color: #fff;
    display: block;
}
.addman ul{
    display: inline;
}
.addman ul li{
    cursor: pointer;
    position: relative;
    padding-right: 13px;
    background: #29bdb9;
}
.addman ul li span{
    background: url(../../images/project-candidate.png) no-repeat -97px 0;
    width: 9px;
    height: 9px;
    top: 12px;
    left: 83px;
    position:absolute;
}
.addman ul li ul{
    display: none;
    position: absolute;
    top:32px;
    border:1px solid #29bdb9;
    width:105px;
    z-index: 2;
}
.addman ul li ul li{
    width: 100%;
    height:35px;
    margin:0; padding:0;
    background:#fff;
    text-align: center;
}
.addman ul li ul li:hover{
    background:#e7fbfb;
}
.addman ul li:hover ul{
    display:block;
}
.procen{
    width: 1077px;
    margin:10px auto 0 auto;
}
.procen tr td{
    height:44px;
}
.cenone{
    background:#ddf9f9; 
}
.cenone td:nth-of-type(1),.centwo td:nth-of-type(1){
    text-align: left;
    padding-left: 10px;
}
.cenone td:nth-of-type(10),.centwo td:nth-of-type(10){
    text-align: left;
    padding-left: 40px;
}
.centwo{
    font-size: 14px;
}
.centwo td:nth-of-type(3),.centwo td:nth-of-type(9){
    color: #ff8a00;
}
.centwo td:nth-of-type(10) a,.centwo td:nth-of-type(10){
    color: #29bdb9;
}
.centwo span{
    margin:0 10px;
}
.centwo input{
    margin-right: 5px;
}
.centwo:hover{
    background:#ddf9f9;
}
.prof{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.probody{
    height: 100%;
    width: 100%;
    position: absolute;

}
.probody,.profbj2{
    background: #000;
    opacity:0.46;
    filter:alpha(opacity=46);
}
.profd{
    top: 50%;
    left: 50%;
    position: relative;
    font-size: 14px;
}
.profbj,.profbj2,.profcen,.profbj2-2,.profbj-2,.profcen-2{
    position: absolute;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
.profbj{
    background: #fff;
    width: 551px;
    height: 429px;
    opacity:0.13;
    filter:alpha(opacity=13);
}
.profbj2{
    width: 545px;
    height: 423px;
}
.profbj-2{
    background: #fff;
    width: 551px;
    height: 515px;
    opacity:0.13;
    filter:alpha(opacity=13);
}
.profbj2-2{
    width: 545px;
    height: 510px;
    background: #000;
    opacity:0.46;
    filter:alpha(opacity=46);
}
.profcen-2{
    width: 543px;
    height: 505px;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.profcen{
    width: 543px;
    height: 421px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.profbt{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 41px;
    padding:0 12px 0 18px;
    overflow: hidden;
}

.profbt span{
    display: block;
    cursor: pointer;
    width: 11px;
    height: 11px;
    float: right;
    background: url(../../images/project-candidate.png) no-repeat -112px 0;
    margin-top: 14px;
}
.profcbt{
    width: 100%;
    height: 48px;
    padding:0 21px 0 18px;
    line-height: 50px;
    overflow: hidden;
}
.profcbt span{
    float: right;
    color: #999;
    font-size: 12px;
}
.profcbt span em{
    color: #333;
    font-size: 14px;
    font-style: normal;
}
.profcen2{
    width:507px;
    height:148px;;
    overflow-y:auto;
    border: 1px solid #c2c2c2;
    position: relative;
    margin-left: 18px;
}
.proff{
    position: absolute;
    top: 99px;
    left: 48%;
    width: 1px;
    height: 128px;
    background: #c2c2c2;
    border:none;
}
.profcen2 ul li{
    float: left;
    height: 26px;
    line-height: 38px;
    margin: 0 0 0 12px;
    overflow: hidden;
    width:230px;
}
.profemail{
    width: 100%;
    height: 43px;
    position: relative;
    padding: 14px 0 0 20px;

}
.profemail-2{
    width: 100%;
    height: 40px;
    position: relative;
    padding: 10px 0 0 20px;

}

.profmo{
    display:inline-block;
    height: 29px;
    width: 113px;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
    border: 1px solid #c2c2c2;
    position: relative;

}
.profmo span{
    background: url(../../images/project-candidate.png) no-repeat -97px -9px;
    width: 11px;
    height: 10px;
    float: right;
    margin:10px 9px 0 0;
}
.profmo ul{
    position: absolute;
    top:27px;
    left:0;
    border: 1px solid #c2c2c2;
    z-index: 2;
    display: none;
}
.profmo ul li{
    height: 29px;
    width: 109px;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
    background: #fff;
}
.profmo ul li:hover{
    background: #c2c2c2;
}
.profmo:hover ul{
    display: block;
}
.profh29{
    color: #29bdb9;
    display:inline-block;
    height: 29px;
    width: 89px;
    overflow: hidden;
    border: 1px solid #29bdb9;
    text-align: center;
    line-height:27px;
    position: absolute;
    top:13px;
    left: 257px;
    font-size: 12px;
}
.profh29 a{
    color: #29bdb9;
    display: block;
}
.profz{
    width: 350px;
    height: 26px;
    line-height: 26px;
    color: #ff8a00;
    margin-left: 135px;
    font-size: 12px;
}
.profz-2{
    width: 350px;
    height: 18px;
    line-height: 18px;
    color: #ff8a00;
    margin-left: 18px;
    font-size: 12px;
}
.profc,.profc span,.profc input{
    height: 32px;
    line-height: 30px;
}
.profc{
    width: 405px;
    overflow: hidden;
    position: relative;
    margin: 11px 0 0 36px;
    height: 33px;
}
.profc-2{
    margin-left: 18px;
}
.profc input{
    width: 203px;
    border: 1px solid #c2c2c2;
}
.profc-2 span{
    display:block;
    width: 89px;
    text-align: center;
    border: 1px solid #29bdb9;
    position: absolute;
    top:1px;
    left:300px;
}
.profc span a{
    color:#29bdb9;
    font-size: 12px;
    display:block;
}
.profyes{
    width: 100%;
    height: 62px;
    border-top:1px solid #c2c2c2;
    margin-top: 20px;
}
.profyes ul{
    margin:10px 0 0 328px;
}
.profyes ul li{
    float: left;
    width: 89px;
    height: 32px;
    margin-left: 10px;
    line-height: 30px;
    border: 1px solid #29bdb9;
    text-align: center;
}
.profyes ul li a{
    color: #29bdb9;
    display: block;
}
.profyes ul li:hover,.profc span:hover,.profh29:hover,.profh29 a:hover{
    background: #29bdb9;
}
.profyes ul li a:hover,.profc span a:hover,.profh29:hover,.profh29 a:hover{
    color: #fff;
}
.profwb{
    height: 80px;
    width: 507px;
    overflow: hidden;
    margin:10px 0 0 18px;
    border:1px solid #2c2c2c;
    padding:5px;
}
/*---------------------------add_cand--------------------------*/
.proXz{
    width: 723px;
    height: 150px;
    border: 1px dashed #e6e9f0;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    padding:0 25px;
}
.proXbt{
    width: 151px;
    height: 32px;
    margin: 18px auto;
    background: #29bdb9;
    line-height: 32px;
    display: block;
    position: relative;
    overflow: hidden;
}
.proXbt span{
    width: 35px;
    height: 19px;
    background: url(../../images/project-candidate.png) no-repeat -80px -39px;
    position: absolute;
    top:5px;
    left:0;
}
.proXbt a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin-left: 44px;
}
.proXs{
    width: 670px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    position: relative;
    margin: 25px 0 0 35px;
    font-size: 14px
}
.proXname{
    width: 322px;
    height: 100%;
    border:1px solid #bfc3ca;
    font-size: 12px;
    color: #bfc3ca;
    padding-left: 10px;
    display: inline-block;
    border-right: none;
}
.proXobj{
    background: #7a87a0;
    width: 92px;
    height: 100%;
    text-align: center;
    display: inline-block;
    position: absolute;
    top:0;
    left: 410px;
}
.proXobj a{
    color: #fff;
    display: block;
}
.proXl{
    top: 6px;
    left: 515px;
}
.proXsz{
    width: 600px;
    height: 35px;
    overflow: hidden;
    line-height: 36px;
    position: relative;
    margin: 15px 0 0 8px;
    font-size: 14px; 
}
.proXsz ul{
    position: absolute;
    height: 35px;
    width: 100%;
    top:0;
    left:119px;
}
.proXsz ul li{
    width:93px;
    height: 100%;
    border:1px solid #e4e6e9;
    text-align: center;
    line-height: 33px;
    color: #999999;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
html body .proXsz1{
    border:1px solid #29bdb9;
    color: #29bdb9;
}
.proXsz1 span{
    background: url(../../images/project-candidate.png) no-repeat -105px -19px;
    width: 18px;
    height: 18px;
    position: absolute;
    top:0;
    left:74px;
    display: block;
}
.proXdr{
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background: #29bdb9;
    margin: 27px 0 0 138px;
}
.proXdr a{
    display: block;
    color: #fff;
}
.proXdcen{
    width: 414px;
    height: 126px;
    border:1px dashed #fbe3be;
    overflow: hidden;
    margin:17px 0 0 138px;
}
.proXdcen ul{
    height: 100%;
    width: 148px;
    margin:0 auto;
}
.proXdcen ul li{
    width:100%;
    height:29px;
    line-height: 29px;
    text-align: center;
    margin: 8px 0 2px 0;
    font-size: 14px;
}
.proXdcen ul li:nth-of-type(2){
    color: #ff8a00;
}
.proXdcen ul li:nth-of-type(3){
    background: url(../../images/project-candidate.png) no-repeat 0 -62px;
    color: #fff;
    cursor: pointer;
}
.proXdcen ul li a{
    color: #fff;
    display: block;
}
.proDbj{
    height: 286px;
}
.proDbj2{
    height: 279px;
}
.proDcen{
    height: 277px;
}
.proD{
    width: 505px;
    height: 102px;
    border: 1px solid #dfe1e5;
    margin:18px 0 0 18px;
    overflow: hidden;
    position: relative;
}
.proD p{
    display: block;
    height: 30px;
    line-height: 30px;
    margin:13px 0 0 15px;

}
.proD p em{
    font-weight: bold;
    font-style: normal;
}
.proDb{
    width: 350px;
    height: 12px;
    background: #ececec;
    display:block;
    position: absolute;
    top: 65px;
    left: 112px;
}
.proDb em{
    width: 69%;
    height: 100%;
    background: #ff8a00;
    display: block;
}
.proDc{
    width:479px;
    height: 25px;
    line-height: 25px;
    margin: 13px auto 0 auto;
}
.proDc span{
    float: right;
    color: #ff8a00;
}
.proDy{
    margin-top: 15px;
}
.proDyes{
    width:138px;
    height:32px;
    background: #29bdb9;
    line-height: 32px;
    float: right;
    margin:14px 16px 0 0;
    text-align: center;
}
.proDyes a{
    color: #fff;
    display: block; 
}
/*------------------------------------*/
.cenDtwo{
    font-size: 12px;
}
.cenDtwo td:nth-of-type(1){
    padding-left: 12px;
}
.cenDtwo td:nth-of-type(1),.cenDtwo td:nth-of-type(2){
    font-size: 14px;
}
.cenDtwo td:nth-of-type(5),.cenDtwo td:nth-of-type(6),.cenDtwo td:nth-of-type(7){
    color: #999;
}
.proDno{
    float: left;
    font-size: 14px;
    margin-left: 14px;
}

/*-----------------cand_mgt-------------------*/
.proM{ 
    font-size: 14px;
    width: 1074px;
    height: auto;
    border: 1px solid #eceef4;
    background: #fafbfc;
    margin: 0 auto 9px auto;
}
.proMsx{
    width: 1049px;
    height: 15px;
    background: url(../../images/project-candidate.png) 
        no-repeat -185px -47px;
    padding-left: 19px;
    overflow: hidden;
    line-height: 15px;
    margin: 7px auto 0 auto;
}
.proMsx_zk{
    float: right;
    width:41px;
    height: 15px;
    background: url(../../images/project-candidate.png) 
        no-repeat -134px -45px;
}
.proMxx,.proMxz,.proMyx{
    width: 1051px;
}
.proMxz{
    width: 1051px;
    height: 52px;
    border: 1px dashed #e6e9f0;
    background: #f8f9fb;
    margin: 16px auto 0 auto;
}
.proMxz span{
    color: #fff;
    cursor: pointer;
    margin: 9px auto 0 auto;
    width:138px;
    height:32px;
    background: #29bdb9;
    line-height: 32px;
    text-align: center;
    display: block;
}
.proMyx{
    height: 132px;
    border: 1px dashed #e6e9f0;
    background: #f8f9fb;
    margin: 8px auto 0 auto;
    overflow: hidden;
    padding-top: 2px;
}
.proMyx_left,.proMyx_cen,.proMyx_right{
    float: left;
}
.proMyx_left{
    width: 70px;
    height: 15px;
    line-height: 15px;
    margin: 15px 0 0 20px;
}
.proMyx_cen{
    width:911px;
    height:100%;
}
.proMyx_right span{
    line-height: 16px;
}
.proMyx_cen ul li{
    float: left;
    width: 174px;
    height: 29px;
    background: #fff;
    border: 1px solid #dcdee3;
    margin: 9px 8px 0 0;
    text-align: center;
    line-height: 27px;
}
.proMyx_right{
    width: 40px;
    height: 90px;
    position: relative;
    margin-top: 13px;
}
.proMyx_right_x{
    width:38px;
    height: 38px;
    background: #29bdb9;
    cursor:pointer;
    color: #fff;
    line-height: 38px;
    text-align: center;
    position: absolute;
    left:1px;
    top:30px;
}
.proMxx{
    margin:0 auto;
    height:190px;
}
.proMxx ul li{
    width: 237px;
    height: 26px;
    margin: 10px 23px 0 0;
    line-height: 26px;
    float: left;
    text-align: right;
}
.proMxx ul li input,.proMxx_x{
    width: 141px;
    height: 24px;
    border: 1px solid #dfe1e4;  
}
.proMxx_x{
    position: relative;
    padding-right: 14px;
    cursor:pointer;
    color: #dfe1e4;
    display: inline-block;
    background: #fff;
    text-align: center;
    line-height: 22px;
}
.proMxx_x span{
    position: absolute;
    top:8px;
    left:120px;
    background: url(../../images/project-candidate.png) no-repeat -97px -9px;
    width: 10px;
    height: 9px;
}
.proMxx_x ul{
    display: none;
    position: absolute;
    top: 22px;
    left: 0;
    width: 139px;
    border: 1px solid #dfe1e4;
    z-index: 2;
    overflow: hidden;
    background: #fff;
}
.proMxx_x ul li{
    height: 24px;
    width: 100%;
    text-align: center;
    color: #333;
    border-top: 1px solid #dfe1e4;
    margin: 0;
}
.proMxx_x:hover ul{
    display: block;
}
.proMxx_x ul:active{
    display: none;
}
.proMxx_x ul li:hover{
    background: #dfe1e4;
}
.proMcx{
    width:78px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    color: #fff;
    margin:10px auto;
    background: url(../../images/project-candidate.png) no-repeat 0 -94px;
}
.proMcla em{
    position: absolute;
    left: 24px;
    font-style: normal;
}
.addman .proMcenl5{
    width: 131px;
}
.proMcenl5 em{
    font-style: normal;
    font-weight: bold;
    margin: 0 2px;
    color: #ff8a00;
}
.proMcenl5 li:nth-of-type(2) em{
    color: #29bdb9;
}
.proMcen_t_left dd{
    position: absolute;
    float: none;
    top:0;
    left: 739px;
}
.proMcenz{
    display: inline-block;
    margin:0 7px 0 143px;
}
.proMcenz em{
    font-style: normal;
    font-weight: bold;
    color: #29bdb9;
}
.proMcenfy{
    display: inline-block;
    width: 83px;
}
.proMcenfy ul li{
    font-size: 12px;
}
.proMcenfy span{
    left:64px;
}
.proMcenl_b ul li{
    margin-left: 9px;
}
.proMcenfy ul{
    width: 100%;
}
.proMcenfy ul li{
    margin:0;
    padding:0;
    background: #fff;
}
.cenTone td:nth-of-type(10){
    padding:0;
    text-align: center;
}
.cenTone td:nth-of-type(1){
    padding-left:20px;
}
.cenTtwo td:nth-of-type(1){
    text-align: left;
    padding-left: 10px;
}
.cenTtwo td:nth-of-type(1) input{
    margin-right: 5px;
}
.cenTtwo span{
    margin:0 5px 0 8px;
    color: #dee8e8;
}
.cenTtwo{
    height: 68px;
}
.cenTtwo td:nth-of-type(12){
    text-align: left;
    line-height:22px;
}
.cenTtwo td:nth-of-type(12) a{
    color: #29bdb9;
}
.cenTtwo td:nth-of-type(12),.cenTone td:nth-of-type(12){
    padding-left: 10px;
}
.proTyes,.proTno{
    background: url(../../images/project-candidate.png) no-repeat;
    width: 20px;
    height: 20px;
}
.proTno{
    background-position: -179px -108px;
}
.proTyes{
    background-position: -157px -108px;
}
.cenTX{
    font-size: 12px;
    color: #999;
    font-weight: 100;
}
.cenTtwo td:nth-of-type(3){
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.cenTD{
    display: block;
    color: #999;
}
/*-------------------------se-----------------------------------*/
.cenT58{
    color: #58c400;
}
.cenTf8{
    color: #ff8a00;
}
.cenT29{
    color: #29bdb9;
}
/*-------------------------------------------------------se------*/
.cenTname_b{
    height:397px;
    width: 254px;
    border: 1px solid #ff900d;
    position: absolute;
    top:60px;
    left:-79px;
    background: #fff;
    z-index: 2;
    box-shadow:0 0 3px #ff900d;
    display: none;
}
.cenTname_b li{
    width: 100%;
    height: 21px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
}
.cenTname_b li em{
    font-size: 12px;
    width: 85px;
    display: inline-block;
    text-align: right;
    color: #999;
}

.cenTname_b li:nth-of-type(1){
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin:5px 0 3px 0;
}
.cenTtwo td:nth-of-type(3):hover .cenTname_b{
    display: block;
}
.cenTfg{
    margin:20px auto 0 auto;
    height: 40px;
    width: 400px;
}

.cenTfg_left,.cenTfg_right,.cenTfg ul li,.cenTfg ul span{
    border:1px solid #ddd;
    height: 100%;
    line-height: 38px;
    text-align: center;
    float: left;
    font-weight: bold;
}
.cenTfg_left,.cenTfg_right{
    width:60px;
}
.cenTfg a{
    display: block;
    font-size: 14px;
}
.cenTfg ul li{
    width:40px;
    margin-left: 10px;
}
.cenTfg ul span{
    display: inline-block;
    width: 10px;
    margin-left: 10px;
    border: none;
}
.cenTfg_right{
    margin-left: 10px;
}
.cenTfg ul li:nth-of-type(1){
    border:1px solid #29bdb9;
    background:#29bdb9;
}
.cenTfg ul li:nth-of-type(1) a{
    color: #fff;
}
.cenTfg_left a{
    color: #ddd;
    font-weight: 100;
}
.profbj_M{
    width: 674px;
    height: 461px;
}
.profbj_M2{
    width: 669px;
    height: 456px;
}
.profbj_M_cen{
    width: 667px;
    height: 454px;
}
.profbj_M_bt{
    width: 637px;
    height: 35px;
    background: #ddf9f9;
    line-height: 35px;
    margin: 13px auto 0 auto;
    font-size: 12px;
}
.profbj_M_bt span{
    display: inline-block;
}
.profbj_M_b1 input{
    margin: 0 5px 0 7px;
}
.profbj_M_bt span:nth-of-type(1){
    margin: 0 238px 0 23px;
}
.profbj_M_bt span:nth-of-type(3){
    margin: 0 10px 0 65px;
}
.profbj_M_bt span:nth-of-type(5){
    margin-left: 10px;
}
.profbj_M_b1,.profbj_M_tab,.profbj_M_b1 table,.profbj_M_cenZ{
    width: 637px;
    margin:0 auto;
    line-height: 37px;
    height: auto;
}
.profbj_M_tab{
    height: 37px;
    border-bottom:1px dashed #e7e7e9;  
    font-size: 12px;
}
.profbj_M_b1 tr:nth-of-type(1){
    border-top:1px dashed #e7e7e9;
}
.profbj_M_tab td:nth-of-type(1){
    padding-left: 21px;
}
.profbj_M_tab:hover td:nth-of-type(1){
    color: #29bdb9;
}
.profbj_M_b1 span{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../images/project-candidate.png) 
        no-repeat -88px -100px;
    line-height: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.profbj_M_b1 em{
    float: right;
    font-size: 12px;
    margin-right: 20px;
}
.profbj_M_b2{
    border-top:1px dashed #e7e7e9;
}
.profbj_M_b1 h5{
    font-size: 14px;
    font-weight: 100;
    display: inline-block;
}


.profbj_M_yes{
    margin-top:10px;
}
.profbj_M_yes ul{
    float: right;
    margin-right: 20px;
}
.profbj_M_cenZ{
    overflow-y:auto;
    overflow-x:hidden;
    height: 302px; 
}