<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>模板浏览</title>
    <meta name="description" content="html模板,测试案例,模板测试,模板案例,html模板案例,小常个人博客,小常博客,小常,常健驰" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="script/scale.js"></script>
    <script src="script/tongji.js"></script>
</head>
<body>
    <div class="header">
        <div class="head">Display list</div>
    </div>
    <div id="container"></div>
    <script src="script/jquery.js"></script>
    <script src="script/list.js"></script>
    <script src="script/index.js"></script>
</body>
</html>
