@charset "utf-8";
/* CSS Document */
html, body{
	width:100%;
}
*{
	margin: 0px;
	padding: 0px;
}
a{
	color: #666;
}
.header{
	width:100%;
	height: 130px;
}
.header_box{
	width: 1000px;
	margin:5px auto 0;
}
.header .logo img{
	margin:10px 5px 10px 0px;
}
.header .line{
	border-bottom: thin solid #EEEEEE;
}
.title{
	height: 80px;
	line-height: 80px;
}
.title a{
	color: #959595;
	margin:0px 10px;
}
.nav{
	width: 100%;
	height: 50px;
	background: #fff;
	z-index: 100;
}
.nav .navul{
	width: 1000px;
	height: 100%;
	margin:0 auto;
}
.nav ul{
	width: 100%;
	height: 100%;
}
.nav li.nav-sub{
	width: 120px;
	height: 100%;
}
.nav li.active a.tit{
	color: #DD6F17
}
.nav .active .nav-line{
	width:100%;
}
.nav li a.tit{
	padding: 0px;
	display: inline-block;
	width: 99.9%;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #7C746E;
	text-align: center;
	transition: color 0.5s;
}
.nav a.tit:hover{
	color: #de6f16;
}
.mark{
	background: #F1B629;
}
.nav-line{
	position: relative;
	top:-2px;
	height: 2px;
	background: #de6f16;
	width: 0;
}

/*.sub{
	position: absolute;
	height: 350px;
	top:30px;
	left:0;         
}
.sub-in{
	width: 100%;
	height: 55px;
	text-align: left;
}
.sub-in .box li{
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.sub-in .box li a{
	color: white;
	font-size: 14px;
}
.box{
	width: 100%;
}*/
.cnav-ont{
	position: absolute;
	top:134px;
	display: block;
	height: 0;
	/*height: 350px;*/
	width: 100%;
	left: 0;
	background: #fff;
	z-index: 99;
	border-bottom: 1px solid #ebebeb;
	border-top: 2px solid #ebebeb;
	overflow: hidden;
}
.cnav-cot{
	width: 1000px;
	height: 100%;
	margin:0 auto;
}
.cnav-cot div{
	float: left;
}
.cnav-ont a:hover{
	color: #de6f16;
}
.cnav-1{
	width: 170px;
	height: 80px;
	margin:85px 0 0 40px;
	color: #f0b52b;
	font-size: 36px;
	position: relative;
}
.cnav-1 em{
	width: 120px;
	height: 5px;
	background: #f0b52b;
	position: absolute;
	top:0;
	left: 1px;
	display: block;
}
.cnav-2{
	width: 100px;
	height: 100%;
	margin-left: 50px;
	margin-top: 65px;
	font-size: 14px;
}
.cnav-3{
	width: 1px;
	height: 250px;
	margin: 53px 0 0 30px;
	background: #bdbdbd;
}
.cnav-4{
	width: 320px;
	margin:53px 0 0 87px;
	font-size: 14px;
	line-height: 25px;
}
.cnav-4 p{
}
.cnav-4 img{
	width: 320px;
	height: auto;
	margin-bottom: 8px;
}
.indexbanner{
	width: 100%;
	height: 590px;
	background:url(../img/index.png) no-repeat center;
	background-size: cover;
}
.tab-right{
	position: fixed;
	top:0;
	right:0;
	width: 130px;
	height: 100%;
	display: none;
}
.zixun{
	width: 130px;
	height: 205px;
}
.zixunt{
	width:130px;
	background: #c1c1c1;
	height: 50px;
	margin-top: 2px;
	line-height: 50px;
	font-size: 16px;
	position: relative;
	left:85px;
	cursor: pointer;
}
.zixunt a{
	color: #fff;
	display: block;
}
.zixunt:hover{
	background: #cd3232;
}
.zixunt img{
	position: relative;
	top: -1px;
	margin-left: 1px;
}
.zxtop{
	width: 45px;
	text-align: center;
	background: #858585;
	color: #fff;
}
.zxtop:hover{
	background: #555;
}
.zxcod:hover em{
	display: block;
}
.zxcod em{
	display: none;
	position: absolute;
	top:-16px;
	left: -74px;
	width: 66px;
	height: 67px;
}
.zxcod em span{
	display: block;
	position:relative;
	left: 66px;
	top:-25px;
	width: 6px;
	height: 11px;
	background:url(../img/leftPointer.png) no-repeat;
}
.indexbanner2{
	height: 350px;
}
.toper{
	width: 100%;
	height: 80px;
	top:0;
	background: #fff;
	z-index: 999;
}
.toperc{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.toperc .nav-lines{
position:absolute;
background:#f1b629;
bottom:18px;
height: 2px;
left: 0;
width: 0px;
}
.toper ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.toper li{
	line-height: 80px;
	height: 100%;
	padding:0 14px;
	font-size: 14px;
	background:#fff;
}
.toper li.active a{ color:#f1b629 ;}
.toper-z{
	width: 100%;
	height: 80px;
}
.vipvid{
	width: 300px;
	height: 97px;
	float: right;
	position: absolute;
	top:-17px;
	left:calc(100% - 300px);
}
.vipvid div{
	width: 137px;
	height: 100%;
	text-align: center;
	float: left;
	margin-left: 6px;
	box-sizing:border-box;
}
.vipvid a{
	color: #fff;
	font-size: 14px;
	line-height: 19px;
	display: block;
}
.vipzixun{
	background: #cc0033;
	padding-top: 7px;
}
.vidbofang{
	background: #f1b629;
	padding-top: 4px;
}



.f-main{
	width:100%;
	height: 80px;
	padding-bottom: 8px;
	background: #000;
	line-height: 52px;
	color: #474747;
	margin-top:40px;
}
.f-main-box{
	width: 1000px;
	height: 100%;
	margin:0 auto;
	padding-left: 10px;
}
.f-main a{
	color: #474747;
	transition: color 0.5s;
}
.f-main a:hover{
	color: #fff;
}
.f-main .links{
	width: 60%;
	height: 60px;
	line-height: 30px;
}
.f-main .links .p_a{
	margin-top: 20px;
	width: 100%;
}
.f-main .links .p_a a{
	margin-right: 2%;
	color: white;
}
.f-main .interduce{
	width: 30%;
	margin-left: 10%;
}

.f-main img{
	width: 60px;
	margin-left: 10px;
	margin-top:15px;
}
.f-main .link_text{
	margin-top: 10px;
	margin-left: 15px;
	height: 70px;
	width:140px;
	color: white;
}
.f-main .link_text p{
	height: 23px;
	line-height: 23px;
}
.indexbanner3{
	height: 350px;
	background: url(../img/canvbanner.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	font-size: 18px;
}
.indexbanner3 i{
	float: left;
	display: block;
	width: 88px;
	height: 88px;
	box-sizing:border-box;
	border:1px solid #fff;
	background: url(../img/c_bg.png) no-repeat;
	border-radius: 50%;
}
.indexbanner3 li:nth-of-type(1) i{
	background-position: -2px -4px;
}
.indexbanner3 li:nth-of-type(2) i{
	background-position: -1px -91px;
}
.indexbanner3 li:nth-of-type(3) i{
	background-position: -0px -182px;
}
.indexbanner3 li:nth-of-type(1):hover i{
	background-position: -92px -4px;
}
.indexbanner3 li:nth-of-type(2):hover i{
	background-position: -91px -91px;
}
.indexbanner3 li:nth-of-type(3):hover i{
	background-position: -90px -182px;
}


.ban-zhong{
	width: 1000px;
	margin:0 auto;
	box-sizing:border-box;
	padding-top: 125px;
}

.indexbanner3 ul{
	height: 67px;
	width: 1000px;
	box-sizing:border-box;
	padding-left: 45px;
}
.indexbanner3 li{
	width: 277px;
	float: left;
	position: relative;
	left: 100px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.indexbanner3 li:nth-of-type(4){
	width: 66px;
	position: relative;
	top:10px;
}
.ban-zhong span{
	line-height: 25px;
	display: block;
	float: left;
	padding:25px 0 0 13px;
}




.info_from_box{
	width: 1000px;
	height: 700px;
	padding-top: 60px;
	margin:0 auto;
}

.info_title{
	font-size: 48px;
	color: #000000;
	height:50px;
	line-height: 50px;
	text-align: center;
}
.info_title_english{
	font-size: 23px;
	color: #313131;
	height:30px;
	line-height: 30px;
	text-align: center;
}
.info_tip{
	font-size: 16px;
	color: #9698A2;
	height:60px;
	line-height:60px;
	text-align: center;
}
.input_group{
	width: 500px;
	height: 100px;
	box-sizing:border-box;
	padding-left:24px;
	overflow: hidden;
	opacity:0.1; 透明度
	filter:alpha(opacity=10);
	position: relative;
	left:50px;
}
.input_info_title{
	font-size: 16px;
	color: #9698A2;
	height:20px;
	line-height:20px;
	text-align: left;
	margin-bottom: 5px;
	margin-left: 5px;
}
.input_info_title span{
	color: red;
}
.info_input{
	height: 50px;
	width: 450px;
	border: thin solid #9698A2;
	border-radius: 5px;
}
.info_input input{
	border: none;
	height: 30px;
	color: #9698A2;
	width: 80%;
	border-radius: 5px;;
	font-size: 16px;
	margin: 10px;
	line-height: 30px;
}
.textarea_input{
	margin-left: 24px;
	width: 100%;
	height: 140px;
}
.textarea_input textarea{
	width: 95%;
	border: thin solid #9698A2;
	border-radius: 5px;
	height: 100%;
}
.sub_btn{
	margin-top: 20px;
	margin-left: 40%;
	color: white;
	font-size: 23px;
	width: 190px;
	background-color: #DD4250;
	text-align: center;
	border: thin solid #DD4250;
	border-radius: 5px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	opacity:0.1; 
	filter:alpha(opacity=10);
	position: relative;
	top:20px;
}
.sub_btn a{
	color: white;
	display: block;
}
.input_info_title2{
	padding-left: 24px;
}
#map_box{
	width: 100%;
	height: 400px;
}
.chanpin1{
	height: 600px;
	width: 100%;
	background: #f5f5f5;
	overflow: hidden;
}
.chanpin2{
	background: #fff;
	height: 650px;
}
.chanpinz{
	box-sizing:border-box;
	width: 1100px;
	height: 100%;
	margin:0 auto;
}
.chanpinbt{
	height: 85px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	line-height: 35px;
	color: #333;
	margin-top: 60px;
}
.chanpinbt p{
	font-size: 22px;
}


/*------------------------------------------------------------lunbo*/

.lb{
	width:1079px; 
	margin:65px auto 0; 
	position:relative;
}
.lb_info{
	width:100%; 
	height:490px; 
	position:relative; 
	overflow:hidden; 
	z-index:0;
}
.lb ul{
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0;
	box-sizing:border-box;
	padding-left: 0.1%;
}
.lb ul li{
	width:33.3%; 
	height:100%; 
	float:left; 
	display:inline; 
	position:relative; 
	overflow:hidden;
}
.lb ul li p i{
	position:absolute; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	text-indent:14px; 
	z-index:1; 
	font-style:normal;
}
.prev1,.next1{
	width:36px; 
	height:61px; 
	cursor:pointer; 
	position:absolute; 
	top:40%; 
	margin:-30px 0 0; 
}
.prev1{
	left:20px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.next1{
	left:calc(100% - 40px);
	opacity: 0;
	filter:alpha(opacity=0);
}
.lb_btn{
	width:auto; 
	position:absolute; 
	right:10px; 
	bottom:10px; 
	text-align:right;
}
.lb_btn span{
	width:14px; 
	height:14px; 
	display:inline-block; 
	background:#F30; 
	-webkit-border-radius:50%; 
	-moz-border-radius:50%; 
	border-radius:50%; 
	cursor:pointer; 
	margin:0 4px;
}
.lb_btn span.active1{
	background:#FF0;
}
.chanpindl{
	box-sizing:border-box;
	padding-left: 3px;
}
.chanpindl dd{
	float: left;
	width: 198px;
	margin:0 28px;
	position: relative;
	left:100px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.chanpindl dd i{
	position: absolute;
	width: 70px;
	height: 70px;
	text-align: center;
	font-family: Impact;
	color: #fff;
	left: 65px;
	line-height: 70px;
	top: 65px;
	border-radius: 50%;
	font-style: normal;
	font-size: 0px;
	overflow: hidden;
}
.chanpindl i strong{
	width: 100%;
	height: 100%;
	z-index: 3;
	position: absolute;
	top:0px;
	left:0px;
	font-size:18px;
	font-weight:normal;
	display: block;
}
.chanpindl i strong a{
	font-weight:none;
	font-weight:normal
}
.chanpindl i b{
	width: 0;
	height: 0;
	display: block;
	background: #cc0033;
	z-index: 1;
	position: relative;
	top:50%;
	left: 50%;
	border-radius: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-mu-transform:translate(-50%,-50%);
	opacity: 0;
	filter:alpha(opacity=0);
}
	
.chanpindl dd span{
	width: 100%;
	height: 198px;
	border-radius: 50%;
	overflow: hidden;
	display: block;
}
.chanpindl dd em{
	display: block;
	width: 220px;
	line-height: 26px;
	color: #333;
	font-size: 16px;
	font-style: normal;
	text-align: center;
	padding-top: 25px;
}
.chanpindl em p{
	color: #555;
	font-size: 14px;
}
.chanpinxx{
	margin:25px auto 0;
	text-align: center;
	width: 873px;
	font-size: 14px;
	position: relative;
	opacity: 0;
	filter:alpha(opacity=0);
	top:50px;
}
.chanpin2a{
	margin:0 auto;
	height: 316px;
	width: 1000px;
}
.chanpin2a img{
	width: 516px;
	height: 100%;
	float: left;
	position: relative;
	left: -100px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.chanpin2a span{
	display: block;
	height: 100%;
	overflow: hidden;
	width: 465px;
	float: right;
}
.chanpin2a ul{
	width: 100%;
	height: 100%;
}
.chanpin2a ul li{
	height: 97px;
	float: left;
	margin-bottom: 13px;
	box-sizing:border-box;
	overflow: hidden;
	position: relative;
}
.chanpin2a li em,.chanpin2a li i{
	font-style: normal;
	width: 100%;
	height: 100%;
	line-height: 98px;
	text-align: center;
	display: block;
	font-size: 18px;
	box-sizing:border-box;
	overflow: hidden;
}
.chanpin2a li i{
	position: absolute;
	left: 0;
	top:0;
	color: #fff;
	opacity: 0;
	filter:alpha(opacity=0);
}
.chanpin2a ul li:nth-of-type(1),.chanpin2a ul li:nth-of-type(4){
	width: 158px;
}
.chanpin2a ul li:nth-of-type(2){
	width: 158px;
}
.chanpin2a ul li:nth-of-type(3){
	width: 149px;
}
.chanpin2a ul li:nth-of-type(5){
	width: 306px;
}
.chanpin2a ul li:nth-of-type(6){
	width: 100%;
}
.chanpin2a ul li:nth-of-type(1) em,.chanpin2a ul li:nth-of-type(4) em{
	background: url(../img/chanp2a-1.png) no-repeat;
	padding-right: 10px;
}
.chanpin2a ul li:nth-of-type(2) em{
	background: url(../img/chanp2a-2.png) no-repeat;
}
.chanpin2a ul li:nth-of-type(3) em{
	background: url(../img/chanp2a-3.png) no-repeat;
	padding-left: 6px;
}
.chanpin2a ul li:nth-of-type(5) em{
	background: url(../img/chanp2a-4.png) no-repeat;
}
.chanpin2a ul li:nth-of-type(6) em{
	background: #e8e8e8;
}

.chanpin2a ul li:nth-of-type(1) i,.chanpin2a ul li:nth-of-type(4) i{
	background: url(../img/chanp2a-1h.png) no-repeat;
	padding-right: 10px;
}
.chanpin2a ul li:nth-of-type(2) i{
	background: url(../img/chanp2a-2h.png) no-repeat;
}
.chanpin2a ul li:nth-of-type(3) i{
	background: url(../img/chanp2a-3h.png) no-repeat;
	padding-left: 6px;
}
.chanpin2a ul li:nth-of-type(5) i{
	background: url(../img/chanp2a-4h.png) no-repeat;
}
.chanpin2a ul li:nth-of-type(6) i{
	background: #ffd200;
}


.nomatop{
	margin-top: 0;
}
.lbc{
	width:1000px; 
	margin:65px auto 0; 
	position:relative;
}
.lbc ul{
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0;
	box-sizing:border-box;
	padding-left: 0.1%;
}
.lbc ul li{
	width:33.3%; 
	height:100%; 
	float:left;
	display:inline; 
	position:relative; 
	overflow:hidden;
	box-sizing:border-box;
}
.chanplb li a{
	display: block;
	width: 319px;
	height: 225px;
	overflow: hidden;
	text-align: center;
	float: left;
	background: #e7e7e7;
	font-size: 21px;
	margin-left: 10px;
	position: relative;
}
.chanplb ul{
	width: 100%;
	overflow: hidden;
}
.chanplb ul li{
	box-sizing:border-box;
	width: 33%;
}
.chanplb li p{
	width: 100%;
	display: block;
	margin-top: 5px;
	position: relative;
	z-index: 70;
}
.chanplb li img{
	z-index: 90;
	position: relative;
}
.chanplb .prev1,.chanplb .next1{
	top:28%;
}
.chanplb .next1{
	left: calc(100% - 40px);
}
.chanplb li i{
	height: 52px;
	width: 100%;
	background: #F1B629;
	position: absolute;
	left: 0;
	top: 172px;
	z-index: 80;
	color: #fff;
	text-align: center;
	line-height: 53px;
	font-style: normal;
	font-weight: 100;
	opacity: 0;
	filter:alpha(opacity=0);
}
.toperc i{
    height:2px;
    background:#f1b629;
    position:absolute;
    top:78px;
    left:0;
}